{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2_withoutMathJax.js' %}"></script>
{% endblock %} 


{% block page_title %}
    <a href="{% url 'association_index' %}" ><i class="fa fa-cloud"></i> </a> Comptabilité {{ active_year }} </a><a href="{% url 'update_activeyear' %}" style="font-size:14px"><i class="fa fa-edit"></i></a>
{% endblock %} 

{% block page_menu_right %}


{% include 'association/menubar.html' %}



{% endblock %}


{% block body %}
<section class="content_main"> 
    {% if request.user.is_board %}

 

    <div class="row alert alert-warning">
        <div class="col-lg-6 col-md-4 col-xs-6">
            <table class="table bg_white">
                <tr>
                    <td>Nombre d'établissements adhérents</td>
                    <td>{{ nb_schools }}</td>
                </tr>
                <tr>
                    <td>dont établissement français</td>
                    <td>{{ nb_schools_fr }}</td>
                </tr>
                <tr>
                    <td>dont établissement de l'étranger</td>
                    <td>{{ nb_schools_no_fr }}</td>
                </tr>
                <tr style="background-color: #f1eef7">
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>En attente de paiement</td>
                    <td>{{ nb_schools_no_pay }}</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6 col-md-4 col-xs-6">
            <table class="table bg_white">
                <tr>
                    <td><b>Montant perçu </b><small>(dont Paypal)</small> au {{ today|date:"d N Y" }}</td>
                    <td><b>{{ actif }} €</b></td>
                </tr>

                <tr>
                    <td>En attente de paiement</td>
                    <td>{{ product }} €</td>
                </tr>                
                <tr>
                    <td>Total attendu <small>(dont Paypal)</small></td>
                    <td>{{ total }} €</td>
                </tr>
                <tr>
                    <td class="text-danger">Charges</td>
                    <td class="text-danger"><b>{{ charge }} €</b></td>
                </tr>
            </table>
        </div>
 
    </div>

    <div class="col-lg-12 col-xs-12">
        Etablissements adhérents <i class="fa fa-hand-o-right"></i><a href="{% url 'all_schools' %}"> Tous les établissements</a>
    </div>
    <div class="col-lg-12 col-xs-12">
        <table class="table bg_white standard_tab_sort300">
            <thead>
                <tr>
                    <td></td>
                    <td>Nom</td>
                    <td>Ville</td>
                    <td>Pays</td>
                    <td>Admin</td>
                </tr>
            </thead>
            {% for a in abonnements %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ a.school.name }}</td>
                <td>{{ a.school.town }}</td>
                <td>{{ a.school.country.name }}</td>
                <td>{% for u in a.school.admin %} <li>{{u.get_full_name}}, {{u.email}}</li> {% endfor %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% endif %} 


</section> 
{% endblock %}