{% extends 'dashboard.html' %}
{% load static %}


 
{% block require %}
 

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

     <script>
        require(['script/ajax-list_adhesion']);
    </script> 

{% endblock %}



{% block page_title %}
        <a href="{% url 'association_index' %}" ><i class="fa fa-cloud"></i> </a> Abonnements {{ activeyear}}
 
        <a href="#" data-toggle='modal' data-target='#e_bilans' class="btn btn-default btn-xs"> <i class="fa fa-file-excel-o fa-xs text-success"></i> Exporter le bilan</a>
        <a href="#" data-toggle='modal' data-target='#p_bilans' class="btn btn-default btn-xs"> <i class="fa fa-file-pdf-o fa-xs text-danger"></i> Imprimer le bilan</a>
{% endblock %}

{% block page_menu_right %}
{% include 'association/menubar.html' %} 
{% endblock %}

 

{% block body %}
<section class="content_main"> 
    <div class="row">
        <div class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-12 encours">
            <div class="col-sm-4 col-md-3">
                <label>Encours.  Mois
                    <select name="month" id="month" class="control-form">
                        <option value="1" {% if this_month == 1 %}selected{% endif %}>Janv.</option>
                        <option value="2" {% if this_month == 2 %}selected{% endif %}>Févr.</option>
                        <option value="3" {% if this_month == 3 %}selected{% endif %}>Mars</option>
                        <option value="4" {% if this_month == 4 %}selected{% endif %}>Avril</option>
                        <option value="5" {% if this_month == 5 %}selected{% endif %}>Mai</option>
                        <option value="6" {% if this_month == 6 %}selected{% endif %}>Juin</option>
                        <option value="7" {% if this_month == 7 %}selected{% endif %}>Juil.</option>
                        <option value="8" {% if this_month == 8 %}selected{% endif %}>Aout</option>
                        <option value="9" {% if this_month == 9 %}selected{% endif %}>Sept.</option>
                        <option value="10" {% if this_month == 10 %}selected{% endif %}>Oct.</option>
                        <option value="11" {% if this_month == 11 %}selected{% endif %}>Nov.</option>
                        <option value="12" {% if this_month == 12 %}selected{% endif %}>Déc.</option>
                    </select>  
                :</label> <span id="this_month"><b>{{ total_month }} €</b></span>
            </div>
            <div class="col-sm-4 col-md-2">
                <label>Année civile : <b>{{ total_year }} € </b></label><br/>
            </div>
            <div class="col-sm-4 col-md-2">
                <label>Année scolaire : <b>{{ total_shoolyear}} € </b></label><br/>
            </div>
            <div class="col-sm-4 col-md-5">
                <label>du <input name="from_date" type="date"  id="from_date" class="control-form period">  au : <input name="to_date" id="to_date" type="date" class="control-form period"> <b> <span id="this_period"></span> </b></label>
            </div>
        </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table   class="standard_tab_sort300 table table-bordered table-hover">
                <thead>
                <tr>
                    <td style="width:80px">Chrono</td>                    
                    <td style="width:100px">Date</td>                         
                    <td>Etablissement</td>
                    <td>Object </td>
                    <td>Mode </td>
                    <td style="width:80px">Montant</td>
                    <td style="width:150px">Date de valeur</td>
                    <td>Ville/Pays</td>
                    <td>Contacts</td>
                </tr>
                </thead>
                <tbody>
                    {% for abonnement in abonnements %}
                        <tr id="this_tr_{{ accounting.id }}" class="this_tr_all">
                            <td>
                                <span >{{ abonnement.accounting.chrono }}</span> 
                            </td>                            
                            <td>
                                <span >{{ abonnement.accounting.date|date:"Y-m-d" }} </span> 
                            </td>
                            <td>
                                <span class="helper_tip">{% if abonnement.accounting.beneficiaire  %} {{ abonnement.accounting.beneficiaire }} {% else %}{{ abonnement.accounting.school.name }}, {{ abonnement.accounting.school.country.name }} {% endif %}
                                    <div class="helper_tip_text" > {{ abonnement.accounting.observation|safe }}</div>
                                
                                </span>

                            </td> 
                            <td>
                                <a href="{% url 'update_accounting'  abonnement.accounting.id %}" >{{ abonnement.accounting.objet }}</a>

                                <a href="{% url 'print_accounting'  abonnement.accounting.id %}" class="pull-right" style="margin-right:10px"><i class="fa fa-print"></i> </a>
                                <a href="{% url 'show_accounting'  abonnement.accounting.id %}" class="pull-right" style="margin-right:10px"><i class="fa fa-eye"></i> </a>

                            </td>
                            <td>
                                <span class="text-{% if abonnement.accounting.mode == 'Période de test' %}danger{% else %}success{% endif %}">  {{ abonnement.accounting.mode }}   <br>
                            </td>
                            <td>
                                 {{ abonnement.accounting.amount }} €  <br>
                            </td>
                            <td>
                                 {{ abonnement.accounting.date_payment|date:"Y-m-d" }}
                            </td>

                            <td>
                                 {{ abonnement.accounting.school.town }} - {{ abonnement.accounting.school.country.name }} 
                            </td>
                            <td style="font-size: 10px">
                                 {% for u in abonnement.accounting.school.admin %} <li>{{u.get_full_name}}, {{u.email}}</li> {% endfor %}
                            </td>




                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-12">     
                <a href="javascript:history.back()"  class="btn btn-default " >Retour </a>
        </div>
    </div>
</section>
 



<div class="modal fade" id="e_bilans" tabindex="-1" role="dialog" aria-labelledby="e_bilans">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1  class='sacado'  >Exporter le bilan au format tableur</h1>
            </div>
            <div class="modal-body">
                <form action="{%  url 'export_bilan' %}" method="POST"  >
                        {% csrf_token %} 
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            <div class="form-group">
                                <label>Date de début </label>   
                                <input type="date" name="date_start" class="form-control"/>
                            </div>
                        </div> 
                        <div class="col-lg-6 col-xs-12">
                            <div class="form-group">   
                                <label>Date de début </label>    
                                <input type="date" name="date_end" class="form-control"/>
                            </div>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">  
                            <div class="form-group">  
                                <input type="submit" class="btn btn-success" value="Exporter" />
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            </div>        
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="p_bilans" tabindex="-1" role="dialog" aria-labelledby="p_bilans">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1  class='sacado'  >Imprimer le bilan en pdf</h1>
            </div>
            <div class="modal-body">
                <form action="{%  url 'print_bilan' %}" method="POST"  >
                        {% csrf_token %} 
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            <div class="form-group">
                                <label>Date de début </label>   
                                <input type="date" name="date_start" class="form-control"/>
                            </div>
                        </div> 
                        <div class="col-lg-6 col-xs-12">
                            <div class="form-group">   
                                <label>Date de début </label>    
                                <input type="date" name="date_end" class="form-control"/>
                            </div>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">  
                            <div class="form-group">  
                                <input type="submit" class="btn btn-primary" value="Télécharger" />
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            </div>        
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>





{% endblock %}