{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
{% endblock %} 


{% block page_title %}
    <a href="{% url 'association_index' %}" ><i class="fa fa-cloud"></i> </a> Bilan comptable année {{ this_year }} </a>
{% endblock %} 

{% block page_menu_right %}


{% include 'association/menubar.html' %}



{% endblock %}


{% block body %}
<section class="content_main"> 
    {% if request.user.is_board %}


    <div class="row">
 

        <div class="col-lg-12 col-md-12 col-xs-12">
            <table class="table">
                
                <tr>
                    <td></td>
                    <td>Charges</td>
                    <td>Produits</td>
                    <td>Bilan</td>                
                </tr>                
                <tr>
                    <td>Banque CA</td>
                    <td>
 
                    </td>
                    <td> {{ actif }} €</td>
                    <td> </td>             
                </tr>
                <tr>
                    <td>Banque Paypal</td>
                    <td> </td>                    
                    <td>{{ result_paypal }} €</td> 
                    <td></td>                
                </tr>
                <tr>
                    <td>En attente</td>
                    <td>
                    </td>                    
                    <td>{{product}}</td>
                    <td></td>                
                </tr>

                <tr>
                    <td>Total</td>   
                    <td>{{ charge }} € 
                         <span class="helper_tip"> Détails </i> 
                            <div class="helper_tip_text" style="width:330px" >
                                {% for c in charges_list %}
                                    {{ c.objet }} <b>{{ c.amount }}</b> {% if not forloop.last %}<br/>{% endif %}
                                {% endfor %}
                            </div>
                        </span>
                    </td> 
                    <td>{{ total }} € </td>   
                    <th> {{ result }} € </th>                
                </tr>
            </table>
        </div>
    </div>
 
    {% endif %} 


</section> 
{% endblock %}