{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
{% endblock %} 


{% block page_title %}
    <i class="fa fa-cloud"></i> Tableau de bord de l'association</a>
{% endblock %} 

{% block page_menu_right %}

{% endblock %}


{% block body %}
<section class="content_main"> 
    {% if request.user.is_board %}
 
    <div class="row">
        <!-- ./col -->
        <div class="col-lg-3 col-md-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Comptabilité </span>    
                     <h3  style="font-weight: 100">{{ active_year }} <a href="{% url 'update_activeyear' %}" style="font-size: 15px"><i class="fa fa-edit white"></i></a></h3>
                 </div>
                 <a href="{% url 'accountings'  %}" class="small-box-footer"><i
                        class="fa fa-arrow-circle-right"></i> En détails </a>


 
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Membres </span>
                </div>

                <p style="text-align: center"><br/><br/>
                <span class="counter">{{ nb_schools }}</span><br/>
                Etablissements  </p>

                <a href="{% url 'list_associate' %}" class="small-box-footer"><i
                        class="fa fa-arrow-circle-right"></i> En détails </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Documents </span>
                </div>

                <a href="{% url 'list_documents' %}" class="small-box-footer"><i
                        class="fa fa-arrow-circle-right"></i> En détails </a>
            </div>
        </div>

            <!-- ./col -->
        <div class="col-lg-3 col-md-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Tarifs </span>
                 </div>


                <p style="text-align: center"><br/><br/><br/><br/>
                
                    <a href="{% url 'display_holidaybook' %}" class="white" style="font-size: 25px">Cahiers de vacances <br/></a>

                    <small>{% if holidaybook.is_display %}ouvert{% else %}fermé{% endif %}</small>  
                </p>


 

                <a href="{% url 'list_rates'  %}" class="small-box-footer"><i
                        class="fa fa-arrow-circle-right"></i> En détails </a>
 
            </div>
        </div>
    </div>

 


    <hr/>

    <div class="row">
        <div class="col-lg-3 col-3 text-center">
            <span class="counter">{{ nb_teachers }}</span>
            <p>Enseignants</p>
            <a href="{% url 'list_teacher' %}" class="btn btn-info">
                Voir la liste
            </a>
        </div>
        <div class="col-lg-3 col-3 text-center">
            {% if nb_students > 0   %}
                <span class="counter">{{ nb_students }}</span>
                <p>Elèves</p>

                <a href="{% url 'reset_all_students_sacado' %}" class="btn btn-danger" onclick="return TestDelete('les données élèves... action irréversible')">
                    Ré-initialisation serveur.<br/> Effacer les données élèves
                </a>

            {% else %}
                <div class="alert alert-success">
                    <span class="counter">{{ nb_students }}</span>
                    <p>Elèves</p>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-3 col-3 text-center">
            <span class="counter">{{ nb_exercises }}</span>
            <p>Supports </p>
        </div>
        <div class="col-lg-3 col-3 text-center">
            <span class="counter">{{ nb_answers }}</span>
            <p>Exercices traités ce jour  </p>
        </div>
    </div>
    {% endif %} 

    <hr/>
 
    <div class="row">
        <div class="col-lg-12 col-12 text-center">

            <canvas id="myChart" style="width:100%;max-height:400px"></canvas>

        </div>
    </div>

</section> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
 


<script>

const months     = ['janvier','février','mars','avril','mai','juin','juillet','aout','septembre','octobre','novembre','décembre'] ;
var month_start  = {{ month_start }}-1 ;

newList = [];

for (let i=month_start;i<month_start+13;i++){

    if (i>11) 
        { j = i-12}
    else
        {j=i}

    newList.push(months[j]);
}
 
var xValues =  newList  ;
var yValues = [ {{ string }} ];

var barColors = ["violet", "violet","violet","violet","violet", "violet","violet","violet","violet", "violet","violet","violet" ];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Statistiques des inscriptions ENSEIGNANT sur les 12 derniers mois"
    }
  }
});
</script>


{% endblock %}