{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-parcours']);
    </script> 
 
    
{% endblock %}

 

{% block page_title %}
    Nouveau document   
{% endblock %}


{% block page_menu_right %}
            <a href="{% url 'create_section' %}" class="btn btn-new pull-right">Nouvelle section </a> 

            <a href="{% url 'create_document' %}" class="btn btn-new pull-right">Nouveau document </a>  
 
{% endblock %}




{% block css_files %}
{% endblock %}


{% block body %}
<section class="content_main"> 
    <form action="" method="POST">

        {% csrf_token %}

        <div class="row">
            <div class="col-sm-12 col-lg-12">

                <div class="form-group">
                    {{ form.section.label_tag }}  
                    {{ form.section|add_class:"form-control select2"   }}
                    {{ form.section.errors }} 
                </div>
                <div class="form-group">
                    {{ form.title.label_tag }} <em>50 caractères max.</em><br>
                    {{ form.title|add_class:"form-control"   }}
                    {{ form.title.errors }} 
                </div>
                <div class="form-group">
                    {{ form.annoncement.label_tag }}<br>
                    {{ form.annoncement|add_class:"form-control"   }}
                    {{ form.annoncement.errors }} <br>
                    <small>Astuce : Cliquez sur <img src="{% static 'img/full_screen.png' %}" width="15px" /> dans la barre d'outils pour agrandir en plein écran.</small> 
                </div>
 
                <div class="row">
                    <div class="col-sm-12 col-lg-8">
                        <div class="form-group">
                            <input value="Enregistrer" type="submit" class="btn btn-primary"/>
                            <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                                       class="btn btn-default "/></a>
                        </div>
                    </div>
                    {% if document and request.user.user_type == 2 %}
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <a href="{% url 'delete_document' document.id %}" class="btn btn-danger"  onclick="return TestDelete('ce document')">Supprimer ce document</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
 
        </div>
    </form>  
</section>
{% endblock %} 