{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
 
 
 
{% endblock %}


{% block page_title %}  
    
           <a href="{% url 'association_index' %}" ><i class="fa fa-cloud"></i> </a>     Vote en faveur d'un adhérent proposé 
{% endblock %}

{% block page_menu_right %}
    

                {% if group %}


                    {% include 'group/submenu_group.html'  %}

                {% endif %}


    
{% endblock %}



     
{% block body %}     
 <div class="content_main">
    <form action="" method="POST">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-1">
                    <div class="form-group">
                        <label>Vote </label>  <br/>
                        {{ form.choice |attr:"data-toggle:toggle" |attr:"data-onstyle:success"|attr:"data-offstyle:danger"|attr:"data-on:Pour"|attr:"data-off:Contre"}} 
                        {{ form.choice.errors }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-11">
                        {{ form.justification.label_tag }} 
                        {{ form.justification |add_class:"form-control" }}
                        {{ form.justification.errors }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="form-group">
                        <input value="Valider le vote" type="submit" class="btn btn-primary"   />
                        <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                                   class="btn btn-default "/></a>
                    </div>
                </div>    
            </div>

 
        </div>
    </div>  
    </form>
</div>  
   
{% endblock %}