<li>
 <a href="{% url 'accountings' %}" class="no_button">Comptabilité</a>
</li>
<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle no_button"> Opérations <b class="caret"></b> </a>
    <ul   class="dropdown-menu clearfix pull-right" role="menu">
        <li>
            <a href="{% url 'create_accounting' 0 %}" > Nouvelle opération Client   </a>   
        </li>
        <li>
            <a href="{% url 'list_accountings' 0 %}"  class="no_button" > 
                Journal opérations Client
            </a> 
        </li> 
        <li class="divider"></li>
        <li>
            <a href="{% url 'create_accounting' 1 %}" > Nouvelle opération Fournisseur    </a>   
        </li>
        <li>
            <a href="{% url 'list_accountings' 1 %}"  class="no_button" > 
                Journal opérations Fournisseur 
            </a> 
        </li> 
        <li class="divider"></li>
        <li>
            <a href="{% url 'create_accounting' 2 %}" > Nouvelle opération Bancaire    </a>  
        </li>
        <li>
            <a href="{% url 'list_accountings' 2 %}"  class="no_button" > 
                Journal opérations Bancaire  
            </a> 
        </li> 
    </ul>
</li>
<li>
 <a href="{% url 'adhesions' %}" class="no_button">Abonnements</a>
</li>
<li>
 <a href="{% url 'list_paypal' %}" class="no_button">Paypal</a>
</li>
<li>
 <a href="{% url 'bank_bilan' %}" class="no_button">Bilan</a>
</li>
 


