{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}




{% block page_title %}
  <i class="fab fa-python"></i> Algorithmique et Python
{% endblock %}
 
 
{% block page_menu_right %}
  <small>Avec l'aimable autorisation de <a href="https://python.infobrisson.fr/" target="_blank">Romain Casati</a></small>
{% endblock %}
 

{%  block body %}
    <div id="container">
      <div class="row">
          <div class="col-xs-12 consigne" >
              Vous devez créer une boucle pour afficher la liste des 10 premiers nombres entiers.
          </div>
      </div>
      <div id="left-div">
        <div id="editor"></div>
        <div style="padding: 1vw 0px 0px 0px; display: flex; float: left;">
          <button id="run" class="btn" title="Exécuter le script">
            <i class="fas fa-cogs fa-fw btn-logo btn-titled"></i>
            Exécuter
          </button>
          <button id="download" class="btn" title="Télécharger le script">
            <i class="fas fa-download fa-fw btn-logo"></i>
          </button>
          <button id="share" class="btn" title="Partager ce code">
            <i class="fas fa-share-alt-square fa-fw btn-logo"></i>
          </button>
          <button id="hide-editor" class="btn" title="Afficher seulement la console" style="display: none;">
            <i class="fas fa-eye-slash fa-fw btn-logo"></i>
          </button>
        </div>
      </div>
      <div id="right-div">
        <div id="graphics" style="display: none; justify-content: center;  align-items: center;"></div>
        <textarea id="shell" autocomplete="off" spellcheck="false"></textarea>
        <div style="padding: 1vw 0px 0px 0px; display: flex; float: left;">
          <button id="raz" class="btn" title="Redémarrer Python">
            <i class="fas fa-broom fa-fw btn-logo"></i>
          </button>
          <button id="btn_shell" class="btn" title="Afficher la console">
            <i class="fas fa-terminal fa-fw btn-logo"></i>
          </button>
          <button id="btn_graph_view" class="btn" title="Afficher la vue graphique">
            <i class="fas fa-image fa-fw btn-logo"></i>
          </button>
          <button id="darklight" class="btn" title="Changer le thème (sombre/lumineux)">
            <i class="fas fa-adjust fa-fw btn-logo"></i>
          </button>
          <button id="switch" class="btn" title="Échanger l'éditeur et la console">
            <i class="fas fa-exchange-alt fa-fw btn-logo"></i>
          </button>
          <button id="hide-console" class="btn" title="Afficher seulement l'éditeur">
            <i class="fas fa-eye-slash fa-fw btn-logo"></i>
          </button>
          <button id="show-editor-console" class="btn" title="Afficher l'éditeur et la console" style="display: none;">
            <i class="fas fa-columns fa-fw btn-logo"></i>
          </button>
        </div>
      </div>
    </div>
 
    <object type="image/svg+xml" data="https://basthon.infobrisson.fr/theme/basthon/img/ribbon.svg" style="width: 8vw; position: absolute; top: 0; right: 0; border: 0; z-index:100;">
    </object>
    <div id="share_content" class="popup_content" style="text-align: center;">
      <h1>Partager son script</h1>
      
      <i class="far fa-copy"></i> Un lien vers la page de Basthon avec le contenu actuel du script a été copié dans le presse-papier.
      <br>
      Vous pouvez le coller où vous voulez pour partager votre script.
      <br>
      <a id="sharing_link" target="_blank" rel="noopener noreferrer" href="#">Tester le lien.</a>
      <br>
      <i class="fas fa-exclamation-circle"></i> Attention, partager un script trop long peut ne pas fonctionner avec certains navigateurs.
    </div>
    <div id="share_overlay" class="popup_overlay" onclick="javascript:hideShowPopup('share', false);"></div>
    <div id="share_close" class="popup_close" onclick="javascript:hideShowPopup('share', false);">
      <i class="fas fa-times-circle" style="font-size: 2.5vw;"></i>
    </div>
 
{% endblock %}