{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}

{% block require %}
 
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common2.js' %}"></script> 
 

    <script>
       require(['script/ajax-avatar']);
    </script> 
{% endblock %}

{% block page_title %}
    <i class="fa fa-user"></i> Choisir un avatar
{% endblock %}
 
{% block page_menu_right %}
{% endblock %}


{% block body %}
    
<section class="content_main">
    <form action="" method="POST">
        {% csrf_token %}
   

        <div class="row">
            <div class="col-sm-12 col-md-12">
                {% for avatar in avatars %}
                    <a href="javascript:void()" class="choicer_avatar" data-url="{{ avatar.image.url }}"> <img src="{{ avatar.image.url }}" class="list_avatar" width="70px" /></a>
                {% endfor %}
            </div>
        </div>  
 
        {% comment %}
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label>{{ avatar_form.avatar.label_tag }}</label>
                    {{ avatar_form.avatar |add_class:"btn btn-default" }}
                    {{ avatar_form.avatar.errors }}
                </div>
            </div>
        </div>  
        {% endcomment %}
                <input type="hidden" name="avatar" id="id_avatar"  >
 
             
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <input value="Enregistrer" type="submit" class="btn btn-primary"/>
                    <a href="javascript:history.back()">
                        <input type="button" value="Annuler"
                               class="btn btn-default" />
                    </a>
                </div>   
            </div>
        </div>
    </form>
</section>
 
 
{% endblock %}

 
