{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}

{% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common2.js' %}"></script> 
    <script>
       require(['script/ajax-background']);
    </script> 
{% endblock %}



{% block page_title %}
    <i class="fa fa-user"></i> Personnaliser mon thème
{% endblock %}
 


{% block page_menu_right %}
{% endblock %}



{% block body %}
<section class="content_main">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                {% for background in backgrounds %}
                    <a href="javascript:void()" class="choicer_background" data-url="{{ background.image.url }}"> <img src="{{ background.image.url }}" class="list_background" width="300px" /></a>
                {% endfor %}
            </div>
        </div>  
        {% if request.user.can_get_background %}
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>{{ background_form.background.label_tag }}</label>
                        {{ background_form.background |add_class:"btn btn-default" }}
                        {{ background_form.background.errors }}
                    </div>
                </div>
            </div>  
        {% else %}
            <input type="hidden" name="background" id="id_background"  >
        {% endif %}
             
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <input value="Enregistrer" type="submit" class="btn btn-primary"/>
                    <a href="javascript:history.back()">
                        <input type="button" value="Annuler"
                               class="btn btn-default" />
                    </a>
                </div>   
            </div>
        </div>
    </form>
</section>
 
 
{% endblock %}

 
