{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}


    {% block require %}
        <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common-index.js' %}"></script> 
        <script>
           require(['script/ajax-dashboard']);
        </script> 
    {% endblock %}


 
 
{% block page_title %}
    Modification du mot de passe  
{% endblock %}
 


 
{% block page_menu_right %}
     
{% endblock %}


{% block body %}
 
 
    <div class="content_main">

 



            <form method="post" >
            {% csrf_token %}   
            <div class="row">       
                <div class="col-sm-12 col-md-12">
                    <div class="alert alert-danger">Votre nouveau mot de passe doit contenir au moins 8 caractères.<br>Il doit mélanger des caratères alphabétiques et numériques et ne doit pas ressembler à votre identifiant.</div>
                    Lors du changement de mot de passe, vous allez être déconnecté(e). Vous devrez vous reconnecter avec le nouveau mot de passe choisi.
                </div>
            </div>
            <div class="clear"></div>
            
            <div class="row">  
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label>Ancien mot de passe  </label>
                        {{ form.old_password |add_class:"form-control" }}               
                        {{ form.old_password.errors }}
                    </div>
                </div> 
            </div>    
            <div class="row">       
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label>Nouveau mot de passe</label>
                        {{ form.new_password1 |add_class:"form-control" }}
                        {{ form.new_password1.errors }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label>Confirmation</label>
                        {{ form.new_password2 |add_class:"form-control" }}
                        {{ form.new_password2.errors }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" onclick="return testPassword('id_password','id_password_conf')">Enregistrer ce mot de passe</button>
            </form>
    </div>
 
 
{% endblock %}

 
