{% load static %}
{% load widget_tweaks %}

<table class="table">
    <tr>
      <td>{{ form.is_publish.label_tag }} <br/>  </td>
      <td>{{ form.is_publish|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
      <td> {{ form.is_publish.errors }}</td>
    </tr>
    <tr id="publish_date">
      <td>A publier du {{ form.publish_start|add_class:"form-control datepicker"}} </td>
      <td>Au {{ form.publish_end|add_class:"form-control datepicker" }}</td>
      <td> </td>
    </tr>
 
    <tr>
      <td>{{ form.is_task.label_tag }} <span id="task_date"> {{ form.date_limit|add_class:"form-control datepicker"|attr:"placeholder:Pour le"   }}</span>  </td>
      <td>{{ form.is_task|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
      <td> {{ form.is_task.errors }}</td>
    </tr>
    <tr>
      <td>{{ form.is_paired.label_tag }}<br/>   </td>
      <td>{{ form.is_paired|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
      <td> {{ form.is_paired.errors }}</td>
    </tr>

 
    <tr>
      <td>{{ form.notification.label_tag }} </td>
      <td>{{ form.notification|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
      <td>{{ form.notification.errors }}</td>
    </tr> 
    <tr>
      <td>{{ form.duration.label_tag }} </td>
      <td>{{ form.duration|add_class:"form-control"}}</td>
      <td>{{ form.duration.errors }}</td>
    </tr> 
    <tr>
      <td>{{ form.ranking.label_tag }} (en minutes)</td>
      <td>{{ form.ranking|add_class:"form-control"}}</td>
      <td>{{ form.ranking.errors }}</td>
    </tr> 
</table>

 