{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    <script>
        require(['script/ajax-demand']);
    </script> 
    
{% endblock %}

 

{% block page_title %}
         Demande d'exercice    
{% endblock %}


{% block page_menu_right %}
 
{% endblock %}




{% block css_files %}
{% endblock %}

{% block body %}
 
  
     
<section class="content_main">
    <div class="col-sm-12 col-md-12">

        <form action="" method="POST" enctype='multipart/form-data'> 
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label>Enseignements</label>
                        <select id="id_subject" name="subject" class="form-control select2">
                            {% for s in teacher.subjects.all %}
                                <option value="{{s.id}}">{{ s.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label>Niveaux des exercices</label>
                        {{ form.level|add_class:"select2"  }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6">
                    <div class="form-group">
                        <label>Thèmes</label>
                        <select id="id_theme" name="theme" class="form-control select2">
                            {% for t in themes %}
                                <option value="{{t.id}}">{{ t.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-12 col-md-12">
                        <label>Savoir faire visé</label> <br>                   

                        {{ form.knowledge|add_class:"select2" }}
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-12 col-md-12">
                        <label>Demande</label> <br>                   

                        {{ form.demand |add_class:"form-control" }}
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        <label>Exemple</label><br>
                    {{ form.file|add_class:"btn btn-default" }}
                    </div>
                </div>

            </div>      
     
 
            <div class="row">
                <div class="col-sm-12 col-lg-8">
                    <div class="form-group">
                        <input value="Enregistrer" type="submit" class="btn btn-primary"/>
                        <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                                   class="btn btn-default "/></a>
                    </div>
                </div>
            {% if demand and request.user.user_type == 2 %}
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <a href="{% url 'delete_demand' demand.id    %}" class="btn btn-danger"  onclick="return TestDelete('cette demande')">Supprimer cette demande</a>
                        </div>
                    </div>
            
            {% endif %}
            </div>
 
        </form>
     
    </div>   
</section>  


{% endblock %}
