{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    <script>
        require(['script/ajax-demand']);
    </script> 
    
{% endblock %}

 

{% block page_title %}
       Demandes 
{% endblock %}


{% block page_menu_right %}

{% endblock %}




{% block css_files %}
{% endblock %}


{% block body %}
<section class="content_main">  



    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <form action="" method="POST" enctype='multipart/form-data'> 
            {% csrf_token %}
                        <table class="table  table-hover display100" style="width:100%">
                               <thead>
                                <tr>
                                    <td>Code</td>                                
                                    <td>Précision</td>
                                    <td>Demandé</td>
                                    <td>Fichier</td>
                                    <td>Savoir faire</td>
                                    <td>Theme</td>
                                    <td>Niveau</td>  
                                    <td>Demandeur</td>    
                                </tr>
                            </thead>
                            <tbody>
                                {% for demand in demands %}
                                    
                                    <tr {% if demand.done %} style="background:#e6e2dd"{% endif %} id="tr{{ demand.id }}"   >
                                        <td><input type="text" size="6" maxlength="8" id="code{{ demand.id }}"  name="code{{ demand.id }}" {% if  demand.done %} value="{{ demand.code }}"  {% endif %} /><a href="#"  data-id="{{ demand.id }}"    class="btn btn-primary select_done" />+</a></td>

                                        <td> {{demand.demand|safe}}</td>

                                        <td>{{demand.date_created|date:"d-m-Y" }}</td>
                                        <td>{% if demand.file %} <a href="{{ demand.file.url  }}" target="_blank" > voir </a>{% endif %}</td>
                                        <td>{{demand.knowledge.name}}</td>
                                        <td>{{demand.theme.name}}</td>
                                        <td>{{demand.level.shortname}}</td>  
                                        <td>{{demand.teacher.user.get_full_name}}</td>
                                    </tr>
                                  
                                {% endfor %}
                            </tbody>
                        </table>
              </form>            
       </div>                  
</section>
{% endblock %} 