{% load item_tags %}


{% for b in bibliotexs %}
 
	<div class="quizz_card" style=" border-radius: 5px; float:left;
		{% if b.vignette %}
			background-image: url('{{ f.vignette.url }}'); background-size: cover; 
		{% endif %}">
		<div style="padding:10px; background-color: #FFF; opacity:0.8;border-radius:30px;">
			<span style="font-size:25px">{{ b.title|truncatechars:"25" }}</span>
			<p>{{ b.exotexs.count }} exercices, <small>{{ b.duration|time_done }}</small> </p>

			<p>
				<a href="{% url 'show_bibliotex' b.id %}" target="_blank" class="btn btn-primary btn-xs">Voir</a> 
				<a href="{% url 'clone_bibliotex_sequence' b.id %}"  class="btn btn-primary btn-xs">Insérer dans la séquence</a>
			</p>

		</div>
	</div>
 
{% endfor %}
 