{% extends 'bibliotex/form_exotex.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

 

 

{% block page_title %}
 
    {% include 'bibliotex/logo.html' %} Personnalisation d'un exercice Latex 
    {% if relation.exotex.knowledge  %}
    <small>         
        {{ relation.exotex.knowledge.level.shortname }}, {{ relation.exotex.knowledge.theme.name }},  {{ relation.exotex.knowledge.name|truncatechars:"80" }}
    </small>  
    {% endif %} 
 
{% endblock %}


{% block page_menu_right %}
 
{% endblock %}


 

{% block body_exotex %}
<div class="col-xs-12 col-md-12">
    <form action="" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="row" id="standard_layer">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="row">

                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                {{ form.content.label_tag }}<br/>
                                {{ form.content|add_class:"form-control"|attr:"rows:15"   }}
                                {{ form.content.errors }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group">
                                Compétences ciblées<br>
                                {{ form.skills|add_class:"form-control select2" }}
                                {{ form.skills.errors }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <div class="form-group">
                                Autres savoir faire ciblés<br>
                                {{ form.knowledges|add_class:"form-control select2" }}
                                {{ form.knowledges.errors }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 setup_ggb">
                    <h4 class="thin"><i class="fa fa-cog"></i> Configuration </h4><hr/>
                         <table class="table borderless">

                                <tr id="publication_div">
                                    <td><label>Date de publication :</label>  
                                        <span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                                                    <div class="helper_tip_text" >Date à partir de laquelle le parcours est publié.<br/>
                                                    <span class="text-danger">Pour modifier la date, vider le champ.</span>
                                                    </div>
                                        </span>
                                    </td>
                                    <td>{{ form.start|add_class:"form-control datetimepicker"}}</td>
                                    <td></td>
                                </tr>

                                <tr>     
                                    <td>{{ form.duration.label_tag }} </td>
                                    <td>{{ form.duration |add_class:"form-control" }}</td>
                                    <td>{{ form.duration.errors }}</td>
                                </tr> 
                                <tr>     
                                    <td>{{ form.calculator.label_tag }} </td>
                                    <td>{{ form.calculator |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Autorisée"|attr:"data-off:Interdite"}}</td>
                                    <td>{{ form.calculator.errors }}</td>
                                </tr> 


               
                                <tr>
                                    <td>{{ form.is_python.label_tag }}<span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                            <div class="helper_tip_text" >contient du Python.</div></td>
                                    <td>{{ form.is_python |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                                    <td>{{ form.is_python.errors }}</td>
                                </tr> 
                                <tr>
                                    <td>{{ form.is_scratch.label_tag }}<span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                            <div class="helper_tip_text" >contient du Scratch.</div></td>
                                    <td>{{ form.is_scratch |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                                    <td>{{ form.is_scratch.errors }}</td>
                                </tr> 
                                <tr>
                                    <td>{{ form.is_tableur.label_tag }}<span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                            <div class="helper_tip_text" >nécessite un tableur.</div></td>
                                    <td>{{ form.is_tableur |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                                    <td>{{ form.is_tableur.errors }}</td>
                                </tr> 

                        </table>
                </div>
            </div>
            <div class="row" style="margin:0px; background-color: #F0F0F0;padding:10px;">
                <label><a href="#"  id="enable_correction">Ajouter une correction</a> <small>(Falcultatif)</small>    </label>
                <div id="enable_correction_div">
                    <div class="col-sm-12 col-md-12">                        
                        <div class="form-group"> 
                            {{ form.correction.label_tag }}                        
                            {{ form.correction|add_class:"form-control"|attr:"rows:15" }}
                            {{ form.correction.errors }}
                        </div>
                    </div> 
                </div>
            </div>
            <div class="row" style="margin-top:15px" >
                <div class="col-sm-3 col-md-3">
                    <div class="form-group">
                        <input value="Enregistrer" type="submit" class="btn btn-primary" id="click_button" />
                        <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
                    </div>
                </div>   
                {% if relationtex %}
                    <div class="col-sm-9 col-md-9">                                             
                        <a href="{% url 'delete_relationtex' relationtex.id   %}" class="btn btn-danger" style="margin-left:5px" onclick="return TestDelete('cet exercice')" > 
                            <i class="fa fa-trash"> </i>   Supprimer
                        </a>
                    </div>
                {% endif %}
            </div>

        </div>
    </form>
</div>
{% endblock %}

 
