{% extends 'list_modules.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

    <script>
        require(['script/ajax-bibliotex']);
    </script> 
{% endblock %} 

  
{% block page_title %}
    {% include 'bibliotex/logo.html' %}   Mes biblioTex <img src="{% static 'img/angle-right.png' %}"/> 
{% endblock %}


{% block page_menu_right %}
    <li><a href="{% url 'my_bibliotex_archives' %}"  class="no_button"><i class="fa fa-archive"></i> Archives ({{ nb_archive }})</a></li> 
    {% include 'bibliotex/submenu_bibliotex.html' %}
{% endblock %}


{% block inside_folder %}
<table class="table table-hovered standard_tab_10"  style="width:100%" >
    <thead> 
        <th style="width:20px"></th>
        <th style="width:20px;">
            <span class="helper_tip"> <i class="fa fa-question-circle"></i>
            <div class="helper_tip_text" style="text-align: right" ><i class="fa fa-star text-is_favorite"></i> Accessible<br/>depuis un dossier <br/> <i class="fa fa-star text-default"></i> Inaccessible<br/>depuis un dossier </div>
            </span>
        </th>   
        <th style="width:300px"></th>
        <th></th>     
        <th>Groupe </th>
        <th  style="width:150px;" >Mutualisation</th>
        <th>CoAnim.</th>
        <th style="width:160px">Publication 
            <span class="helper_tip"> 
            <i class="fa fa-question-circle"></i>
            <div class="helper_tip_text" >Publié signifie Accessible pour les élèves. </div>
            </span>
        </th> 
    </thead>
    <tbody>
        {% for bibliotex  in list_folder.bibliotexs.all %} 
            <tr> 
                {% include 'bibliotex/bibliotex_data.html' %}
            </tr>
        {% endfor %}            
     </tbody>
</table>
{% endblock %}


{% block inside_folder_actions %}
    <button class="btn btn-default" name="action" value="archiver" onclick="return TestArchive('ces évaluations')"> 
        <i class="fa fa-archive"> </i>  {% if 'archive' in request.path %} Désarchiver {% else %} Archiver {% endif %}  la sélection
    </button>


    <button class="btn btn-default" name="action" value="deleter" onclick="return TestDelete('ces évaluations')"> 
        <i class="fa fa-trash"> </i>   Supprimer la sélection
    </button>
{% endblock %}

 
{% block outside_folder %}
    <table class="table table_list table-hovered  display_no_details100"  style="width:100%" >
        <thead> 
            <tr> 
                <th style="width:20px"></th>
                <th style="width:20px;">
                    <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                    <div class="helper_tip_text" style="text-align: right" ><i class="fa fa-star text-is_favorite"></i> Accessible<br/>depuis un groupe <br/> <i class="fa fa-star text-default"></i> Inaccessible<br/>depuis un groupe </div>
                    </span>
                </th>   
                <th style="width:300px"></th>
                <th></th>     
                <th>Groupe </th>
                <th  style="width:150px;" >Mutualisation</th>
                <th>CoAnim.</th>
                <th style="width:160px">Publication 
                    <span class="helper_tip"> 
                    <i class="fa fa-question-circle"></i>
                    <div class="helper_tip_text" >Publié signifie Accessible pour les élèves. </div>
                    </span>
                </th>                    
            </tr> 
        </thead>
        <tbody>
        {% for bibliotex in bibliotexs|dictsortreversed:"is_favorite" %}
            <tr {% if not bibliotex.is_publish %} style="border-left-color:#cb2131; border-left-style: 3px solid" {% endif  %}>
               {% include 'bibliotex/bibliotex_data.html' %}
            </tr>
        {% endfor  %}
        </tbody>
    </table>
{% endblock %}

 
{% block outside_folder_actions %}
<button class="btn btn-default" name="action" value="archiver" onclick="return TestArchive('ces biblioTex')"> 
    <i class="fa fa-archive"> </i>   Archiver la sélection
</button>
<button class="btn btn-default" name="action" value="deleter" onclick="return TestDelete('ces biblioTex')"> 
    <i class="fa fa-trash"> </i>   Supprimer la sélection
</button>

<a href="javascript:history.back()"  class="btn btn-default " >Retour </a>
{% endblock %}

 



{% block modale %}
<div class="modal fade" id="print_bibliotex" tabindex="-1" role="dialog" aria-labelledby="print_bibliotex">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >

            <form action="{% url 'print_bibliotex' %}" method="POST" enctype='multipart/form-data'> 
                {% csrf_token %}
                <div class="modal-header">     
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    <h2 id="print_bibliotex_title">  </h2> 
                    <input type="hidden" id="print_bibliotex_id"  name="print_bibliotex_id">  
                </div>
                <div class="modal-body" id="print_bibliotex_body">
     
                </div>
            </form>

        </div>
    </div> 
</div>
{% endblock %}                        
 