{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}
 
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

    <script>
        require(['script/ajax-quizz-list']);
    </script> 

{% endblock %}



{% block page_title %}
    <span class="sacado_color_text"><i class="fa fa-cubes"></i></span>  Mes quizz {% if is_archive %}archivés{% endif %}
{% endblock %}

{% block page_menu_right %}
    <li>
        {% if sacado_asso %} 
            {% if not is_archive %}
                <a href="{% url 'all_quizzes_archived' %}"  class="no_button"><i class="fa fa-archive"></i> Mes quizz archivés ({{ nba }})</a> 
            {% else %}
                <a href="{% url 'list_quizzes' %}"  class="no_button" >Mes quizz  </a> 
            {% endif %}

        {% else %}
            <a href="#"  class="no_sacado_asso" >{% if not is_archive %}<i class="fa fa-archive"></i>{% endif %} Mes quizz {% if not is_archive %}archivés{% endif %}</a> 
        {% endif %} 
    </li>
    
    {% include 'tool/submenu_creation_quizz.html' %}

{% endblock %}




{% block body %}
<section class="content_main">

    <form action="{% url 'quizz_actioner' %}" method="POST" enctype='multipart/form-data'>    
    {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table class="table table_list table-hover borderless display_no_details100"  style="width:100%" >
                    <thead>
                        <tr>
                            <th style="width:20%">Titre</th>
                            <th> </th>
                            <th style="width:30%"> </th>
                            <th style="width:30%" >  </th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for list_folder   in list_folders %} 
                            <tr  style="{% if not list_folder.folder.is_publish %} border-left-color:#cb2131; border-left-style: 3px solid; {% endif  %}color:{{ list_folder.folder.color  }};font-size:20px"  class="selected_tr"  id="tr{{ forloop.counter }}" >
                                <td style="position:relative; text-align:center;"><img src="{{ list_folder.folder.vignette.url }}" height="50px" /></td>
                                <td>  
                                    <span class="accordion" data-target="{{ forloop.counter }}">{{ list_folder.folder.title }} <i class="fa fa-chevron-down" id="pop{{ forloop.counter }}"   ></i></span>
                                </td>
                                <td> {{ list_folder.folder.level  }}</td>
                                <td> </td>
                            </tr> 

                            {% for quizz  in list_folder.quizzes.all %} 
                                <tr style="display:none"  class="collapser subquizz{{ forloop.parentloop.counter }}"  > 
                                    {% include 'tool/quizz_data.html' %}
                                </tr>
                            {% endfor %}
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table class="table table_list table-hover borderless display_no_details100">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Parcours rattachés</th>
                        <th style="width:40%">Groupes attribués et type</th>
                        <th>  </th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for quizz in quizzes %}            
                            <tr id="this_quizz{{quizz.id}}">
                                {% include 'tool/quizz_data.html' %}
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>

     

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <button class="btn btn-default" name="action" value="archiver" onclick="return TestArchive('ces quizz')"> 
                    <i class="fa fa-archive"> </i>   Archiver la sélection
                </button>
                <button class="btn btn-default" name="action" value="deleter" onclick="return TestDelete('ces quizz')"> 
                    <i class="fa fa-trash"> </i>   Supprimer la sélection
                </button>
         
                <a href="javascript:history.back()"  class="btn btn-default " >Retour </a>
            </div>
        </div>







    </form>
</section>


<div class="modal fade" id="quizz_choice" tabindex="-1" role="dialog" aria-labelledby="quizz_choice">
    <div class="modal-dialog" role="document" style="width: 750px;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h1 class='thin'>Nouveau quizz</h1>
            </div>
            <div class="modal-body">
                <form action="{% url 'create_quizz' %}" method="POST"  enctype='multipart/form-data'>
                    {% include 'tool/form_quizz_items.html' %}
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="historic_modal" tabindex="-1" role="dialog" aria-labelledby="historic_modal">
    <div class="modal-dialog" role="document" style="width: 750px;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h1 class='thin'>Historique des questions</h1>
            </div>
            <div class="modal-body" id="body_gq">
 
            </div>
        </div>
    </div>
</div>

{% endblock %}