<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-new-violet "> Nouvelle BiblioTex <b class="caret"></b> </a>

    <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">

        {% if folder %}
        <li> <a href="{% url 'create_bibliotex' folder.id %}"  > Créer une BiblioTex </a> </li>
        {% else %}
        <li> <a href="{% url 'create_bibliotex' 0 %}"  > Créer une BiblioTex </em></a> </li>
        {% endif %}
        <li>{% if sacado_asso %} 
        		<a href="{% url 'bibliotexs'   %}" > Récupérer une BiblioTex mutualisée  </a>

        	{% else %}
        		<a href="#"  class="no_sacado_asso" > Récupérer une BiblioTex mutualisée </a> 
        	{% endif %}
        </li>
 
    </ul>
</li> 