{% load static %}
{% load widget_tweaks %}   

      <div class="modal-content">
          <div class="modal-header">
              <div class="row">                      
                  <div class="col-sm-11 col-md-11">
                     <div class="form-group">
                        <h3>Nouvelle tâche <a href="#" class="vue" data-dismiss="modal"><i class="fa fa-times pull-right"></i></a></h3>
                      </div>
                  </div> 
              </div>
 

 
 
 

 
          </div>
          <div class="modal-body">                  
                  <div class="row">   
                      <div class="col-sm-2 col-md-2">
                          <div class="form-group">
                              <div class="form-group">
                                  Partagé ?<br>
                                          <input type="checkbox" id="display" name="display" data-toggle="toggle" data-size="mini"
                                           data-on="O" value="1"
                                           data-off="N" data-onstyle="primary">
                              </div>
                          </div>
                      </div>         
                      <div class="col-sm-10 col-md-10">                      
                          <div class="form-group">
                          Lieu<br>
                              
                          </div> 
                      </div>
                  </div> 
                
                                  
 
          </div>
      </div>