{% extends 'registration/login.html' %}
{% load widget_tweaks %}


{% block alert %}
{% endblock %}



{% block reset %}

<div  style="margin-top:100px">
  {% if validlink %}
    <h3>Nouveau mot de passe</h3>
    <form method="post" action="{% url 'password_reset_confirm' code %}">
      {% csrf_token %}
      <p>Le mot de passe doit contenir :</p>
      <ul>
          <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
          <li>Votre mot de passe doit contenir au minimum 8 caractères.</li> 
          <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
          <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
      </ul>

      <p>Nouveau mot de passe : {{ form.password1|add_class:"np-form-control" }}</p>


      <p>Confirmer ce mot de passe :{{ form.password2|add_class:"np-form-control" }}</p>

      <input type="submit" value="Nouveau mot de passe" class="btn btn-primary" />
    </form>
  {% else %}
    <div class="alert alert-danger">
      Le lien de changement de mot de passe n'est pas valide. Il a peut-être déjà été utilisé. Demandez un nouveau mot de passe.
    </div>
</div>
 
  {% endif %}



{% endblock %}