{% extends 'registration/login.html' %}

{% block alert %}
{% endblock %}

{% block reset %}
 <style>
.input{
  background-color: rgb(232, 240, 254) !important;
}
 </style>


    <div class="container has-text-centered column is-4 is-offset-4" style="margin-top:100px">
        <h3 class="title has-text-grey">Mot de passe oublié ?</h3>
        <p class="subtitle has-text-grey">Saississez votre Email.</p>
        <div class="box">
  
                <form method="post">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control">
                            {{ form.email }}eee
                            <input class="input is-large" name="email" type="email" placeholder="Votre Email"
                                   autofocus="">
                      
                        </div>
                    </div>
                    <input class="btn btn-primary full_width" type="submit" value="Valider" />
                </form>
        </div>
 
            <p class="has-text-grey">
                <a href="{% url 'login' %}">Se connecter</a>
            </p>
 
    </div>


{% endblock %}


