{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}



{% block require %}
    {% if knowledge %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% endif %}

    <script>
        require(['script/ajax-waiting']);
    </script> 

{% endblock %}




{% block page_title %}
     Savoir faire   <img src="{% static 'img/angle-right.png' %}"/>   {% if knowledge %}
                                                         <small>Modification</small>
                                                        {% else %}
                                                         <small>Nouveau savoir faire</small>
                                                        {% endif %}  
{% endblock %}

{% block page_menu_right %}
{% endblock %}




{% block body  %} 

 

 
<section class="content_main">
  <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="alert alert-danger">
            Dans le cas d'un enregistrement de plusieurs savoir faire, il est OBLIGATOIRE d'inscrire un seul savoir faire par ligne, sans sauter de ligne.
        </div>
      </div>
  </div>  
  <div class="row">
      <div class="col-sm-12 col-md-12">
   

            <form method="post" action="" enctype='multipart/form-data'>
              {% csrf_token %}
                      <div class="row">
                          <div class="col-sm-12 col-md-3">
                            <div class="form-group">
                                <label>{{ form.level.label_tag }}</label>
                                {{ form.level |add_class:"form-control select2"  }}
                                {{ form.level.errors }}
                            </div>
                          </div> 
                          <div class="col-sm-12 col-md-3">
                            <div class="form-group">
                                <label>{{ form.theme.label_tag }}</label>
                                {{ form.theme |add_class:"form-control select2"  }}
                                {{ form.theme.errors }}
                            </div>
                          </div>  
                          <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>{{ form.waiting.label_tag }}</label>
                                {{ form.waiting |add_class:"form-control select2"  }}
                                {{ form.waiting.errors }}
                            </div>
                          </div>  

                      </div>
                      <div class="row">
                          <div class="col-sm-12 col-md-12">
                              <div class="form-group">
                                  <label>{{ form.name.label_tag }}</label>
                                  {{ form.name |add_class:"form-control" }}
                                  {{ form.name.errors }}
                              </div>
                          </div>
                      </div>

                     

             
                      <div class="row">
                          <div class="col-sm-12 col-md-12">
                              {% if knowledge %}
                              <button type="submit" class="btn btn-sacado">Enregistrer les modifications</button>   
                              {% else %}
                              <button type="submit" class="btn btn-sacado">Créer le savoir faire</button> 
                              {% endif %}
                              <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
                          </div>
                      </div>
            </form>
      </div>
  </div>
</section> 
{% endblock  %}   