{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    {% if knowledge %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}
{% endblock %}


{% block page_title %}
      Thème   <img src="{% static 'img/angle-right.png' %}"/>  {% if theme %}
                                                                                 <small>Modification</small>
                                                                                {% else %}
                                                                                 <small>Nouveau thème</small>
                                                                                {% endif %} 
{% endblock %}

{% block page_menu_right %}
{% endblock %}





{% block body  %}  


 
 
<section class="content_main"> 

    <div class="col-sm-12 col-md-12">

 
        <form method="post" action="" enctype='multipart/form-data'>
          {% csrf_token %}
              <div class="row">
                  <div class="col-sm-12 col-md-12">
                      <div class="form-group">
                          <label>{{ form.name.label_tag }}</label>
                          {{ form.name |add_class:"form-control" }}
                          {{ form.name.errors }}
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12 col-md-8">
                      <div class="form-group">
                          <label>{{ form.subject.label_tag }}</label>
                          {{ form.subject |add_class:"form-control select2" }}
                          {{ form.subject.errors }}
                      </div>
                  </div>
              </div>





              <div class="row">
                  <div class="col-sm-12 col-md-8">
                      <div class="form-group">
                          <label>Niveaux cibles :</label>  <br/>
                         
                          {% for l in levels|dictsort:"ranking" %}
                              <label>
                                  {% if theme %}
                                      {% get_level_theme l theme as this_theme %}
                                      <input name="levels" type="checkbox" value="{{l.id}}" {% if this_theme %}checked{% endif %} /> {{ l.name }}
                                  {% else %}
                                      <input name="levels" type="checkbox" value="{{l.id}}"  /> {{ l.name }}
                                  {% endif %}
                              </label><br/>

                          {% endfor %}
                      </div>
                  </div>
              </div>



 

              <div class="row">
                  <div class="col-sm-12 col-md-12">
                      {% if theme %}
                      <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>   
                      {% else %}
                      <button type="submit" class="btn btn-primary">Créer le thème</button> 
                      {% endif %}
                      <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
                  </div>
              </div>
        </form>
    </div>
</section>
{% endblock  %}   