{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}



{% block require %}

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

{% endblock %}


 
{% block page_title %}
     Niveaux 
{% endblock %}

{% block page_menu_right %}
    <li><a href="{% url 'create_level' %}" class="btn btn-new pull-right" ><i class="fa fa-plus"></i> Nouveau niveau</a> </li> 
{% endblock %}


{% block  body %}
<section class="content_main"> 

    <div class="row"> 
        <div class="col-sm-12 col-md-12">
            <table class="table table-bordered table-hover standard_tab_sort2000" style="width:100%">
                  <thead>
                      <tr>
                        <th style="width:10px">Cycle</th>                       
                        <th  style="width:200px">Nom</th>                  
                        <th>Abréviations</th> 
                        <th>Thèmes</th> 
                      </tr>
                  </thead>
                  <tbody>
                        {% for level in levels %}
                        <tr> 
                          <td class="{{ level.cycle }}">
                          </td>
                          <td>
                             <a href="{% url 'update_level' level.id %}">{{ level.name }} </a> 
                              <a href="{% url 'delete_level' level.id %}"  onclick="return TestDelete('ce niveau')"><i class='fa fa-trash pull-right'></i></a>
                          </td>
                          <td >
                             {{ level.shortname }}
                          </td>
                          <td >
                               {% regroup level.themes.all by  subject as  subject_list %}   
                                 {% for s in subject_list %}     
                                      <b>{{ s.grouper }}</b>
                                     {% for theme in s.list %}                 
                                       {{ theme.name  }}  {% if not forloop.last %}, {% endif %}
                                     {% endfor %} 
                                     {% if not forloop.last %}<br> {% endif %}
                                  {% endfor %} 
                          </td>
                        </tr>
                        {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>

</section>

 



{% endblock  %}   


 