{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}



{% block require %}

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

{% endblock %}

 



 
{% block page_title %}
      Compétences
{% endblock %}

{% block page_menu_right %}

    <li><a href="{% url 'create_multi_skill' %}" class="btn btn-new pull-right" ><i class="fa fa-plus"></i>  Création multiple</a></li>  

{% endblock %}


{% block body  %}   
<section class="content_main"> 

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table class="table table-bordered table-hover standard_tab_sort2000" style="width:100%">
                  <thead>
                      <tr>
                        <th>Enseignement</th>                        
                        <th>Nom</th>                      
                      </tr>
                  </thead>
                  <tbody>
                        {% for skill in skills %}
                        <tr> 
                          <td >
                              {{ skill.subject.name }}
                          </td>                          
                          <td>
                              <a href="{% url 'update_skill' skill.id %}">{{ skill.name }}  {% if skill.used %}<i class="fa fa-check text-success"></i> [{{ skill.nb_exercise }}]   {% endif %}</a> 
                              <small>
                              <a href="{% url 'delete_skill' skill.id %}"  onclick="return TestDelete('ce savoir faire')"><i class='fa fa-trash pull-right'></i></a>
                              </small>
                          </td>

                        </tr>
                        {% endfor %}
                  </tbody>
            </table>
        </div>
      </div>
 

</section>

 



{% endblock  %}   


 