{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

 

        <div class="col-sm-12 col-md-12">
            {% regroup courses by parcours as parcours_list  %}
            {% for pcs in parcours_list  %}
                <div  class="box_shared box-widget widget-user-2" 
                    style="{% if pcs.grouper.vignette %}background-image: url('{{ pcs.grouper.vignette.url }}'); background-size: 100%;{% endif %}; background-color:{{pcs.grouper.color }}">


 



                    <div class="handler widget-user-header">
 
                        <div class="disc_course">

                        {% if parcours %}
                            <a href="{% url 'get_this_course_for_this_parcours' 0 parcours.id pcs.grouper.id %}" class="pull-right getter_course" style="color:white;"
                                onclick="return get_this_confirmation('tous les cours')"  title="Récupérer ce cours"  >
                                <i class="fa fa-clone"></i></a>
                        {% else %} 
                            <a href="#" data-toggle='modal' data-target='#clone_course' data-course_id =0 data-parcours_id = '{{ pcs.grouper.id  }}' class="pull-right getter_course edit" title="Récupérer ce cours" >
                                <i class="fa fa-clone"></i>
                            </a>
                        {% endif %}
                        </div>

                        {% if pcs.grouper.vignette %}                
                            <div class="box_title_underlay_vignette" style="background-color:{{ pcs.grouper.color }};">
                            </div> 
                        {% endif  %}
                        <div class="box_title_vignette"> 
                            <a href="{% url 'show_parcours_visual'  pcs.grouper.id  %}" style="color:{{ pcs.grouper.color|contrast_color }};">
                                {{ pcs.grouper.title|truncatechars:"28" }}
                            </a>
                        </div>
                    </div>


                    <div class="course_body_shared" style="background: white;padding:10px">
                    {% for course in pcs.list|dictsort:"ranking"  %}
                        <li class="course_section">
                            {% if course.title|length > 32 %} 
                              <span title="{{ course.title }}" style="cursor: help">{{ course.title|truncatechars:32 }} </span>
                            {% else %} 
                                {{ course.title }} 
                            {% endif %}


                            {% if parcours %} 
                                <a href="{% url 'get_this_course_for_this_parcours' 1 parcours.id course.id %}" title="Récupérer ce cours"  
                                    onclick="return get_this_confirmation('ce cours : {{ course.title }}')"  class="pull-right  getter_course edit"><i class="fa fa-clone fa-xs"></i></a>
                                <a href="#" data-toggle='modal' data-target='#get_course' data-course_id = '{{ course.id }}'  data-parcours_id =0 class="pull-right shower_this_course edit"><i class="fa fa-eye fa-xs"></i></a>
                            {% else %} 
                                <a href="#" data-toggle='modal' data-target='#clone_course' data-course_id = '{{ course.id }}' data-parcours_id =0  class="pull-right  getter_course edit" title="Récupérer ce cours" >
                                    <i class="fa fa-clone fa-xs"></i></a>
                                <a href="#" data-toggle='modal' data-target='#get_course' data-course_id = '{{ course.id }}'  data-parcours_id =0 class="pull-right shower_course edit"><i class="fa fa-eye fa-xs"></i></a>
                            {% endif %}
                                

                        </li> 
                    {% endfor %}
                    </div>
                    <div  style="background: white;padding:10px;height:35px;">

                        <div class="col-sm-5 col-md-5">
                        <label>{{ pcs.grouper.course.count }} chapitres</label>
                        </div>

                        <div class="col-sm-7 col-md-7">
                        <label>{{ pcs.grouper.teacher }}</label>
                        </div>
                    </div>
                </div>
                {% empty %} 
                    <div class="alert alert-danger"> Aucun résultat de votre recherche  </div> 

                {% endfor %} 
        </div>
 






 

<script type="text/javascript">
    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>