{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-parcours']);
    </script> 

    {% if not course %}
    <script>
        require(['script/ajax-parcours-complement']);
    </script> 
    {% endif %} 
    
{% endblock %}

 

{% block page_title %}
       <span style="color:{{ parcours.color|contrast_color_title }}"><i class="fa fa-desktop"></i> {{ parcours }} <img src="{% static 'img/angle-right.png' %}"/>    Cours   </span>  
{% endblock %}


{% block page_menu_right %}

    {% if parcours %}
        {% include 'qcm/submenu_parcours.html' %}
    {% endif %} 
 
{% endblock %}




{% block css_files %}
{% endblock %}


{% block body %}
<section class="content_main"> 
    <form action="" method="POST">

        {% csrf_token %}

        <div class="row">
            <div class="col-sm-12 col-lg-8">
                <div class="form-group">
                    {{ form.title.label_tag }} <em>50 caractères max.</em><br>
                    {{ form.title|add_class:"form-control"   }}
                    {{ form.title.errors }} 
                </div>
                <div class="form-group">
                    {{ form.annoncement.label_tag }}<br>
                    {{ form.annoncement|add_class:"form-control"   }}
                    {{ form.annoncement.errors }} <br>
                    <small>Astuce : Cliquez sur <img src="{% static 'img/full_screen.png' %}" width="15px" /> dans la barre d'outils pour agrandir en plein écran.</small> 
                </div>
                <div class="form-group">
                    <div class="alert alert-info">
                         Il est possible de créer des <b>sections vidéo-projetables</b> : Cliquer sur l'icone <img src="{% static 'img/div_projection.png' %}" /> et choisir "projection" et renseigner le champ "Classes de style" par : projection <img src="{% static 'img/style_projection.png' %}" />  <br/>Cliquer sur le bouton vert OK. Ecrire alors dans cette partie. 

                            
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-8">
                        <div class="form-group">
                            <input value="Enregistrer" type="submit" class="btn btn-primary"/>
                            <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                                       class="btn btn-default "/></a>
                        </div>
                    </div>
                    {% if course and request.user.user_type == 2 %}
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <a href="{% url 'delete_course' course.id  parcours.id %}" class="btn btn-danger"  onclick="return TestDelete('ce contenu')">Supprimer ce cours</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                {% if request.user.user_type == 2 %}
                    <h4 class="thin"><i class="fa fa-cogs"></i> Configuration</h4>
                    {% include 'qcm/course/content_details.html' %}

                   <h4 class="thin">Liens vers les parcours </h4>  
                   {{ form.relationships|add_class:"form-control select2"}} 
                   {{ form.relationships.errors }}  
                {% endif %}
                <h4 class="thin">Liens vers les exercices</h4>
                <div class="div_links">                
                {% for relationship in relationships %}
                    <div style="font-size: 16px;margin-top: 5px"> 

                        <a href="https://sacado.xyz/qcm/show_this_exercise/{{ relationship.exercise.id }}/" target="_blank" > 

                            <img src="{{ relationship.exercise.supportfile.imagefile.url }}" width="180px" height="100px"  style="float:left;margin-right: 5px">


                                {% if relationship.exercise.supportfile.title %}
                                    {{ relationship.exercise.supportfile.title|cleanhtml|capfirst }}
                                {% elif relationship.exercise.supportfile.annoncement %}
                                    {{ relationship.exercise.supportfile.annoncement|cleanhtml|capfirst }}
                                {% else %}
                                    {{ relationship.exercise.knowledge.name }}
                                {% endif %}
              


                                {% if relationship.exercise.supportfile.calculator %}
                                  <img src="{% static 'img/calculator.png' %}" width="20px" />
                                {% else %}
                                  <img src="{% static 'img/no_calculator.png' %}"  width="0px" />
                                {% endif  %}


                                 <br>
                                <small>   
                                    <i class="fa fa-barcode"></i> {{ relationship.exercise.supportfile.code }}  
                                    <i class="fa fa-clock-o"></i> {{ relationship.exercise.supportfile.duration }} minutes <br> 
                                    <i class="fa fa-save"></i> {{ relationship.exercise.supportfile.situation}} situation{{ relationship.exercise.supportfile.situation|pluralize}}
                                </small>

                            </a>

                        <div style="clear:both"> </div>   

                    </div>
                {% endfor %}                
                </div>
        <!--/panel-group-->


            </div>
        </div>
    </form>  
</section>
{% endblock %} 