{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-create-update-course']);
    </script> 
    {% if not course %}
    <script>
        require(['script/ajax-course-complement']);
    </script> 
    {% endif %} 
    
{% endblock %}

 

{% block page_title %}
       <span style="color:{{ parcours.color|contrast_color_title }}"><i class="fa fa-desktop"></i> {{ parcours }} <img src="{% static 'img/angle-right.png' %}"/>    Cours   </span>  
{% endblock %}


{% block page_menu_right %}

    {% include 'qcm/course/submenu_creation_course.html' %}

{% endblock %}




{% block css_files %}
{% endblock %}


{% block body %}
<section class="content_main"> 
    <form action="" method="POST">

        {% csrf_token %}

        <div class="row">
            <div class="col-sm-12 col-lg-8">
                <div class="form-group">
                    {{ form.title.label_tag }} <em>50 caractères max.</em><br>
                    {{ form.title|add_class:"form-control"   }}
                    {{ form.title.errors }} 
                </div>
                <div class="form-group">
                    {{ form.annoncement.label_tag }}<br>
                    {{ form.annoncement|add_class:"form-control"   }}
                    {{ form.annoncement.errors }} <br>
                    <small>Astuce : Cliquez sur <img src="{% static 'img/full_screen.png' %}" width="15px" /> dans la barre d'outils pour agrandir en plein écran.</small> 
                </div>
                <div class="form-group">
                    <div class="alert alert-info">
                         Il est possible de créer des <b>sections vidéo-projetables</b> : Cliquer sur l'icone <img src="{% static 'img/div_projection.png' %}" /> et choisir "projection" et renseigner le champ "Classes de style" par : projection <img src="{% static 'img/style_projection.png' %}" />  <br/>Cliquer sur le bouton vert OK. Ecrire alors dans cette partie. 

                            
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-8">
                        <div class="form-group">
                            <input value="Enregistrer" type="submit" class="btn btn-primary"/>
                            <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                                       class="btn btn-default "/></a>
                        </div>
                    </div>
                    {% if course and request.user.user_type == 2 %}
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <a href="{% url 'delete_course' course.id  parcours.id %}" class="btn btn-danger"  onclick="return TestDelete('ce contenu')">Supprimer ce cours</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                {% if request.user.user_type == 2 %}
                    <h4 class="thin"><i class="fa fa-cogs"></i> Configuration</h4>
                        <table class="table borderless">
                            <tr>
                                <td><label>Enseignement</label> </td> 
                                <td>{{ form.subject|add_class:"form-control select2" }}<br/>  
                                    {{ form.subject.errors }}
                                </td>
                            </tr>
                            <tr>
                                <td><label>Niveau</label> </td>
                                <td>    {{ form.level|add_class:"form-control select2" }}<br/>  
                                    {{ form.level.errors }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%"><label>Parcours</label> </td>
                                <td>    
                                    {{ form.parcours|add_class:"form-control select2"|attr:"required:True" }}<br/>  
                                    {{ form.parcours.errors }}
                                </td>
                            </tr>
                        </table>

                    {% include 'qcm/course/content_details.html' %}
                {% endif %}
 
        <!--/panel-group-->


            </div>
        </div>
    </form>  
</section>
{% endblock %} 