{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-parcours']);
        require(['script/remove_css']);
    </script> 
    
{% endblock %}

 

{% block page_title %}
<span  style="color:{{ parcours.color }}"> <i class="bi bi-file-font"></i> 
    {% include 'qcm/breadcrumb_student.html' %}
       <small class="thin"> Le cours </small>   
{% endblock %}


{% block page_menu_right %} 
    {% include 'qcm/submenu_parcours_student.html' %}
{% endblock %}




{% block css_files %}
{% endblock %}


{% block body %}
<section class="content_main">  



    <div class="row">
        <div class="col-md-4 col-xs-12 col-lg-3">
            {% if request.user.user_type == 2 %}
            <a href="{%  url 'create_course' 0 parcours.id %}" class="btn btn-danger full_width"> Créer un nouveau cours </a>
            <hr>
            {% endif %}

            <ul class="nav nav-pills nav-stacked admin-menu">
                {% for course in courses %}
                    <li class="{% if forloop.first %}active{% endif %} menu_course">
                        <a href="#" class="course_viewer" data-course_id="{{ course.id }}"  data-parcours_id="{{ parcours.id }}" > {{ course.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% if   course  %}
            <div class="col-md-8 col-xs-12 col-lg-9">
                <h1 class="thin">  <span id="this_course_title">{{ course.title }}</span>   </h1>
                <hr>
                <div id="this_course_viewer">{{ course.annoncement|decode|safe }} </div>
            </div>
        {% else %} 
            <div class="col-md-8 col-xs-12 col-lg-9">
                <div class="alert alert-danger">Aucun cours n'est associé à ce parcours.</div> 
            </div>
        {% endif %} 
 
      </div>
         
    </div>




</section>

 
{% endblock %} 