{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-parcours']);
    </script> 


{% endblock %}

 

{% block page_title %}
<i class="fa fa-desktop"></i> {{ course.title }}
{% endblock %}


{% block page_menu_right %}

<a href="javascript:history.back()"><input type="button" value="Retour aux cours"
                                                                       class="btn btn-default "/></a>
 
{% endblock %}




{% block css_files %}
{% endblock %}


{% block body %}    

<section class="content_main">  
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12" >
                {% get_permit_access  teacher.user    course    as     get_access %}
                {% if get_access %}
                    {% if   course  %}
                        {{ course.annoncement|decode|safe }} 
                    {% else %} 
                        <div class="alert alert-danger">Aucun cours n'est associé à ce parcours.</div> 
                    {% endif %} 
                {% else %} 
                    <div class="alert alert-danger">
                        Vous avez téléchargé ce cours mais vous n'avez pas la version établissement. Le cours n'est donc plus utilisable. <a href="{% url 'admin_tdb' %}">Abonnez votre établissement à Sacado.</a>
                    </div>
                {% endif %} 
            </div>
        </div>
<a href="javascript:history.back()"><input type="button" value="Retour aux cours"
                                                                       class="btn btn-default "/></a>

</section>



{% endblock %} 