{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-parcours']);
    </script> 


{% endblock %}

 

{% block page_title %}
<span style="color:{{ parcours.color|contrast_color_title }}"><i class="fa fa-desktop"></i> </span>
    {% include 'qcm/breadcrumb.html' %}
    <small>  Cours   </small>  
{% endblock %}


{% block page_menu_right %}
    {% if request.user.user_type == 2 %}
        {% include 'qcm/submenu_parcours.html' %}
    {% endif %}
{% endblock %}




{% block css_files %}
{% endblock %}


{% block body %}    

<section class="content_main">  



    <div class="row">
        <div class="col-md-4 col-xs-12 col-lg-3">
            {% if request.user.user_type == 2 and not parcours.is_folder %}
            <a href="{%  url 'create_course' 0 parcours.id %}" class="btn btn-danger full_width"> Créer un nouveau cours </a>
            <hr>
            {% endif %}
            <form action="" method="POST"> 
            {% csrf_token %}
            <ul class="nav nav-pills nav-stacked admin-menu" id="course_sortable">

                <input type="hidden" value="{{ parcours.id }}" name="parcours_id" id="parcours_id"/>
                {% for course in courses %}
                    {% get_permit_access  teacher.user    course    as     get_access %}
                    {% if get_access %}
                        {% if   course  %}
                        <li class="{% if forloop.first %}active{% endif %} menu_course">
                            <a href="#" {% if sacado_asso %} class="course_viewer"  {% elif course.author_id == request.user_id %} class="course_viewer" {% else %} title="Version établissement requise"  {% endif  %} data-course_id="{{ course.id }}" data-parcours_id="{{ course.parcours.id }}" >  

                                <i class="{% if course.is_publish %}fa fa-eye{% else %}fa fa-eye-slash{% endif %} show_hide"  id="show_hide{{ course.id }}"  data-course_id="{{ course.id }}" ></i>
                                 {{ course.title }}   
                                 {% if not sacado_asso and course.author_id != request.user.teacher_id %}
                                    <i class="fa fa-times text-danger"></i>
                                 {% endif  %}

                                {% if course.relationships.count > 0 %} <sup title="Cours lié à une section"><i class="fa fa-paperclip" style="font-size:8px" ></i></sup> {% endif %}

                                <img src="{% static 'img/order_handler_white.png' %}" class="pull-right"/>
                            </a>
                            <input type="hidden" value="{{ course.id }}" class="course_sort" /> 
                        </li>
                        {% endif %} 
                    {% endif %} 
                {% endfor %}
            </ul>        
            </form>
            <hr/>

            {% if sacado_asso %}
             <a href="{% url 'get_course_in_this_parcours'  parcours.id %}"  class="btn btn-default btn-fullwidth"><i class="fa fa-caret-right"></i> Cours mutualisés</a> 
            {% else %}
             <a href="#"  class="btn btn-default btn-fullwidth no_sacado_asso"  title="Version établissement requise"><i class="fa fa-caret-right"></i> Cours mutualisés</a> 
            {% endif  %}



        </div>
        {% if   course  %}
            <div class="col-md-8 col-xs-12 col-lg-9" id="this_course_viewer">
                <h1 class="thin">  <span id="this_course_title">{{ course.title }}</span>
 
                    {% if  teacher == course.author %}                   
                    <a href="{% url 'update_course' course.id parcours.id %}" style="font-size: 14px; margin-right:10px;" class="pull-right">Modifier ce cours</a> 
                    {% else  %}
                    <a href="{% url 'delete_course' course.id  parcours.id %}"  style="font-size: 14px;" class="pull-right"  onclick="return TestDelete('ce cours')">Supprimer ce cours</a>
                    {% endif  %}


                    <a href="#"  data-toggle='modal' data-target='#view_course'  data-course_id="{{ course.id }}" data-parcours_id="{{ parcours.id }}"   style="font-size: 14px; margin-right:10px;" class="pull-right course_viewer">Vidéoprojeter ce cours</a>
                    <a href="#" data-toggle='modal' data-target='#built_diaporama'  data-course_id="{{ course.id }}"  class="pull-right built_diaporama helper_tip" style="font-size: 14px; margin-right:10px;color: #007EE2;">Diaporama 
                         <i class="fa fa-question-circle fa-xs" ></i>
                             <div class="helper_tip_text" >Pour cette option, le cours doit contenir des sections projetables (encadré gris en pointillés) qu'il convient de créer dans son cours. </div>
                    
                    </a>
                </h1>
                <hr>

                {% get_permit_access  teacher.user    course    as     get_access %}
                {% if get_access %}
                    {% if   course  %}
                        {{ course.annoncement|decode|safe }} 
                    {% else %} 
                        <div class="alert alert-danger">Aucun cours n'est associé à ce parcours.</div> 
                    {% endif %} 
                {% else %} 
                    <div class="alert alert-danger">
                        Vous avez téléchargé ce cours mais vous n'avez pas la version établissement. Le cours n'est donc plus utilisable. <a href="{% url 'admin_tdb' %}">Abonnez votre établissement à Sacado.</a>
                    </div>
                {% endif %} 

            </div>
        {% else %} 
            <div class="col-md-8 col-xs-12 col-lg-9">
                <div class="alert alert-danger">Aucun cours n'est associé à ce parcours.</div> 
            </div>
        {% endif %} 
    </div>

 
<div class="modal fade" id="view_course" tabindex="-1" role="dialog" aria-labelledby="view_course">
    <div class="modal-dialog modal-lg"  style="margin:0px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class='thin' id="title_course"> </h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
            </div>
            <div class="modal-body" id="body_course">
            </div>
        </div>
    </div>
</div>


 
<div class="modal fade" id="built_diaporama" class="built_diaporama" tabindex="-1" role="dialog" aria-labelledby="built_diaporama">
    <div class="modal-dialog modal-lg" style="margin:0px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close reset_slider" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row" align="center"> 
                    <div class="col-sm-12 col-md-8 nav">
                        <h3 class="this_slider_title"></h3>
                    </div>
                    <div class="col-sm-12 col-md-4 nav" align="center"  >
                        <button data-nav="prev" class="btn btn-default"><i class="fa fa-caret-left"></i> Précedent</button>  
                        <button data-nav="next" class="btn btn-default"><i class="fa fa-caret-right"></i> Suivant</button>    
                    </div>
                </div> 

            </div>
            <div class="modal-body">

                <div class="wrapper_slider">
                <!-- Wrapper for slides -->
 
                        <ul id="ul_slider">
                            {% for c in courses %}
                            <li class="my_slide">
                                <div class="row consigne_diapo">  
                                    <div class="col-sm-12 col-md-12">
                                        <h1 style="font-size:3em" class="thin this_slider_title"> 
                                            {{ c.title }}
                                        </h1>
                                        <hr>
                                        <div>{{ c.annoncement|decode|safe }} </div>
                                    </div>
                                </div> 
                            </li>
                            {% endfor %}
                        </ul>
 
                </div>

            </div>
        </div>
    </div>
</div>

</section>



{% endblock %} 