{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

 


{% if request.user.is_superuser %}
    <a href="{% url 'show_this_exercise' exercise.id   %}"  target="_blank"  >  
       <img src="{{ exercise.supportfile.imagefile.url }}" class="imagefile">
    </a>


    <a href="{% url 'update_supportfile'  exercise.supportfile.id   %}" class="listing" style="font-size: 18px" target="_blank">
        {{ exercise.supportfile.annoncement|cleanhtml|capfirst }} 
    </a> 

{%  else %}
    <a href="{% url 'show_this_exercise' exercise.id  %}" target="_blank" >
         <img src="{{ exercise.supportfile.imagefile.url }}" class="imagefile">
    </a> 
     
        {{ exercise.supportfile.annoncement|cleanhtml|capfirst }} 

{% endif %}
{% if exercise.supportfile.calculator %}
  <img src="{% static 'img/calculator.png' %}" width="30px" />
{% else %}
  <img src="{% static 'img/no_calculator.png' %}"  width="30px" />
{% endif  %}   
     <br>
{% if request.user.is_superuser %}
        <a  href="{% url 'update_supportfile'  exercise.supportfile.id  %}" class="sublisting" target="_blank"> <small>   
            <i class="fa fa-fw fa-barcode"></i> {{ exercise.supportfile.code }}  {% if exercise.supportfile.annoncement|make_list|length < 120 %}<br>{% endif %}
            <i class="fa fa-fw fa-clock-o"></i> {{ exercise.supportfile.duration }} minutes {% if exercise.supportfile.annoncement|make_list|length < 120 %}<br>{% endif %}
            <i class="fa fa-fw fa-save"></i> {{ exercise.supportfile.situation}} situation{{ exercise.supportfile.situation|pluralize}} minimum</small>
        </a> 
{% else %}
        <small>   
            <i class="fa fa-fw fa-barcode"></i> {{ exercise.supportfile.code }}  {% if exercise.supportfile.annoncement|make_list|length < 120 %}<br>{% endif %}
            <i class="fa fa-fw fa-clock-o"></i> {{ exercise.supportfile.duration }} minutes {% if exercise.supportfile.annoncement|make_list|length < 120 %}<br>{% endif %}
            <i class="fa fa-fw fa-save"></i> {{ exercise.supportfile.situation}} situation{{ exercise.supportfile.situation|pluralize}} minimum
        </small> 
{% endif %}