{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


    <div class="row">
        <div class="col-sm-12 col-md-12">
     
            <h1 class="thin">
                 <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      {{ num_exo }}
                    </div>
                 
                    <ul class="nav navbar-nav navbar-right">
                     <a href="#" id="closeStudent" class="detail_student pull-right"> <i class="fa fa-times"></i></a>
                    </ul>
                  </div>
                </nav> 
            </h1>
        </div>
    </div>

<div class="content_list" style="margin-left: 0px;" >
    <div class="row">
        <div class="col-sm-12 col-md-12"> 
            <table class="table table-hover" id='table_locker' style="width:100%; font-size: 14px">
                <tbody>
                    {% for stat  in stats  %} 
                     {% if relationship %} {% if stat.name in relationship.students.all %}  
                        {% get_this_exercise_is_locked   stat.name   relationship  relationship.parcours 0  today as  this_is_locked     %}
                        <tr>  
                            <td>
                                {% if relationship.parcours.stop %}
                                <span  data-student_id="{{ stat.name.user.id}}" data-exercise_id="{{ relationship.id}}"  class="locker_exercise"  id="locker{{ stat.name.user.id}}" title="Verrouiller/déverrouiller l'exercice pour cet élève"  >
                                    <i class="fa fa-{% if this_is_locked %}lock text-danger{% else %}unlock text-default{% endif %}"></i>
                                </span>                                
                                {% endif %}
                                {{ stat.name }}
                            </td>
                            <td>{{ stat.duration }}</td>
                            <td> 
                                {% if stat.average_score != "" %}
                                    <span class="
                                            {% if stat.average_score < 30 %}
                                             text-red 
                                            {% elif stat.average_score < 60 %}
                                            text-orange
                                            {% elif stat.average_score < 80 %}
                                            text-green
                                            {% else %}
                                            text-darkgreen
                                            {% endif %}">
                                        {{ stat.average_score }}%
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                {% if stat.median != "" %}
                                    <span class="
                                            {% if stat.average_score < 30 %}
                                             text-red  
                                            {% elif stat.average_score < 60 %}
                                            text-orange
                                            {% elif stat.average_score < 80 %}
                                            text-green
                                            {% else %}
                                            text-darkgreen
                                            {% endif %}">
                                        {{ stat.median }}%
                                    </span>
                                {% endif %}
                            </td>
                            <td>{{ stat.heure_min|date:"Y m d - H:i" }}</td>
                            <td>{% if stat.nb %}x{{ stat.nb }}{% endif %}</td>
                        </tr>
                      {% endif %}{% endif %}   
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
 
</div>

<script>

        $(".locker_exercise").on('click', function () {

            let exercise_id = $(this).attr("data-exercise_id"); 
            let student_id = $(this).attr("data-student_id"); 
            let csrf_token = $("input[name='csrfmiddlewaretoken']").val();

            $.ajax(
                {
                    type: "POST",
                    dataType: "json",
                    data: {
                        'student_id': student_id,
                        'custom': 0,
                        'exercise_id': exercise_id,
                        csrfmiddlewaretoken: csrf_token
                    },
                    url: "../../ajax_locker_exercise",
                    success: function (data) {

                        $('#locker'+student_id).html(data.html);
  
                    }
                }
            )
        });
</script>