{% load item_tags %}
{% load static %}


<style>
.remove{
    color:transparent;
}

</style>
    
<div class="row"> 
 
{% if custom %}
    <div class="col-lg-6 col-xs-12"> 
        <h3>Ma copie</h3> 
        <div id="corrector">
            {% if customexercise.is_file  and   response.imagefile %}
                <iframe src="{{  response.imagefile.url }}" height="700" width="100%"></iframe>
            {%  elif customexercise.is_python or  customexercise.is_scratch %}
               <pre>{{ response.answer|safe }}</pre>
            {%  elif customexercise.is_text %}
               {{ response.answer|safe }}
            {%  elif customexercise.is_image   and   response.imagefile  %}
                <img src="{{  response.imagefile.url }}" width="100%"/>
            {% endif %}
            {% for a in annotations %} 
                <div id="{{ a.attr_id }}" class="{{ a.classe }}" style="{{ a.style|top_less:-40  }}">{{ a.content|safe }}</div>
            {% endfor %}
        </div>  
    </div>  

    {% if customexercise.is_publish_cor %}
    <div class="col-lg-6 col-xs-12">
        <h3>Corrigé</h3> 
        {% if customexercise.file_cor %}
            <div class="col-lg-12 col-xs-12">   
                <iframe src="{{ customexercise.file_cor.url }}" width="100%" height="600"></iframe>
            </div>   
        {% endif  %}
        {% if customexercise.video_cor %}
            <div class="col-lg-12 col-xs-12">   
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ customexercise.video_cor }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>   
        {% endif  %}
        {% if customexercise.text_cor %}
            <div class="col-lg-12 col-xs-12" >  
                {% if customexercise.is_python %}
                <pre style="background-color: #222; color:#FFF;">{{ customexercise.text_cor|safe }}</pre>
                {% else  %}
                {{ customexercise.text_cor|safe }}
                {% endif  %}
            </div>   
        {% endif  %}
    </div> 
    {% endif %}  
{% else %}
    <div class="col-lg-6 col-xs-12"> 
        <h3>Production</h3> 
        <div id="corrector">
            {% if relationship.exercise.supportfile.is_file  and   response.imagefile %}
                <iframe src="{{  response.imagefile.url }}" height="700" width="100%"></iframe>
            {%  elif relationship.exercise.supportfile.is_python or  customexercise.is_scratch %}
               <pre>{{ response.answer|safe }}</pre>
            {%  elif relationship.exercise.supportfile.is_text %}
               {{ response.answer|safe }}
            {%  elif relationship.exercise.supportfile.is_image   and   response.imagefile  %}
                <img src="{{  response.imagefile.url }}" width="100%"/>
            {% endif %}
            {% for a in annotations %} 
                <div id="{{ a.attr_id }}" class="{{ a.classe }}" style="{{ a.style|top_less:-40  }}">{{ a.content|safe }}</div>
            {% endfor %}
        </div>  
    </div>  

    <div class="col-lg-6 col-xs-12">
        <h3>Corrigé</h3> 
        {% if relationship.is_correction_visible %}
            <pre>{{ relationship.exercise.supportfile.correction|safe }}</pre>
        {% endif %}
    </div> 
{% endif %}