{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


    <div class="row">
        <div class="col-sm-12 col-md-12">
     
            <h1 class="thin">
                 <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      {{ num_exo }}. 
                    </div>
                    {% if customexercise.is_mark %}
                    <a href="{% url 'export_note_custom' customexercise.id  parcours.id  %}" class="btn btn-default" style="margin-left: 60px" >Exporter les notes (CSV)</a>
                    {% endif %} 
                    <ul class="nav navbar-nav navbar-right">
                     <a href="#" id="closeStudent" class="detail_student pull-right"> <i class="fa fa-times"></i></a>
                    </ul>
                  </div>
                </nav> 
            </h1>
        </div>
    </div>

<div class="content_list" style="margin-left: 0px;" >
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table class="table table-hover"  id='table_locker' style="width:100%; font-size: 14px">
                <tbody>
                    <tr> 
                        <td style="width:150px">Nom Prénom</td>
                        {% if customexercise.is_mark %}
                        <td> 
                            Note
                        </td> 
                        {% endif %}
                        {% for knowledge in customexercise.knowledges.all %}
                        {% get_custom_score knowledge customexercise student parcours as custom_score %}
                            <td style="font-size: 10px;text-align:center">
                                {{ knowledge}}
                            </td>
                        {% endfor %}
                        {% for skill in customexercise.skills.all %}
                        {% get_custom_score skill customexercise student parcours as custom_score %}
                            <td style="font-size: 10px;text-align:center">
                                {{ skill }}
                            </td>
                        {% endfor %}
                    </tr>


                    {% for student  in students  %}  {{ stat }}
                        {% get_all_results_custom customexercise student parcours as data %}   
                        {% get_this_exercise_is_locked student customexercise parcours 1 today  as  this_is_locked     %}           
                        <tr> 
                            <td> 
                                {% if parcours.stop %}
                                <span  data-student_id="{{ student.user.id}}" data-exercise_id="{{ customexercise.id}}"   class="locker_exercise" id="locker{{ student.user.id}}" title="Verrouiller/déverrouiller l'exercice pour cet élève" >
                                    <i class="fa fa-{% if this_is_locked  %}lock text-danger{% else %}unlock text-default{% endif %}"></i>
                                </span>
                                {% endif %}
                                {{ student }}
                            </td>
                            {% if customexercise.is_mark %}
                            <td> 
                                {% if data.point %}{{ data.point }}{% endif %}
                            </td> 
                            {% endif %}
                            {% for knowledge in customexercise.knowledges.all %}
                            {% get_custom_score knowledge customexercise student parcours as custom_score %}
                                <td style="text-align:center">
                                     {% if custom_score == 4 %}<i class="fa fa-square text-primary"></i>
                                     {% elif custom_score == 3 %}<i class="fa fa-square text-success"></i>
                                     {% elif custom_score == 2 %}<i class="fa fa-square text-warning"></i>
                                     {% elif custom_score == 1 %}<i class="fa fa-square text-danger"></i>                         
                                     {% endif %}
                                </td>
                            {% endfor %}     
                            {% for skill in customexercise.skills.all %}
                            {% get_custom_score skill customexercise student parcours as custom_score %}
                                <td style="text-align:center">
                                     {% if custom_score == 4 %}<i class="fa fa-square text-primary"></i>
                                     {% elif custom_score == 3 %}<i class="fa fa-square text-success"></i>
                                     {% elif custom_score == 2 %}<i class="fa fa-square text-warning"></i>
                                     {% elif custom_score == 1 %}<i class="fa fa-square text-danger"></i>                         
                                     {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                        <tr> 
                            <td><b>Moyenne</b></td>
                            {% if customexercise.is_mark %}
                            <td> 
                                {{ average }}
                            </td>
                            {% endif %}
                            {% for skill in customexercise.skills.all %}
                            {% get_custom_score skill customexercise student parcours as custom_score %}
                                <td>
                                    {{ custom_score }}
                                </td>
                            {% endfor %}
                            {% for knowledge in customexercise.knowledges.all %}
                            {% get_custom_score knowledge customexercise student parcours as custom_score %}
                                <td>
                                    {{ custom_score }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr> 
                            <td><b>Médiane</b></td>
                            {% if customexercise.is_mark %}
                            <td> {{ median }}
                            </td>
                            {% endif %}
                            {% for skill in customexercise.skills.all %}
                            {% get_custom_score skill customexercise student parcours as custom_score %}
                                <td>
                                </td>
                            {% endfor %}
                            {% for knowledge in customexercise.knowledges.all %}
                            {% get_custom_score knowledge customexercise student parcours as custom_score %}
                                <td>
                                </td>
                            {% endfor %}
                        </tr>

                </tbody>
            </table>
        </div>
    </div>
 
</div>


<script>

        $(".locker_exercise").on('click', function () {

            let exercise_id = $(this).attr("data-exercise_id"); 
            let student_id = $(this).attr("data-student_id"); 
            let csrf_token = $("input[name='csrfmiddlewaretoken']").val();

            $.ajax(
                {
                    type: "POST",
                    dataType: "json",
                    data: {
                        'student_id': student_id,
                        'custom': 1,
                        'exercise_id': exercise_id,
                        csrfmiddlewaretoken: csrf_token
                    },
                    url: "../../ajax_locker_exercise",
                    success: function (data) {

                        $('#locker'+student_id).html(data.html);
  
                    }
                }
            )
        });
</script>