
<h2>
{{ remediation.title  }}
</h2>
<p>
Durée estimée : {{ remediation.duration  }} minutes 
</p>
{% if remediation.audio %}
<audio controls>
    <source src="{{ remediation.mediation.url }}" type="audio/mpeg">
    <span class="text-danger">Votre navigateur ne lit pas l'audio.</span>
</audio>
{% elif remediation.video != "" %}
<iframe  width="560" height="315" src="https://www.youtube.com/embed/{{ remediation.video }}?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% elif  remediation.courses.all|length > 0 %} 

	{% with remediation.courses.all as courses %} 
		{% include 'qcm/course/course_viewer_student.html' %}
	{% endwith %}


{% else %} 
	<iframe src="{{ remediation.mediation.url  }}" width="100%" height="800px"></iframe>
{% endif  %}




 