    {% if  not  sacado_asso %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="alert alert-danger">
                Vous ne pouvez pas cloner d'exercice. Pour activer cette fonctionnalité, il faut utiliser la version établissement.
            </div> 
        </div>
    </div>
    <hr>     
    {% endif  %}

    {{ customexercise.instruction|safe }}
    <hr> 
    <div class="row">
        <div class="col-sm-12 col-md-12">

            {% if sacado_asso %}
            <a href="#" class="btn btn-primary clone_to" data-exercise_id = '{{ customexercise.id }}' data-cloner = 0   data-dismiss="modal" aria-label="Close"  >Cloner cet exercice dans mes exercices</a>
            {% else %}
            <span class="btn btn-primary">Cloner cet exercice dans mes exercices</span>
            {% endif  %}
        </div>
    </div>

    <hr>
 
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                {% for p in parcourses|dictsort:"title" %}
                    <label style="margin-bottom:4px" class="btn btn-default"><input value="{{ p.id }}" name="get_parcourses" type="checkbox" /> {{ p }} {% if p.is_evaluation %}<i class="fa fa-trophy"></i> {% endif %}</label>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                {% if sacado_asso %}
                <a href="#" class="btn btn-primary clone_to" data-exercise_id = '{{ customexercise.id }}' data-cloner = 1  data-dismiss="modal" aria-label="Close" >Cloner cet exercice dans mes parcours</a>
                {% else %}
                <span class="btn btn-primary">Cloner cet exercice dans mes parcours</span>
                {% endif  %}
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>

