{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>



{% endblock %} 

  
{% block page_title %}
    <i class="bi bi-calendar-check"></i> Toutes les taches en cours</span>
{% endblock %}

{% block page_menu_right %}
    <li><small>{% now "d N Y, H:i" %}</small></li>
    <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default"/></a>
{% endblock %}


{% block body %}
<section class="content_main">  
    <div class="row"> 
        <div class="col-sm-12 col-md-12">
 
            <table  class="table table-hover display" >
                {% regroup relationships by parcours as parcours_list %}  
                {% for p in parcours_list %}
                <thead>
                    <tr style="background-color: {{ p.grouper.color }}; color : #FFF ">
                        <th>{{ p.grouper }} <a href="{% url 'detail_task'  p.grouper.id  0  %}" class="btn btn-xs btn-default pull-right">En détails</a></th>
                        <th></th>
                        <th><a href="{% url 'parcours_tasks_and_publishes'  p.grouper.id   %}" class="btn btn-xs btn-default">Créer une tache</a> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in p.list %}
                        <tr> 
                            <td >
                                <a href="{% url 'show_this_exercise' r.exercise.id %}" target="_blank">

                                
                                    <img src="{{ r.exercise.supportfile.imagefile.url }}" class="imagefile">

                                            {% if r.exercise.supportfile.title %}
                                                {{ r.exercise.supportfile.title|cleanhtml|capfirst  }} 
                                            {% else %}
                                                {{ r.exercise.supportfile.annoncement|cleanhtml|capfirst  }} 
                                            {% endif  %}


                                                {% if r.exercise.supportfile.calculator %}
                                                  <img src="{% static 'img/calculator.png' %}" width="30px" />
                                                {% else %}
                                                  <img src="{% static 'img/no_calculator.png' %}"  width="30px" />
                                                {% endif  %}   <br>
                                    <i class="fa fa-fw fa-barcode"></i> {{ r.exercise.supportfile.code }}      <br>
                                    <i class="fa fa-fw fa-clock-o"></i> {{ r.exercise.supportfile.duration }} minutes<br>
                                    <i class="fa fa-fw fa-save"></i> {{ r.exercise.supportfile.situation }}  situation{{ r.exercise.supportfile.situation|pluralize }}<br>
                                </a>
                            </td>
                            <td>

                                    {% get_nb_task_parcours_done  r.exercise  r.parcours as nb_task_done %}
                                    {% get_who_are_done_parcours  r.exercise  p.grouper  as who_are  %}

                                    {{ nb_task_done}}/{{ r.parcours.students.count  }} 
                                <br/>
                                
                                {%  for s in who_are %} 
                                <small>{{ s.student.user.last_name|lower|capfirst }}{% if not forloop.last %}, {% endif %} </small>
                                {% endfor %}  
                            </td>


                            <td>{{ r.date_limit }} <br/><br/><a href="{% url 'detail_task'  p.grouper.id  r.exercise.id   %}" class="btn btn-default">En détails</a></td>


                        </tr>
                    {% endfor %}
                </tbody>

                {% endfor %}
            </table>
  
        </div>
    </div> 
    <div class="row"> 
        <div class="col-sm-12 col-md-12">
                {% for parcours in parcourses %}
                    <a href="{% url 'parcours_tasks_and_publishes'  parcours.id   %}" class="btn btn-xs btn-default">Créer une tache dans {{ parcours }} </a> 
                {% endfor %}
        </div>
    </div> 

</section>
{% endblock %}