
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}


{% if group %} <a href="{% url 'list_parcours_group' group.id %}" style="color:{{ group.color }}" >{{ group.name }}</a> <img src="{% static 'img/angle-right.png' %}"/>  {% endif %} 

{% if folder and group %}  
	<a href="{% url 'list_sub_parcours_group' group.id folder.id %}"   class="helper_tip" style="font-size:36px;color:{{ folder.color }}" > {{ folder.title|truncatechars:"18" }}</a>
		{% if folder.title.count > 18 %}
	            <div class="helper_tip_text_right thin" style="font-size:36px; color:{{ folder.color }};">
	                 {{ folder.title }} 
	            </div>
		</span> <img src="{% static 'img/angle-right.png' %}"/>  
	 	{% endif %}  

		<img src="{% static 'img/angle-right.png' %}"/>  


{% elif folder and not group %} 

	<a href="{% url 'index' %}" style="color:{{ folder.color }}" >Tableau de bord </a>   
	<img src="{% static 'img/angle-right.png' %}"/> 



	<span class="helper_tip" style="font-size:36px;color:{{ folder.color }}" > {{ folder.title|truncatechars:"18" }}
	{% if folder.title.count > 18 %}
            <div class="helper_tip_text_right thin" style="font-size:36px; color:{{ folder.color }};">
                 {{ folder.title }} 
            </div>
	</span> <img src="{% static 'img/angle-right.png' %}"/>  
 	{% endif %}  
   

{% endif %}  

{% if parcours %} 
	<a href="{% url 'show_parcours' 0 parcours.id %}" class="helper_tip" style="font-size:36px; color:{{ parcours.color }}" >
	{{ parcours.title|truncatechars:"18" }}  

	{% if parcours.title.count > 18 %}
        <div class="helper_tip_text_right thin" style="font-size:36px; color:{{ parcours.color }};">
             {{ parcours.title }}   
        </div>
 	{% endif %}  

	</a>   <img src="{% static 'img/angle-right.png' %}"/> 
 
{% endif %} 
