{% extends 'qcm/correction_exercise.html' %}
{% load static %}
{% load item_tags %}




{% block liste_student %} 
    {% for stud in customexercise.just_students  %}
        <tr>
             <td {% if student %}{% if student == stud %} style="background-color: #F0F0F0;"{% endif %}{% endif %}>
                {% get_done customexercise stud as done %}
                {% if done %}
                {% get_corrected_for_this customexercise stud parcours as  data %}   
                <a href="{% url 'correction_exercise' customexercise.id parcours.id  stud.user.id  %}" {% if not data.is_corrected %} style="color:#cb2131" {% endif %} >
                                        <!--<a href="#" data-student_id="{{ student.user.id }}" data-relationship_id="{{ customexercise.id }}" data-parcours_id="{{ parcours.id }}" data-custom="1" class="choose_student"> --> 


                 {{ stud.user.last_name }} {{ stud.user.first_name }} 

                    <span id ="evaluate{{ stud.user.id }}">
                        
                            {% if  data.is_corrected %}
                                {% if  data.answer %}
                                    <i class="fa fa-check text-success pull-right"></i>
                                {% else %}
                                    <i class="fa fa-toggle-on text-success pull-right"></i>
                                {% endif %}
                            {% endif %}
                    </span>
                </a>
                {% else %}                
                <span style="color:#DDD">
                    {{ stud.user.last_name }} {{ stud.user.first_name }}  
                    <a href="#" class="exercise_no_made" title="Marqué comme corrigé, avec compétences/savoir faire non évalués. Si note, note = 0." 
                            data-exercise_id ={{ customexercise.id }} data-parcours_id ={{ parcours.id }}
                            data-custom =1
                            id="exercise_no_made{{ stud.user.id }}" 
                            data-student_id ={{ stud.user.id }} >
                            <i class="fa fa-toggle-off text-default pull-right"></i>
                    </a> 
                </span>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td>Aucun élève.</td>
        </tr>
    {% endfor %}
{% endblock %}


{% block modal %} 
    {{ customexercise.instruction|safe }} 
{% endblock %}
