{% load static %}
{% load widget_tweaks %}
{% load item_tags %}
           
{% get_min_score folder student as data_min %}

<div  class="box box-widget widget-user-2 folder_sorter"  data-parcours_id ="{{folder.id}}"  
      style="cursor: move;{% if folder.vignette %}background-image: url('{{ folder.vignette.url }}'); background-size: cover; {% endif %}background-color:{{folder.color }};">
    <div class="handler widget-user-header">
        <!-- Add signet to folder -->
        <img src="{% static 'img/rabat_dossier.png' %}" class="rabat_dossier" />


         {% if  student.user.school %}  
            {% if  data_min.pc %}
            <div class="background_badge" >
            <i class="fa fa-trophy" style="color:{{ data_min.colored }};font-size: {{ data_min.size }};z-index:999999; "></i><br/><font style="font-size:12px;color:{{folder.color }};">{{ data_min.label }}</font>
            </div>
            {% endif  %}
        {% endif  %}
  

        {% if folder.vignette %}                
            <div class="box_title_underlay_vignette" style="background-color:{{ folder.color }};">
            </div> 
        {% endif  %}
        <div class="box_title_vignette"> 
 
            <span class="helper_tip" style="color:{{ folder.color|contrast_color }};font-size:20px;font-weight: 100;cursor:help">{{ folder.title|truncatechars:"30" }}
            <div class="helper_tip_text_right">{{ folder.title }}</div></span>

        </div>
    </div>
    <!-- box-footer DES FONCTIONNALITES  -->
    <div class="box-footer" style="position: relative; padding-top: 0px;">
        <div class="row dossier" style="padding-top: 3px;padding-bottom: 3px;"> 


                <div class="col-xs-4 col-md-4 col-lg-4"> 
                    {{  data_min.nb_parcours }} parcours <br/> 
                    {% if data_min.nb_evaluations %}
                    {{  data_min.nb_evaluations }} évaluations 
                    {% endif %}
                </div>
                <div class="col-xs-4 col-md-4 col-lg-3">
                    {% if data_min.nb_cours %}
                    {{  data_min.nb_cours }} cours  
                    {% endif %}<br/>
                    {% if data_min.nb_quizz %}
                    {{  data_min.nb_quizz }} quizz 
                    {% endif %}
                </div>

                <div class="col-xs-4 col-md-4 col-lg-4"> 
                    {% if data_min.nb_bibliotex %}
                    {{  data_min.nb_bibliotex }} biblioTex 
                    {% endif %}
                    {% if data_min.nb_flashpack %}
                    <br/>
                    {{  data_min.nb_flashpack }} flashpack
                    {% endif %}
                </div>
        </div>
        <div class="row extend_student" style="margin-left: 5px"> 
            <div class="col-xs-12 col-md-12 col-lg-12"> 
                <div style="text-align: center;margin-bottom: 15px"><br/>
                    <a href="{% url 'list_sub_parcours_group_student' group.id folder.id  %}"  class="btn btn-new-violet" style="width:200px; background-color: {{ folder.color }}; color:{{ folder.color|contrast_color }}" >  
                        {%  if is_task_exists %}
                            <i class="fa fa-calendar-check" style="color:red"></i>
                        {% endif %} Accéder</a>
                </div>
            </div>
        </div>
    </div>
</div>   





 