{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if parcours %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}

    <script>
        require(['script/ajax-parcours']);
    </script> 

{% endblock %} 


{% block page_title %}
    <span style="color:{{ parcours.color }}"><i class="bi bi-cloud"></i>     
        {% include 'qcm/breadcrumb.html' %}
         <small> Sélection des exercices -  <span id="nb_exercises" style="color:{{ parcours.color }}">{{ parcours.exercises.count }} exercice{{ parcours.exercises.count|pluralize }} </span></small>
{% endblock %}

{% block page_menu_right %}
    {% include 'qcm/submenu_parcours.html' %}
{% endblock %}


{% block body %}
 
  
     
<section class="content_main">
    <div class="col-sm-12 col-md-12">

        <form action="" method="POST" enctype='multipart/form-data'> 
        {% if parcours %}<input type="hidden" id="is_parcours" value="1" name="is_parcours" /><input type="hidden" id="id_parcours" value="{{ parcours.id }}" name="id_parcours" />{% endif %}
        {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label>Enseignements</label>
                        <select id="id_subject" name="subject" class="form-control select2">
                            {% for s in teacher.subjects.all %}
                                <option value="{{s.id}}">{{ s.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>



                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label>Niveaux des exercices</label>
                        <select id="id_level" name="level" class="form-control select2" >
                            <option value=" ">Choisir un niveau</option>
                            {% for l in levels %}
                                <option value="{{l.id}}">{{ l.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>




                <div class="col-sm-12 col-md-4 col-lg-6">
                    <div class="form-group">
                        <label>Thèmes </label> <span style="font-size:12px"><em>choisir un niveau puis un ou plusieurs thèmes ci-dessous.</em></span>
                        <select id="id_theme" name="theme" class="form-control select2" multiple>
                        </select>
                    </div>
                </div>



            </div> 
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div id="loader">
                    </div>
                    <div id="content_exercises" class="list_choice">
                    {% if parcours %}
                        <table class="table">
                        {% regroup  exercises by theme.name as theme_list %}  
                            {% for theme in theme_list %}
                                <tr style="background:#e6e2dd"><td></td><td>{{ theme.grouper }}</td><td>Parcours</td></tr>
                                {% for e in theme.list %}
                                    <tr>
                                        <td> 
                                        {%  get_is_selected  e  parcours  as  e_is_selected %}                                          
                                            <!-- Selection des exercices -->
                                            <label class="container_checkbox">
                                            <input type="checkbox"  data-exercise_id="{{ e.id }}" data-parcours_id="{{ parcours.id }}"
                                                    name="exercises" id="selector_e{{ e.id }}"  data-statut="{{ e_is_selected }}"
                                                    {% if e_is_selected %}checked{% endif  %} 
                                                    class="selector_e" /><span class="checkmark"></span>
                                            </label>
                                        </td>
                                        <td class="listingtd"> 
                                            <label for="selector_e{{ e.id }}"  class="label_select_checkbox">{{ e.knowledge.name }} <br>
                                            {% if user.is_superuser and '/admin' in request.path %}
                                                <a href="{% url 'show_this_exercise'  e.id   %}" target="_blank"   >  
                                                    <img src="{{ e.supportfile.imagefile.url }}" class="imagefile">
                                                </a>


                                                <a href="{% url 'update_supportfile'  e.supportfile.id   %}" target="_blank"  class="listing" style="font-size: 18px">
  
                                                    {% if e.supportfile.title %}  
                                                        {{ e.supportfile.title|cleanhtml|capfirst }}  
                                                    {% else %}  
                                                        {{ e.supportfile.annoncement|cleanhtml|capfirst }} 
                                                    {% endif %}



                                                </a> 

                                            {%  else %}


                                                <a href="{% url 'show_this_exercise'  e.id   %}" target="_blank" class="listing" style="font-size: 18px">     
                                                    <img src="{{ e.supportfile.imagefile.url }}" class="imagefile">
                                                    {% if e.supportfile.title %}  
                                                        {{ e.supportfile.title|cleanhtml|capfirst }}  
                                                    {% else %}  
                                                        {{ e.supportfile.annoncement|cleanhtml|capfirst }} 
                                                    {% endif %}
                                                </a> 
                                               
                                            {% endif %}
                                             {% if e.supportfile.calculator %}
                                              <img src="{% static 'img/calculator.png' %}" width="30px" />
                                            {% else %}
                                              <img src="{% static 'img/no_calculator.png' %}"  width="30px" />
                                            {% endif  %}   
                                                 <br>
                                                    <small>   
                                                        <i class="fa fa-fw fa-barcode"></i> {{ e.supportfile.code }}  {% if e.supportfile.annoncement|make_list|length < 120 %}<br>{% endif %}
                                                        <i class="fa fa-fw fa-clock-o"></i> {{ e.supportfile.duration }} minutes {% if e.supportfile.annoncement|make_list|length < 120 %}<br>{% endif %}
                                                        <i class="fa fa-fw fa-save"></i> {{ e.supportfile.situation}} situation{{ e.supportfile.situation|pluralize}} minimum<br>
                                                                        <i class="fa fa-fw fa-copyright"></i>
                                                                        {% if e.supportfile.skills.count > 0 %}
                                                                            {% for skill in exercise.supportfile.skills.all %}
                                                                            {{ skill.name}}{% if not forloop.last %}, {% endif %}
                                                                            {% endfor %}
                                                                        {% else %}
                                                                            <small>compétence non renseignée</small>
                                                                        {% endif  %}

                                                    </small>
                                            </label>
                                        </td>
                                        <td>
                                                        {% get_parcours_from_this_exercise e teacher as  my_parcours_container   %}
                                                        {% for p in my_parcours_container %}
                                                            <div class="btn btn-info"  style="font-size: 10px;cursor:   default">{{ p.title }} </div>
                                                        {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>
                    {% else %}
                    <h4>Sélectionner un niveau</h4>
                    {% endif %}
                    </div>
                </div>
            </div> 

        </form>
                
            <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px">
                <div class="form-group">
                {% if parcours.is_evaluation %}
                    <a href="{% url 'show_evaluation' parcours.id %}" class="btn btn-default" style="background-color:{{ parcours.color }};color:{{ parcours.color|contrast_color }}">Valider et retour à l'évaluation {{ parcours.title }}</a> 
                    <a href="{% url 'evaluations' %}"  class="btn btn-primary">Valider et retour à la liste des évaluations</a> 
                {% else %}
                    <a href="{% url 'show_parcours' 0 parcours.id %}" class="btn btn-default" style="background-color:{{ parcours.color }};color:{{ parcours.color|contrast_color }}">Valider et retour au parcours {{ parcours.title }}</a> 
                    <a href="{% url 'parcours' %}"  class="btn btn-primary">Valider et retour à la liste des parcours</a>   
                {% endif  %}

                {% if parcours %}
                    {% if group %}
                        <a href="{% url 'list_parcours_group' group.id %}"  class="btn btn-default" style="background-color:{{ group.color }};color:{{ group.color|contrast_color }}">Valider et retour au groupe</a>   
                    {% endif  %}
                {% endif  %}
                </div>
            </div>
    </div>   
</section>  



<div class="modal fade bd-example-modal-lg" id="help"  tabindex="-1" role="dialog" aria-labelledby="help" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="margin:0px!important">

        {% if user.user_type == 2 %}
            <div class="modal-content help" >
                <div class="helpdiv_help_title_page"  style="margin-top:80px;left:160px;width:600px">
                    Sélectionner le ou les niveaux des exercices souhaités
                </div>

                <div class="helpdiv_help_title_page"  style="margin-top:80px;left:660px;width:600px">
                    Sélectionner le ou les thèmes des exercices souhaités
                </div>



                <div class="helpdiv_help_title_page"  style="margin-top:150px;left:175px">
                    <img src="{% static 'img/fleche_bottom_left.png' %}" width="40px" />

                    <div class="help_groupe" style="float:left" >
                        Cocher/décocher pour placer un exercice dans le parcours. Enregistrement automatique.
                    </div>

                </div>

                <div class="helpdiv_help_acces" style="margin-top:50px">
                    Indicateur de publication du parcours<img src="{% static 'img/fleche_up_right.png' %}" width="40px" style="vertical-align: bottom" />
                </div>


                <div class="helpdiv_help_acces" style="margin-top:40px;right:140px;border-top: 2px #FFF solid">
                    Menu contextuel
                </div>



                <div class="helpdiv_help_title_page"  style="margin-top:235px;left:500px">

                    <div class="help_groupe" style="float:left" >
                       Code de l'exercice<br>Durée estimée<br>Nombre de situations requises pour l'enregistrement du score.
                    </div>

                </div>


                <div class="helpdiv_help_menu_right_bar" style="margin-top:100px">            

                    <br><br> <br><br> <img src="{% static 'img/fleche_bottom_left.png' %}" width="40px" />
                    <div class="help_groupe" style="float:left" >
 
                            <h2>Liste des exercices</h2> 
                            Au chargement de la page, la liste des exercices déjà dans le parcours est montrée.<br><br> 
                            Après la sélection des niveaux et thèmes, la liste des exercices souhaitée apparait.<br><i class="fa fa-warning"></i> Seuls les savoir faire du niveau du groupe seront évalués.
                            <br><br>
                            Passer la souris sur une vignette pour l'agrandir.

 
                    </div>

                </div>
 
                    

            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

 
 
 
       
 
 