{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-parcours']);
    </script> 
    
{% endblock %}

 

{% block page_title %}
       <span style="color:{{ relationship.parcours.color }}"><i class="bi bi-explicit"></i> </span>  
       {% include 'breadcrumb_student.html' %}
       {% include 'qcm/breadcrumb.html' %}
{% endblock %}


{% block page_menu_right %}

{% endblock %}




{% block css_files %}
{% endblock %}


{% block body %}
<section class="content_main"> 

 

    <form action="" method="POST" enctype='multipart/form-data'>

        {% csrf_token %}

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                {% if relationship.instruction or relationship.exercise.supportfile.annoncement  %}  
                    <a href="#" data-toggle='modal' data-target='#consigne' class="btn btn-danger">Lire la consigne</a><br/>
                {% endif  %}

                {% if relationship.exercise.supportfile.is_correction_visible  %}  
                    <a href="#" data-toggle='modal' data-target='#correction' class="btn btn-danger">Voir le corrigé</a><br/>
                {% endif  %}

              {% for remediation in relationship.relationship_remediation.all %}
                  {% if remediation.consigne %}
                  <audio controls>
                      <source src="{{ remediation.mediation.url }}" type="audio/mpeg">
                      <span class="text-danger">Votre navigateur ne lit pas l'audio.</span>
                  </audio>
                  {% endif %}
              {% endfor  %} 

            {% if relationship.relationship_remediation.all|length > 0 %}
             <span class="pull-right">
                <label>Aides : </label>
                  {% for remediation in relationship.relationship_remediation.all %}
                      <a href="#" data-target="#remediation_viewer" data-remediation_id="{{ remediation.id }}" data-is_custom="0"  data-url="0" data-toggle='modal' class="white remediation_viewer btn btn-default">
                            {% include 'qcm/remediation_choices.html' %}
                      </a>
                  {% endfor  %} 
            </span>
            {% endif  %}

            <hr>
                {% if relationship.exercise.supportfile.is_image   or   relationship.exercise.supportfile.is_file  %}   
 
                <div class="form-group">
                    {{ form.imagefile.label_tag }}  <br>
                    {{ form.imagefile|add_class:"btn btn-default"   }}
                    {{ form.imagefile.errors }} <br>
                </div> 
                {% endif %}

                {% if relationship.exercise.supportfile.is_text   %} 

                <div class="form-group">
                    <label>Zone pour écrire</label><br>
                    {{ form.answer }}
                    {{ form.answer.errors }} <br>
                </div>

                {% endif %}

                <div class="row">
                    <div class="col-sm-12 col-lg-8">
                        <div class="form-group">
                            {% get_is_lock parcours today as is_lock %}                            
 


                            {% get_is_lock parcours today as is_lock %}                            
                            {% if   is_lock or   relationship.is_lock  %}
                                    <input value="Exercice verrouillé" disabled class="btn btn-primary"/>      
                            {% else  %}
                                    <input value="Soumettre votre exercice" type="submit" class="btn btn-primary"/>                                    
                            {% endif  %}





                            <input type="button" value="Annuler" class="btn btn-default" onclick="javascript:history.back()"/>
                        </div>
                    </div>
 
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                {% if relationship.exercise.supportfile.is_scratch   %} 
                <label>Conseil :</label>  Utiliser le site Scratch pour créer votre script. Prendre une capture d'écran et la déposer dans la zone de texte.<br><br><br>
                <a href="https://scratch.mit.edu/projects/editor/?tutorial=getStarted" target="_blank">Naviguer vers Scratch <img src="{% static 'img/scratch.png' %}"/></a>
                <hr>                
                {% endif %}  
                <label>Savoir faire ciblé :</label>
                    <li class="sans_puce">{{relationship.exercise.knowledge}}</li>    
                {% if relationship.skills.all|length > 0 %}
                <hr>                
                    <label>Compétences ciblés :</label>
                    {% for skill in relationship.skills.all %}
                        <li class="sans_puce">{{skill}}</li>
                    {% endfor %}
                {% endif %}            
            </div>
        </div>
    </form>  
</section>



<div class="modal fade" id="consigne" tabindex="-1" role="dialog" aria-labelledby="consigne">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding-top :0px;">
            <div class="modal-header">
                <h3> Consigne :     
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">   
                       {% if relationship.instruction   %}  
                            {{ relationship.instruction|insert_tags:45|safe }}  
                       {% else %} 
                            {{ relationship.exercise.supportfile.annoncement|insert_tags:45|safe }} 
                       {% endif %}                    
                   </div>   
                </div> 
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="correction" tabindex="-1" role="dialog" aria-labelledby="correction">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding-top :0px;">
            <div class="modal-header">
                <h3> Corrigé :     
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">   
                       {% if relationship.exercise.supportfile.is_correction_visible   %}  
                            {{ relationship.exercise.supportfile.is_correction_visible |safe }}  
                        {% endif %}                    
                    </div>   
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %} 