<div class="row"> 
    <div class="col-sm-12 col-md-12">
        <h2 class='thin'><i class="fa fa-th"></i> Les parcours  <span class="sacado">sacado</span></h2>  
            <ol><i class="fa fa-hand-o-right"></i> Un même parcours à plusieurs groupes. <p>Si vous avez plusieurs classes de même niveau, vous pouvez créer un seul parcours et l'attribuer à chaque classe. <i class="fa fa-warning"></i> Les données du parcours seront partagées aux deux groupes et seront indissociables. Pour individualiser les exercices par élève, il faudra utiliser l'icone <i class="fa fa-user"></i> du parcours.</p></ol>
            <ol><i class="fa fa-hand-o-right"></i> Un parcours par groupe. <p>Cette option vous permet plus de flexibilité.</p></ol>
                
            <div class="alert alert-danger">Tant qu'un groupe ne contient pas d'élève, vous ne pouvez pas lui attribuer de parcours. Les parcours sont rattachés au groupe par leurs élèves. Vous pouvez attribuer un parcours à votre groupe classe en entier ou à seulement à une partie en sélectionnant les élèves choisis.</div>
    </div>
</div>    
<div class="row"> 
    <div class="col-sm-12 col-md-12">
        <h2 class='thin'><i class="fa fa-recycle"></i> 3 façons de disposer de parcours avec <span class="sacado">sacado</span></h2>  
            

                <ol><i class="fa fa-hand-o-right"></i> Les parcours par défaut <p> Ces parcours contiennent tous les exercices proposés par <span class="sacado">sacado</span>, classés par le thème dans le niveau {{ group.level}}. Vous pouvez les utiliser comme proposé, leur ajouter, supprimer des exercices.<br>Ces parcours dépendent du niveau du groupe. Pour les créer, il faut se passer par un groupe <a href="{% url 'index' %}"  ><i class="fa fa-caret-right"></i>  Parcours par défaut</a><p></ol>
                <ol><i class="fa fa-hand-o-right"></i>  Les parcours mutualisés <p>La mutualisation des parcours vous permet de choisir un parcours déjà existant prêt à l'emploi. Il vous sera possible de le modifier une fois cloné. <br>Récupérer un parcours existant d'un enseignant mutualisateur

                {% if sacado_asso %}
                    <a href="{% url 'all_parcourses' 0 %}"   ><i class="fa fa-caret-right"></i>  Parcours mutualisés</a>
                {% else %}
                    <a href="#"  class="no_sacado_asso" > <i class="fa fa-caret-right"></i> Parcours mutualisés</a>
                {% endif %}
                </p></ol>
                <ol><i class="fa fa-hand-o-right"></i>  Les parcours personnalisés <p>Vous souhaitez tout paramétrer et créer le parcours en simplement quelques clics. Cet espace vous est dédié.<br>  Créer votre parcours personnalisé <a href="{% url 'create_parcours' 0 %}"   ><i class="fa fa-caret-right"></i>  Nouveau parcours</a></p></ol>



    </div>
</div>