{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% if sacado_asso %}                 
    <div class="form-group">
        {{ form.vignette.label_tag }}<span class="helper_tip"> <i class="fa fa-question-circle"></i> <span style="font-size:12px">(facultatif)</span>
                    <div class="helper_tip_text" >Format recommandé: l:300px h:313px (100Ko) <br>La vignette se superpose à la couleur du parcours qui ne sera pas visible selon la taille de l'image. </div>
                </span> 

        {{ form.vignette|add_class:"btn btn-default" }} 
        {{ form.vignette.errors }}

    </div>
    <div id="label_vignette"> 
    <label>Ou choisir une image proposée</label>
    </div> 
    {% if parcours_is_folder %}   
    <input name="id_subject" type="hidden" id="id_subject"  value="{{ group.subject.id}}" />
    {% endif %}   

    <input name="this_image_selected" type="hidden" id="this_image_selected" />                        
    <input type="hidden" name="is_update" id="is_update" value="{% if parcours %}1{% else %}0{% endif %}">

    <div class="div_vignette">  
        <div id="prop_vignette"> 
            {% for image in images %}
                <img src='https://sacado.xyz/ressources/{{ image }}'  width='200px'  data-url_image='{{ image }}' class='selector_image_from_ajax' />
            {% endfor %}
        </div>
    </div>
{% else %} 
    <div class="alert alert-warning">
        <small>L'utilisation d'image est réservée à la version établissement.</small>
    </div>
{% endif %} 