{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2_mini.js' %}"></script>
    <script>
        require(['script/ajax-parcours']);
        require(['script/ajax-parcours_inside_data']);
    </script> 

 

{% endblock %}

 

{% block page_title %}
   <i class="fa fa-th sacado_color_text"></i>  Parcours
{% endblock %}





{% block page_menu_right %}


    {% if 'parcours' in request.path %}
    <li><a href="{% url 'archives' %}"  class="no_button"><i class="fa fa-archive"></i> Archives ({{ nb_archive }})</a></li> 
    {% else %}
    <li><a href="{% url 'sequences_archives' %}"  class="no_button"><i class="fa fa-archive"></i> Archives ({{ nb_archive }})</a></li> 
    {% endif %}

    
    {% include 'qcm/submenu_creation_new_parcours.html' %}
{% endblock %}




{% block body  %} 

<section class="content_list"  id ="accordion"> 
{% include 'preloader.html' %}


{% if nb_base > 0 %}
<form action="{% url 'actioner_pef' %}" method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
            <div class="row">
                <div class="col-xs-6 col-md-3 ">
                    <h2 class="thin"><i class="fa fa-folder sacado_color_text"></i>  Dans les dossiers</h2>
                </div>
 
                <div class=" col-xs-6 col-md-9">
                    <div class="form-group">
                        <input type="search" id="accordion_search_bar" class="form-control" placeholder="Ecrire un mot comme 'numérique' proposera les dossiers le contenant.">
                    </div>
                </div>
            </div>

            {% for folder in folders|dictsortreversed:"is_favorite" %}
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="panel-group_list" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default" id="collapse{{ forloop.counter }}_container">
                            <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                                <h4 class="panel-title">
                                <a role="button"  
                                 class="actionner_accordion" 
                                 data-toggle="collapse" 
                                 data-parent="#accordion" 
                                 data-loop ="{{ forloop.counter }}" 
                                 href="#collapse{{ forloop.counter }}" 
                                 aria-expanded="true" 
                                 aria-controls="collapse{{ forloop.counter }}">


                                 {% if folder.vignette %}
                                    <img src="{{ folder.vignette.url }}" width="50px" height="50px">
                                 {% else %}  
                                    <i class="fa fa-square" style="font-size: 2.4em; color:{{ folder.color }}"></i>
                                 {% endif %}  



                                 {{ folder.title }} <i class="fa fa-angle-down" id="collapser_angle{{ forloop.counter }}"></i>
                                 
                                 <span class="list_label list_subject">{{ folder.subject.shortname }}  </span>

                                 <span class="list_label">{{ folder.level.name }} </span>




                                </a>
                                </h4>
                            </div>
                            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
                                <div class="panel-body">         
                                    <table class="table table-hovered standard_tab_10"  style="width:100%" >
                                        <thead> 
                                            <tr> 
                                                <th style="width:20px"></th>
                                                <th style="width:50px">Favori 
                                                </th>
                                                <th style="width:50px; ">
                                                    <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                                    <div class="helper_tip_text" style="text-align: right" ><i class="fa fa-star text-success"></i> Accessible<br/>depuis un groupe <br/> <i class="fa fa-star text-default"></i> Inaccessible<br/>depuis un groupe </div>
                                                    </span>
                                                </th>            
                                                <th style="width:300px">Nom</th>
                                                <th></th>
                                                <th style="width:200px">Groupe </th>
                                                <th style="width:150px">Mutualisation</th>
                                                <th>CoAnim.</th>
                                                <th style="width:150px">Publication 
                                                    <span class="helper_tip"> 
                                                    <i class="fa fa-question-circle"></i>
                                                    <div class="helper_tip_text" >Publié signifie Accessible pour les élèves. </div>
                                                    </span>
                                                </th>                    
                                            </tr> 
                                        </thead>
                                        <tbody>
                                            {% for parcours in folder.parcours.all %}

                                                {% block evaluations  %} 
                                                    {% if not parcours.is_evaluation and not parcours.is_archive %}
                                                        <tr>
                                                            {% include 'qcm/list_parcours_folder_data.html' %}
                                                        </tr>
                                                    {% endif %}  
                                                {% endblock  %}

                                            {% endfor  %}

                                         </tbody>
                                    </table>

                                    <div class="row" style="margin-top:10px">
                                        <div class="col-sm-12 col-md-12">
                                            {% block inside_folder_actions %}
                                            <button class="btn btn-default" name="action" value="archiver" onclick="return TestArchive('ces dossiers/parcours')"> 
                                                <i class="fa fa-archive"> </i>  {% if 'archive' in request.path %} Désarchiver {% else %} Archiver {% endif %}  la sélection
                                            </button>
                           

                                            <button class="btn btn-default" name="action" value="deleter" onclick="return TestDelete('ces dossiers/parcours')"> 
                                                <i class="fa fa-trash"> </i>   Supprimer la sélection
                                            </button>
                                            {% endblock  %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
     
     
 












    <div class="row">    
        <div class="col-sm-12 col-md-12">
            <table class="table table-hovered table-striped borderless display_no_details100"  style="width:100%" >
                <thead> 
                    <tr> 
                        <th style="width:30px"></th> 
                        <th style="width:60px">Favori</th> 
                        <th style="width:50px">
                            <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                            <div class="helper_tip_text" style="text-align: right" ><i class="fa fa-star text-success"></i> Accessible<br/>depuis un dossier <br/> <i class="fa fa-star text-default"></i> Inaccessible<br/>depuis un dossier </div>
                            </span>    
                        </th> 
                        <th style="width:300px">Nom</th>
                        <th></th>
                        <th>Matière</th>
                        <th>Niveau</th>
                        <th style="width:300px">Groupe
                            <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                            <div class="helper_tip_text" >Le profil élève d'un enseignant n'est pas pris en compte. </div>
                            </span>

                        </th>
                        <th  style="width:150px;" >Mutualisation</th>
                        <th>CoAnim.</th>
                        <th style="width:160px">Publication 
                            <span class="helper_tip"> 
                            <i class="fa fa-question-circle"></i>
                            <div class="helper_tip_text" >Publié signifie Accessible pour les élèves. </div>
                            </span>
                        </th>
                    </tr> 
                </thead>
                <tbody> 
                {% block outside_folder %}
                {% for parcours in parcourses|dictsortreversed:"is_favorite" %}
                    <tr >
                       {% include 'qcm/list_parcours_data.html' %}
                    </tr>
                {% endfor  %} 
                {% endblock  %} 
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin-top:50px">
        <div class="col-sm-12 col-md-12">
            {% block archive %}
            <button class="btn btn-default" name="action" value="archiver" onclick="return TestArchive('ces dossiers/fichiers')"> 
                <i class="fa fa-archive"> </i>   Archiver la sélection
            </button>
            {% endblock  %} 

            <button class="btn btn-default" name="action" value="deleter" onclick="return TestDelete('ces dossiers/fichiers')"> 
                <i class="fa fa-trash"> </i>   Supprimer la sélection
            </button>
        </div>
    </div>
</form>
{% else %}


        <div class="row"> 
            <div class="col-sm-12 col-md-12">
                <div class="alert alert-danger">Aucun parcours n'est affecté à ce groupe. Si un groupe ne contient pas d'élève, <strong>vous ne pouvez pas lui attribuer de parcours</strong>. Lorsque vos parcours sont créés, les élèves les rejoignent directement dès leur inscription via le lien <span style="color:#271942">https://sacado.xyz/group/{% if  group %}{{ group.code }}{% else %}code_du_groupe{% endif %}</span><br>
                <i class="fa fa-bullhorn"></i> <strong>Préparer</strong> maintenant vos parcours, <strong>publier</strong>.  
                </div>
            </div>
        </div>
        
        <div class="row"> 
            <div class="col-sm-12 col-md-12">
                <h2 class='thin'><i class="fa fa-recycle"></i> 3 façons de disposer de parcours avec <span class="sacado">sacado</span></h2>  
                <ol><i class="fa fa-hand-o-right"></i> Les parcours par défaut (Recommandé pour une première utilisation) <p> Ces parcours contiennent tous les exercices  de  {% if  group %}{{ group.level }}{% else %}niveau_du_groupe{% endif %} proposés par <span class="sacado">sacado</span>, classés par le thème. Vous pouvez les utiliser directement, leur ajouter, leur supprimer des exercices.<br>Choisir le parcours souhaité <a href="#" data-toggle="modal" data-target="#parcours_default_modal"   ><i class="fa fa-caret-right"></i>  Parcours par défaut</a><p></ol>
                <ol><i class="fa fa-hand-o-right"></i>  Les parcours mutualisés <p>La mutualisation des parcours vous permet de choisir un parcours déjà existant prêt à l'emploi. Il vous sera possible de le modifier une fois cloné. <br>Récupérer un parcours existant d'un enseignant mutualisateur

                    {% if sacado_asso %}
                        <a href="{% url 'all_parcourses' 0 %}"   ><i class="fa fa-caret-right"></i> Parcours mutualisés</a>
                    {% else %}    
                        <a href="#" class="no_sacado_asso"  ><i class="fa fa-caret-right"></i> Parcours mutualisés</a>
                    {% endif %}


                </p>


                </ol>
                <ol><i class="fa fa-hand-o-right"></i>  
                    Les parcours personnalisés <p>Vous souhaitez tout paramétrer et créer le parcours en simplement quelques clics. Cet espace vous est dédié.<br/>  Créer votre parcours personnalisé dans un premier temps puis sélectionner les exercices de votre choix. 
                        <a href="{% url 'create_parcours' 0 %}"   ><i class="fa fa-caret-right"></i>  Nouveau parcours</a></p>
                </ol>
            </div>
        </div>
{% endif  %}
</section>



 
    {% block modal_boxes  %} 
    <div class="modal fade" id="parcours_default_modal" tabindex="-1" role="dialog" aria-labelledby="parcours_default_modal">
        <div class="modal-dialog" role="document" style="width:70%">
            <div class="modal-content" >
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    <h2 class="thin sacado">Les parcours par défaut</h2>
                    <p>Ces parcours contiennent tous les exercices proposés par <span class="sacado">sacado</span> dans le thème proposé. </p>
                    <form action="{% url 'get_parcours_default'  %}" method="POST" enctype='multipart/form-data'>   
                        {% csrf_token %}
                        <p><span class="label label-primary">1</span> Sélectionner le niveau souhaité.</p>


                        <p><select name="level_selected_id" id="level_selected_id"  class="form-control select2" data-url="no" required>
                                <option value=" ">Sélectionner un niveau</option>
                                {% for level in teacher.levels.all %}
                                <option value="{{ level.id }}">{{level.name }}</option>
                                {% endfor %}
                            </select>
                        </p>

                        <div id="parcours_shower"> 
                 
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock  %}  

 

{% endblock  %}   

 