{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    <script>
        require(['script/ajax-list-associations']);
    </script> 
{% endblock %} 

  
{% block page_title %}
    <img src="{% static 'img/ggb.png' %}" width="25px"> Les outils EBEP
{% endblock %}

{% block page_menu_right %}
 
 

{% endblock %}


{% block body %}
<section class="content_container">  
 
 
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <form action="" method="POST" enctype='multipart/form-data'> 
            {% csrf_token %}
                <table class="table  table-hover standard_tab_1000" style="width:100%">
                    <thead> 
                        <tr>
                            <td></td><td>  </td><td></td>
                        </tr>
                    </thead> 
                    <tbody id="exercise_ranking">
                        {% regroup exercises by theme as theme_list  %} 
                        {% for theme in theme_list  %} 
                            <tr style="background:#5d4391; color:white">
                                <td></td> 
                                <td style="width:85%">{{theme.grouper.name}}</td> 
                                <td style="width:15%"> </td>
                            </tr>   
                            {% regroup theme.list by knowledge.waiting as waiting_list %} 
                            {% for waiting in waiting_list  %}
                                <tr  style="background:#aa98cd; cursor: pointer; color: white"   > 
                                    <td></td> 
                                    <td>
                                          {{waiting.grouper.name}}
                                    </td>
                                    <td >

                                    </td>
                                </tr>
 
                                {% regroup waiting.list by knowledge as knowledge_list %} 
                                {% for knowledge in knowledge_list  %}
                                    <tr  style="background:#d4cbe6; cursor: pointer; color: black"  > 
                                        <td></td> 
                                        <td>
                                            <i class="fa fa-caret-right"></i> Le savoir faire "<span style="color:#007EE2">{{ knowledge.grouper.name|capfirst }}</span>" est associé 
                                             {% if knowledge_list|length > 1%}aux {%  else %}au {% endif %}support{{ knowledge.grouper.exercises|length|pluralize }} GGB ci-dessous :
                                        </td>
                                        <td style="position: relative;" >

                                             <input type="text" id="create_code{{ knowledge.grouper.id }}" class="form-control" placeholder="code du support" />                               

                                             <a href="#row{{ knowledge.grouper.id }}" data-exercise_id="{{ knowledge.grouper.id }}" 
                                                data-action="create" 
                                                class="btn btn-success btn-publisher create_association" style="position: absolute;right:11px;top:10px"   ><i class="fa fa-plus"></i></a> 

                                        </td>
                                    </tr>
                                    {% for exercise in knowledge.list  %} 
                                    
                                    <tr class="this_exercise">

                                        <input type="hidden" value="{{ exercise.id }}" name="this_exercise" ><!--  sert à classer les exercices  -->   
                                        <td style="cursor:pointer"><i class="fa fa-sort"></i></td> 
                                        <td>
                                            <div id="association{{ exercise.id }}" > 
                                                {% include 'qcm/ajax_association.html' %}
                                            </div>
                                        </td>
                                        <td  style="position: relative;" >
 

                                                <a href="{% url 'tools_to_exercise' exercise.id %}" class="btn btn-{% if exercise.ebep %}warning{% else %}default{% endif %}" >
                                                    Outils EBEP
                                                </a> 
                                            <div id="error_str{{ exercise.id }}" style="color:red"></div>                                        
                                        </td> 
                                    </tr>
                                      
                                    {% endfor %}    
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}

                    </tbody>
                </table>
            </form>
        </div>
    </div>
 
</section>


<div class="modal fade" id="knowledge_modal" tabindex="-1" role="dialog" aria-labelledby="knowledge_modal">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>                 
                <h2  class='sacado'  >Modifier le savoir faire</h2>              
            </div>
            <div class="modal-body" id="change_knowledge">

            </div>
        </div>
    </div> 
</div>




{% endblock %}