{% extends 'qcm/list_parcours.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


 

 

{% block page_title %}
    <i class="bi bi-th sacado_color_text"></i> Mes parcours archivés

{% endblock %}

{% block page_menu_right %}


    {% if 'parcours' in request.path %}
        <li><a href="{% url 'parcours' %}"  class="no_button">Mes  parcours</a></li>
    {% else %}
        <li><a href="{% url 'sequences' %}"  class="no_button">Mes  séquences</a></li> 
    {% endif %}

{% endblock %}



{% block evaluations  %} 
    {% if not parcours.is_evaluation and parcours.is_archive %}
        <tr>
            {% include 'qcm/list_parcours_folder_data.html' %}
        </tr>
    {% endif %}  
{% endblock  %}





{% block archive %}

            <button class="btn btn-default" name="action" value="desarchiver" onclick="return TestArchive('ces dossiers/fichiers')"> 
                <i class="bi bi-archive"> </i>   Desarchiver la sélection
            </button>


{% endblock  %}   


 