{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4_withoutMathJax.js' %}"></script>
 
    <script>
        require(['script/ajax-parcours-student']);
    </script> 


{% endblock %}

 

{% block page_title %}
       <span style="color:{{ group.color  }}"><i class="bi bi-folder"></i></span>  

        {% include 'qcm/breadcrumb_student.html' %}
{% endblock %}

{% block page_menu_right %}


{% endblock %}

{% block css_files %}
{% endblock %}



{% block body  %}

{% include 'preloader.html' %}

<section class="content_list" id="principal_section"> 
    <form action="" methode="POST" >  
        <h2 class='thin'>Mes parcours</h2>
        {% for parcours in parcourses %} 
            {% get_min_score parcours student as data_min %}
            {% include 'qcm/parcours_tag_student.html' %}
        {% endfor  %}   

        {%  if evaluations %}
        <div class="row"></div> 
        <h2 class='thin'>Mes évaluations</h2>
            {%  for evaluation in  evaluations %} 
                {% get_min_score evaluation student as data_min %} 
                {% include 'qcm/evaluation_tag_student.html' %}
            {% endfor %}
        {% endif %}


        {%  if quizzes %}
        <div class="row"></div> 
        <h2 class='thin'>Mes quizz</h2>
            {%  for q in  quizzes %}  
                <div class="col-xs-6 col-md-4 col-lg-3" > 
                    <div class="card" style="float:none; height:250px;width:250px;position: relative;">
                        {% if q.vignette %}
                            <img src="{{ q.vignette.url }}" width="250px" height="150px" border=0 />
                        {% else %}
                            <img src="{% static 'img/quizz.jpg' %}" width="250px" border=0  />
                        {% endif %}

                        
                            <div style="padding: 10px;width:100%; height:75px; position:absolute;bottom: 0px">

                                <a {% if q.is_numeric and not q.is_video %} href="{% url 'goto_quizz_student' q.id  %}" target="_blank"{% else %} href="{% url 'show_quizz_student' q.id  %}" {% endif %}  style="font-weight: normal">

                                {{ q.title|truncatechars:28 }} 
                                </a>

                                <small>
                                <a href="#" data-toggle='modal' class="show_my_quizz_result" data-target='#my_quizz_results' data-quizz="{{ q.id }}" class="pull-right" style="bottom:40px; right:15px; position:absolute;font-size: 30px">
                                    {% if  q.is_video %}
                                        <i class="bi bi-trophy" title="Résultats" style="font-size: 20px"></i>
                                    {% elif  q.is_numeric %}
                                        <i class="bi bi-trophy" title="Résultats" style="font-size: 20px"></i>
                                    {% endif %}
                                </a>
         


                                    <br/>
                                <i class="fa fa-barcode fa-xs"></i> {{ q.code }} 
                                <span class="pull-right" style="bottom:10px; right:10px; position:absolute;font-size: 30px">
                                    {% if  q.is_video %}
                                       <i class="bi bi-controller" title="Jeu SacadoQuizz"></i>
                                    {% elif  q.is_numeric %}
                                        <i class="bi bi-play" title="Quizz numérique"></i>
                                    {% else %}
                                        <i class="bi bi-aspect-ratio" title="Projection pour papier"></i>
                                    {% endif %}
                                </span>
                                <br/> 
                                {{ q.questions.count }} diapos</small> 
                            </div> 
                            
                        
                    </div>
                </div>
            {% endfor %}
        {% endif %} 


        {%  if flashpacks %}
        <div class="row"></div> 
        <h2 class='thin'>Mes flashpack</h2>
            {%  for flashpack in  flashpacks %} 
                <div  class="box box-widget widget-user-2"  
                      style="{% if bibliotex.vignette %}background-image: url('{{ bibliotex.vignette.url }}');{% else %} background-image: url('{% static 'img/flash_accueil.png' %}');{% endif %} background-size: cover;">
                    <div class="handler widget-user-header">
                        <!-- Add signet to folder -->
                        <div class="group_show  no_visu_on_load" id="bibliotex_show{{flashpack.id }}"> 
                            <div class="row"> 
                                <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_bibliotex_title">
                                    <b>Savoir faire ciblés</b>
                                </div> 
                            </div>

                            {% for t in flashpack.themes.all %}
                            <div class="row"> 
                                <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_body">
                                    {{ t.name }}
                                </div> 
                            </div>
                            {% endfor %}


                            <div style="clear:both"></div>
                        </div>
                        <div class="box_title_vignette box_title_vignette_color" style="background-color : {{ flashpack.color}};"> 
                            <span class="thin" style="padding-left:5px;color:{{ flashpack.color|contrast_color }};"  >             
                                {% if flashpack.title|length > 40 %}
                                <span class="helper_tip" style=" font-size:16px; color:white">{{ flashpack.title|truncatechars:"40" }}
                                    <div class="helper_tip_text_right" style="font-size:14px;">{{ flashpack.title }}</div>
                                </span>
                                {% else %}
                                    {{ flashpack.title}}
                                {% endif %}
                            </span>    
                        </div>
                    </div>
                    <div class="box-footer" style="position: relative; padding-top:20px;opacity: 0.95">
                        <div class="row"> 
                           <div class="col-lg-7 col-xs-7">
                                {{ flashpack.flashcards.count}} flashcards
                            </div>  
                           <div class="col-lg-5 col-xs-5" align="right">
                                {% if flashpack.is_creative %} 
                                <a href="{% url 'set_flashcards_to_flashpack' flashpack.id %}" >
                                    <span class="helper_tip" style=" font-size:24px;"> 
                                        {% if flashpack.is_comments %} 
                                        <i class="bi bi-cloud-plus-fill text-validate"></i>
                                        <div class="helper_tip_text_right" style="font-size:14px;">Lire les commentaires des flashcards</div>
                                        {% else %}
                                        <i class="bi bi-cloud-plus  text-validate"></i>
                                        <div class="helper_tip_text_right" style="font-size:14px;">Proposer des flashcards</div>
                                        {% endif %}
                                    </span>
                                </a>
                                {% endif %}                                
                            </div>                                   
                        </div>
                        {% block accueil %} 
                        <div class="row" style="padding-top:10px;"> 
                            <div class="col-lg-6 col-xs-6">
                                <a href="{% url 'flashpack_results' flashpack.id 0 %}" class="edit" ><i class="bi bi-trophy"></i> Mes résultats</a>
                            </div>                        
                        </div>
                        {% endblock %}
                        <div class="row" style="padding-top:10px;"> 
                            <div class="col-lg-12 col-xs-12">
                                {% get_today_cards flashpack today student as spaced_repetitions %}  
                                {% if spaced_repetitions.count %}
                                    <a href="{% url 'show_flashpack' flashpack.id %}" class="edit" onclick="return launch_flashpack()"><i class="bi bi-play"></i> Tester mes connaissances <small>{{ spaced_repetitions.count }} <i class="bi bi-stack"></i> </small></a>                    
                                {% else %}
                                    <a href="{% url 'revise_flashpack' flashpack.id %}" class="edit" onclick="return launch_flashpack()"><i class="bi bi-bootstrap-reboot"></i> Revoir les flashcards </a> 
                                {% endif %}
                            </div>                        
                        </div>

                    </div>
                </div>   
            {% endfor %}
        {% endif %} 



        {%  if bibliotexs %}
        <div class="row"></div> 
        <h2 class='thin'>Mes BiblioTex</h2>
            {%  for bibliotex in  bibliotexs %} 
                <div  class="box box-widget widget-user-2"  
                      style="{% if bibliotex.vignette %}background-image: url('{{ bibliotex.vignette.url }}');{% else %} background-image: url('{% static 'img/bibliotex.jpg' %}');{% endif %} background-size: cover;">
                    <div class="handler widget-user-header">
                        <!-- Add signet to folder -->
                        <div class="group_show  no_visu_on_load scrolling_overflow" id="bibliotex_show{{bibliotex.id }}"> 
                            <div class="row"> 
                                <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_bibliotex_title">
                                    <b>Savoir faire ciblés</b>
                                </div> 
                            </div>

                            {% for k in bibliotex.knowledges %}
                            <div class="row"> 
                                <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_body">
                                    {{ k.name }}
                                </div> 
                            </div>
                            {% endfor %}
                            <div class="row"> 
                                <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_bibliotex_title">
                                    <b>compétences ciblées</b>
                                </div> 
                            </div>
                            
                            <div class="row"> 
                                <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_body">
                                    {% for s in bibliotex.skills %}
                                        {{ s }}. 
                                    {% endfor %}
                                </div> 
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="box_title_vignette box_title_vignette_color" style="background-color : {{ bibliotex.color}};"> 
                            <a href="{% url 'parcours_show_bibliotex_student' 0 bibliotex.id  %}"  style="color:{{ bibliotex.color|contrast_color }};"  >             
                                {% if bibliotex.title|length > 40 %}
                                <span class="helper_tip" style=" font-size:16px; color:white">{{ bibliotex.title|truncatechars:"40" }}
                                    <div class="helper_tip_text_right" style="font-size:14px;">{{ bibliotex.title }}</div>
                                </span>
                                {% else %}
                                    {{ bibliotex.title}}
                                {% endif %}
                            </a>    
                        </div>



                    </div>
                    <div class="box-footer" style="position: relative; padding-top:10px;">
                        <div class="row"> 
                           <div class="col-lg-7 col-xs-7">
                                 {{ bibliotex.exotexs.count}} exercices   
                            </div>
                            <div class="col-lg-5 col-xs-5">
 
                            </div> 
                        </div>
                        <div class="row"> 
                           <div class="col-lg-6 col-xs-6">
                                <a href="{% url 'print_bibliotex_by_student' bibliotex.id  %}" class="edit bibliotex_shower" ><i class="bi bi-download"></i>  <span class="label_icon">Télécharger</span>  </a>
                            </div>
                            <div class="col-lg-6 col-xs-6">
                                <a href="javascript:void();" class="edit bibliotex_shower" data-bibliotex_id="{{bibliotex.id }}"><i class="fa fa-fw fa-mortar-board"></i>  <span class="label_icon">Compétences</span>
                                </a>
                            </div> 
                        </div>
                    </div>
                </div> 
            {% endfor %}
        {% endif %} 




 
    </form>

</section>

 

{% endblock  %}   
