 
    <table class="table table-striped table-hover display">
        <thead> 
        <tr>
            <th>Nom</th>
            <th>Prénom</th> 
            <th>Courriel</th> 
            <th>Ident.</th> 
            <th>Date d'inscription</th> 
            <th>Dernière connexion</th>
        </tr>
        </thead>
        <tbody>
        {% for g in groups %}
            <tr style="background-color: #5d4391;color:#FFF">
                <td>{{ g.name }} </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            {% for student in g.students.all|dictsort:"user.last_name" %}
                <tr>
                    <td>{{ student.user.last_name|lower|title }} </td>
                    <td>{{ student.user.first_name|lower|title }} </td>
                    <td>{{ student.user.email }} </td>
                    <td>{{ student.user.username }} </td>
                    <td>{{ student.user.date_joined|date:"Y M d" }} </td>
                    <td>{{ student.user.last_login|date:"Y M d H:i" }} </td>
                </tr>
            {% endfor %}
        {% endfor %}    
        </tbody>
    </table>
 
 <script>
 $('table.display').DataTable({
    "pageLength": 50,
    "ordering": true,
    "retrieve": true,
    "paging": false
                } );
</script>
