{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    <script>
        require(['script/ajax-list-exercise']);
    </script> 
{% endblock %}


{% block page_title %}
    <i class="bi bi-explicit sacado_color_text"></i> Les exercices SACADO
{% endblock %}

{% block page_menu_right %}

    {% if sacado_asso %}

    <li> <a href="{% url 'exercise_custom_show_shared' %}" class="btn btn-new"> Exercices personnels mutualisés</a> </li>
    {% else %}
    <li> <a href="#" class="btn btn-new no_sacado_asso" title="Version établissement requise"> Exercices personnels mutualisés</a> </li>
    {% endif %}

    {% if request.user.is_superuser and  '/admin' in request.path %}
    <li ><a href="{% url 'create_supportfile' %}"   class="btn btn-new"><img width="25px" src="{% static 'img/plus.png' %}"/> Nouveau support GGB </a> </li> 
    {% endif  %}

{% endblock %}


{% block body %}
{% include 'preloader.html' %}
<section class="content_container">
    {% if datas %}
        {% include 'searching_bar.html' %}

  
        <div id="content_exercises">
        </div>
    {% else %}

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="alert alert-danger">
                <i class="fa fa-warning fa-2x"></i> Avant de visiter les exercices par niveau, vous devez choisir vos <a href="{% url 'profile' %}">niveaux préférés</a>.
            </div>
        </div>
    </div>

    {% endif %}

</section>
{% endblock %}