{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
{% endblock %} 

  

{% block page_title %}
    <span style="color:{{ parcours.color|contrast_color_title }}"><i class="bi bi-calendar-check"></i>  {{ parcours }} </span>   <small><img src="{% static 'img/angle-right.png' %}"/> Tâches</small>   
{% endblock %}


{% block page_menu_right %}
{% if today %}
    <li style="font-size:14px; position: absolute;right:0px; top:-6px;" > {{ today|date:"d N Y" }}  </li>
{% endif %}
   {% include 'qcm/submenu_parcours.html' %}    


{% endblock %}

{% block body %}
<section class="content_main">  
 
 

<div class="row"> 
    <div class="col-sm-12 col-md-12">
        <table class="table table-hover display" style="width:100%">
            <thead> 
                <tr>
                    <td></td><td></td><td></td>
                </tr>
            </thead>
            <tbody>
                {% for r in relationships  %} 
                <tr {% if r.date_limit < date_today %} style="background-color:#DDD" {% endif %}> 
                    <td >   
                        <a href="{% url 'show_this_exercise' r.exercise.id %}" target="_blank">

                        
                            <img src="{{ r.exercise.supportfile.imagefile.url }}" class="imagefile">


 

                                        {% if  r.exercise.supportfile.title %}  
                                            {{  r.exercise.supportfile.title|cleanhtml|capfirst }}  
                                        {% else %}  
                                            {{  r.exercise.supportfile.annoncement|cleanhtml|capfirst }} 
                                        {% endif %}



                                        {% if r.exercise.supportfile.calculator %}
                                          <img src="{% static 'img/calculator.png' %}" width="30px" />
                                        {% else %}
                                          <img src="{% static 'img/no_calculator.png' %}"  width="30px" />
                                        {% endif  %}   <br>
                            <i class="fa fa-fw fa-barcode"></i> {{ r.exercise.supportfile.code }}      <br>
                            <i class="fa fa-fw fa-clock-o"></i> {{ r.exercise.supportfile.duration }} minutes<br>
                            <i class="fa fa-fw fa-save"></i> {{ r.exercise.supportfile.situation }}  situation{{ r.exercise.supportfile.situation|pluralize }}<br>
                        </a>
                    </td>
                    <td>
                        {% get_nb_task_done  r.exercise  r.parcours  as nb_task_done %}
                        {% if r.parcours.linked %} {{ nb_task_done}}/{{  r.parcours.students.count  }}{% else %} {{ nb_task_done}}/{{ r.parcours.students.count  }} {% endif %}<br/>
                        {% get_who_are_done  r.exercise  r.parcours   as who_are %}
                        {%  for s in who_are|dictsort:"student.user.last_name" %} 
                        <small>{{ s.student.user.last_name|lower|capfirst }}{% if not forloop.last %}, {% endif %} </small>
                        {% endfor %}  
                    </td>
                    <td>{{ r.date_limit }} <br/><br/>

                        <a href="{% url 'detail_task_parcours'   r.parcours.id  r.exercise.id  0 %}" class="btn btn-{% if r.date_limit < date_today %}default{% else %}sacado{% endif %} ">En détails</a>
                    </td>
                </tr>  
                {% endfor %}


                {% for c in customexercises  %} 
                <tr {% if c.date_limit < date_today %} style="background-color:#DDD" {% endif %}> 
                    <td >   
                        <a href="{% url 'show_this_exercise' r.exercise.id %}" target="_blank">

                        
                            <img src="{{ c.imagefile.url }}" class="imagefile">


                            {{ c.instruction|cleanhtml|capfirst  }} 
                                        {% if c.calculator %}
                                          <img src="{% static 'img/calculator.png' %}" width="30px" />
                                        {% else %}
                                          <img src="{% static 'img/no_calculator.png' %}"  width="30px" />
                                        {% endif  %}   <br>
                            <i class="fa fa-fw fa-barcode"></i> {{ c.code }}      <br>
                            <i class="fa fa-fw fa-clock-o"></i> {{ c.duration }} minutes<br>
                        </a>
                    </td>
                    <td>
                        {% get_nb_task_done  c  parcours  as data %}
                        {% if  parcours  %} {{ data.nb_task_done}}/{{   parcours.students.count  }}{% else %} {{ data.nb_task_done}}/{{  parcours.students.count  }} {% endif %}<br/>
 
                        {%  for s in data.custom_tab|dictsort:"student.user.last_name" %} 
                        <small>{{ s.student.user.last_name|lower|capfirst }}{% if not forloop.last %}, {% endif %} </small>
                        {% endfor %}  
                    </td>
                    <td>{{ c.date_limit }} <br/><br/>

                        <a href="{% url 'detail_task_parcours' parcours.id  c.id  1   %}" class="btn btn-{% if c.date_limit < date_today %}default{% else %}default{% endif %} ">En détails</a>
                    </td>
                </tr>  
                {% endfor %}


            </tbody>

        </table>



    </div>
</div> 
    <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default "/></a>
</section>
{% endblock %}