{% load static %}
{% load item_tags %}
{% load widget_tweaks %}

<div class="notification-container-right dismissR" id="order_exercises">
    <div class="row">
        <div class="col-lg-12 col-xs-12" style="text-align:center;">
            <a href="#" id="closeOrganiser" class="pull-right"> <i class="fa fa-times"></i></a>
            <h1 class='sacado'>Organiser les exercices</h1>
        </div>
    </div>
    <div class="row">
        <form action="#" method="POST">
            <input type="hidden" value="{% if parcours %}{{ parcours.id }}{% endif %}" name="parcours" id="parcours"/>
            <div class="col-lg-12 col-xs-12">
                <ul id="exercise_sortable_list">
                    {% for relation in relationships_customexercises|dictsort:"ranking" %}
                        {% if relation.exercise %}
                        <li class="sorted_list  {% if  relation.exercise.supportfile.is_title %}bg-gray-active{% endif %}">
                            <table>
                                <tr>
                                    <td style="width:20px">
                                        <i class="fa fa-sort"></i>
 
                                            <br><br> {{forloop.counter }}. 
 
                                    </td>
                                    {% if relation.exercise.supportfile.imagefile %}
                                    <td style="width:210px">
                                        <img src="{{ relation.exercise.supportfile.imagefile.url }}" width="200px">
                                    </td>
                                    {% endif %}
                                    <td> 
                                        {% if  relation.exercise.supportfile.is_title %} 
                                            <h1 class="thin">{{  relation.exercise.supportfile.title|cleanhtml|capfirst }}</h1>
                                        {% elif  relation.exercise.supportfile.is_title %} 
                                            <h3 class="thin">{{  relation.exercise.supportfile.title|cleanhtml|capfirst }}</h3>    
                                        {% elif  relation.exercise.supportfile.title %}  
                                            {{  relation.exercise.supportfile.title|cleanhtml|capfirst }}  
                                        {% elif relation.exercise.supportfile.annoncement %}
                                            {{ relation.exercise.supportfile.annoncement|cleanhtml }}
                                        {% else %}
                                            {{ relation.exercise.supportfile.knowledge.name }}
                                        {% endif %}
                                        <input type="hidden" value="{{ relation.exercise.id }}" class="sorted_exercise_id" data-custom=0 />
                                    </td>
                                </tr>
                            </table>
                        </li>
                        {% else %}
                        <li class="sorted_list">
                            <table>
                                <tr>
                                    <td style="width:20px">
                                        <i class="fa fa-sort"></i><br><br>{{forloop.counter }}.  
                                    </td>
                                    {% if relation.imagefile %}
                                    <td style="width:210px">
                                        <img src="{{ relation.imagefile.url }}" width="200px">
                                    </td>
                                    {% else %}
                                    <td style="width:210px">
                                        <img src="{% static 'img/custom_exercise.jpg' %}" width="200px">
                                    </td>
                                    {% endif %}
                                    <td>
                                        {% if relation.instruction %}
                                        {{  relation.instruction|truncatewords:"30"|safe }}
                                        {% endif %}
                                        <input type="hidden" value="{{ relation.id }}" class="sorted_exercise_id" data-custom=1  />
                                    </td>
                                </tr>
                            </table>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>
</div>

