{% load static %}
{% load widget_tweaks %}
{% load item_tags %}
     



<div  class="box box-widget widget-user-2 folder_sorter height_max_box"  style="{% if parcours.vignette %}background-image: url('{{parcours.vignette.url }}');{% endif  %} background-size: 100% 100%;background-color:{{parcours.color }}"> 
    <div class="handler widget-user-header">
         {% if  student.user.school %}  
            {% if  data_min.pc > 0 %}
            <div class="background_badge" >
                <i class="fa fa-trophy" style="color:{{ data_min.colored }};font-size: {{ data_min.size }};z-index:999999; "></i>
                <br/>
                <font style="font-size:12px;color:{{parcours.color }};">{{ data_min.label }}</font>
            </div>
            {% endif  %}
        {% endif  %} 
    </div>

    <!-- box-footer DES FONCTIONNALITES  -->
    <div class="parcours_tag_student" style="color:{{ parcours.color|contrast_color }}">  
        <div class="parcours_tag_student_fermeture no_visu_on_load" ><i class="fa fa-times"></i> Fermer </div>

        <a href="javascript:void();" class="show_parcours_tag_student_submenu"  style="color:{{ parcours.color|contrast_color }}">{{ parcours.title|truncatechars:15  }} <i class="bi bi-folder-symlink" style="color:{{ parcours.color|contrast_color }}"></i></a>
        <div class="parcours_tag_student_submenu no_visu_on_load" >
            <div class="row extend_student "> 
                <div class="col-xs-12">  
                    <a href="{% url 'show_parcours_student' parcours.id   %}" class="edit"><i class="bi bi-explicit" ></i> {{  data_min.nb_exercise }} exercices</a> 
                    <span class="pull-right avncmnt" style="color:#39fa5a;cursor: help;" >{{ data_min.pc }}%  
                        <span class="text_avncmnt">Avancement</span> 
                    </span>

                    <div style="width:{{ data_min.pc }}%; height:5px; background-color: #39fa5a;font-size:6px;text-align: right;color:#FFF;position: absolute;top:170px;z-index:99;border-radius :0% 10% 10% 0%;"></div>
                    {% if data_min.pc > 0 %}
                    <div style="width:100%; height:5px; background-color: #e9e6f0;font-size:6px;text-align: right;color:#FFF;position: absolute;top:170px;z-index:90;"></div>
                    {% endif %}

                </div> 
            </div>
            <div class="row extend_student"> 
                <div class="col-xs-12">  
                    <a href="{% url 'show_course_student' 0 parcours.id %}" class="edit"><i class="bi bi-file-earmark-font"></i> {{ data_min.nb_cours }} cours</a>                          
                </div>
            </div>
            <div class="row extend_student"> 
                <div class="col-xs-12">  
                    <a href="{% url 'list_parcours_quizz_student' parcours.id %}" class="edit"><i class="bi bi-list-ul" ></i>  {{ data_min.nb_quizz }} quizz  </a>                                                
                </div>   
            </div>
            <div class="row extend_student">  
                <div class="col-xs-12">  
                    <a href="{% url 'list_parcours_bibliotex_student' parcours.id %}" class="edit"><i class="bi bi-bootstrap" ></i> {{ data_min.nb_bibliotex }} biblioTex</a>
                </div>  
            </div>

            <div class="row extend_student">  
                <div class="col-xs-12">  
                    <a href="{% url 'list_parcours_flashpack_student' parcours.id %}" class="edit"><i class="bi bi-stack" ></i>  {{ data_min.nb_flashpack }} flashpacks</a>
                </div>  
            </div>

 
        </div>
    </div>

</div>  