{% load static %}
{% load widget_tweaks %}
{% load item_tags %}
     



<div  class="box box-widget widget-user-2 folder_sorter height_max_box"  style="{% if parcours.vignette %}background-image: url('{{parcours.vignette.url }}');{% endif  %} background-size: 100% 100%;background-color:{{parcours.color }}"> 
    <div class="handler widget-user-header">
         {% if  student.user.school %} 
         {% get_min_score parcours student as data_min %} 
            {% if  data_min.pc > 0 %}
            <div class="background_badge" >
                <i class="fa fa-trophy" style="color:{{ data_min.colored }};font-size: {{ data_min.size }};z-index:999999; "></i>
                <br/>
                <font style="font-size:12px;color:{{parcours.color }};">{{ data_min.label }}</font>
            </div>
            {% endif  %}
        {% endif  %} 
    </div>

    
    <!-- box-footer DES FONCTIONNALITES  -->

    <div class="parcours_tag_student" style="color:{{ parcours.color|contrast_color }}">  
        <div class="parcours_tag_student_fermeture no_visu_on_load" ><i class="fa fa-times"></i> Fermer </div>
        <a href="{% url 'show_parcours_student' parcours.id   %}" style="color:{{ parcours.color|contrast_color }}">{{ parcours.title  }} <i class="bi bi-box-arrow-right"></i></a><br/> 
        <div style="font-size:16px">
            {{  data_min.nb_exercise }} exercices 
            <span class="pull-right" style="font-size:30px;color:#39fa5a;" >{{ data_min.pc }}%</span>
        </div>

    </div> 
</div>  