{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

<div  class="box_shared box-widget widget-user-2" 
    style="{% if parcours.vignette %}background-image: url('{{ parcours.vignette.url }}'); background-size: cover;{% endif %}; background-color:{{parcours.color }}">
 
    <div class="handler widget-user-header">
        {% if parcours.is_evaluation %}   
            <div class="icon_evaluation">
                <i class="fa fa-bullseye"></i> 
            </div>
        {% endif %}
        {% if parcours.vignette %}                
            <div class="box_title_underlay_vignette" style="background-color:{{ parcours.color }};">
            </div> 
        {% endif  %}
        <div class="box_title_vignette"> 
            <a href="{% url 'show_parcours_visual'  parcours.id  %}" style="color:{{ parcours.color|contrast_color }};">
                {{ parcours.title|truncatechars:"28" }}
            </a>
        </div>
    </div>
    <div class="box_shared_footer">

        <div class="row box_shared_label"> 
            <div class="col-lg-12 col-xs-12">
                {% for data in parcours.get_themes   %} 
                <b>{{ data.theme.name }}</b> 
                {% endfor %}
            </div> 
        </div>

        {% if parcours.is_sequence %}


        <div class="row box_shared_label"> 
            <div class="col-lg-6 col-xs-6">
                <li class="sanspuce" style="color:{{ parcours.color  }};">
          
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-explicit" viewBox="0 0 16 16">
                      <path d="M6.826 10.88H10.5V12h-5V4.002h5v1.12H6.826V7.4h3.457v1.073H6.826v2.408Z"/>
                      <path d="M2.5 0A2.5 2.5 0 0 0 0 2.5v11A2.5 2.5 0 0 0 2.5 16h11a2.5 2.5 0 0 0 2.5-2.5v-11A2.5 2.5 0 0 0 13.5 0h-11ZM1 2.5A1.5 1.5 0 0 1 2.5 1h11A1.5 1.5 0 0 1 15 2.5v11a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 13.5v-11Z"/>
                    </svg>


                     {{ parcours.nb_exercises }} exercice{{ parcours.nb_exercises|pluralize }} 
                </li>

                <li class="sanspuce" style="color:{{ parcours.color }};">
               
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-square" viewBox="0 0 16 16">
                      <path d="M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
                      <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
                    </svg>




                     {{ parcours.nb_exercices_and_cours.nb_cours }} cours
                 </li>


                

                <li class="sanspuce" style="color:{{ parcours.color }};">
                    <i class="bi bi-person-circle"></i> {{ parcours.teacher}} 
                </li>
            </div> 
            <div class="col-lg-6 col-xs-6">
                <div class="row" align="center" align="center"> 
                    <div class="col-lg-4 col-xs-4">
                            <a href="{% url 'show_parcours'  0 parcours.id  %}" class="edit"  target="_blank"  title="Voir la séquence"  ><i class="bi bi-eye" style="font-size: 22px"></i>  </a>
                    </div> 
                    <div class="col-lg-4 col-xs-4">
                            <a href="{% url 'clone_sequence' parcours.id  %}" class="edit" title="Récupérer les documents"  > <i class="bi bi-folder" style="font-size: 22px"></i> </a>  
                    </div> 
                </div>
            </div> 
        </div>

        {% else %}
        <div class="row box_shared_label"> 


            <div class="col-lg-6 col-xs-6">
                <li class="sanspuce" style="color:{{ parcours.color  }};">
          
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-explicit" viewBox="0 0 16 16">
                      <path d="M6.826 10.88H10.5V12h-5V4.002h5v1.12H6.826V7.4h3.457v1.073H6.826v2.408Z"/>
                      <path d="M2.5 0A2.5 2.5 0 0 0 0 2.5v11A2.5 2.5 0 0 0 2.5 16h11a2.5 2.5 0 0 0 2.5-2.5v-11A2.5 2.5 0 0 0 13.5 0h-11ZM1 2.5A1.5 1.5 0 0 1 2.5 1h11A1.5 1.5 0 0 1 15 2.5v11a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 13.5v-11Z"/>
                    </svg>


                     {{ parcours.nb_exercises }} exercice{{ parcours.nb_exercises|pluralize }} 
                </li>
                <li class="sanspuce" style="color:{{ parcours.color }};">
               
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-square" viewBox="0 0 16 16">
                      <path d="M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
                      <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
                    </svg>




                     {{ parcours.course.count }} cours
                 </li>
                <li class="sanspuce" style="color:{{ parcours.color }};">
                    <i class="bi bi-person-circle"></i> {{ parcours.teacher}} 
                </li>
            </div> 
            <div class="col-lg-6 col-xs-6">

                <div class="row" align="center" align="center"> 
                    <div class="col-lg-4 col-xs-4">
                            <a href="{% url 'show_parcours_visual'  parcours.id  %}" class="edit"  target="_blank"  title="Voir le parcours"  ><i class="bi bi-eye" style="font-size: 22px"></i>  </a>
                    </div> 
                    <div class="col-lg-4 col-xs-4">
                            <a href="{% url 'clone_parcours' parcours.id 0 %}" class="edit" title="Récupérer les exercices"  > <i class="bi bi-explicit" style="font-size: 22px"></i> </a>  
                    </div> 
                    <div class="col-lg-4 col-xs-4" >
                        {% if parcours.course.all|length > 0 %}
                        <a href="{% url 'clone_parcours' parcours.id 1 %}"  class="edit" title="Récupérer les exercices et les cours associés" >

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-explicit" viewBox="0 0 16 16">
                              <path d="M6.826 10.88H10.5V12h-5V4.002h5v1.12H6.826V7.4h3.457v1.073H6.826v2.408Z"/>
                              <path d="M2.5 0A2.5 2.5 0 0 0 0 2.5v11A2.5 2.5 0 0 0 2.5 16h11a2.5 2.5 0 0 0 2.5-2.5v-11A2.5 2.5 0 0 0 13.5 0h-11ZM1 2.5A1.5 1.5 0 0 1 2.5 1h11A1.5 1.5 0 0 1 15 2.5v11a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 13.5v-11Z"/>
                            </svg>

                            <i class="bi bi-plus"> </i>  

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-square" viewBox="0 0 16 16">
                              <path d="M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
                              <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
                            </svg> 
                        </a>
                        {% endif %}
                    </div>
                </div>

            </div> 
        </div>

        {% endif %}

        <div class="row box_shared_label_last"> 
            <div class="col-lg-12 col-xs-12">
   
    
            </div> 
        </div>
    </div>
</div>   


