
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <a data-dismiss="modal" class="pull-right"><i class="fa fa-times"></i></a>
         {{ knowledge.name }}
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <table class="table table-hover" style="width:100%">
            <tbody>
                {% for exercise in exercises  %}
                    {% if group.parcours %}
                        {%  get_is_selected  exercise  group.parcours  as  e_is_selected %} 
                    {% endif %}
                    <tr {% if group.parcours %}{% if e_is_selected %} style="background-color: #f5f6f9" {% endif %}{% endif %}>
                        <td class="sublistingtd"> 
                                   
                            <a href="{% url 'show_this_exercise' exercise.id   %}" class="listing" target="_blank">  
                                                                    {% if  exercise.supportfile.title %}  
                                                    {{  exercise.supportfile.title|cleanhtml|capfirst }}  
                                                {% else %}
                                                    {{ exercise.supportfile.annoncement|cleanhtml }}
                                                {% endif %}  <br>
                                   
                                <img src="{{ exercise.supportfile.imagefile.url }}" width="200px" style="float:left">
                                
                                <span style="font-size:16px;">                                  
                                {% if exercise.supportfile.calculator %}
                                  <img src="{% static 'img/calculator.png' %}" width="30px" class="pull-right" />
                                {% else %}
                                  <img src="{% static 'img/no_calculator.png' %}"  width="30px" class="pull-right"  />
                                {% endif  %}     
                                    <i class="fa fa-fw fa-barcode"></i> {{ exercise.supportfile.code }} {% if exercise.knowledge.name|make_list|length < 140 %}<br>{% endif %}
                                    <i class="fa fa-fw fa-clock-o"></i> {{ exercise.supportfile.duration }} minutes {% if exercise.knowledge.name|make_list|length < 140 %}<br>{% endif %}
                                    <i class="fa fa-fw fa-save"></i> {{ exercise.supportfile.situation}} situation{{ exercise.supportfile.situation|pluralize}}  minimum
                                </span>
                            </a>
                        </td>
 
                    </tr>
                {% empty %} 
                    <tr>
                        <td> 
                            <div class="alert alert-danger">Aucun exercice.</div>
                        </td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
</div>
