{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>

    <script>
        require(['script/ajax-parcours']);
    </script> 
{% endblock %} 


 

{% block page_title %}
<span style="color:{{ parcours.color }}">  
    {% if parcours.is_sequence %}<i class="bi bi-ladder"></i> {% else %} <i class="fa fa-th"></i>{% endif %}
</span>

    {% include 'qcm/breadcrumb.html' %}

    {% if user.is_testeur or user.is_superuser %} 
        <a href="#" data-toggle='modal' data-target='#reporting'>
            <sup><i class="fa fa-comment fa-xs"></i></sup>
        </a>
    {% endif %} 

    {% if nb_point_display %}
        <small>{{ nb_point }} - {{ nb_time|int_minutes }}</small> 
    {% endif %} 

{% endblock %}



{% block page_menu_right %}

    {% include 'qcm/submenu_parcours.html' %}

{% endblock %}

 

{% block body %}

<style type="text/css">
#response_div{
    display:none;
}
body{
    overflow-x: hidden;
}


</style>

{% include 'preloader.html' %}
<div class="row" id="response_div">
    <div class="col-sm-12 col-md-12">
        <div class="alert alert-success" id="response">Votre commentaire audio est enregistré</div>
    </div>
</div>



<form action="" methode="POST">      
    <section class="content_list content_list_add">
     
     
        {% if parcours.stop %}
        <div class="row" >
            <div class="col-sm-12 col-md-12">
                <div class="alert alert-danger" >{% if parcours.is_evaluation %}Cette évaluation est verrouillée {% else %}Ce parcours est verrouillé {% endif %} à partir du <b>{{ parcours.stop|date:"d F Y à H:i" }}</b></div>
            </div>
        </div>
        {% endif %}

        {% if parcours.is_sequence %}
            <div class="row">
                <div class="col-sm-12 col-md-12" >
                    <h1 class="thin">La séquence  
                        <a href="#" data-toggle='modal' data-target='#documentpopup' ><i class="fa fa-plus-circle fa-3x btn-create-group" ></i> 
                        </a>
                    </h1>
                </div>
                <div class="col-sm-12 col-md-12"  id="sequence_sorter">
                    {% for rc in relationships_customexercises %}
                        {% if rc.type_id == 0 %}
                            {%  if rc.exercise.supportfile.is_title %}     
                                <h2 class="listing_div thin" style="padding-left: 30px; width:100%; clear:both"> 
                                    {% if rc.is_header_of_section  %}
                                        <a href="#" data-toggle='modal' data-target='#head_of_section' style="color:{{ parcours.color  }}"    data-relation_id='{{ rc.id }}'  class="header_shower" title="Cours associé à cette section">                       
                                            {% if  rc.exercise.supportfile.title %}  
                                                {{  rc.exercise.supportfile.title|cleanhtml|capfirst }}  
                                            {% else %}
                                                {{ rc.exercise.supportfile.annoncement|cleanhtml }}
                                            {% endif %}   <sup><i class="fa fa-desktop" style="font-size: 9px"></i></sup></a>
                                    {% else %}
                                        {% if  rc.exercise.supportfile.title %}  
                                            {{  rc.exercise.supportfile.title|cleanhtml|capfirst }}  
                                        {% else %}
                                            {{ rc.exercise.supportfile.annoncement|cleanhtml }}
                                        {% endif %}
                                    {% endif %}
                                </h2>
                            {%  elif rc.exercise.supportfile.is_subtitle %}
                                <h3 class="listing_div thin" style="padding-left: 30px; width:100%; clear:both"> 
                                    {% if rc.is_header_of_section %}
                                        <a href="#" data-toggle='modal' data-target='#head_of_section' style="color:{{ parcours.color  }}"  data-relation_id='{{ rc.id }}' class="header_shower" title="Cours associé à cette sous-section">{{ rc.exercise.supportfile.title|cleanhtml|capfirst }} <sup><i class="fa fa-desktop" style="font-size: 9px"></i></sup></a>
                                    {% else %}
                                        {{ rc.exercise.supportfile.title|cleanhtml|capfirst }}
                                    {% endif %}
                                </h3>
                            {% else %}
                                {% include 'details_document.html' %}
                            {% endif %}  
                        {% else %}
                            {% include 'details_document.html' %}
                        {% endif %}  
                    {% endfor %}

                </div>
            </div>

        {% else %}
            <div class="row {% if accordion %}documents_div documents_div_shadow{% endif %}">
                <div class="col-sm-12 col-md-12"  id="exercise_sorter">
                    

                    <h1 class="thin">Les exercices 
                        {% if accordion %}
                        <span class="un_collapsed"><i class="fa fa-angle-down"></i></span> 
                        <span class="fontLabel" >{{ parcours.nb_exercises }} exercice{{ parcours.nb_exercises|pluralize }}</span> 
                        {% endif %}
                    </h1>
     
                        <input type="hidden" value="{{ parcours.id }}" name="parcours" id="parcours"/>
                        {% for rc in relationships_customexercises %}
                                {%  if rc.exercise.supportfile.is_title %}     
                                    <h2 class="listing_div thin" style="padding-left: 30px; width:100%; clear:both"> 
                                        {% if rc.is_header_of_section  %}
                                            <a href="#" data-toggle='modal' data-target='#head_of_section' style="color:{{ parcours.color  }}"    data-relation_id='{{ rc.id }}'  class="header_shower" title="Cours associé à cette section">                       
                                                {% if  rc.exercise.supportfile.title %}  
                                                    {{  rc.exercise.supportfile.title|cleanhtml|capfirst }}  
                                                {% else %}
                                                    {{ rc.exercise.supportfile.annoncement|cleanhtml }}
                                                {% endif %}   <sup><i class="fa fa-desktop" style="font-size: 9px"></i></sup></a>
                                        {% else %}
                                            {% if  rc.exercise.supportfile.title %}  
                                                {{  rc.exercise.supportfile.title|cleanhtml|capfirst }}  
                                            {% else %}
                                                {{ rc.exercise.supportfile.annoncement|cleanhtml }}
                                            {% endif %}
                                        {% endif %}
                                    </h2>
                                {%  elif rc.exercise.supportfile.is_subtitle %}
                                    <h3 class="listing_div thin" style="padding-left: 30px; width:100%; clear:both"> 
                                        {% if rc.is_header_of_section %}
                                            <a href="#" data-toggle='modal' data-target='#head_of_section' style="color:{{ parcours.color  }}"  data-relation_id='{{ rc.id }}' class="header_shower" title="Cours associé à cette sous-section">{{ rc.exercise.supportfile.title|cleanhtml|capfirst }} <sup><i class="fa fa-desktop" style="font-size: 9px"></i></sup></a>
                                        {% else %}
                                            {{ rc.exercise.supportfile.title|cleanhtml|capfirst }}
                                        {% endif %}
                                    </h3>
                                {% else %}  
                                    {% include 'qcm/details_all_cards.html' %}            
                                {% endif %}  
 
                        {% endfor %}

                        {% if relationships_customexercises|length > 0   %}
                            <a href="{% url 'peuplate_parcours' parcours.id %}" class="helper_tip"><i class="bi bi-cloud-plus-fill btn-create-group" ></i> 
                                <div class="helper_tip_text" >Sélectionner des exercices.</div>
                            </a>
                            <a href="{% url 'parcours_create_custom_exercise' parcours.id 1 %}" class="helper_tip"><i class="fa fa-plus-circle fa-3x btn-create-group" ></i> 
                                <div class="helper_tip_text" >Nouvel exercice personnalisé</div>
                            </a>
                        {% endif %}
                   
                   
                </div>
                {% if accordion %}<div class="shadow_bottom"></div>{% endif %}
            </div>  
 
            {% if relationships_customexercises|length == 0   %}
            <div class="row">
                <div class="col-sm-3 col-md-3" style="margin:40px">
                <a href="{% url 'peuplate_parcours' parcours.id   %}" class="btn btn-danger"> Associer des exercices SACADO à {% if parcours.is_evaluation %} cette évaluation {% else %} ce parcours{% endif %}</a>  
                </div> 
                <div class="col-sm-3 col-md-3" style="margin:40px">
                <a href="{% url 'parcours_create_custom_exercise' parcours.id 0  %}" class="btn btn-danger"> Créer un exercice personnalisé dans {% if parcours.is_evaluation %} cette évaluation {% else %} ce parcours{% endif %}</a>  
                </div> 
            </div>  
            {% endif %}
            {% if parcours.teacher == teacher %}


                {% if parcours.course.count > 0  %}  
                    <div class="row documents_div documents_div_shadow">           
                        <div class="col-sm-12 col-md-12">
                            <h1 class="thin">Les cours   <span class="un_collapsed"><i class="fa fa-angle-down"></i></span> <span class="fontLabel" >{{ parcours.course.count }} cours</span></h1>
                            {% for course in parcours.course.all|dictsort:"ranking" %}
                                {% include 'qcm/course/course_tag.html' %}
                            {% endfor %}
                            <a href="{% url 'create_course' 0 parcours.id %}" class="helper_tip"><i class="fa fa-plus-circle fa-3x btn-create-group" ></i> 
                                <div class="helper_tip_text" >Nouveau cours</div>
                            </a>
                        </div> 
                        <div class="shadow_bottom"></div>
                    </div>  
                {% endif %} 



                {% if parcours.quizz.count > 0  %}
                    <div class="row documents_div documents_div_shadow">           
                        <div class="col-sm-12 col-md-12">
                            <h1 class="thin">Les quizz   <span class="un_collapsed"><i class="fa fa-angle-down"></i></span> <span class="fontLabel" >{{ parcours.quizz.count }} quizz</span></h1>
                            {% for quizz in parcours.quizz.all %}
                                {% include 'tool/quizz_tag.html' %}
                            {% endfor %} 
                            <a href="{% url 'create_quizz_parcours' parcours.id %}" class="helper_tip"><i class="fa fa-plus-circle fa-3x btn-create-group" ></i> 
                                <div class="helper_tip_text" >Nouveau quizz</div>
                            </a>
                        </div> 
                        <div class="shadow_bottom"></div>
                    </div>  
                {% endif %} 

                {% if parcours.bibliotexs.count > 0  %}
                    <div class="row documents_div documents_div_shadow">            
                        <div class="col-sm-12 col-md-12">
                            <h1 class="thin">Les biblioTex   <span class="un_collapsed"><i class="fa fa-angle-down"></i></span> <span class="fontLabel" >{{ parcours.bibliotexs.count }} biblioTex</span> </h1>
                            {% for bibliotex in parcours.bibliotexs.all %}
                                {% include 'bibliotex/bibliotex_tag.html' %}
                            {% endfor %}
                            <a href="{% url 'create_bibliotex_from_parcours' parcours.id %}" class="helper_tip"><i class="fa fa-plus-circle fa-3x btn-create-group" ></i> 
                                <div class="helper_tip_text" >Nouveau bibliotex</div>
                            </a>
                        </div>
                        <div class="shadow_bottom"></div>
                    </div>  
                {% endif %} 



                {% if parcours.flashpacks.count > 0  %}  
                    <div class="row documents_div documents_div_shadow">           
                        <div class="col-sm-12 col-md-12">
                            <h1 class="thin">Les flashpacks   <span class="un_collapsed"><i class="fa fa-angle-down"></i></span> <span class="fontLabel" >{{ parcours.flashpacks.count }} flashpacks</span></h1>
                            {% for flashpack in parcours.flashpacks.all  %}
                                {% include 'flashcard/flashpack_tag.html' %}
                            {% endfor %} 

                            <a href="{% url 'create_flashpack_from_parcours' parcours.id %}" class="helper_tip"><i class="fa fa-plus-circle fa-3x btn-create-group" ></i> 
                                <div class="helper_tip_text" >Nouveau flaspack</div>
                            </a>
                    </div>
                        </div> 
                        <div class="shadow_bottom"></div>
                    </div>  
                {% endif %} 
            {% endif %} 

        {% endif %}




    <div class="row" style="margin-top:50px">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                {% if sacado_asso %}
                    {% if parcours.teacher != teacher  and  parcours.is_share %}
                        <a href="{% url 'clone_parcours' parcours.id 0 %}" class="btn btn-primary">Cloner ce parcours </a>    
                        <a href="{% url 'clone_parcours' parcours.id 1 %}" class="btn btn-primary">Cloner ce parcours avec le cours associé</a>  
                    {% endif %} 
                {% endif %}  
                <input type="button" value="Retour à la page précédente" class="btn btn-default" onclick="javascript:history.back()"/>
            </div>
        </div>
    </div>  


    </section>
</form>
 


<div class="modal fade" id="documentpopup" tabindex="-1" role="dialog" aria-labelledby="sacadopopup" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="width:1000px;font-size: 16px">
        <div class="modal-content">
            <div class="modal-header">
                <h2  class="sacado">Créer/Associer un document  </h2>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>                

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                    Exercices  
                    </div>  
                    <div class="col-sm-4 col-md-4">
                    <a href="{% url 'peuplate_parcours' parcours.id   %}" class="btn btn-warning"> Associer des exercices SACADO </a>  
                    </div> 
                </div> 
                <hr/>
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                    Exercices personnalisés
                    </div>  
                    <div class="col-sm-4 col-md-4">
                    <a href="{% url 'peuplate_custom_parcours' parcours.id   %}" class="btn btn-warning"> Associer  un existant </a>  
                    </div> 
                    <div class="col-sm-4 col-md-4">
                    <a href="{% url 'create_custom_sequence' parcours.id  %}" class="btn btn-danger"> Créer  un nouveau</a>  
                    </div> 
                </div>        
                <hr/>
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                    Cours
                    </div>   
                    <div class="col-sm-4 col-md-4">
                    <a href="{% url 'peuplate_course_parcours' parcours.id   %}" class="btn btn-warning"> Associer un existant</a>  
                    </div>                     
                    <div class="col-sm-4 col-md-4">
                    <a href="{% url 'create_course_sequence' parcours.id   %}" class="btn btn-danger"> Créer un nouveau</a>  
                    </div> 
                </div> 
                <hr/>
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                    Quizz
                    </div> 
                    <div class="col-sm-4 col-md-4">
                    <a href="{% url 'peuplate_quizz_parcours' parcours.id   %}" class="btn btn-warning"> Associer un existant</a>  
                    </div> 
                    <div class="col-sm-4 col-md-4">
                    <a href="{% url 'create_quizz_sequence' parcours.id  %}" class="btn btn-danger"> Créer un nouveau</a>  
                    </div> 
                </div> 
                <hr/>
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                    Flashpack
                    </div> 
                    <div class="col-sm-4 col-md-4">
                    <a href="{% url 'peuplate_flashpack_parcours' parcours.id   %}" class="btn btn-warning"> Associer un existant</a>  
                    </div>
                    <div class="col-sm-4 col-md-4">
                    <a href="{% url 'create_flashpack_sequence' parcours.id   %}" class="btn btn-danger"> Créer un nouveau</a>  
                    </div> 
                </div> 
                <hr/>
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                    BiblioTex
                    </div> 
                    <div class="col-sm-4 col-md-4">
                    <a href="{% url 'peuplate_bibliotex_parcours' parcours.id   %}" class="btn btn-warning"> Associer une existante</a>  
                    </div>
                    <div class="col-sm-4 col-md-4">
                    <a href="{% url 'create_bibliotex_sequence' parcours.id   %}" class="btn btn-danger"> Créer une nouvelle</a>  
                    </div> 
                </div> 

            </div>
        </div>
    </div>
</div>




{% if user.is_testeur or user.is_superuser %} 
<div class="modal fade" id="reporting" tabindex="-1" role="dialog" aria-labelledby="reporting"> 
    <div class="modal-dialog" role="document" >
        <div class="modal-content" style="padding-top :0px;">
            <div class="modal-header">
                <h3>Rapport d'erreurs
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                </h3>
            </div>
            <div class="modal-body">
                <form action="{% url 'reporting' %}" method="POST" enctype='multipart/form-data'> 
                  {% csrf_token %} 

                  <label>Rapport d'erreurs</label>        
                    {{ form_reporting.report }}

                    <input name="document" value="parcours" type="hidden" /> 
                    <input name="document_id"  value="{{ parcours.id }}" type="hidden" />
                    <input name="user"  value="{{ user.id }}" type="hidden" />

                    <input class="btn btn-primary" type="submit"/>          
                    <a href="javascript:history.back()"><input type="button" value="Annuler" data-dismiss="modal" aria-label="Close" class="btn btn-default "/></a>
                </form>
            </div>
        </div>
    </div>           
</div>
{% endif %}

 
<div class="modal fade" id="head_of_section" tabindex="-1" role="dialog" aria-labelledby="head_of_section">
    <div class="modal-dialog" role="document"  style="width:95%;">
        <div class="modal-content" style="padding-top :0px;">
            <div class="modal-header">
                <h3>Cours associé
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                </h3>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">   
                              <div id="courses_from_section"></div>
                        </div>   
                    </div> 
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="remediation" tabindex="-1" role="dialog" aria-labelledby="remediation">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
             
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2  class='sacado'  >Ajouter une aide, une consigne</h2>
            </div>
            <div class="modal-body">
                <div id="remediation_form">
                </div>
                 <div class="row audio" id="audio" >
                    <form enctype="multipart/form-data" action="" method="post">                    
                        <div class="col-sm-12 col-md-12"> 
                            <label>Audio</label>           
                            <div class="form-group">
                                <div id="controls">
                                    <button type="button" id="recordButton" class="btn btn-danger"><i class="fa fa-microphone"></i></button>
                                    <button type="button" id="pauseButton" disabled  class="btn btn-default"><i class="fa fa-pause"></i> </button>
                                    <button type="button" id="stopButton" disabled  class="btn btn-default"><i class="fa fa-stop"></i></button>
                                </div>
                                <div id="formats"></div>
                                <label><small>Vous pouvez vous enregistrer plusieurs fois pour déterminer la meilleure prise.</small></label>
                                <ol id="recordingsList"></ol>
                                <!-- inserting these scripts at the end to be able to use all the elements in the DOM  -->
                                <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
                                <script src="{% static 'js/script/recorder_voice.js' %}"></script>
                            </div>
                        </div>                
                        <input name="id_relationship" id="id_relationship" type="hidden" />
                        <input name="id_parcours" id="id_parcours" type="hidden" value="{{ parcours.id }}" />
                    </form>                    
                </div> 
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="change_parcours" tabindex="-1" role="dialog" aria-labelledby="change_parcours">
    <div class="modal-dialog" role="document" >
        <div class="modal-content" style="padding-top :0px;">
            <form action="{% url 'replace_exercise_into_parcours' %}" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
                <div class="modal-header">
                    <h3>Déplacer un exercice   
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">   
                            <input  name="change_parcours_exercise_id" type="hidden" id="change_parcours_exercise_id"   />
                            <input  name="change_parcours_parcours_id" type="hidden" id="change_parcours_parcours_id"   />
                            <input  name="change_parcours_custom" type="hidden" id="change_parcours_custom"   />                            
                        </div>   
                    </div> 

                    <div class="row">
                        <div class="col-lg-12 col-xs-12">  
                                Si vous souhaitez conserver cet exercice dans le parcours actuel, 
                                cocher aussi le parcours actuel signalé. Sinon l'exercice sera déplacé et n'apparaitra plus dans ce parcours.                       
                        </div>   
                    </div> 
                    <hr/>

                    <div class="row">
                        <div class="col-lg-12 col-xs-12"> 
                            <div class="form-group">
                                {% for p in parcours_group %}

                                   <label> 
                                        <input type="checkbox" name="change_into_parcours" id="change_into_parcours{{ p.id }}"  value="{{ p.id }}" /> 
                                        {% if p.id == parcours.id %}<b>{{ p.title}} <i class="fa fa-hand-o-right"></i> Parcours actuel</b>{% else %} {{ p.title}} {% endif%}
                                    </label>
                                    <br>

                                {% endfor %}
                            </div>
                        </div>   
                    </div> 

                    <div class="row">
                        <div class="col-lg-12 col-xs-12"> 
                            <div class="form-group">
                                <input  value="Déplacer cet exercice dans ces parcours" 
                                        type="submit" class="btn btn-primary" 
                                        onclick="changeExerciceIntoParcours()" />
                                <a href="#" class="btn btn-default" data-dismiss="modal" aria-label="Close">Fermer</a>
                            </div>
                        </div>   
                    </div> 
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="quizz_choice" tabindex="-1" role="dialog" aria-labelledby="quizz_choice">
    <div class="modal-dialog" role="document" style="width: 750px;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h1 class='thin'>Création du quizz</h1>
            </div>
            <div class="modal-body">
                <form action="{% url 'create_quizz' %}" method="POST"  enctype='multipart/form-data'>
                    {% include 'tool/form_quizz_items.html' %}
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}

 
 
 
 