{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}
 
{% block page_title %}
<span style="color:{{ parcours.color }}">  
    <i class="bi bi-explicit"></i> 
</span>
      {% if exercise.supportfile.title %}
        {{ exercise.supportfile.title|cleanhtml  }}
      {% else %}
        {{ exercise.knowledge.name|cleanhtml }}
      {% endif %}


{% endblock %}



{% block page_menu_right %}

{% endblock %}
              


 
{% block require %}
  <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common3.js' %}"></script>  
  <script>
     require(['script/ajax-score']);
  </script>  
{% endblock %} 



{% block body  %}  
<section class="content_main">
 
     <div class="col-sm-1 col-md-1 col-lg-1" align="center">

        <div class="exercise_buttons">
          {% if exercise.supportfile.calculator %}
                <img src="{% static 'img/calculator.png' %}"  with="80px"  height="80px" />
          {% else %}
                <img src="{% static 'img/no_calculator.png' %}"  with="80px"  height="80px"  />
          {% endif  %} 
        </div>

        <div class="exercise_buttons">
        {% if exercise.supportfile.duration == 5 %}
          <img src="{% static 'img/horloge5.png' %}" with="80px"  height="80px"  />
        {% elif exercise.supportfile.duration == 10 %}
          <img src="{% static 'img/horloge10.png' %}" with="80px"  height="80px"/>
        {% elif exercise.supportfile.duration == 15 %}
          <img src="{% static 'img/horloge15.png' %}" with="80px"  height="80px"  />
        {% elif exercise.supportfile.duration == 20 %}
          <img src="{% static 'img/horloge20.png' %}" with="80px"  height="80px"   />
        {% elif exercise.supportfile.duration == 25 %}
          <img src="{% static 'img/horloge25.png' %}" with="80px"  height="80px"   />
        {% elif exercise.supportfile.duration == 30 %}
          <img src="{% static 'img/horloge30.png' %}" with="80px"  height="80px"  />
        {% elif exercise.supportfile.duration == 35 %}
          <img src="{% static 'img/horloge35.png' %}"  with="80px"  height="80px"  />
        {% elif exercise.supportfile.duration == 40 %}
          <img src="{% static 'img/horloge40.png' %}" with="80px"  height="80px" />
        {% elif exercise.supportfile.duration == 45 %}
          <img src="{% static 'img/horloge45.png' %}"  with="80px"  height="80px"  />
        {% elif exercise.supportfile.duration == 50 %}
          <img src="{% static 'img/horloge50.png' %}" with="80px"  height="80px"  />
        {% elif exercise.supportfile.duration == 55 %}
          <img src="{% static 'img/horloge55.png' %}" with="80px"  height="80px"  />
        {% elif exercise.supportfile.duration == 60 %}
          <img src="{% static 'img/horloge60.png' %}" with="80px"  height="80px"  />
        {% else %}
          <img src="{% static 'img/horloge15.png' %}" with="80px"  height="80px"  />
        {% endif  %} 
         <div class="button_caption">{{ exercise.supportfile.duration }} minute{{ exercise.supportfile.duration|pluralize }}</div>
        </div>

        <div class="exercise_buttons">
            <img src="{% static 'img/situation.png' %}" with="75px"  height="75px"  />
            <div class="button_caption">{{ exercise.supportfile.situation }} situation{{ exercise.supportfile.situation|pluralize }}</div>
        </div>

        <div class="exercise_buttons">
            <i class="fa fa-barcode fa-4x"></i>
            <div class="button_caption">{{ exercise.supportfile.code }}</div>
        </div>

    </div>  
    <div class="col-sm-11 col-md-11 col-lg-8">
 
          {% if exercise.audiofile %}
            <div id="audio_open">
                <audio controls>
                    <source src="{{ exercise.audiofile.url }}" type="audio/mpeg">
                    <span class="text-danger">Votre navigateur ne lit pas l'audio.</span>
                </audio>
            </div>
          {% endif %}

          {% for remediation in exercise.remediations %}
              <audio controls>
                  <source src="{{ remediation.mediation.url }}" type="audio/mpeg">
                  <span class="text-danger">Votre navigateur ne lit pas l'audio.</span>
              </audio>
          {% endfor  %}

          {% comment %}
            <div id="preload_div">
                <div id="preload"></div>
                Chargement...
            </div>
          {% endcomment %}

        <div class='justify-content-center'  >
            <div class = 'col-auto' id='ggb_applet_container' ></div>
        <a href="javascript:window.close()"><input type="button" value="Fermer" class="btn btn-default "/></a>
        </div>
    </div> 

    <div class="col-sm-12 col-md-12 col-lg-3">
        <div class="pull-right">
            {% with  exercise.level.image   as level_image %}
               <img src="{% static level_image %}"  />
            {% endwith %}
            <div style="height:50px"></div>            
        </div>


          {% include 'qcm/signal_exercise.html' %}
    </div>  

{% if user.user_type == 2 %}    
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div style="height:30px"></div>

                <hr/>

      
                <form action="{% url 'add_exercice_in_a_parcours' %}" method="POST" enctype='multipart/form-data'>   {% csrf_token %}
                    <input type="hidden" id="id_exercise"  name="exercise" required="" value="{{ exercise.id }}">
                      <span id="show_parcours">Attribuer cet exercice à mes parcours {{ parcours.count }}<i class="fa fa-caret-down"></i></span>
                    <input type="hidden" id="exercises_parcours"  name="exercises_parcours" required="" 
                           value="{% for p in parcours %}{%  get_is_selected   exercise  p   as is_sel  %}{% if is_sel %}{{ p.id }}{% endif %}{% if not forloop.last %}-{% endif %}{% endfor %}">
                    <div id="div_parcours">
                        <table class = "table">
                        {% for p in parcours %}
                            <tr> 
                                {%  get_is_selected   exercise  p   as is_sel  %}
                                {%  get_ranking   exercise  p   as ranking  %} 
                                <td><label style="color : {{ p.color }}"><input type="checkbox" id="id_parcours"  name="parcours"  value="{{ p.id }}"  {% if is_sel %} checked{% endif %}> {{ p.title }}</label></td>
                                <td>Position d'apparition dans le parcours</td>
                                <td style="width:70px"><input type="number" id="id_orders" class="form-control" name="orders" min="0" step ="1" value="{{ ranking }}" > </td>
                            </tr>
                        {% empty %}
                            <tr><td><small>Pour attribuer cet exercice à mes parcours, il faut <a href="{% url 'create_parcours' 0 %}" class="btn-primary">créer un parcours</a>.</small></td></tr>
                        {% endfor %}
                        </table>


                        {% if parcours|length > 0 %}
                        <div class="form-group">
                          <input value="Associer/Dissocier" type="submit" class="btn btn-primary"/>
                        </div>
                        {% endif %}
                    </div>
                </form>
            

        </div> 
</div> 
 {% endif  %} 

    <script type="text/javascript" src="{% static 'js/lib/geogebra.js' %}"></script>

    <script type="text/javascript">
        // parameters of the geogebra app

        var width               = "{{ exercise.supportfile.width }}" ;
        var height              = "{{ exercise.supportfile.height }}" ; 
        var showToolBar         = "{{ exercise.supportfile.toolBar|lower }}" ;
        var showMenuBar         = "{{ exercise.supportfile.menuBar|lower }}" ;
        var showAlgebraInput    = "{{ exercise.supportfile.algebraInput|lower }}" ;
        var showResetIcon       = "{{ exercise.supportfile.resetIcon|lower }}" ; 
        var enableShiftDragZoom = "{{ exercise.supportfile.dragZoom|lower }}" ;
        var filename            = "{{ exercise.supportfile.ggbfile.url }}" ;

        var parameters = {
                  "appname":"classic",
                  "id":"ggb_applet_container",
                  "prerelease":false,
                  "width": parseInt(width, 10),
                  "height": parseInt(height, 10),
                  "showToolBar": showToolBar,
                  "showfullscreenbutton":true,
                  "borderColor":"#f5f8fd",
                  "showMenuBar": showMenuBar,
                  "showAlgebraInput": showAlgebraInput ,
                  "showResetIcon": showResetIcon ,
                  "enableLabelDrags":false,
                  "enableShiftDragZoom": enableShiftDragZoom,
                  "enableRightClick":false,
                  "capturingThreshold":null,
                  "showToolBarHelp":false,
                  "errorDialogsActive":false,
                  "useBrowserForJS":false,
                  "langage":"en",
                  "filename": filename,
                   "appletOnLoad" :  function(api) { 
                            var situation = "{{ exercise.supportfile.situation }}" ;
                            api.setValue("situation", situation );
                      }
            };
        var applet = new GGBApplet('5.0', parameters,true);
        // Geogebra applet creation
        applet.inject('ggb_applet_container', 'preferHTML5');  
    </script>
    
    <div style="height:20px"></div>
 
</section>

 

 


{% endblock  %}   


 