{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-parcours']);
    </script> 
    
{% endblock %}

 

{% block page_title %}
    {% if parcours %}
       <span style="color:{{ parcours.color }}"><i class="bi bi-explicit"></i>    </span>  
    {% endif  %}
 
{% endblock %}


{% block page_menu_right %}

{% endblock %}




{% block css_files %}
{% endblock %}


{% block body %}
<section class="content_main"> 

 

        {% csrf_token %}

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
             <a href="#" data-toggle='modal' data-target='#consigne' class="btn btn-danger">Lire la consigne</a>
            <hr>

                {% if exercise.supportfile.is_image   or   exercise.supportfile.is_file  %}   
 
                <div class="form-group">
                    {{ wForm.imagefile.label_tag }}  <br>
                    {{ wForm.imagefile|add_class:"btn btn-default"   }}
                    {{ wForm.imagefile.errors }} <br>
                </div> 
                {% endif %}

                {% if exercise.supportfile.is_text   %} 

                <div class="form-group">
                    <label>Zone pour écrire</label><br>
                    {{ wForm.answer }}
                    {{ wForm.answer.errors }} <br>
                </div>

                {% endif %}

                <div class="row">
                    <div class="col-sm-12 col-lg-8">
                        <div class="form-group">
 
                            <input value="Soumettre votre exercice"   class="btn btn-primary"/>
 
                            <input type="button" value="Annuler" class="btn btn-default" onclick="javascript:history.back()"/>
                        </div>
                    </div>
 
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                {% if exercise.supportfile.is_scratch   %} 
                <label>Conseil :</label>  Utiliser le site Scratch pour créer votre script. Prendre une capture d'écran et la déposer dans la zone de texte.<br><br><br>
                <a href="https://scratch.mit.edu/projects/editor/?tutorial=getStarted" target="_blank">Naviguer vers Scratch <img src="{% static 'img/scratch.png' %}"/></a>
                <hr>                
                {% endif %}  
                <label>Savoir faire ciblé :</label>
                    <li class="sans_puce">{{ exercise.knowledge}}</li>    
                {% if exercise.supportfile.skills.all|length > 0 %}
                <hr>                
                    <label>Compétences ciblés :</label>
                    {% for skill in exercise.supportfile.skills.all %}
                        <li class="sans_puce">{{skill}}</li>
                    {% endfor %}
                {% endif %}            
            </div>
        </div>
 
</section>



<div class="modal fade" id="consigne" tabindex="-1" role="dialog" aria-labelledby="consigne">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding-top :0px;width:800px;">
            <div class="modal-header">
                <h3> Consigne :     
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">   
                         {{  exercise.supportfile.annoncement|insert_tags:45|safe }}          
                    </div>   
                </div> 
            </div>
        </div>
    </div>
</div>



{% endblock %} 