{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if parcours %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}

    <script>
        require(['script/ajax-parcours']);
    </script> 

{% endblock %} 

{% block page_title %}
<span  style="color:{{ parcours.color }}"> <i class="bi bi-folder"></i>   {{ parcours }} 
 
 
    <img src="{% static 'img/angle-right.png' %}"/> 
    {% if parcours.is_folder %}
        <small class="thin">{{ nb_parcourses }} parcours</small> 
    {% else %}
        <small class="thin">{{ nb_exercises }} exercice{{ nb_exercises|pluralize }}</small> 
    {% endif %}
</span>    
{% endblock %}




{% block page_menu_right %} 
{% if today %}
 <font style="font-size:16px">{{ today|date:"d N Y, H:i" }}</font> <a href="{%  url 'profile' %}" style="font-size:11px" title="Régler le fuseau horaire"><i class="fa fa-clock"></i></a>
{% endif %}
{% endblock %}

 

{% block body %}
 
      
<section class="content_list"> 
    {%  if evaluations %} 
    <div class="row">
            <div class="col-md-4  col-lg-3  col-sm-6">
                {%  for evaluation in  evaluations %} 
                <div class="small-box-student" style="background-color:{{evaluation.color }};color:{{evaluation.color|contrast_color }};">

                    <div class="icon-student">
                        <small><i class="fa fa-graduation-cap"></i></small>
                    </div>
                    <div class="small-box-footer-max">
                        <h2 class="white thin">{{ evaluation.title }}  </h2>
                       
                        <div style="text-align: center; margin-top: 20px; margin-bottom: 20px">
                         <a href="{% url 'show_parcours_student' evaluation.id  %}" class="btn btn-default btn-accueil"><i class="fa fa-arrow-circle-right"></i> Démarrer</a>
                        </div>
                

                        <p>
                            <div class="col-md-6  col-lg-6  col-sm-6">
                                <i class="fa fa-clock-o"></i>  {{ evaluation.evaluation_duration }} min 
                            </div>
                            <div class="col-md-6  col-lg-6  col-sm-6">
                                {{ evaluation.nb_exercises }} exercice{{ evaluation.exercises.count|pluralize }} 
                            </div>
                        </p>
                     
                    </div>
                </div>
                {% endfor %}
            </div>
     </div>
    {% endif %}


    {% for parcours in parcourses %}
        {% get_percent parcours student as data %}  
        {% get_min_score_parcours parcours student 0 as data_min %} 

        <!-- small box -->
        <div class="small-box-student" style="{% if parcours.vignette %}background-image: url('{{parcours.vignette.url }}');{% endif  %} background-size: 100% 100%;background-color:{{parcours.color }};">
            {% if  student.user.school %}
                {% if  data_min.boolean %}
                <div class="background_badge" >
                <i class="fa fa-trophy" style="color:{{ data_min.colored }};font-size: {{ data_min.size }} "></i><br/><font style="font-size:14px;color:{{parcours.color }};">{{ data_min.label }}</font>
                </div>
                {% endif  %}
            {% endif  %}


            <div class="icon-student">
                 {% if parcours.is_folder %}<i class="fa fa-folder" style="position:absolute; right:200px ; top:7px;"></i>{% endif %}  {{  data.pc }}% 
            </div>
            <div class="small-box-footer-max" style="background-color:{{parcours.color }};color:{{parcours.color|contrast_color }};"  >
                <h2 class="white thin"> {{ parcours.title|truncatechars:"14" }} <span class="pull-right" style="color:{{parcours.color|contrast_color }}; font-size:14px; margin-top:15px">{{ parcours.teacher.user.civilite }} {{ parcours.teacher.user.last_name }}</span></h2>
                <br> 
                <div style="text-align: center">
                <a href="{% url 'show_parcours_student' parcours.id %}" class="btn btn-default btn-accueil"> {% get_tasks student parcours  as is_task_exists %} 
                        {%  if is_task_exists %}
                            <i class="fa fa-calendar-check" style="color:red"></i>
                        {% endif %} Accéder aux {% if parcours.is_folder %}parcours{% else  %}exercices{% endif %}</a>
                </div>
                <div  class="student_vignette_subtitle">    
                    {{ data.nb }}/{{ data.nb_total }} exercice{{ data.nb_total|pluralize }} étudié{{ data.nb_total|pluralize }} 

                    {% if parcours.course.all|length > 0 %}  
                    <a href="{% url 'show_course_student' 0 parcours.id %}" class="pull-right white" title="Rappels de cours"  target="_blank"  >
                        <i class="fa fa-desktop"></i>  
                    </a>
                    {% endif  %}

                </div>
            </div>
        </div>
    {% empty  %}  
    <div class="row">  
        <div class="col-md-12 col-lg-12 col-sm-12" style="text-align: center">
            <div class="alert alert-info">
                <h1 class="thin"> Votre enseignant n'a pas encore publié de parcours.</h1>
                <div style="border-radius: 50%;width:250px;height:250px; margin-right: auto; margin-left: auto; background-color: #FFF;text-align: center">
                    <img src="{% static 'img/sacado_color.png' %}"   />  
                </div>
            </div>
        </div>
    </div> 
    {% endfor  %}  
    
</section>
 

<div class="modal fade" id="head_of_section" tabindex="-1" role="dialog" aria-labelledby="head_of_section">
    <div class="modal-dialog" role="document"  style="width:95%;">
        <div class="modal-content" style="padding-top :0px;">
            <div class="modal-header">
                <h3>Cours associé
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">   
                        <div id="courses_from_section"></div>
                    </div>   
                </div> 
            </div>
        </div>
    </div>
</div>
   

<div class="modal fade" id="my_production" tabindex="-1" role="dialog" aria-labelledby="my_production">
    <div class="modal-dialog" role="document"  style="width:95%;">
        <div class="modal-content" style="padding-top :0px;">
            <div class="modal-header">
                <h3>Travail rendu
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">   
                        <div id="my_production_paper"></div>
                    </div>   
                </div> 
            </div>
        </div>
    </div>
</div>



{% endblock %}

 
 
 
 