{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if parcours %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}

    <script>
        require(['script/ajax-parcours']);
    </script> 

{% endblock %} 





 
 

{% block page_title %}
<span  style="color:{{ parcours.color|contrast_color_title }}"> <i class="fa fa-th"></i> 

{% include 'qcm/breadcrumb.html' %}  <small>{{ parcours }} </small></span>

{% endblock %}

{% block page_menu_right %}
 <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default "/></a>
{% endblock %}

 

{% block body %}
 
      
<section class="content_list"> 
    <div class="row">
        <div class="col-sm-12 col-md-10">
            {% for relation in relationships %}
                {%  if relation.exercise.supportfile.is_title %}       
                    <h2 class="listing thin" style="width:100%; clear:both">                         
                        {% if  relation.exercise.supportfile.title %}  
                            {{  relation.exercise.supportfile.title|cleanhtml|capfirst }}  
                        {% else %}
                            {{ relation.exercise.supportfile.annoncement|cleanhtml }}
                        {% endif %} 
                    </h2>
                {%  elif relation.exercise.supportfile.is_subtitle %}
                    <h3 class="listing thin" style="width:100%; clear:both">                         
                        {% if  relation.exercise.supportfile.title %}  
                            {{  relation.exercise.supportfile.title|cleanhtml|capfirst }}  
                        {% else %}
                            {{ relation.exercise.supportfile.annoncement|cleanhtml }}
                        {% endif %} 
                    </h3>
                {% else %} 
                    <div class="card_freeze" {% if data.score %} style="opacity:0.3" {% endif %}>
                        <div class="card-body student">
                            <div style="color:{{ parcours.color }};font-size: 40px;padding-top: 6px">{{ nb_exo_only|index:forloop.counter0 }}.
                            {% if relation.exercise.supportfile.calculator %}
                              <img src="{% static 'img/calculator.png' %}" class="pull-right" width="35px" />
                            {% else %}
                              <img src="{% static 'img/no_calculator.png' %}" class="pull-right"   width="35px" />
                            {% endif  %} 
                            </div>
                        </div>                    
                        <div class="card-image">
         
                            <img src="{{ relation.exercise.supportfile.imagefile.url }}"  class="image_parcours_order"  >
          
                            <div class="card-text" style="background-color:{{ parcours.color }}">
                                <i class="fa fa-fw fa-barcode"></i> {{ relation.exercise.supportfile.code }}
                                <i class="fa fa-fw fa-clock-o"></i> {{ relation.duration }} min.
                            </div>
                        </div>
                    </div> 
                {% endif %}          
            {% endfor %}
        </div>
        <div class="col-sm-12 col-md-2">
        {% if parcours.course.all|length > 0 %}      
 
            <h4 style="color:{{ parcours.color }}">Le cours du parcours</h4>
            <ul class="nav nav-pills nav-stacked admin-menu">
                {% for course in parcours.course.all %}
                    <li class="{% if forloop.first %}active{% endif %} menu_course"  style="background-color:{{ parcours.color }}">
                        <a href="#" data-toggle='modal' data-target='#menu_course{{ forloop.counter }}'  data-relation_id='{{ relation.id }}' class="header_shower" style="color:{{ parcours.color|contrast_color }}"> 
                        {{ course.title }}
                        </a> 
                    
                        <div class="modal fade" id="menu_course{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="menu_course{{ forloop.counter }}">
                            <div class="modal-dialog" role="document"  style="width:95%;color:#000">
                                <div class="modal-content" style="padding-top :0px;">
                                    <div class="modal-header">
                                        <h3>{{ course.title }} 
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button> 
                                        </h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-xs-12">   
                                                {{ course.annoncement|safe }}
                                            </div>   
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}  
    </div>  
    <div class="row">
        <div class="col-sm-1 col-md-1">
        </div>
        <div class="col-sm-11 col-md-11">
            <div class="form-group">
                    <a href="{% url 'clone_parcours' parcours.id 0 %}" class="btn btn-primary">Cloner ce parcours </a>  
                    {% if parcours.course.all|length > 0 %}
                    <a href="{% url 'clone_parcours' parcours.id 1 %}" class="btn btn-primary">Cloner ce parcours avec le cours associé</a>
                    {% endif %}
                <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
            </div>
        </div>
    </div>  
</section>
 
   
{% endblock %}

 
 
 
 