 
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12"> 
      <div class="form-group"> 
          <a href="#" id='peda_set_live' class="pull-right btn btn-danger min_width" >Chatter<span class="label_plus"> avec mon professeur</span> ? </a>
      </div>
   </div>                     
</div> 
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12"> 
      <div class="form-group no_visu_on_load" id='form_peda_set_live'> 
         <div class="real_time_div_live"  id="real_time_div_live" >
            <div class="real_time_div_chat" id="chat"> </div> <!--contenteditable="true" -->
            <input type="text" id="entreechat">
        </div> 
      </div>
   </div>                     
</div> 
 