{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}


{% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common3.js' %}"></script> 
    <script>
        require(['script/ajax-parcours']);
    </script>
    {% if sacado_asso %} 
    <script>
        require(['script/ajax-inside_data_tab']);
    </script>
    {% else %}
    <script>
        require(['script/ajax-inside_data_tab_no_asso']);
    </script> 
    {% endif %} 

{% endblock %}


{% block page_title %}
    <span style="color:{{ parcours.color|contrast_color_title }}"><i class="bi bi-bar-chart-line"></i> </span>

    {% include 'qcm/breadcrumb.html' %}

        <small>Statistiques <small>({{ parcours.nb_exercises }} exercice{{ parcours.nb_exercises|pluralize }})</small>
        {% if  parcours.is_evaluation %}
            <i class='fa fa-clock'></i>  {{ parcours.evaluation_duration|int_minutes }} min.
        {% endif %}
        </small>
{% endblock %}



{% block page_menu_right %}
  
  {% include 'qcm/submenu_parcours.html' %}
 
{% endblock %}

            

{% block body %} 
<style>
body{
    overflow-x: hidden ; 
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
}
</style>
 
    <div class="eval_list"> 
        <div class="row">
            <div class="col-sm-12 col-md-12">
 
                

                <table  class="table table-bordered table-hover standard_tab_sort">
                    <thead>
                    <tr>
                        <th>Nom et prénom</th>
                        <th style="text-align: center;">Exe. traités</th>
                        <th style="text-align: center;">Savoir faire</th>
                        <th style="text-align: center;">Compétences</th>
                        <th style="text-align: center;">Durée</th> 
                        <th style="text-align: center;">Scores des exercices traités </th>
                        <th style="text-align: center;">Scores </th>
                    </tr>
                    </thead>
                    <tbody>   
                        {% for stat in stats %}
                            <tr class="no_padding">
                                <td>
                                    <form  action="" method="POST">{% csrf_token %} 

                                        <a href="#" class="detail_student_exercise"  data-student_id="{{  stat.name.user.id }}"  data-parcours_id="{{ parcours.id }}"  >   
                                          {{ stat.name|truncatechars:"30"  }}
                                        </a> 
                                        <div class="pull-right"> 
                                        <a href="#" data-toggle='modal'
                                            data-target='#writer' 
                                            class="send_message"   data-student_name="{{ stat.name.user }}"
                                            data-student_email="{{ stat.name.user.email }}">  
                                            {% if stat.name.user.email  %}                                      
                                            <i class="fa fa-inbox" style="font-size:14px"></i> 
                                            {% else %}
                                            <span class="icon-stack">
                                              <i class="icon-inbox"></i>
                                              <i class="icon-ban-circle icon-stack-base text-error"></i>
                                            </span>
                                            {% endif %}
                                        </a>
                                        </div> <br/>
                                        <span class="helper_tip"><small>{{ stat.name.user.last_login|date:"d N Y  H:i"  }} </small> <div class="helper_tip_text_right" >Dernière connexion</div>
                                        </span>  

        
                                        {% if parcours.is_evaluation  %}
                                        <div  style="padding-top:(px">
                                            {% if sacado_asso %} 
                                                <span href="#" class="redo_eval btn btn-new"  data-student_id="{{  stat.name.user.id }}" 
                                                        style="cursor:pointer;color:#007EE2;font-size: 10px"  data-student_name="{{  stat.name.user  }}"  
                                                                                data-parcours_id="{{ parcours.id }}" 
                                                                                data-parcours_title="{{ parcours.title }}" > Reproposer l'évaluation à cet élève </span>
                                             
                         
                                            {% endif %} 
                        
                                        </div>
                                        {% endif %} 



                                    </form> 

                                </td>
                                <td style="text-align: center;"><span id="redoNbr{{ stat.name.user.id }}">{{ stat.nb_exo  }}</span>/{{ stat.total_nb_exo  }}
                                    <span class="helper_tip"><i class="fa fa-question-circle"></i>
                                        <div class="helper_tip_text_right" >Nombre d'exercices traités / nombre d'exercices publiés</div>
                                    </span>
                                </td>
                                <td style="text-align: left;font-size:12px; width:35%" id="redoKnowledge{{ stat.name.user.id }}">
                                    {{  stat.detail_knowledge|safe  }}
                                </td>
                                <td style="text-align: left;font-size:12px" id="redoSkill{{ stat.name.user.id }}">
                                    {{  stat.detail_skill|safe }}
                                </td>
                                <td style="text-align: center;" id="redoDuration{{ stat.name.user.id }}">{{ stat.duration  }}</td>
                                <td style="text-align: center;" id="redoScore{{ stat.name.user.id }}"> 
                                    {% for s in stat.score_tab  %} 
                                        <span class="helper_tip white btn btn-{% if s.point < stage.low %}danger{% elif s.point < stage.medium %}warning{% else %}success{% endif %}" 
                                                {% if s.point < stage.up and  stage.medium < s.point %}  style="background-color: #62d85a" {% endif %} >
                                            {{ s.point }}
                                            <div class="helper_tip_text_center" >
                                                <img src="{{ s.exercise.supportfile.imagefile.url }}" width="350px"/>
                                            </div>
                                        </span>
                                    {% endfor %}
                                    <br/>  
                                    {% for s in stat.tab_custom  %} 
                                        <span class="helper_tip btn btn-{% if s.point < stage.low %}danger{% elif s.point < stage.medium %}warning{% else %}success{% endif %}" 
                                                {% if s.point < stage.up and  stage.medium < s.point %}  style="background-color: #62d85a" {% endif %} >
                                            {{ s.point }}
                                            <div class="helper_tip_text_center" ><img src="{{ s.imagefile.url }}" width="350px"/></div>
                                        </span>
                                    {% endfor %}
                                    <br/> 
                                    {% if stat.average_score %} 
                                        {% if stat.average_score < stage.low %}
                                            <span style="color:#FFF;padding:5px; border-radius:3px;margin-top:20px;margin-right: 5px;background-color:#dd4b39;font-size:12px;">Score moyen : {{ stat.average_score }}</span> 
                                        {% elif stat.average_score < stage.medium %}
                                            <span style="color:#FFF;padding:5px; border-radius:3px;margin-top:20px;margin-right: 5px;background-color:#f39c12;font-size:12px;">Score moyen : {{ stat.average_score }}</span> 
                                        {% elif stat.average_score < stage.up %}
                                            <span style="color:#FFF;padding:5px; border-radius:3px;margin-top:20px;margin-right: 5px;background-color: #62d85a;font-size:12px;">Score moyen : {{ stat.average_score }}</span> 
                                        {% else %}
                                            <span style="color:#FFF;padding:5px; border-radius:3px;margin-top:20px;margin-right: 5px;background-color:#00a65a;font-size:12px;">Score moyen : {{ stat.average_score }}</span> 
                                        {% endif %}
 
 
                                        {% if stat.median < stage.low %}
                                            <span style="color:#FFF;padding:5px; border-radius:3px;margin-top:20px;margin-right: 5px;background-color:#dd4b39;font-size:12px;">Score médian : {{ stat.median }}</span> 
                                        {% elif stat.median < stage.medium %}
                                            <span style="color:#FFF;padding:5px; border-radius:3px;margin-top:20px;margin-right: 5px;background-color:#f39c12;font-size:12px;">Score médian : {{ stat.median }}</span> 
                                        {% elif stat.median < stage.up %}
                                            <span style="color:#FFF;padding:5px; border-radius:3px;margin-top:20px;margin-right: 5px;background-color:#62d85a;font-size:12px;">Score médian : {{ stat.median }}</span> 
                                        {% else %}
                                            <span style="color:#FFF;padding:5px; border-radius:3px;margin-top:20px;margin-right: 5px;background-color:#00a65a;font-size:12px;">Score médian : {{ stat.median }}</span> 
                                        {% endif %}


                                    {% endif %}
                                </td>
                                <td style="text-align: right;">
                                    {% if stat.total_numexo  %} 
                                    <div class="stat_mark_round_max_width stat_mark_round{{  stat.name.user.id }}">
                                        <span class="helper_tip"><small> {{ stat.good_answer  }}/{{ stat.total_numexo  }} </small>
                                            <div class="helper_tip_text" >Bonnes réponses / nombre de situations.</div>
                                        </span>
                                    </div>
                                    {% endif %}
                                    {% if stat.score_custom  %}  
                                    <div class="stat_mark_round stat_mark_round{{  stat.name.user.id }}">
                                        <span class="helper_tip"><small>{{ stat.score_custom  }}/{{ stat.score_total}} </small>
                                            <div class="helper_tip_text" >Score cumulé sur les exercices personnalisés/score total.</div>
                                        </span>
                                    </div>
                                    {% endif %}
                                    {% if stat.percent  %}
                                    <div class="stat_mark_round stat_mark_round{{  stat.name.user.id }}" style="background-color:{% if stat.percent < stage.low %}#dd4b39{% elif stat.percent < stage.medium %}#f39c12{% elif stat.percent < stage.medium %}#62d85a{% else %}#00a65a{% endif %}">

                                         <span class="helper_tip white"> {{ stat.percent  }}% 
                                            <div class="helper_tip_text" > Score rapporté aux meilleurs scores</div>
                                        </span> 
                                    </div>
                                    {% endif %}                                     
                                    {% if stat.ajust  %}
                                    <div class="stat_mark_round stat_mark_round{{  stat.name.user.id }}"  style="background-color:{% if stat.ajust < stage.low %}#dd4b39{% elif stat.ajust < stage.medium %}#f39c12{% elif stat.ajust < stage.medium %}#62d85a{% else %}#00a65a{% endif %}">
                                         <span class="helper_tip white"> <b> {{ stat.ajust  }}%</b> 
                                            <div class="helper_tip_text" > Score rapporté à tous les exercices proposés : $\frac{nb\; exo}{nb\;  exo\;  total} \times  score \; brut $, soit $\frac{ {{ stat.nb_exo  }} }{ {{ stat.total_nb_exo }} } \times  {{ stat.percent  }} $%</div>
                                        </span> 
                                    </div>  
                                    {% endif %} 



                                </td>  
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
 

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">     
                    <a href="javascript:history.back()"  class="btn btn-default " >Retour </a>
            </div>
        </div>
    </div>
</div>

 

    <div class="modal fade" id="writer" tabindex="-1" role="dialog" aria-labelledby="writer" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                
                    <h5 class="modal-title" >Ecrire un message à  <span id="modal_student_name"></span></h5>
                </div>
                <div class="modal-body">
                    <form action="" method="post" > 
                          {% csrf_token %}
                        <div class="form-group"><input type="hidden" name="student_id" class="form-control" id="student_id"/>
                          <input type="text" name="name" class="form-control" id="name" placeholder="Nom" />
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email"  />
                        </div>
                        <div class="form-group">
                            {{ form.subject|add_class:"form-control"|attr:"placeholder:Objet"|attr:"required" }}
                        </div>
                        <div class="form-group">
                            {{ form.texte  }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" id="sender_message">Envoyer</button>   
                            <a href="#"  class="btn btn-default" class="close" data-dismiss="modal" aria-label="Close">Fermer</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  

 
 

    <div class="modal fade" id="export_marks" tabindex="-1" role="dialog" aria-labelledby="export_marks" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                
                    <h5 class="modal-title" >Exporter les notes</h5>
                </div>
                <div class="modal-body">
                    <form action="{% url 'export_notes_after_evaluation' %}" method="post" > 
                        {% csrf_token %}<input type="hidden" name="parcours_id" value="{{ parcours.id }}" id="parcours_id"/>
                        <div class="row">
                            <div class="col-sm-10 col-md-9">   
                                <div class="form-group">
                                    <label>Rapporter la note des exercices interactifs SACADO sur :</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-3">   
                                <input type="number" name="note_sacado" min=0   step=0.5 class="form-control" id="note_sacado" required  />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10 col-md-9">     
                                <div class="form-group">
                                    <label>Noter le devoir sur :</label>
                                </div>
                            </div>
                            <div class="col-sm-10 col-md-3">     
                                <div class="form-group">
                                    <input type="number" name="note_totale" required value=20 min=0 step=1 class="form-control" id="note_totale"   />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">  
                                <button type="submit" class="btn btn-primary" id="sender_message">Exporter les notes</button>   
                                <a href="#"  class="btn btn-default" class="close" data-dismiss="modal" aria-label="Close">Fermer</a>
                            </div>
                        </div>     
                    </form>
                </div>
            </div>
        </div>
    </div> 


    <div class="modal fade" id="export_skills" tabindex="-1" role="dialog" aria-labelledby="export_skills" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                
                    <h5 class="modal-title" >Exporter les compétences</h5>
                </div>
                <div class="modal-body">
                    <form action="{% url 'export_skills_after_evaluation' %}" method="post" > 
                        {% csrf_token %}<input type="hidden" name="parcours_id" value="{{ parcours.id }}" id="parcours_id"/>
                        <div class="row">
                            <div class="col-sm-6">  
                                <label>Pour une même compétence, prendre en compte </label>
                            </div>
                            <div class="col-sm-6">  
                                <select name="nb_skill" class="form-control select2">
                                    <option value="1">La dernière évaluée</option>
                                    <option value="2">Les 2 dernières évaluées</option>
                                    <option value="3">Les 3 dernières évaluées</option>
                                    <option value="0">Toutes évaluées</option>
                                </select> 
                            </div>
                        </div>  
                        <hr/>


                        <div class="row">
                            <div class="col-sm-12">  
                                <label> Rappel : <br/>
                                4 niveaux de maitrise. Les codes correpondants sont 1, 2, 3, 4 et A.<br>  
                                    <li class="sanspuce"><i class="fa fa-square text-primary"></i> Très bonne maitrise  : 4 </li>
                                    <li class="sanspuce"><i class="fa fa-square text-success"></i> Maitrise satisfaisante  : 3  </li>
                                    <li class="sanspuce"><i class="fa fa-square text-warning"></i> Maitrise fragile  : 2 </li>
                                    <li class="sanspuce"><i class="fa fa-square text-danger"></i> Maitrise insuffisante  : 1  </li>
                                    <li class="sanspuce"><i class="fa fa-square text-default"></i> Absent :   A</li>
                                    <br>  
                                    Ces codes doivent être reportés dans Pronote. Les compétences transférées doivent être les mêmes que celles en attente dans Pronote. Voir l'aide éventuellement.
                                </label>
                            </div>
                        </div> 
                        <hr/>
                        <div class="row">
                            <div class="col-sm-12">  
                                <button type="submit" class="btn btn-primary" > Exporter </button>   
                                <a href="#"  class="btn btn-default" class="close" data-dismiss="modal" aria-label="Close">Fermer</a>
                            </div>
                        </div>     
                    </form>
                </div>
            </div>
        </div>
    </div> 



    <div class="modal fade" id="export_help" tabindex="-1" role="dialog" aria-labelledby="export_help" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                
                    <h5 class="modal-title" >Aide pour Pronote</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 alert alert-info">     
                            Il faut obligatoirement passer par le client Pronote pour importer des données.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">     
                            Transfert de notes de Sacado vers Pronote (1 min. 14 s.)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">     
                            <video src="https://sacado.xyz/ressources/videos/stats.mp4" width=560  height=315 controls  >
                              Cette vidéo ne peut être affichée sur votre navigateur Internet.<br>
                            </video>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">     
                            Transfert de compétences de Sacado vers Pronote (1 min. 17 s.)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">     
                            <video src="https://sacado.xyz/ressources/videos/stats_parcours.mp4" width=560  height=315 controls  >
                              Cette vidéo ne peut être affichée sur votre navigateur Internet.<br>
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="export_results" tabindex="-1" role="dialog" aria-labelledby="export_results" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                
                    <h5 class="modal-title" >Exporter les résultats au format pdf</h5>
                </div>
                <div class="modal-body">
                    <form action="{% url 'export_results_after_evaluation' %}" method="post" > 
                        {% csrf_token %}<input type="hidden" name="parcours_id" value="{{ parcours.id }}" id="parcours_id"/>


                        <table class="table borderless">
                            <tr>
                                <td>Exporter les savoir faire ? </td>
                                <td><input type="checkbox" name="knowledge"  data-toggle="toggle"  data-onstyle="primary"  data-offstyle="default" data-on="Oui" data-off="Non"/></td>
                            </tr>

                            <tr>
                                <td>Exporter les compétences ? </td>
                                <td><input type="checkbox" name="skill"  data-toggle="toggle"  data-onstyle="primary"  data-offstyle="default" data-on="Oui" data-off="Non"/></td>
                            </tr>
                            <tr >
                                <td>Exporter les notes ? </td>
                                <td><input type="checkbox" name="mark" id="mark_shower"  data-toggle="toggle"  data-onstyle="primary"  data-offstyle="default" data-on="Oui" data-off="Non"/></td>
                            </tr>
                            <tr class="mark_div_in_score">
                                <td>Noter les exercices SACADO sur (Mettre 0 si aucun)</td>
                                <td><input type="number" name="exo_sacado" min="0" value="20" /></td>
                            </tr>
                            <tr class="mark_div_in_score">
                                <td>Ramener les notes sur </td>
                                <td><input type="number" name="mark_on" min="0" value="20" /></td>
                            </tr>
                            <tr>
                                <td>Signature parent ?</td>
                                <td><input type="checkbox" name="signature" data-toggle="toggle"  data-onstyle="primary"  data-offstyle="default" data-on="Oui" data-off="Non"/></td>
                            </tr>                            
                        </table>
                        <div class="row">
                            <div class="col-sm-12">  
                                <div id="mini_loader" class="text-success">Exportation en cours. Action qui peut prendre quelques minutes.</div>
                            </div>
                        </div>   
                        <hr/>
                        <div class="row">
                            <div class="col-sm-12">  
                                <button type="submit" class="btn btn-primary" id="mini_loader_shower" > Exporter </button>   
                                <a href="#"  class="btn btn-default" class="close" data-dismiss="modal" aria-label="Close">Fermer</a>
                            </div>
                        </div>     
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}