<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-new">  {% if 'parcours' in request.path %}Nouveau parcours{% else %}Nouvelle séquence{% endif %} <b class="caret"></b> </a>

    <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">

        {% if folder %}
        <li> <a href="{% url 'create_parcours' folder.id %}"  > Créer {% if 'parcours' in request.path %}un parcours{% else %}une séquence{% endif %}</a> </li>
        {% else %}
        <li> <a href="{% url 'create_parcours' 0 %}"  > Créer {% if 'parcours' in request.path %}un parcours{% else %}une séquence{% endif %}</em></a> </li>
        {% endif %}
        <li>{% if sacado_asso %} 
        		<a href="{% url 'all_parcourses' 0 %}" > Récupérer {% if 'parcours' in request.path %}un parcours{% else %}une séquence{% endif %} mutualisé  

                {% if not group %} 
                    <span class="helper_tip"> 
                            <i class="fa fa-question-circle"></i>
                            <div class="helper_tip_text" >
                                <i class="fa fa-warning text-danger"></i> Préférer cloner depuis un <br/>groupe. {% if 'parcours' in request.path %}Le parcours{% else %}La séquence{% endif %} sera <br/>directement affecté à votre<br/> groupe.   
                            </div>
                    </span>
                {% endif %} 
                </a>

        	{% else %}
        		<a href="#"  class="no_sacado_asso" > Récupérer {% if 'parcours' in request.path %}un parcours{% else %}une séquence{% endif %} mutualisé{% if 'parcours' in request.path %} {% else %}e{% endif %}</a> 
        	{% endif %}
        </li>
 
    </ul>
</li> 


    