{% load static %}
{% load widget_tweaks %}
{% load item_tags %}
<div id="small_loader"></div>
{% for question in all_questions %}
    <div class="card" style="width:300px;height:300px;margin:15px;overflow: hidden;padding: 10px;">
        <div class="card_title">
            {% if question.calculator  %}                            
            <img src="{% static 'img/calculator.png' %}" width ="20px" class="pull-right" />  
            {% else %}
            <img src="{% static 'img/no_calculator.png' %}" width ="20px" class="pull-right" /> 
            {% endif %}                              
            {% if question.qtype == 1  %}
                <label>{% if question.is_correct %}<b>Vrai</b>/faux{% else %}Vrai/<b>faux</b>{% endif %}. </label>
            {% elif question.qtype == 2  %}
                 <label>    Réponse rédigée </label> 
            {% elif question.qtype == 3  %}
                   <label> QCM. </label> 
            {% else %} 
                  <label>  QCS. </label>
            {% endif %}
            <a href="{% url 'get_this_question'  question.id quizz_id  %}"  style="font-size: 12px">Récupérer cette question</a> 
            <br/>
            <div>{{ question|safe }}</div>                        
        </div>

        <div class="card_body">

            <br/>
            {% if question.imagefile %}
                <p style="text-align:center">
                    <img src="{{ question.imagefile.url }}" width ="200px" />
                </p>
            {% endif %}
            <br/>
            {% for c in question.choices.all %}
                <label>{{ c }}</label> {% if not forloop.last%}ou{% endif %}

            {% endfor  %}

        </div>
    </div>
{% endfor %}
<div style="clear:both"></div>