{% load item_tags %}


{% for q in quizzes %}
 
	<div class="quizz_card" style=" border-radius: 5px; float:left;
		{% if q.vignette %}
			background-image: url('{{ q.vignette.url }}'); background-size: cover; 
		{% endif %}">
		<div style="padding:10px; background-color: #FFF; opacity:0.8;border-radius:30px;">
			<span style="font-size:25px">{{ q.title|truncatechars:"25" }}</span>
			<p>{{ q.questions.count }} questions, <small>{{ q.duration|time_done }}</small> </p>

			<p>
				{% if q.is_numeric %}
				<a href="{% url 'goto_quizz_numeric' q.id %}" target="_blank" class="btn btn-primary btn-xs">Voir</a> 
				{% else %}
				<a href="{% url 'show_quizz_shared' q.id %}" target="_blank" class="btn btn-primary btn-xs">Voir</a> 
				{% endif %}
				<a href="{% url 'clone_quizz_sequence' q.id %}"  class="btn btn-primary btn-xs">Insérer dans la séquence</a>
			</p>

		</div>
	</div>
 
{% endfor %}
 