{% extends 'tool/form_question.html' %} 
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block page_title %}        


        {% if parcours %}
            <a href="{% url 'show_parcours' 0 parcours.id %}" style="color:parcours.color" > {{ parcours.title }} </a><img src="{% static 'img/angle-right.png' %}"/> 
            {% if quizz %}
                <a href="{% url 'update_quizz' quizz.id %}" title="Modifier le quizz"> Quizz </a>
            {% else %}
                Quizz
            {% endif %}
            <small>({{ quizz.duration|time_done }})</small> <img src="{% static 'img/angle-right.png' %}"/> Question
        {% else %}
            <a href="{% url 'index' %}" ><i class="fa fa-cubes"></i> </a>  

            {% if quizz %}
                <a href="{% url 'update_quizz' quizz.id %}" title="Modifier le quizz"> {{ quizz }} </a>
            {% else %}
                Les quizz
            {% endif %}


             <small>({{ quizz.duration|time_done }})</small><img src="{% static 'img/angle-right.png' %}"/>  Forme de la question
        {% endif %}
        

{% endblock %}
 
 



{% block type_of_question %}
        <div class="row">
            <div class="col-sm-12 col-md-6" align="center"> 
                <a href="{% url 'create_question' quizz.id 1 %}" class="selector_question" >
                    <div class="quizz_card">
                        <h1>Vrai / Faux</h1>
                        <i class="fa fa-check text-success fa-2x"></i>                
                        <i class="fa fa-times text-danger fa-2x"></i>
                    </div>
                </a>
            </div>    
            <div class="col-sm-12 col-md-6" align="center">
                <a href="{% url 'create_question' quizz.id 2 %}" class="selector_question">
                    <div class="quizz_card">
                        <h1>Réponse rédigée</h1>
                        <i class="fa fa-edit fa-5x"></i>
                    </div>
                </a>
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6" align="center"> 
                <a href="{% url 'create_question' quizz.id 3 %}" class="selector_question">
                    <div class="quizz_card">
                        <h1>QCM</h1>
                        <i class="fa fa-check text-success"></i> -------- <br/> 
                        <i class="fa fa-check text-success"></i> -------- <br/>               
                        <i class="fa fa-times text-danger"></i> -------- <br/>
                        <i class="fa fa-times text-danger"></i> -------- <br/>
                    </div>
                </a>
            </div>    
            <div class="col-sm-12 col-md-6" align="center"> 
                <a href="{% url 'create_question' quizz.id 4 %}" class="selector_question">
                    <div class="quizz_card">
                        <h1>QCS</h1>
                        <i class="fa fa-times text-danger"></i> -------- <br/>
                        <i class="fa fa-check text-success"></i> -------- <br/>               
                        <i class="fa fa-times text-danger"></i> -------- <br/>
                        <i class="fa fa-times text-danger"></i> -------- <br/>
                    </div>
                </a>
            </div>  
        </div>
{% endblock %}