{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}



{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-diaporama']);
    </script>     
{% endblock %}

 

{% block page_title %}
    <a href="{% url 'index' %}" ><i class="fa fa-cubes"></i> </a>  Présentation
{% endblock %}


{% block page_menu_right %}
 

            <a href="{% url 'list_diaporama' %}" class="btn btn-new pull-right">Liste de mes présentations</a>  
 
{% endblock %}

 

{% block css_files %}
{% endblock %}


{% block body %}
<section class="content_main"> 
    <form action="" method="POST"  enctype='multipart/form-data'>

 


                            {% include 'tool/form_diaporama_items.html' %}

 
 
 
    </form>  
</section>
{% endblock %} 