<!DOCTYPE html>
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}
<html lang="en">
<head>
	<title>Capture d'images</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<!-- jquery    cropzee.js  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.m
in.js"></script>
	<script src="{% static 'js/lib/cropzee.js' %}" defer></script>
  -->
 
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootst
rap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/AdminLTEperso.css' %}"> 
</head>
<body>
<script>
  code=window.location.pathname.slice(-4);
  var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
  var ws_path = ws_scheme + '://' + window.location.host + "/tool/visiocast/";
   
  window.socket = new WebSocket(ws_path); // window pour rendre globale la variable
  window.socket.onopen = function () {
       socket.send(JSON.stringify({"command":"joinExpediteur", "code":code} )); 
      };        
            // Handle incoming messages
  socket.onmessage = function (message) {
	  
      var data = JSON.parse(message.data);
       if (data.error) {alert(data.error);return;}
      if (data.command=="connexion"){}
  }
function PostMessage(data){
	console.log("entree dans postmessage");
      window.socket.send(JSON.stringify(data));
     };
 
  
function caster(evt)
   {
    evt.stopPropagation();
    evt.preventDefault();
    // FileList object.
    var files = evt.target.files;
    var file = files[0];
    var fileReader = new FileReader();
    fileReader.readAsDataURL(file);
    fileReader.onloadstart = function(progressEvent) {}

    fileReader.onload = function(progressEvent) {
        var stringData = fileReader.result;
    }

    fileReader.onloadend = function(progressEvent) {
        // FileReader.EMPTY, FileReader.LOADING, FileReader.DONE
    
        if (fileReader.readyState==2)
        {console.log(fileReader.result, file.type);
         var largIm = 900 ;
         var hautIm = 1500 ; 
         var t=document.getElementById("image");
         canvas=document.createElement("canvas");
         //canvas.width=largIm;
         //canvas.height=hautIm;
         
         image=document.createElement("img");
         image.src=progressEvent.target.result;}
         image.onload=function(){
			//mise en place de l'image chargée dans le canvas
            ratio=Math.max(image.width/largIm, image.height/hautIm);
            winit=image.width;hinit=image.height; //les dimensions d'origine de l'image
            image.height=image.height/ratio;
            image.width=image.width/ratio;
            canvas.width=image.width;
            canvas.height=image.height;
            console.log("dimension originale ",winit,hinit);
            console.log("ratio : ",ratio);
            console.log("dimension canvas ",canvas.width,canvas.height);
            
            ctx=canvas.getContext("2d");
            //dx=(largIm-image.width)/2;
            //dy=(hautIm-image.height)/2;
            ctx.drawImage(image,0,0, canvas.width,canvas.height);
            t.replaceChild(image,t.childNodes[0]);
            //envoie de l'image initiale ou l'image du canvas au serveur
            if (image.width*image.height<winit*hinit){  // l'image initiale est trop grosse, on prend celle
                            // du canvas
                console.log("image du canvas");            
                var imgb64 = canvas.toDataURL("image/png");
                PostMessage({"command":"cast","Imgb64":imgb64,"name":file.name,
			             "fileType":"image/png"});
			    }
			    else   // on envoie l'image initiale, qui est plus petite
			      {console.log("image d'origine");
				   PostMessage({"command":"cast","Imgb64":fileReader.result,"name":file.name,
			             "fileType":file.type});
               }
	    }  // image.onload
     }
   fileReader.onerror = function(progressEvent) {}
}
</script>

    <div class="col-sm-12 col-md-12" align="center"> 
             <div class="row" style="margin:10px">
                <div class="col-sm-12 col-md-12"> 
                	<h1 class="thin">Capture par smartphone</h1>
                </div>
            </div>


        <form action="{% url 'create_visiocopie' code %}{{ code }}" method="POST
"  enctype='multipart/form-data'>
            {% csrf_token %}

          <div class="row" style="margin:10px">
            <div class="col-sm-12 col-md-12"> 
			  <input type="file" name="image" accept="image/*" 
			  class="btn btn-default" id="id_image" onchange="caster
(event)">
	   </div>
            </div>

            <div class="row" style="margin:10px">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group" id="image">
						 	             
                    </div>
                </div>
            </div>
            {% comment %}
          	<div class="row">
                  <div class="col-sm-12 col-md-12"> 
                          <div class="form-group">
                              <input value="envoyer à l'écran" class="btn btn-pr
imary" 
                              {% if not sacado_asso %}  disabled  title='La vers
ion établissement est requise.' {% endif %}>
                          </div>
                  </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12"> 
                    <div class="form-group">
                        <input value="Télécharger dans la bibliothèque" type="su
bmit" class="btn btn-primary"  {% if not sacado_asso %}  disabled  title='La ver
sion établissement est requise.' {% endif %}/>
                    </div>
                </div>
            </div>
            <div class="row"  style="margin:10px">
                <div class="col-sm-12 col-md-12"> 
                    <div class="form-group">
                        <a href="{% url 'list_visiocopie' %}" class="btn btn-def
ault">Annuler, retour à ma bibliothèque</a>
                    </div>
                </div>
            </div>
            {% endcomment %}
        </form>

    </div>

</body>
</html>

