{% load static %}
{% load item_tags %}
{% load widget_tweaks %}        



    {% csrf_token %}
    <div class="row">
        <div class="col-sm-12 col-md-6">  
            <div class="form-group"> 
            {{ form.title.label_tag }}
            {{ form.title|add_class:"form-control" }}

            </div>
            {% if sacado_asso %}
            <div class="form-group"> 
                {{ form.vignette.label_tag }} <label><small>(Facultatif, l*h :300px*200px - 50Ko )</small></label>
                {{ form.vignette|add_class:"btn btn-default" }}
            </div>
            {% else %}
            <div class="alert alert-danger"> 
                Version établissement requise
            </div>
            {% endif %}

            <div class="form-group">
                {{ form.parcours.label_tag }} <label><span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >
                                    Permet d'accéder à ce quizz depuis le.s parcours sélectionné.s.</div>
                                </span>  </label>
                    {{ form.parcours|add_class:"form-control select2" }}
            </div>


            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <label>Attribuer à mes groupes </label> <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >
                                    Les élèves du groupe peuvent accéder à ce quizz.</div>
                                </span>  </label>
                    {{ form.groups|add_class:"form-control select2" }}
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-6"> 
            <table class="table">
                <tr>
                    <td>{{ form.is_publish.label_tag }}  <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >Si publié, vos élèves peuvent le lire en autonomie. </div>
                                </span> 
                    </td>
                    <td> {{ form.is_publish|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:danger"|attr:"data-on:Oui"|attr:"data-off:Non" }}  </td>
                </tr>
                <tr class="publication_div">
                    <td>{{ form.start.label_tag }}    
                    </td>
                    <td> {{ form.start |add_class:"form-control datetimepicker" }}  </td>
                </tr>
                <tr class="publication_div">
                    <td>{{ form.stop.label_tag }}  <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >Le quizz ne peut plus être traité mais reste visible. Dépublié pour fermer intégralement l'accès. </div>
                                </span> 
                    </td>
                    <td> {{ form.stop|add_class:"form-control datetimepicker"  }}  </td>
                </tr>

            {% if sacado_asso %}
                <tr>
                    <td>{{ form.is_share.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >Si Mutualisé, vos collègues peuvent le lire. Il est alors préférable de renseigner l'enseignement, le niveau et le thème pour le retrouver plus facilement.</div>
                                </span> 
                    </td>
                    <td> {{ form.is_share|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }}  </td>
                </tr>

                <tr>
                    <td>{{ form.is_archive.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >Archiver vos quizz pour plus de clarté dans votre liste de quizz actifs.</div>
                                </span> 
                    </td>
                    <td> {{ form.is_archive|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }}  </td>
                </tr>
            {% else %}

                <tr>
                    <td>{{ form.is_share.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >Si Mutualisé, vos collègues peuvent le lire. Il est alors préférable de renseigner l'enseignement, le niveau et le thème pour le retrouver plus facilement.</div>
                                </span> 
                    </td>
                    <td> 
                        <div class="alert alert-danger"> 
                            Version établissement requise
                        </div>
                     </td>
                </tr>

                <tr>
                    <td>{{ form.is_archive.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >Archiver vos quizz pour plus de clarté dans votre liste de quizz actifs.</div>
                                </span> 
                    </td>
                    <td>             
                        <div class="alert alert-danger"> 
                            Version établissement requise
                        </div> 
                    </td>
                </tr>
            {% endif %}

            {% if teacher.user.is_superuser %}
                <tr>
                    <td class="no_border">{{ form.is_random.label_tag }}  <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >Génération de questions aléatoires selon la matière, le niveaux et les thèmes renseignés.</div>
                                </span>  
                    </td>
                    <td>{{ form.is_random|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }}
                    </td>
                </tr>
            {% endif %}


                <tr>
                    <td class="no_border">{{ form.is_numeric.label_tag }}  <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >Papier si réponse sur feuille, Numérique si réponse avec smartphone, tablette, ordinateur ou mode jeu.</div>
                                </span> 
                    </td>
                    <td>{{ form.is_numeric|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Numérique"|attr:"data-off:Papier"|attr:"data-width:130" }}
                    </td>

                </tr>                                
                <tr class="div_is_mark">
                    <td class="no_border">{{ form.is_mark.label_tag }} </td>
                    <td>{{ form.is_mark|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }}  </td>
                </tr>
                <tr class="div_is_mark">
                    <td class="no_border">{{ form.is_video.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >Projection : utilisation projetée en classe avec réponse sur son smartphone. <br/>Individuelle : chaque élève travaille sur poste.</div>
                                </span> </td>
                    <td>{{ form.is_video|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Projection"|attr:"data-off:Individuelle"|attr:"data-width:130" }}  </td>
                </tr>

 

                <tr class="div_interslide">
                    <td class="no_border">{{ form.interslide.label_tag }}
                    </td>
                    <td>{{ form.interslide|add_class:"form-control" }} </td>
                </tr>
                {% if quizz.is_numeric or not quizz %}
                <tr class="div_is_mark div_is_ranking">
                    <td class="no_border">{{ form.is_ranking.label_tag }} </td>
                    <td>{{ form.is_ranking|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }}  </td>
                </tr>
                <tr class="div_is_mark div_is_ranking">
                    <td class="no_border">{{ form.is_shuffle.label_tag }}  </td>
                    <td>{{ form.is_shuffle|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }}  </td>
                </tr>
                <tr class="div_is_mark div_is_ranking">
                    <td class="no_border">{{ form.is_back.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >Permet de revenir sur les questions en arrière dans le quizz.</div>
                                </span> </td>
                    <td>{{ form.is_back|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }}  </td>
                </tr>
                {% endif %}
                <tr> 
                    <td class="no_border">{{ form.is_result.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >Affiche les réponses pour les élèves dans leur espace. Utile après la passation. Attention de faire passer tous les groupes avant l'affichage.</div>
                                </span> 
                    </td>
                    <td>{{ form.is_result|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }}  </td>
                </tr>
            </table>
        </div>
    </div>
 


    <hr class="divider">

    <label>Options facultatives mais fortement recommandé surtout pour la génération de questions aléatoires</label>

    <div class="row">
        <div class="col-sm-12 col-md-6">  
            <label>Enseignement :  </label>
            {{ form.subject|add_class:"form-control select2" }}
        </div>
        <div class="col-sm-12 col-md-6"> 
            <label>Niveaux : </label>
            {{ form.levels|add_class:"form-control select2" }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-2" id="loading"> 
        </div>

        <div class="col-sm-12 col-md-10"> 
            <label>Thèmes : </label>
 
                {{ form.themes|add_class:"form-control select2" }}
 
        </div>
    </div>




    <hr class="divider">




    <div class="row">
        <div class="col-sm-6 col-md-6"> 
            <div class="form-group">
                <input value="Enregistrer" type="submit" class="btn btn-primary"/>
                <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
            </div>
        </div> 
        {% if quizz %}
            <div class="col-sm-6 col-md-6">                                             
                <a href="{% url 'delete_quizz' quizz.id   %}" class="btn btn-danger" style="margin-left:5px" onclick="return TestDelete('cette quizz')" > 
                    <i class="fa fa-trash"> </i>   Supprimer
                </a>
            </div>
        {% endif %}

    </div>

 