{% if question.imagefile and not question.audio %}
<div class="row">  
    <div class="col-sm-12 col-md-12" align="center">
         <img src="{{ question.imagefile.url }}" 
            {% if question.height  %}height="{{ question.height }}px" {% else %}   height="{% if question.qtype == 2 %}550{% else %}350{% endif %}px" {% endif %} 
            {% if question.width  %} width="{{ question.width }}px" {% endif %} /> 
    </div>
</div>
{% elif question.audio and not question.imagefile  %}
<div class="row">  
    <div class="col-sm-12 col-md-12" align="center"> 
        <audio controls>
            <source src="{{ question.audio.url }}" type="audio/mpeg">
            <span class="text-danger">Votre navigateur ne lit pas l'audio.</span>
        </audio>
    </div>
</div>
{% elif question.audio and question.imagefile  %}
<div class="row">  
    <div class="col-sm-12 col-md-12" align="center">
         <img src="{{ question.imagefile.url }}"             
            {% if question.height  %}height="{{ question.height }}px" {% else %}   height="{% if question.qtype == 2 %}550{% else %}350{% endif %}px" {% endif %} 
            {% if question.width  %} width="{{ question.width }}px" {% endif %} />
    </div>
</div>
<div class="row">  
    <div class="col-sm-12 col-md-12" align="center"> 
        <audio controls>
            <source src="{{ question.audio.url }}" type="audio/mpeg">
            <span class="text-danger">Votre navigateur ne lit pas l'audio.</span>
        </audio>
    </div>
</div>
{% elif question.video  %}
<div class="row">  
    <div class="col-sm-12 col-md-12" align="center"> 
         {{ question.video|safe }}
    </div>
</div>
{% endif %}