{% extends 'tool/play_quizz_teacher.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}




{% block script %}
<script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
<script>
    require(['script/launch-play-quizz']); 
</script> 
{% endblock %}
 
 
{% block my_css %}

<link href="{% static 'css/play_quizz.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}


{% block body_id %}
{% endblock %}



{% block form %}
<form action="{% url 'launch_play_quizz' %}" method="POST">

    {% csrf_token %}
    <input type="hidden" id="question_id" name="question_id" value="{{ question.id }}" /> 
    <input type="hidden" id="gquizz_id"   name="gquizz_id"   value="{{ gquizz.id }}"   /> 
    <input type="hidden" id="group_id"    name="group_id"    value="{{ group_id }}"    />
    <input type="hidden" id="quizz_nav"   name="quizz_nav" value="{{ quizz_nav }}" />
    <div class="wrapper_slider">
        <div class="slider">
            <ul>
                <li class="my_slide my_slide_instruction">
                    <input type="hidden" value="{{ gquizz.quizz.interslide }}" id="inter_slide" /> 
                    <div class="row consigne_diapo"  align="center">  
                        <div class="col-sm-12 col-md-12">
                            <h1 style="font-size:3em" class="thin"><br/>La durée de cette question est <br/>  <b>{{ question.duration }} secondes</b>.  <br/> 
                                {% if question.qtype == 1 %}
                                    Répondre à cette question par <br/><b>Vrai</b> ou <b>Faux</b>
                                {% elif question.qtype == 2 %}
                                    Vous devez répondre en écrivant <br/><b>la bonne réponse</b>.
                                {% elif question.qtype == 3 %}
                                     Vous devez choisir <br/><b>la ou les bonnes réponses</b><br/> parmi les 4 réponses proposées. 
                                {% else %}
                                     Vous devez choisir la <br/><b>seule bonne réponse</b><br/>  parmi les 4 réponses proposées. 
                                {% endif %}
                            </h1>
                            <div class="starter_in" > Démarrage dans 
                                <span class="counterdown instruction" id="countdown" > 
                                    {{ gquizz.quizz.interslide }}
                                </span> s
                            </div>
                        </div>
                    </div> 
                </li>
                <li class="my_slide">
                    <input type="hidden" value="{{ question.duration }}" id="duration" /> 
                    <div class="row">  
                        <div class="col-sm-2 col-md-2" align="left">
                            <img src="{% if question.calculator %}{% static 'img/calculator.png' %}{% else %}{% static 'img/no_calculator.png' %}{% endif %}" height="50px" />
                        </div>
                        <div class="col-sm-8 col-md-8" align="center">
                                {% if question.qtype == 1 %}
                                    <b>Vrai  ou  Faux ?</b>
                                {% elif question.qtype == 2 %}
                                    <b>Ecrire la bonne réponse</b>.
                                {% elif question.qtype == 3 %}
                                    <b> Choisir  la ou les bonnes réponses</b>. 
                                {% else %}
                                    <b> Choisir la seule bonne réponse</b>. 
                                {% endif %}
                        </div>
                        <div class="col-sm-2 col-md-2" align="right">
                            <div class="countdown instruction" id="counterdown" > 
                                {{ question.duration }}
                            </div>
                        </div>
                    </div> 
                    {% if question.imagefile %}
                    <div class="row">  
                        <div class="col-sm-12 col-md-12"align="center">
                            <h1 style="font-size:2.5em" class="thin">  
                                {{ question.title|safe }} 
                            </h1>
                        </div>
                    </div>
                    <div class="row">  
                        <div class="col-sm-12 col-md-12"align="center">
                            <img src="{{ question.imagefile.url }}" height="300px"  />
                        </div>
                    </div>
                    {% else %}
                    <div class="row">  
                        <div class="col-sm-12 col-md-12"align="center">
                            <h1 style="font-size:4em" class="thin">  
                                {{ question.title|safe }} 
                            </h1>
                        </div>
                    </div>
                    {% endif %}
                    {% if question.qtype == 1 %}   
                        <div class="row">
                            <div class="col-sm-6 col-md-6 bgcolorBlue white" style="border-radius : 10px ">
                                <h1>VRAI </h1>  
                            </div> 

                            <div class="col-sm-6 col-md-6 bgcolorRed white" style="border-radius : 10px ">
                                <h1>FAUX </h1>  
                            </div> 
                        </div>
                    {%  elif question.qtype > 2 %}   
                        <div class="row">
                        {% for choice in question.choices.all %}
                            {% cycle 'bgcolorRed' 'bgcolorBlue' 'bgcolorOrange' 'bgcolorGreen' as rowcolor silent %} 
                            {% cycle 'A' 'B' 'C' 'D'  as choice_letter silent %}
                            <div class="col-sm-6 col-md-6 {{ rowcolor }} get_image" 
                                style="margin-bottom: 20px; color:#FFF; border : 1px solid #F0F0F0; border-radius : 10px ; font-size:{% if choice.answer|length > 30 %}2{% else  %}3{% endif %}em">
                                        {% if choice.imagefile %}
                                            <img src="{{ choice.imagefile.url }}" height="250px" />
                                        {% endif %}  

                                        {{ choice.answer }}
                            </div> 
                        {% endfor %}
                        {% resetcycle %}
                        {% resetcycle %}
                        </div>
                    {% endif %}
                </li>
                <li class="my_slide my_slide_instruction">
                    <div class="row">
                       <div class="col-sm-12 col-md-12">
                             <a href="#" class="command_results" data-all="1" data-question_id="{{ question.id }}" data-random="{% if gquizz.quizz.is_random %}1{% else %}0{% endif %}">
                                Afficher tous ?
                            </a>
                            <a href="#" class="command_results" data-all="0" data-question_id="{{ question.id }}" data-random="{% if gquizz.quizz.is_random %}1{% else %}0{% endif %}">
                                Afficher le podium ?
                            </a>
                        </div>
                    </div>
                    <div class="row consigne_diapo"  align="center">
                        <div class="col-sm-12 col-md-12" id="last_slide" >
                            <h1 style="font-size:6em;line-height: 400px" class="thin">Résultats</h1>
                        </div>
                        <div class="col-sm-12 col-md-12" id="display_results" >
 
                        </div>
                        <div class="col-sm-12 col-md-12"  >
                            <button type="submit" class="btn btn-default">Question suivante ?</button>
                        </div>
                    </div>  
                </li> 
            </ul>
        </div>
    </div>
</form>   
{% endblock %} 