{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}
 
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

    <script>
        require(['script/ajax-quizz-complement']);
    </script> 

{% endblock %}



{% block page_title %}
        <a href="{% url 'index' %}" ><img src="{% static 'img/quizz_menu.jpg' %}" width="40px" /> Les quizz</a> 
{% endblock %}



{% block page_menu_right %}
{% endblock %}



{% block body %}
<section class="content_main"> 
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table id="standard_tab" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Matière</th>
                    <th>Code</th>
                    <th>Titre</th>
                    <th>Actions</th>
                    <th>Correction </th>
                </tr>
                </thead>
                <tbody>
                    {% for quizz in quizzes %}
                    <tr style="font-size:20px">
                        <td> 
                           {{ quizz.subject.shortname }}
                        </td>
                        <td> 
                           {{ quizz.code }}
                        </td>
                        <td  style="position: relative;height:90px">
                            {{ quizz.title }}<br/>
                            <small> 
                            {% if quizz.is_random %}
                                {{ quizz.nb_slide }}
                            {% else %}
                                {{ quizz.questions.all|length }}
                            {% endif  %} question{% if quizz.nb_slide > 1 or quizz.questions.all|length > 1 %}s{% endif %}</small>
                            {% if quizz.vignette %}
                                <img src="{{ quizz.vignette.url }}" width="110px" style="position: absolute; bottom:5px; right:5px;" />
                            {% endif %}
                            <br/> 
                            <small>{{ quizz.duration|time_done }}</small>
                        </td>
                        <td>
                           {% if  quizz.quizz.is_video %}
                                <a href="{% url 'play_quizz_student'  %}" class="btn btn-sacado btn-xs"><i class="bi bi-phone"></i> Commencer</a><br/><small> Mode jeu projeté</small> 
                           {% elif quizz.is_numeric and not quizz.is_video %}
                                <a href="{% url 'goto_quizz_student' quizz.id  %}" class="btn btn-sacado btn-xs"><i class="bi bi-play"></i> Démarrer</a>
                                <a href="#" class="btn btn-default btn-xs show_my_quizz_result" data-toggle='modal'  data-target='#my_quizz_results' data-quizz="{{ quizz.id }}">Mes réponses</a>
                                <br/><small> Réponse numérique</small>
                            {% else %}
                                <a href="{% url 'show_quizz' quizz.id  %}" class="btn btn-sacado btn-xs"><i class="bi bi-pen"></i> Démarrer</a><br/><small>  Réponse sur papier</small>  
                            {% endif %} 
                        </td>
                        <td>
                            {% if quizz.is_result and not restart_gquizz %}
                                <small><a href="#" data-toggle='modal' class="show_my_quizz_result" data-target='#my_quizz_results' data-quizz="{{ quizz.id }}">Lire</a></small>
                            {% else %}
                                <small class="text-danger">Votre enseignant n'a pas encore<br/> publié les réponses</small>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">     
                <a href="javascript:history.back()"  class="btn btn-default " >Retour </a>
        </div>
    </div>
</section>



<div class="modal fade" id="my_quizz_results" tabindex="-1" role="dialog" aria-labelledby="my_quizz_results">
    <div class="modal-dialog modal-maxsize" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">        
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2 class='thin' >Résultats</h2>    
            </div>
            <div class="modal-body" id="my_result">
      
            </div>
        </div>
    </div> 
</div>
{% endblock %}