{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/quizz-slider']);
    </script> 
{% endblock %}



{% block page_title %}
   <a href="{% url 'list_quizzes' %}" ><i class="bi bi-aspect-ratio"></i> </a> Outils pédagogiques 
   <img width="25px" src="{% static 'img/angle-right.png' %}"/> Quizz mutualisé 
 
{% endblock %}


{% block page_menu_right %}
  <a href="{% url 'clone_quizz' quizz.id %}" class="btn btn-new">Récupérer le quizz</a>

    <a href="javascript:window.close();" class="btn btn-default">Fermer la fenêtre</a>
{% endblock %}






{% block body %}
 
 
  <div class="row" align="center">  
        <div class="col-sm-12 col-md-3" align="center"  >
            <div id="start_quizz">
                <button  class='btn btn-primary'><i class='fa fa-play'></i> Lecture automatique</button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" align="center" >
            {% for question in questions %}
                <button id="question{{ forloop.counter }}" class="btn btn-default thisquestion"> Q{{ forloop.counter }} </button> 
            {% endfor %}
        </div>



        <div class="col-sm-12 col-md-3" align="center"  >
            <button data-nav="prev" class="btn btn-default nav"><i class="fa fa-caret-left"></i> Précedent</button>  
            <button data-nav="next" class="btn btn-default nav"><i class="fa fa-caret-right"></i> Suivant</button>
            <button id="stop_quizz" class="btn btn-default"><i class="fa fa-compress"></i></button>
            <button id="starter_quizz" class="btn btn-default"><i class="fa fa-expand"></i></button>
        </div>
  </div> 

    <div class="wrapper_slider">
  <!-- Wrapper for slides -->
        <div class="slider">

            <ul>
                <li class="my_slide">
                    <input type="hidden" value="3" id="introduction" /> 
                    <div class="row consigne_diapo"  align="center">  
                        <div class="col-sm-12 col-md-12">
                            <h1 style="font-size:4em" class="thin"> 
                                {{ quizz.title}}
                            </h1>
                            {% if quizz.vignette %}<img src="{{ quizz.vignette.url }}" width="700px"  />{% endif %}
                        </div>
                    </div> 
                </li>

                {% block body_quizz %}
                    {% for question in questions %}
                    <li class="my_slide">
                        <input type="hidden" value="{{ quizz.interslide }}" id="inter_slide{{ forloop.counter }}" /> 
                        <div class="row consigne_diapo"  align="center">  
                            <div class="col-sm-12 col-md-12">
                                <h1 style="font-size:4em" class="thin"><b>Question {{forloop.counter}}.</b><span class="instruction"><br/>La durée de cette question est <br/>  <b>{{ question.duration }} secondes</b>.</span> <br/> 
                                    {% if question.qtype == 1 %}
                                        Répondre à cette question par <br/><b>Vrai</b> ou <b>Faux</b>
                                    {% elif question.qtype == 2 %}
                                        Vous devez répondre en écrivant <br/><b>la bonne réponse</b>.
                                    {% elif question.qtype == 3 %}
                                         Vous devez choisir <br/><b>la ou les bonnes réponses</b><br/> parmi les 4 réponses proposées. 
                                    {% else %}
                                         Vous devez choisir la <br/><b>seule bonne réponse</b><br/>  parmi les 4 réponses proposées. 
                                    {% endif %}
                                </h1>

                                <div class="starter_in" style="font-size:2em"> Démarrage dans 
                                    <span class="instruction counterdown" id="countdown{{ forloop.counter }}" > 
                                        {{ quizz.interslide }}
                                    </span> s
                                </div>
 

                            </div>
                        </div> 
                    </li>
                    <li class="my_slide">
                        <input type="hidden" value="{{ question.duration }}" id="duration{{ forloop.counter }}" /> 
                        <div class="row">  
                            <div class="col-sm-2 col-md-2" align="left">
                                <img src="{% if question.calculator %}{% static 'img/calculator.png' %}{% else %}{% static 'img/no_calculator.png' %}{% endif %}" height="50px" />
                            </div>
                            <div class="col-sm-8 col-md-8" align="center">
                                    {% if question.qtype == 1 %}
                                        <b>Vrai  ou  Faux ?</b>
                                    {% elif question.qtype == 2 %}
                                        <b>Ecrire la bonne réponse</b>.
                                    {% elif question.qtype == 3 %}
                                        <b> Choisir  la ou les bonnes réponses</b>. 
                                    {% else %}
                                        <b> Choisir la seule bonne réponse</b>. 
                                    {% endif %}
                            </div>
                            <div class="col-sm-2 col-md-2" align="right">
                                <div class="countdown instruction" id="counterdown{{ forloop.counter }}" > 
                                    {{ question.duration }}
                                </div>
                            </div>
                        </div> 
                        <div class="row">  
                            <div class="col-sm-12 col-md-12"align="center">
                                <h1 style="font-size:3.5em" class="thin"> {{ question.title }} </h1>
                            </div>
                        </div>
                        {% if question.imagefile %}
                        <div class="row">  
                            <div class="col-sm-12 col-md-12"align="center">
                                 <img src="{{ question.imagefile.url }}" height="{% if question.qtype == 2 %}550{% else %}350{% endif %}px" />
                            </div>
                        </div>
                        {% endif %}
                        <hr/> 


                        {% if question.tool and quizz.is_numeric %}  
                            <div class="row" style="margin-bottom:  20px; margin-top: 20px;"> 
                                <div class="col-sm-12 col-md-12" align="center">
                                    <button class="btn btn-default" id="sqrt_tool">$\sqrt{x}$</button> 
                                    <button class="btn btn-default" id="pow_tool">$x^{n}$</button> 
                                </div> 
                            </div> 
                        {% endif %}


                        {% if question.qtype == 1 %}   
                   
                                <div class="col-sm-12 col-md-6 bgcolorBlue white"  align="center" style="border-radius : 10px ">
                                    <h1 style="font-size:3.5em" class="thin">VRAI </h1>  
                                </div> 

                                <div class="col-sm-12 col-md-6 bgcolorRed white"  align="center" style="border-radius : 10px ">
                                    <h1 style="font-size:3.5em" class="thin">FAUX </h1>  
                                </div> 
                           
                        {%  elif question.qtype > 2 %}   
                             
                            {% for choice in question.choices.all %}
                                {% cycle 'bgcolorRed' 'bgcolorBlue' 'bgcolorOrange' 'bgcolorGreen' as rowcolor silent %} 
                                {% cycle 'A' 'B' 'C' 'D'  as choice_letter silent %}
                                <div class="col-sm-12 col-md-6" style="padding-right: 20px;margin-bottom: 20px;font-size:1.2em;   border-radius : 10px">
                                    <div class="row" >
                                        <div class="col-sm-2 col-md-1 {{ rowcolor }} get_image" style="padding-top: 2px;color:#FFF; padding-left:10px; border-radius : 10px 0px 0px 10px"> 
                                            <h1 style="font-size:2.5em">{{ choice_letter }} </h1>    
                                        </div>
                                        <div class="col-sm-10 col-md-11 {{ rowcolor }}" align="center" style="color:#FFF; font-size:{% if choice.answer|length > 20 %}1.5{% elif choice.answer|length > 10  %}2.5{% else  %}3{% endif %}em; border-radius : 0px 10px  10px 0px"> 
                                            {{ choice.answer }}
                                        </div>
                                    </div>  
                                </div> 
                            {% endfor %}
                            {% resetcycle %}
                            {% resetcycle %}
                        {% endif %}
                    </li>
                    {% endfor %}
                {% endblock %}


                <li class="my_slide">
                    <input type="hidden" value="3" id="final_question" /> 
                    <div class="row consigne_diapo"  align="center">  
                        <div class="col-sm-12 col-md-12">
                            <h1 style="font-size:4em" class="thin">
                                <br/><br/>
                                <b> -- FIN -- </b>
                                <br/><br/>
                                Posez vos stylos
                                <br/><br/>
                            </h1>
                        </div>
                    </div> 
                </li>





            </ul>
        </div>
    </div>
 
{% endblock %} 