{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
 
{% endblock %} 

  
{% block page_title %}
    <img src="{% static 'img/ggb.png' %}" width="25px"> Les questions aléatoires  <img width="25px" src="{% static 'img/angle-right.png' %}"/> {{ level.name }}
{% endblock %}

{% block page_menu_right %}
 

{% endblock %}


{% block body %}
<section class="content_container">  
    <div class="row">
        <div class="col-sm-12 col-md-12 qr_enonce" align="center"> 
             {{ qrandom.instruction|safe }}
        </div>
    </div>
</section>

{% endblock %}