    <li class="dropdown">

        <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-new"> Nouveau quizz <b class="caret"></b> </a>

        <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">
            <li> <a href="{% url 'create_quizz' %}" > Créer un quizz</a> </li> 
            <li> {% if sacado_asso %} <a href="{% url 'all_quizzes' %}" > Récupérer un quizz mutualisé</a> {% else %}<a href="#"  class="no_sacado_asso" > Récupérer un quizz mutualisé </a> {% endif %} </li>         
        </ul>
    </li>  