 
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}

 
 

<form action="#" method="POST" id="slide_form"  enctype='multipart/form-data' >
{% csrf_token %}  

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                {{ form.title.label_tag }}  
                {{ form.title |add_class:"form-control" }}
                {{ form.title.errors }}
            </div>
        </div>
    </div>
    <div class="row">
<!--         <div class="col-sm-6 col-md-2">
            <div class="form-group">
                {{ form.duration.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" >0, si transition manuelle.</div>
                                </span>
                {{ form.duration |add_class:"form-control" }}
                {{ form.duration.errors }}
            </div>
        </div> -->
        <div class="col-sm-6 col-md-3">
            <div class="form-group">
                {{ form.is_publish.label_tag }}<br/>
                {{ form.is_publish |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                {{ form.is_publish.errors }}
            </div>
        </div>  
    </div>
    <div class="row">                
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                {{ form.content.label_tag }}<br/>
                {{ form.content }}
                {{ form.content.errors }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12"> 
            <div class="form-group">
                <input value="{{ diaporama.id }}" id="diaporama_id" name="diaporama_id" type="hidden"  />
                {% if slide %}
                <input value="{{ slide.id }}" id="slide_id" name="slide_id" type="hidden"  />
                <input value="Enregistrer"  type="submit"  class="btn btn-primary btn-lg"/>
                {% else %}
                <input value="Enregistrer" type="submit"   class="btn btn-primary btn-lg"/>
                {% endif %}
            </div>
        </div>    
    </div>
</form>


 