 <!-- ********************************************************** Dépots  ************************************************************************** -->
<li class="{% if '/course' in request.path %} active {% endif %}">
    <div class="panel-group">
        <div class="panel panel-default" >
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="?to=student_uploadt_uploadedwork_todo"><i class="fa fa-list"></i> Devoirs à rendre</a>
            </h4>
          </div>
        </div>
    </div>
</li>