<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
 

    {% load static %} 
    {% load widget_tweaks %}   
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />    


    <title>S'inscrire à {{ group }} - {{ group.teacher.user.last_name|capfirst }}</title>
    {% load bootstrap3 %}
    {% bootstrap_messages %}

 
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" /> 
<link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" >
<link rel="stylesheet" href="{% static 'plugins/colorpicker/bootstrap-colorpicker.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
 

 
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,900">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,900">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pinyon+Script"> 


<style>
body{
    background-color: #5d4391!important ;
}
#inscription{
    background-color: #FFF ;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,0.4);
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width : 600px;
}
#head_inscription{
    background-color: #5d4391 ;
    color: #F7F7F7;
    padding:10px 20px;
}

#body_inscription{
    padding: 20px;
}
.form-control{  
  border-radius : 0px; 
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
}
.sacado{
  font-family:'MontSerrat';
  color:white!important;
}
 
.thin{
  font-weight: 100;
}

.init_box{
  border: 1px solid #f1eef7;
  padding : 70px 10px;
  width: 100%;
  height:200px;
}

.init_box:hover{
  background-color: #f1eef7;
}

.no_display{
  display : none;
}

.toppadding{
  padding-top: 20px;
}


</style>



</head>

<body>

    <div id="inscription">
            <div id="head_inscription">
                
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <h3 class="sacado"><img src="{% static 'img/sacadoA1.png' %}" style="width:30px"/> SACADO - Inscription élève</h3>
                        </div>
                    </div>   
            </div>
            <div id="body_inscription">
                {% if group.lock %}
                    <div class="alert alert-danger">
                        <i class="fa fa-lock fa-2x"></i> Le groupe <b>{{ group.name }}</b> est verrouillé. <br/>Vous ne pouvez plus vous y inscrire. Contacter l'enseignant {{ group.teacher.user.civilite }} {{ group.teacher.user.last_name|capfirst }}.
                    </div>
                {% else %}
                <form action="" method="POST" id="student_form">
                    <div class="row" align="center">
                        <div class="col-sm-12 col-md-12">
                                  <h2 class="thin">   <img src="{% static 'img/sacadoA1_grey.png' %}" />  Je n'ai pas de compte SACADO </h2>   
                        </div>
                    </div>   
                    {% csrf_token %}
                    <div   class="  toppadding" >

                        <h4  style="font-weight: 100">S'inscrire à {{ group.name }}<span class="pull-right"><small>{{ group.teacher.user.civilite }} {{ group.teacher.user.last_name|capfirst }}</small></span></h4>
                        <input name="group_id" value="{{ group.id }}" type="hidden" /> 
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    {{ u_form.first_name.label_tag }}
                                    {{ u_form.first_name |add_class:"form-control id_first_name" }}
                                    {{ u_form.first_name.errors }}
                                </div>
                            </div>                
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    {{ u_form.last_name.label_tag }}
                                    {{ u_form.last_name |add_class:"form-control id_last_name" }}
                                    {{ u_form.last_name.errors }}
                                </div>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-sm-11 col-md-12">
                                <div class="form-group">
                                    {{ u_form.email.label_tag }} <small>(optionnel)</small>
                                    {{ u_form.email |add_class:"form-control email" }}
                                    {{ u_form.email.errors }}
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-11 col-md-9">
                                <div class="form-group">
                                    {{ u_form.username.label_tag }}
                                    {{ u_form.username |add_class:"form-control username" }}

                                </div>
                                {% for error in u_form.username.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-sm-1 col-md-3">
                                <div class="form-group">
                                    <span class="ajaxresult pull-right"></span>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    {{ u_form.password1.label_tag }} <small><em>Au moins 8 caractères</em></small>
                                    {{ u_form.password1 |add_class:"form-control" }}
                                    {{ u_form.password1.errors }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    {{ u_form.password2.label_tag }}
                                    {{ u_form.password2 |add_class:"form-control" }}
                                    {{ u_form.password2.errors }}
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="alert alert-danger">

                                    Votre mot de passe ne doit pas contenir votre prénom ou votre nom. Il doit contenir <b>au moins 8 caractères</b>, des chiffres <b>et</b> des lettres <b>sans caractères spéciaux</b>.

                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                     <a href="#"  data-toggle='modal' data-target='#rgpd'>Voir le règlement général sur la protection des données.</a>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <input value="Enregistrer" name="submit_button" type="submit" class="btn btn-primary pull-right"/>
                                </div>
                            </div>
                        </div> 
                    </div>
                </form>
                <hr/>
                <form action="" method="POST" >
                    <div class="row" align="center">
                        <div class="col-sm-12 col-md-12">
                            <h2 class="thin">    <img src="{% static 'img/sacadoA1.png' %}" />    J'ai déjà un compte SACADO</h2>                              
                        </div>
                    </div> 
                    {% csrf_token %}
                    <input name="group_id" value="{{ group.id }}" type="hidden" /> 
                    <div  class="  toppadding" >
                        <h4 style="font-weight: 100">Rejoindre le groupe {{ group.name }} <span class="pull-right"><small>{{ group.teacher.user.civilite }} {{ group.teacher.user.last_name|capfirst }}</small></span></h4>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>Identifiant Sacado :</label>
                                    <input type="text"  name="this_username" class="form-control" />
                                </div>
                            </div>                
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>Mot de passe :</label>
                                    <input type="password" name="this_password" class="form-control" />
                                </div>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <input value="Rejoindre le groupe" name="other_submit_button" type="submit" class="btn btn-primary pull-right"/>
                                </div>
                            </div>
                        </div> 
                    </div>
                </form>
                {% endif %}


           </div>

    </div>


    <div class="modal fade" id="rgpd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Règlement général sur la protection des données </h2>
                </div>
                <div class="modal-body">
                    {% include 'setup/rgpd.html' %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'index/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'index/lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'index/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/script/enroll.js' %}"></script>
</body>

</html>



 