{% load widget_tweaks %}
{% load static %}
{% load item_tags %}
<div class="parcours_choice_list">
{% for parcours in parcourses %}

            <div  class="box box-widget widget-user-2 div_sorter"  {% if not parcours_sort.grouper %} data-parcours_id ="{{parcours.id}}" {% endif %} 
                  style="cursor: move;{% if parcours.vignette %}background-image: url('{{ parcours.vignette.url }}'); background-size: cover; {% endif %}background-color:{{parcours.color }};">
                <div class="handler widget-user-header">
                    <!-- Add signet to folder -->
                    {% if parcours.is_folder and not parcours.vignette  %}
                        <img src="{% static 'img/signet.png' %}" class="pull-right" />
                    {% elif parcours.is_folder and parcours.vignette  %}
                        <img src="{% static 'img/rabat_dossier.png' %}" class="rabat_dossier" />
                    {% elif not parcours.is_folder and parcours.vignette  %}
                        <img src="{% static 'img/rabat_parcours.png' %}" class="rabat_dossier" />
                    {% else  %}
                        <img src="{% static 'img/rabat_parcours.png' %}" class="rabat_dossier" />
                    {% endif  %}


                    {% if parcours.vignette %}                
                        <div class="box_title_underlay_vignette" style="background-color:{{ parcours.color }};">
                        </div> 
                    {% endif  %}
                    <div class="box_title_vignette"> 
                        <span class='thin' style="color:{{ parcours.color|contrast_color }};font-size:20px">{{ parcours.title|truncatechars:"28" }}</span>
                    </div>
                </div>



                <div class="box-footer">
                    <div class="row" align="center">
                        <span style="color:#222">
                            {% if parcours.is_folder %}
                                <i class="fa fa-folder"></i> Dossier de {{ parcours.leaf_parcours.count }} parcours 
                            {% else %}
                                <i class="fa fa-th"></i> Parcours
                            {% endif %}
                        </span>
                    </div> 
                    <div class="row" align="center">
                        <label class="btn btn-xs btn-primary"><input type="checkbox" name="parcours_id" value="{{ parcours.id}}"/> Sélectionner</label> 
                    </div>  
                </div>

            </div> 


{% empty %}

<div class="alert alert-danger">
Aucun parcours ne correspond à votre attente. Assurez-vous d'avoir bien renseigné le niveau et l'enseignement. Puis recocher l'option.
</div>

{% endfor %} 
</div>  