{% load static %}
{% load item_tags %}

{% get_score exercice student as score %}

{% if score != "" %}
    <a class="markdown square
            {% if score < stage.low %}
             red 
            {% elif score < stage.medium %}
            orange
            {% elif score < stage.up %}
            green
            {% else %}
            darkgreen
            {% endif %}"
          href="{% url 'show_this_exercise'  exercice.id   %}" data-container="body" target="_blank"
          data-toggle="popover"
          data-trigger="hover" data-placement="top"
          title="{{ exercises.parcours.title }} : {{ scores }}"
          data-content="{{ exercice.knowledge.name }}">
        {{ score }}
    </a>
{% else %}
    <a class="markdown square"                                                   
          href="{% url 'show_this_exercise' exercice.id %}" data-container="body" target="_blank"
          data-toggle="popover"  
          data-trigger="hover"
          title="{{ exercises.parcours.title }}" data-placement="top"
          data-content="{{ exercice.knowledge.name }}"> 
          {{ score }}
    </a>
{% endif %}