{% load static %}
{% load item_tags %}

 
<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle no_button {% if  'result_group_skill' in request.path %} active {% endif %}"> Bilans et suivis <b class="caret"></b> </a>
    <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">


    {% if sacado_asso %}

           <li class="submenu_div{% if 'parcours_result/' in request.path %} active{% endif %}">
            <a href="{% url 'result_group_waiting' group.id  %}" class="no_button"  >
                Lire le bilan individualisé <i class="fa fa-caret-right fa-xs sub_caret"></i>
            </a> 
            <ul class="dropdown-submenu">

                {% for std in group.students|exclude_teacher %}
                    <li class="{% if 'student' in request.path  %} {% if std.user.id == student.id %} active {% endif %}{% endif %}" >
                        <a href="{% url 'detail_student_all_views' std.user.id %}"  > 
                            {{ std }}   
                        </a>
                    </li>
                {% endfor %}


            </ul>
        </li> 

        <li class="divider"></li>

        <li {% if  'parcours_skill' in request.path %} class="active" {% endif %}>
            <a href="{% url 'result_group_skill' group.id %}" class="no_button">
               Lire le bilan par compétences
            </a>
        </li> 

        <li {% if 'parcours_result/' in request.path %} class="active" {% endif %}>
            <a href="{% url 'result_group_waiting' group.id  %}" class="no_button" >
                Lire le bilan par attendus 
            </a> 
        </li> 

        <li class="submenu_div{% if 'parcours_result/' in request.path %} active{% endif %}">
            <a href="{% url 'result_group_waiting' group.id  %}" class="no_button"  >
                Lire le bilan par savoir faire  <i class="fa fa-caret-right fa-xs sub_caret"></i>
            </a> 
            <ul class="dropdown-submenu">

                <li class="{% if 'result/' in request.path and not 'result_group_exercise' in request.path %} active {% endif %}">
                    <a href="{% url 'result_group'  group.id %}"  >Tous les savoir faire proposés </a>
                </li>
                <hr class="subdivider"/>
                {% for thm in group.level_themes %}
                <li class="{% if  'group_theme/' in request.path %} {% if thm.id == theme.id  %} active {% endif %}{% endif %}">
                        <a href="{% url 'result_group_theme'  group.id thm.id %}"  > {{ thm.name|truncatechars:35 }} </a>
                </li>
                {% endfor %}


            </ul>
        </li> 

        <li class="submenu_div{% if 'parcours_result/' in request.path %} active{% endif %}">
            <a href="{% url 'result_group_waiting' group.id  %}" 
                class="no_button" >
                Lire le bilan par exercice  <i class="fa fa-caret-right fa-xs sub_caret"></i>
            </a> 
            <ul class="dropdown-submenu">

                <li class="{% if 'result_group_exercise' in request.path %} active {% endif %}">
                    <a href="{% url 'result_group_exercise'  group.id %}"  >Tous les exercices proposés </a>
                </li>
                <hr class="subdivider"/>
                {% for thm in group.level_themes %}
                <li class="{% if  'group_theme_exercise' in request.path  %} {% if thm.id == theme.id   %} active {% endif %}{% endif %}">
                        <a href="{% url 'result_group_theme_exercise'  group.id   thm.id %}"  > {{ thm.name|truncatechars:35 }} </a>
                </li>
                {% endfor %}


            </ul>
        </li> 

        {% comment %}
        <li class="divider"></li>
        <li>
            <a href="{% url 'print_statistiques' group.id 0 %}"  
                class="no_button" id="print_stats">
                <span id="loading_stats"></span> Imprimer les bilans <i class="fa fa-file-pdf-o"></i>
            </a>
        </li> 
        {% endcomment %}

    {% else %}

        <li class="submenu_div{% if 'parcours_result/' in request.path %} active{% endif %}">
            <a href="#" class="no_button no_sacado_asso" title="version établissement requise" >
                Lire le bilan individualisé <i class="fa fa-caret-right fa-xs sub_caret"></i>
            </a> 
            <ul class="dropdown-submenu">

                {% for std in group.students|exclude_teacher %}
                    <li class="{% if 'student' in request.path  %} {% if std.user.id == student.id %} active {% endif %}{% endif %}" >
                        <a href="#"  > 
                            {{ std }}   
                        </a>
                    </li>
                {% endfor %}


            </ul>
        </li> 

        <li class="divider"></li>

        <li {% if  'parcours_skill' in request.path %} class="active" {% endif %}>
            <a href="#" class="no_button no_sacado_asso" title="version établissement requise">
               Lire le bilan par compétences
            </a>
        </li> 

        <li {% if 'parcours_result/' in request.path %} class="active" {% endif %}>
            <a href="#" class="no_button no_sacado_asso" title="version établissement requise">
                Lire le bilan par attendus 
            </a> 
        </li> 

        <li class="submenu_div{% if 'parcours_result/' in request.path %} active{% endif %}">
            <a href="#" class="no_button no_sacado_asso" title="version établissement requise">
                Lire le bilan par savoir faire  <i class="fa fa-caret-right fa-xs sub_caret"></i>
            </a> 
            <ul class="dropdown-submenu">

                <li class="{% if 'result/' in request.path and not 'result_group_exercise' in request.path %} active {% endif %}">
                    <a href="#"  >Tous les savoir faire proposés </a>
                </li>
                <hr class="subdivider"/>
                {% for thm in group.level_themes %}
                <li class="{% if  'group_theme/' in request.path %} {% if thm.id == theme.id  %} active {% endif %}{% endif %}">
                        <a href="#"  > {{ thm.name|truncatechars:35 }} </a>
                </li>
                {% endfor %}


            </ul>
        </li> 

        <li class="submenu_div{% if 'parcours_result/' in request.path %} active{% endif %}">
            <a href="#" 
                class="no_button no_sacado_asso" 
                title="version établissement requise">
                Lire le bilan par exercice  <i class="fa fa-caret-right fa-xs sub_caret"></i>
            </a> 
            <ul class="dropdown-submenu">

                <li class="{% if 'result_group_exercise' in request.path %} active {% endif %}">
                    <a href="#"  >Tous les exercices proposés </a>
                </li>
                <hr class="subdivider"/>
                {% for thm in group.level_themes %}
                <li class="{% if  'group_theme_exercise' in request.path  %} {% if thm.id == theme.id   %} active {% endif %}{% endif %}">
                        <a href="#"  > {{ thm.name|truncatechars:35 }} </a>
                </li>
                {% endfor %}


            </ul>
        </li> 
        {% comment %}
        <li class="divider"></li>
        <li>
            <a href="#" class="no_button no_sacado_asso" id="print_stats" title="version établissement requise">
                <span id="loading_stats"></span> Imprimer les bilans <i class="fa fa-file-pdf-o"></i>
            </a>
        </li> 
        {% endcomment %}
    {% endif %}




    </ul>
</li>



<li class="dropdown">

    <a href="#" data-toggle="dropdown" class="dropdown-toggle no_button "> 
        Paramètres {% if  'parcours_group' in request.path %} du groupe {% endif %}
        <b class="caret"></b>
    </a>

    <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">
        <li {% if 'parcours_group/' in request.path %} class="active" {% endif %}>
            <a href="{% url 'list_parcours_group' group.id  %}" ><i class="fa fa-th fa-fw"></i> Accéder aux parcours de ce groupe
            </a>
        </li> 
                <li class="divider"></li>

 
        {%  get_access_to_this_group  group   teacher  as     has_access_to_this_group %}
        {%  if  has_access_to_this_group.access   %}
        <li {% if 'group/update/' in request.path %} class="active" {% endif %}>
            <a href="{% url 'update_group' group.id %}"  > <i class="fa fa-cogs fa-fw"  ></i><span class="small_displayer"> Configurer le groupe/Ajouter des élèves</span></a>    
        </li>  

        <li {% if 'group/show/' in request.path %} class="active" {% endif %}>
             <a href="{% url 'show_group' group.id  %}" ><i class="fa fa-arrow-circle-right  fa-fw"></i>  Lire les détails/Modifier les élèves </a>
        </li>
        {%  endif %} 


        <li {% if 'group/print_list_ids/' in request.path %} class="active" {% endif %}>
             <a href="{% url 'print_list_ids' group.id  %}" ><i class="fa fa-list  fa-fw"></i> Télécharger la liste des identifiants </a>
        </li>

        <li {% if 'group/print_ids/' in request.path %} class="active" {% endif %}>
             <a href="{% url 'print_ids' group.id  %}" ><i class="fa fa-th  fa-fw"></i> Télécharger les identifiants en étiquette</a>
        </li>
 


        <li {% if 'schedule' in request.path %} class="active" {% endif %}>
            <a href="{% url 'schedule_task_group' group.id  %}"  > <i class="fa fa-calendar-check-o fa-fw"></i> Lire le calendrier des tâches</a>
        </li> 




        <li {% if 'task_group/' in request.path and not  'schedule' in request.path  %} class="active" {% endif %}>
            {% if group.is_task_exists %}
                <a  href="{% url 'all_my_tasks'  %}"  >
                    <i class="fa fa-calendar-check fa-fw"></i> 
            {% else %}
                <a  href="{% url 'task_group' group.id   %}"  >
                    <i class="fa fa-calendar fa-fw"></i>  
            {% endif %}
                     Lire le suivi des tâches
                </a> 
        </li>    
        <li {% if 'group/stats/' in request.path %} class="active" {% endif %}>
             <a href="{% url 'stat_group' group.id   %}"   ><i class="fa fa-bar-chart fa-fw"></i> Lire les stats</a>
        </li> 

        <li class="divider"></li>

        <li >
            <a href="{% url 'switch_teacher_student' group.id %}" class="no_button {% if not sacado_asso %}no_sacado_asso{% endif %}" {% if not sacado_asso %}title="version établissement requise"{% endif %}>
               <i class="fa fa-glasses fa-fw"></i> Accéder à la vue élève
            </a>
        </li> 



    </ul>
</li>    
   




<!-- <li class="dropdown  dropdown-large">
  <a href="#" class="dropdown-toggle no_button {% if 'student' in request.path %} active {% endif %}" data-toggle="dropdown"> Tâches  <b class="caret"></b></a> 
    <ul class="dropdown-menu clearfix pull-right" role="menu">


        <li class="dropdown dropdown-submenu {% if  'group_task' in request.path  %} active {% endif %}" >
            {% if group.is_task_exists %}
                <a href="{% url 'group_tasks' group.id %}"  > En cours de {{ group }}</a>
            {% else %}
                <span style="padding: 3px 20px;display: block ; clear:both; white-space: nowrap; color:#c90202;font-weight: 400">   Aucune tâche en cours </span>
            {% endif %}
        </li>
         <li class="dropdown dropdown-submenu {% if  'tasks_all' in request.path  %} active {% endif %}" >
                <a href="{% url 'group_tasks_all' group.id %}"  > Toutes de {{ group }} </a>
        </li>
        <li class="divider"></li>
         <li class="dropdown dropdown-submenu {% if  'task_all' in request.path  %} active {% endif %}" >
                <a href="{% url 'all_my_tasks'  %}"  > Toutes les taches en cours</a>
        </li>
         <li class="dropdown dropdown-submenu {% if  'task_all' in request.path  %} active {% endif %}" >
                <a href="{% url 'these_all_my_tasks'    %}"  > Toutes les taches  </a>
        </li>

    </ul>
</li>  -->
