{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}


{% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common3.js' %}"></script> 
    <script>
        require(['script/ajax-group']);
    </script>
{% endblock %}

 






 



{% block page_title %}
    <span style="color:{{ group.color }}"><i class='fa fa-calendar'></i>  Gestion des taches <img src="{% static 'img/angle-right.png' %}"/> <small>{{ group.name }}</small> </span> 
{% endblock %}

{% block page_menu_right %}


    {% if group %}
        {% include 'group/submenu_group.html'  %}
    {% endif %}
{% endblock %}

 


      
 


                     
                 

{% block body %} 
<style>

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
}
</style>
 
    <div class="content_list"> 
  
 
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table id="standard_tab" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Nom et prénom</th>
                        <th>Nombre de taches</th>
                        <th>Rendu</th>
                        <th>Non rendu</th>
                        <th>En retard </th>
                    </tr>
                    </thead>
                    <tbody>  
                        {% for stat in stats  %}
                            <tr class="no_padding">
                                <td style="width:200px">
                                    <form  action="" method="POST">{% csrf_token %} 
                                        {{ stat.name |truncatechars:"30" }}
                                    <div class="pull-right"> 
                                        <a href="#" data-toggle='modal'
                                            data-target='#writer' 
                                            class="send_message"   data-student_name="{{ stat.name.user }}"
                                            data-student_email="{{ stat.name.user.email }}">  
                                            {% if stat.name.user.email  %}                                      
                                            <i class="fa fa-inbox" style="font-size:14px"></i> 
                                            {% else %}
                                            <span class="icon-stack">
                                              <i class="icon-inbox"></i>
                                              <i class="icon-ban-circle icon-stack-base text-error"></i>
                                            </span>
                                            {% endif %}
                                        </a>                                         
                                    </div>  
                                    </form>    
                                </td>
                                <td>{{ stat.nb  }}</td>
                                <td>{% if stat.done  > 0 %} <span class="label label-success">{{ stat.done  }}</span>{% else %}{{ stat.done  }}{% endif %}</td> 
                                <td>{% if stat.no_done  > 0 %} <span class="label label-danger">{{ stat.no_done  }}</span>{% else %}{{ stat.no_done  }}{% endif %}</td>
                                <td>{% if stat.late  > 0 %} <span class="label label-warning">{{ stat.late  }}</span>{% else %}{{ stat.late  }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-12">     
                    <a href="javascript:history.back()"  class="btn btn-default " >Retour </a>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    <div class="modal fade" id="writer" tabindex="-1" role="dialog" aria-labelledby="writer" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                
                    <h5 class="modal-title" >Ecrire un message à  <span id="modal_student_name"></span></h5>
                </div>
                <div class="modal-body">
                    <form action="" method="post" > 
                          {% csrf_token %}
                        <div class="form-group"><input type="hidden" name="student_id" class="form-control" id="student_id"/>
                          <input type="text" name="name" class="form-control" id="name" placeholder="Nom" />
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email"  />
                        </div>
                        <div class="form-group">
                            {{ form.subject|add_class:"form-control"|attr:"placeholder:Au moins 8 caractères"|attr:"required" }}
                        </div>
                        <div class="form-group">
                            {{ form.texte  }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-sacado" id="sender_message">Envoyer</button>   
                            <a href="#"  class="btn btn-default" class="close" data-dismiss="modal" aria-label="Close">Retour</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  

 


{% endblock %}