{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"  data-main="{% static 'js/calendar.js' %}"></script>
 
 
    <script>
        require(['script/ajax-schedule']);
    </script>


{% endblock %} 

 


{% block styleMk4ht %}
    <link href="{% static 'plugins/schedule/fullcalendar/fullcalendar.min.css' %}" rel='stylesheet' />
    <link href="{% static 'plugins/schedule/fullcalendar/fullcalendar.print.min.css' %}" rel='stylesheet' media='print' />
    <style type='text/css'>
        body {
                font-size: 14px;
                font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
                }
        #calendar {
                width: 900px;
                margin: 0 auto;
                }
    </style>
{% endblock  %}





{% block page_title %} 
    <i class="bi bi-camera-video sacado_color_text"></i> 
  Calendrier des leçons  <small>{{ user_shown.last_name}} {{ user_shown.first_name}}</small> 
{% endblock  %}





{% block page_menu_right %} 
 
 
{% endblock  %}








{% block body  %} 
 


 

      <section class="content_bgwhite">
              <form  action="" method="POST">
                {% csrf_token %}  
                  <div class='calendar'></div>
              </form>
      </section>



<div class="modal fade" id="new_event" tabindex="-1" role="dialog" aria-labelledby="new_event" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <form  action="{% url 'create_event' %}" method="POST">
      {% csrf_token %}  
        {% include 'lesson/form.html' %}
    </form>
  </div>
</div>



<div class="modal fade" id="show_event" tabindex="-1" role="dialog" aria-labelledby="show_event" aria-hidden="true"  data-focus-on="input:first">
  <div class="modal-dialog" role="document">
         <div id='formulaire'></div>
    </form>
  </div>
</div>





{% endblock %}