{% load static %}
{% load widget_tweaks %}   
<script>
$("[data-toggle='toggle']").bootstrapToggle();

          $('.selector_color').on('click', function () {
              let color = $(this).attr("data-color");
              let code = $(this).attr("data-code");

              console.log("couleur"+color);

          $('#selected_colored').html("<i class='fa fa-square text-"+color+"'></i>");
          $('#id_colored').val("#"+code);
          });


$('.select2').select2({'width':'100%', });
$('.datepicker').datepicker();


</script>
 

<form  action="{% url 'update_event' event.id %}" method="POST">
  
    <div class="row">                      
      <div class="col-sm-12 col-md-12">
         <div class="form-group"><input type="hidden" name="event_id" value="{{ event.id }}" />
             <input value='{{ event.title  }}' type="text" id="title" name="title" class="form-control"/> 
        </div>
      </div>
    </div>


    <div class="row">                    
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <div class="form-group">url<br>
                    {{ form.url |add_class:"form-control"  }}
                </div>
            </div>
        </div>
    </div> 

    
    <div class="row"> 
      <div class="col-sm-3 col-md-3">
            <div class="form-group">Le<br>
                <input value='{{ event.start |date:"Y-m-d"}}' type="date" id="id_start" name="start" class="form-control"/> 
            </div>
      </div>  
      <div class="col-sm-9 col-md-9">
            <div class="form-group">
                    <div class="form-group">
                    Couleur <span id="selected_colored"></span> <br><input type="hidden" id="id_colored" name="color" required  value="{{ event.color }}" />
                                <a href="#"><i class="fa fa-square text-primary fa-2x selector_color" data-color="primary" data-code="0152a3"></i></a>
                                <a href="#"><i class="fa fa-square text-success fa-2x selector_color" data-color="success" data-code="3c763d"></i></a>
                                <a href="#"><i class="fa fa-square text-danger fa-2x selector_color" data-color="danger" data-code="a94442"></i></a> 
                                <a href="#"><i class="fa fa-square text-warning fa-2x selector_color" data-color="warning" data-code="ffcc00"></i></a>
                                <a href="#"><i class="fa fa-square text-orange fa-2x selector_color" data-color="orange" data-code="ef6d02"></i></a> 
                                <a href="#"><i class="fa fa-square text-purple fa-2x selector_color" data-color="purple" data-code="605ca8"></i></a>
                                <a href="#"><i class="fa fa-square text-pink fa-2x selector_color" data-color="pink" data-code="f442f1"></i></a>
                                <a href="#"><i class="fa fa-square text-water fa-2x selector_color" data-color="water" data-code="23afa5"></i></a>
                    </div>
            </div>
      </div>                
    </div>

    <div class="row"> 
      <div class="col-sm-6 col-md-6">
          <div class="form-group">De 
              <select  id='start_hour' name='start_hour' class="form-control select2">
                  {% for h in hours %}
                      <option value="{{ h }}">{{ h }}</option>
                  {% endfor %}
              </select>  
          </div>
      </div>  
      <div class="col-sm-6 col-md-6">
          <div class="form-group">à
              <select  id='end_hour' name='end_hour' class="form-control select2">
                  {% for h in hours %}
                      <option value="{{ h }}">{{ h }}</option>
                  {% endfor %}
              </select>    
          </div>
      </div>               
    </div>
 

    <div class="row">                    
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <div class="form-group">Inviter d'autres élèves<br>
                    {{ form.users |add_class:"form-control select2"  }}
                </div>
            </div>
        </div>
    </div> 




    <div class="row">                    
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <div class="form-group">Commentaire<br>
                    <textarea class="form-control" rows="3" name="comment" id="id_comment">{{ event.comment }}</textarea>
                </div>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group"> 
              <input value="Enregistrer" type="submit" class="btn btn-warning" style="width:100%"/> 
            </div>
        </div> 
    </div>  

</form>   