{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}


{% block python %}
<link rel="stylesheet" href="{% static 'basthon/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'basthon/css/style.css' %}">
<script src="{% static 'basthon/js/basthon-kernel/basthon.js' %}"></script>
<script src="{% static 'basthon/js/basthon-kernel/basthon_goodies.js' %}"></script>

<script src="{% static 'basthon/ace/ace.js' %}"></script>
<script src="{% static 'basthon/ace/ext-language_tools.js' %}"></script>

{% endblock %}


{% block page_title %}
  <i class="fab fa-python"></i> 
{% endblock %}
 
 
{% block page_menu_right %}
  <small>Avec l'aimable autorisation de <a href="https://python.infobrisson.fr/" target="_blank">Romain Casati</a></small>
{% endblock %}
 

{%  block body %}
<form action="" method="POST">

    {% csrf_token %}
    <div id="container">
      <div class="row">
          <div class="col-xs-12 consigne" >         
              <label>Enoncé : </label> {{ supportfile.annoncement|safe }} 
          </div>
      </div>
      <div id="left-div">
        <div id="editor"></div>
        <div style="padding: 1vw 0px 0px 0px; display: flex; float: left;">
          <a id="run" class="btn" title="Exécuter le script">
            <i class="fas fa-cogs fa-fw btn-logo btn-titled"></i>
            Tester votre script
          </a>
          <a id="download" class="btn" title="Télécharger le script">
            <i class="fas fa-download fa-fw btn-logo"></i>
          </a>
          <a id="hide-editor" class="btn" title="Afficher seulement la console" style="display: none;">
            <i class="fas fa-eye-slash fa-fw btn-logo"></i>
          </a>

        </div>
      </div>
      <div id="right-div">
        <div id="graphics" style="display: none; justify-content: center;  align-items: center;"></div>
        <textarea id="shell" autocomplete="off" spellcheck="false"></textarea>
        <div style="padding: 1vw 0px 0px 0px; display: flex; float: left;">
          <a id="raz" class="btn" title="Redémarrer Python">
            <i class="fas fa-broom fa-fw btn-logo"></i>
          </a>
          <a id="btn_shell" class="btn" title="Afficher la console">
            <i class="fas fa-terminal fa-fw btn-logo"></i>
          </a>
          <a id="btn_graph_view" class="btn" title="Afficher la vue graphique">
            <i class="fas fa-image fa-fw btn-logo"></i>
          </a>
          <a id="darklight" class="btn" title="Changer le thème (sombre/lumineux)">
            <i class="fas fa-adjust fa-fw btn-logo"></i>
          </a>
          <a id="switch" class="btn" title="Échanger l'éditeur et la console">
            <i class="fas fa-exchange-alt fa-fw btn-logo"></i>
          </a>
          <a id="hide-console" class="btn" title="Afficher seulement l'éditeur">
            <i class="fas fa-eye-slash fa-fw btn-logo"></i>
          </a>
          <a id="show-editor-console" class="btn" title="Afficher l'éditeur et la console" style="display: none;">
            <i class="fas fa-columns fa-fw btn-logo"></i>
          </a>
        </div>
      </div>


      <div id="left-div" style="margin-top: 20px">        
        <button   name="submit_code"  id="submit_code" class="btn btn-primary"  onclick="return control_script()" >Envoyer ce script à mon enseignant</button>                         

        <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                                   class="btn btn-default "/></a>
      </div>

    </div>
</form>
 
{% endblock %}


{% block python_js %}
     <script src="{% static 'basthon/js/editor.js' %}"></script>
    <script src="{% static 'basthon/js/shell.js' %}"></script>
    <script src="{% static 'basthon/js/gui.js' %}"></script>
{% endblock %}