<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    {% load widget_tweaks %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />   


    <title>{% block title %}SacAdo Académie{% endblock %}</title>
    {% load bootstrap3 %}
    {% bootstrap_messages %}

    <link href="{% static 'index/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> 

    {% block python_no_other_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
    {% endblock %}


    {% block python_css %}
    {% endblock %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pinyon+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap">

    <link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">

    <link href="{% static 'index/lib/animate/animate.min.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'index/css/style_academy.css' %}">

</head>

<body>

<div  {% if '/academy' in request.path %} class="index_academy"{% else %}class="container" {% endif %}>
    <header id="header">
        <div class="header_bar">
            <div class="logo float-left">
                <a class="navbar-brand sacado" href="{% url 'academy' %}"><img src="{% static 'img/sacadoA1.png' %}"/>
                   SACADO ACADÉMIE </a>
            </div>

            {% if '/academy' in request.path %}
            <nav class="main-nav float-right d-none d-lg-block">
                <ul>

                    <li><a href="#" data-toggle='modal' data-target='#connexion' class="btn-inscription">Connexion</a></li>

                </ul>
            </nav><!-- .main-nav -->
            {% elif '/list_exercises_academy' in request.path %}

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>

                    <li><a  href="{% url 'academy' %}">Retour à la page d'accueil</a></li>

                </ul>
            </nav><!-- .main-nav -->


            {% endif %}

        </div>
    </header><!-- #header -->
    <div class="main_body">
        {% block body %}
        {% endblock %} 
    </div>
</div>




{% block description %}
{% endblock %} 




{% block no_modal %}
<div class="modal fade" id="connexion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h1  class='sacado thin'  >Se connecter</h1>
            </div>
            <div class="modal-body">
                   
                <form action="{%  url 'login' %}" method="POST"  > 
                        {% csrf_token %} 
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <div class="form-group">
                            <label class='white'>{{ form.username.label_tag }} </label>   
                            {{ form.username |add_class:"form-control" }}
                            {{ form.username.errors }}
                            </div>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <div class="form-group">   
                            <label class='white'>{{ form.password.label_tag }} </label>   
                            {{ form.password |add_class:"form-control"  }}
                            {{ form.password.errors }}
                            </div>
                        </div> 
 
                    </div> 
                    <div class="row">
                        <div class="col-lg-5 col-xs-12">  
                            <div class="form-group">   
                                <a href="#"  data-toggle='modal' data-target='#lostpasswordModal' style="font-size:12px; color : #ef635c;">Identifiants oubliés ?</a>  
                            </div>        
                        </div>
                        <div class="col-lg-4 col-xs-12">  
                            <div class="form-group">   
                                <input name="envoi" type="submit" class="btn-inscription" value="Connexion" />
                            </div>        
                        </div>
                        <div class="col-lg-3 col-xs-12">  
                            <div class="form-group">   
                                <button type="button" class="btn btn-default"   data-dismiss="modal">Fermer</button>  
                            </div>        
                        </div>
                    </div>
                    {% if 'academy' in request.path %}
                    <hr/>
                    <div class="row">
                        <div class="col-lg-12 col-xs-12" align='center'>  
                            <div class="form-group">   
                                <a href="{% url 'student_to_association' %}">Nouvelle inscription</a>  
                            </div>        
                        </div>
                    </div>
                    {% endif %}
                </form> 
            </div>
        </div>
    </div>
</div>
 

<div class="modal fade" id="lostpasswordModal" tabindex="-1" role="dialog" aria-labelledby="lostpasswordModal" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class='sacado'  >Mot de passe oublié</h4>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            Pour des raisons de sécurité, il n'est pas possible de récupérer votre mot de passe. <b>Vous devez renseigner ci-dessous l'adresse électronique que vous avez utilisé lors de votre inscription.</b>
                            Vous allez recevoir un courriel sur cette adresse contenant un lien permettant de réinitialiser votre mot de passe.<br/> <b>Pour les élèves :</b> Si vous n'avez pas renseigné d'adresse électronique lors de votre inscription, vous ne pouvez pas récupérer votre mot de passe sans passer par votre enseignant.
                             

                        </div>        
                    </div> 
                    <hr>
                <form action="{%  url 'password_reset' %}" method="POST"  >
                {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                {{ np_form.email|add_class:"form-control"|attr:"placeholder:Renseigner votre courriel"|attr:"required"}}
                            </div>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">   
                            <div class="form-group"><input name="envoi" type="submit" class="btn btn-primary" value="Nouveau mot de passe" /></div>
                        </div> 
                    </div> 
                </form>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>          
        </div>          
    </div>
</div>
{% endblock %}

<script src="{% static 'index/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'index/lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'index/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 
<script src="{% static 'index/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'index/lib/mobile-nav/mobile-nav.js' %}"></script> 
<script src="{% static 'index/lib/waypoints/waypoints.min.js' %}"></script> 
<script src="{% static 'index/lib/wow/wow.min.js' %}"></script>   
<script src="{% static 'index/lib/counterup/counterup.min.js' %}"></script>   
<script src="{% static 'index/js/main.js' %}"></script> 

{% block general_js %}
<script src="{% static 'js/script/academy_accueil.js' %}"></script> 
<script src="{% static 'js/lib/select2.min.js' %}"></script>      
<script src="{% static 'js/script/config-select2-accueil.js' %}"></script> 
<script src="{% static 'js/lib/bootstrap-toggle.min.js' %}"></script> 
<script src="{% static 'index/slick/slick.js' %}"></script>
{% endblock %}
 


    </body>
</html>
