{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SacAdo</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />   
 
 
<style>


body {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color:  #b4b2f3;
    font-size: 14px;
}

a.sacado{
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #b4b2f3;
}


</style>
</head>

<body>

<section style="margin-left: auto;margin-right: auto;width:1000px">

  



      <div class="row" style="margin-bottom: 20px;margin-top: 30px;">

         <div class="col-xs-12 col-md-12" >  
            <p>Hummm ???..... Vous êtes arrivés sur cette page...C'est sans doute pas là que vous vouliez aller.  Ces manipulations peuvent en être la cause. </p>  
                <li>Vous avez double-cliqué sur le bouton d'enregistrement d'un formulaire.</li>
                <li>En vous connectant, vous avez appuyé sur le bouton Entrée de votre clavier et vous avez ensuite cliqué sur le bouton Connexion.</li>
                <li>Votre connexion Internet est un peu lente </li>
        </div>
      </div>

 
      <div class="row" align="center">
          <div class="col-xs-12 col-md-12" >  
              <img src="{% static 'img/crsf_failure.jpg' %}"/>
          </div>
      </div>

    <div class="row" style="text-align: right;">
       <a class="navbar-brand sacado" href="{% url 'index' %}"> Retour SACADO <img src="{% static 'img/sacadoA1.png' %}" style="height:20px;"/></a>
    </div>


 


</section>
</body>
</html>