{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    <script>   
        require(['script/ajax-dashboard']);
    </script>
{% endblock %} 


{% block page_title %}
    <i class="fa fa-cloud"></i> Tableau de bord administrateur</a>
{% endblock %} 

{% block page_menu_right %}
 {% if schools_tab|length == 1 %}     <a href="{% url 'update_school'  request.user.school.id    %}" style="font-size : 24px">{{ request.user.school.name }} <i class="fa fa-edit fa-xs"></i></a> {% endif %}
{% endblock %}


{% block body %}
<section class="content_main"> 
{% if not sacado_asso %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 alert alert-danger">
            Vous n'avez plus la version Etablissement
        </div>
    </div>
{% endif %}

    {% if request.user.is_manager %}
    <form  action="" method="POST" >        
        {% csrf_token %}
 
            {% for school in schools_tab %}
                {% with school.get_data as data %}

                    {% if schools_tab|length > 1 %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <h1 class="thin"><a href="#" class="show_school_click" data-school_id="{{ school.id }}"> <i class="fa fa-angle-right"></i> {{ school }}</a></h1>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12" style="height : 35px">
                             
                        </div>
                    </div>
                    {% endif %}


                    <div class="selector_school {% if school.id != school_id %}hide_school{% endif %}" id = "show_school{{ school.id }}">
                    <div class="row">
                        <!-- ./col -->
                 

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-purple">
                                <div class="inner">
                                     <span style="font-size: 35px">Enseignants </span>
                                    
                                </div>



                                <div class="icon">
                                    {{ data.nbt }} 
                                </div>
                                <a href="{% if sacado_asso %}{% url 'school_teachers' %}{% else %}#{% endif %}" class="small-box-footer"><i
                                        class="fa fa-arrow-circle-right"></i> Gestion des enseignants </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="small-box bg-{% if  data.nbg > 0 %}purple{% else %}danger{% endif %}">
                                <div class="inner">
                                     <span style="font-size: 35px">Groupes </span>
                                </div>
                                <div class="icon">
                                    {{ data.nbg }}
                                </div>
                                {% if  data.nbt > 0 %}
                                    <a href="{% if sacado_asso %}{% url 'school_groups' %}{% else %}#{% endif %}" class="small-box-footer"><i
                                        class="fa fa-arrow-circle-right"></i> Gestion des groupes </a>
                                {% else %}
                                    <a href="{% if sacado_asso %}{% url 'school_teachers' %}{% else %}#{% endif %}" class="small-box-footer"><i
                                        class="fa fa-arrow-circle-right"></i> Renseigner les enseignants </a>
                                {% endif %}
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="small-box bg-{% if  data.nbg > 0 %}purple{% else %}danger{% endif %}">
                                <div class="inner">
                                     <span style="font-size: 35px">Élèves </span>
                 
                                </div>
                                <div class="icon">
                                    {{ data.nbs }}  
                                </div>
                                {% if  data.nbs > 0 %}
                                    <a href="{% if sacado_asso %}{% url 'school_students' %}{% else %}#{% endif %}" class="small-box-footer"><i
                                        class="fa fa-arrow-circle-right"></i> Gestion des élèves </a>
                                {% else %}
                                    <a href="{% if sacado_asso %}{% url 'school_groups' %}{% else %}#{% endif %}" class="small-box-footer"><i
                                        class="fa fa-arrow-circle-right"></i> Gestion des groupes </a>
                                {% endif %}
                            </div>
                        </div>

                         
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="small-box bg-{% if  data.nbg > 0 %}purple{% else %}danger{% endif %}">
                                <div class="inner">
                                     <span style="font-size: 35px">Etablissement </span>
                 
                                </div>
                                <div class="inner">
                                    Token 
                                    <span class="helper_tip" style="font-size: 12px; color:#FFF"> <i class="fa fa-question-circle"></i>
                                        <div class="helper_tip_text" >Ce token est à donner aux enseignants de votre établissement pour s'enregistrer.</div>
                                    </span> :   {{ school.code_acad}}_{{ school.id }}  
                                </div>
 
                                {% if renew_propose %}
                                <a href="{% url 'school_accounting' %}" class="btn btn-warning btn-accueil" style="margin-left:10px;width:280px; position: absolute; top:150px;" > Réabonnement </a> 
                                {% endif %}
 
                                    <a href="{% url 'school_accounting'  %}" class="small-box-footer" ><i
                                        class="fa fa-arrow-circle-right"></i> Les cotisations </a>
 
                            </div>
                        </div>



                    </div>

 
                    <div class="row" >
                        <div class="col-lg-8 col-md-8 col-xs-12">
                            <h3 class="thin">Configuration de mon établissement  <a href="javascript:void();" id="show_help_from_tdb" style="font-size : 14px">Créer étape par étape</a>
                            </h3>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                             <a href="https://sacado.xyz/ressources/prise_en_main.pdf" target ="_blank" class="pulll-right btn btn-outline-danger"  >
                                Tuto des fonctionnalités  <img src="{% static 'img/pdf.png' %}" width="15px"/>
                            </a>
                        </div>
                    </div>

                    <div class="row" >
 
                        <div class="col-lg-4 col-md-4 col-xs-4">

                        </div>
                    </div>
                    <div class="row" style="margin-top:10px" {% if nb_students > 0 %} id="help_from_tdb" {% endif %} >
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <p {% if data.nbs == 0 %} style="color:#AAA" {% endif%}><b>Étape 1 : Remise à zéro de l'année en cours</b>{% if data.nbs == 0 %} <i class="fa fa-check text-success"></i> {% endif%}  </p>
                                <ul>
                                    <li> <a href="{% if sacado_asso %}{% url 'delete_school_group_and_students' %}{% else %}#{% endif %}" >Purge des groupes et des élèves  <i class="fa fa-arrow-circle-right"></i>  </a> </li>                          
                                </ul>
                            <p {% if data.nbt > 0 %} style="color:#AAA" {% endif%}><b>Étape 2 : Création ou importation des enseignants</b> {% if data.nbt > 0 %} <i class="fa fa-check text-success"></i> {% endif%} </p>
                                <ul>
                                    <li> <a href="{% if sacado_asso %}{% url 'register_teacher_from_admin' %}{% else %}#{% endif %}" {% if data.nbt > 0 %} style="color:#AAA" {% endif%}>Gestion des enseignants manuellement  <i class="fa fa-arrow-circle-right"></i>  </a> </li>                    
                                    <li> <a href="{% if sacado_asso %}{% url 'register_by_csv' 2 0 %}{% else %}#{% endif %}" {% if data.nbt > 0 %} style="color:#AAA" {% endif%}><img src="{% static 'img/excel.png' %}" width="15px"/> Gestion des enseignants par CSV <i class="fa fa-arrow-circle-right"></i>  </a> </li>                          
                                </ul>


                            <p {% if data.nbg > 0 %} style="color:#AAA" {% endif%}><b>Étape 3 : Création des groupes (ou classes)</b> {% if data.nbg > 0 %} <i class="fa fa-check text-success"></i> {% endif%}</p>
                 
                                <ul>

                                    <li><a href="{% if sacado_asso %}{% url 'school_groups' %}{% else %}#{% endif %}" {% if data.nbg > 0 %} style="color:#AAA"  {% endif%} > Gestion des groupes (ou classes)  <b>sans</b> les élèves <i class="fa fa-arrow-circle-right"></i></a>   </li>
                                    <li>
                                        <img src="{% static 'img/excel.png' %}" width="15px"/> 
                                        <a href="{% if sacado_asso %}{% url 'csv_full_group'  %}{% else %}#{% endif %}" {% if data.nbg > 0 %} style="color:#AAA"  {% endif%}  > Gestion des groupes ou des classes <b>avec</b> les élèves par CSV 
                                            <i class="fa fa-arrow-circle-right"></i> 
                                        </a>  
                                    </li>
                                </ul>

                        


                            <p {% if data.nbs > 0 %} style="color:#AAA" {% endif%}><b>Étape 4 : Création ou importation des élèves</b>{% if data.nbs > 0 %} <i class="fa fa-check text-success"></i> {% endif%} </p>
                 
                                <ul>


                                    <li>
                                        <img src="{% static 'img/excel.png' %}" width="15px"/>  <a href="{% if sacado_asso %}{% url 'school_groups' %}{% else %}#{% endif %}" {% if data.nbs > 0 %} style="color:#AAA" {% endif%}> Gestion groupe par groupe <i class="fa fa-arrow-circle-right"></i> </a>  
                                        <ul>
                                            <li class="sanspuce"><a href="{% if sacado_asso %}{% url 'school_groups' %}{% else %}#{% endif %}" class="btn btn-xs btn-default" title="Ajouter plusieurs élèves à ce groupe avec du CSV" > + <i class="fa fa-users text-success"></i> csv </a> 
                                                <small {% if data.nbs > 0 %} style="color:#AAA" {% endif%}>Ajoute directement des élèves au groupe sélectionné </small>
                                            </li>
                                            <li class="sanspuce"><a href="{% if sacado_asso %}{% url 'school_groups' %}{% else %}#{% endif %}" class="btn btn-xs btn-default" title="Ajouter un élève à ce groupe" >  +  <i class="fa fa-user"></i></a> 
                                                <small {% if data.nbs > 0 %} style="color:#AAA" {% endif%}> Ajouter un seul élève à un groupe </small>
                                            </li> 
                                        </ul> 
                                    </li> 

                                    <li><img src="{% static 'img/excel.png' %}" width="15px"/>  <a href="{% if sacado_asso %}{% url 'register_users_by_csv' 0 %}{% else %}#{% endif %}" {% if data.nbs > 0 %} style="color:#AAA" {% endif%}> Gestion des élèves sans groupe <i
                                                        class="fa fa-arrow-circle-right"></i> </a>  
                                         
                                    </li> 
                                </ul>
 
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <h3 class="thin">Options</h3>

 
                            <p><b> Récupérer les comptes élèves déjà existants</b> </p>
                 
                                <ul>


                                    <li> <a href="{% url 'get_school_students' %}"  onclick="return getAllStudents()">Récupération  </a> </li>
                     

                                </ul>


                            <p><b> Paramétrer les seuils d'acquisition des savoir faire et compétences </b> </p>
                                <ul>
                                    <li> <a href="{% if sacado_asso %}{% url 'manage_stage' %}{% else %}#{% endif %}">Modifier</a></li>
                                </ul>
                            {% if data.nbg %}
                            <p><b> Ré-attribuer des enseignants à des groupes existants </b> </p>
                                <ul>
                                    <li>                                
                                        <a href="{% if sacado_asso %}{% url 'group_to_teacher'  %}{% else %}#{% endif %}"> Ré-attribuer </a>      
                                    </li>
                                </ul>
                            {% endif %}
                            <p><b> Télécharger les identifiants des élèves </b> 

                                <ul>
                                    <li class="sanspuce"><a href="{% if sacado_asso %}{% url 'school_groups' %}{% else %}#{% endif %}" class="btn btn-xs btn-default" title=" " > <i class="fa fa-list"></i> Télécharger les identifiants par groupe </a> <small>Impression par listes</small>

                                    </li>
                                    <li class="sanspuce"><a href="{% if sacado_asso %}{% url 'school_groups' %}{% else %}#{% endif %}" class="btn btn-xs btn-default" title=" " > <img src="{% static 'img/pdf.png' %}" width="15px"/> Identifiants  </a> <small>Impression par étiquettes</small>
                                    </li>


                                </ul> 


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 ">
                            <h3 class="thin">Seuils d'acquisition des savoir faire et compétences  <a href="{% if sacado_asso %}{% url 'manage_stage' %}{% else %}#{% endif %}" style="font-size : 14px">Modifier</a></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 ">
                            {% if  data %}
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{ data.low   }}%">
                                    Maitrise insuffisante < {{ data.low }}%
                                </div>
                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{ data.eca }}%">
                                    Maitrise fragile  < {{ data.medium }}%
                                </div>
                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ data.ac }}%">
                                    Bonne maitrise < {{ data.up }}%
                                </div>
                                <div class="progress-bar progress-bar-primary" role="progressbar" style="width:{{ data.dep }}%">
                                    Très bonne maitrise
                                </div>
                            </div>
                            {% else %}
                                <div class="alert alert-danger">
                                    Seuils non renseignés
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                    {% if not forloop.last %}<hr/>{% endif %}
                {% endwith %} 

            {% endfor %}
 
    </form>


    {% endif %} 




    {% if is_lycee %}
    <hr/>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-12">
            <img src="{% static 'img/seconde_math_comp.png' %}" />
        </div>
        <div class="col-lg-9 col-md-9 col-xs-12">
            <span style="font-size:16px">Dans les lycées, certains élèves arrêtent les maths en Seconde malgré leur nécessité pour leur orientation. La reprise des mathématiques par la Terminale Complémentaire peut alors s'avérer compliquée. Sacado met à disposition un groupe qui recense les notions et besoins nécessaires via des cours et de exercices pour réussir cette reprise en douceur. </span> 
        </div>
        <div class="col-lg-1 col-md-1 col-xs-12">
            <a href="{% url 'get_seconde_to_math_comp' %}" class="btn btn-warning"  > Récupérer  </a>
        </div>
    </div>
    {% endif %} 
 

    {% if request.user.is_testeur %}
    <hr/>
    <h1 class="sacado"> Espace sacado, Tester les documents</h1>

    <a href="{% url 'admin_testeur' %}"   > Interface de gestion des tests  </a>
    {% endif %} 


</section> 
{% endblock %}