 {% load item_tags %}
 {% load static %}
 
    {% comment %}
    <a href="#" class="sub_menu_right pull-right whire" id="right_menu_open"><i class="fa fa-angle-double-left"></i> </a> 
    {% endcomment %}



    {% if parcourses_on_fire %}
    <div class="row" id="mixedSlider">
        <div class="col-md-12 col-lg-12 col-xs-12 in_this_time_container MS-content"> 
            <div class="in_this_time">En ce moment </div>

            {% for parcours in parcourses_on_fire %}
                <div class="item">
                {% if parcours.is_evaluation %}
                    {% with evaluation=parcours %}
                        {% include 'qcm/evaluation_tag_student.html' %}
                    {% endwith %}
                {% else %}                
                    {% include 'qcm/parcours_tag_student_index.html' %}                
                {% endif %}
                </div>
            {% endfor  %}
            <!-- ******************************************************************************************** -->
        </div>
                  
        <div class="MS-controls">
            <button class="MS-left no_visu_on_load"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
            <a href="#" class="MS-right"><i class="bi bi-arrow-right-circle"  ></i></a>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">
             <!-- ******************************************************************************************** -->
            <!-- *************************************** Parcours ******************************************* -->
            {% for group in groups %}
 
                {% get_documents_counter_by_student  student group as dataset  %}

                <div  class="box box-widget widget-user-2 folder_sorter"   
                      style="cursor: move;{% if group.vignette.is_exists %}background-image: url('{{ group.vignette.url }}'); background-size: cover; {% endif %}background-color:{{group.subject.color }};">
                    <div class="handler widget-user-header">
                        {% if group.vignette.is_exists %}                
                            <div class="box_title_underlay_vignette" style="background-color:{{ group.color }};">
                            </div> 
                        {% endif  %}
                        <div class="group_div_student">
                            {{ group.level.shortname_full|safe }} 
                        </div>
                        <div style="font-size:30px;color:{{ group.color|contrast_color }};font-weight: 100;position: absolute;bottom: 0px;left:12px"> 
                            {% if group.subject.name|length > 30 %}
                                {{ group.subject.shortname }}
                                {% else %}
                                {{ group.subject.name }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- box-footer DES FONCTIONNALITES  -->
                    <div class="box-footer dashboard_student" style="position: relative; padding-top: 0px;">
                        <div class="row dossier"  > 
                            <div class="col-xs-6 col-md-4 col-lg-4"> 
                                {% with dataset.nb_folders  as nbf %}   
                                    {{ nbf }} dossier{{ nbf|pluralize }}<br/> 
                                {% endwith %}
  
                                {{ dataset.nb_cours }} cours<br/> 
                                {{ dataset.nb_bibliotex }} bibliotex  
 
                            </div>
                            <div class="col-xs-6 col-md-4 col-lg-4">  
                                {{ dataset.nb_parcours }}   parcours<br/>

                                {% with dataset.nb_evaluations as nbe %}   
                                    {{ nbe }} évaluation{{ nbe|pluralize }}
                                {% endwith %}<br/>
                                
                                {% if dataset.a_new_cop %}  
                                    <a href="{% url 'show_parcours_student' dataset.a_new_cop.parcours %}" class="new_correction">Correction</a>
                                {% endif %}

                            </div>
                            <div class="col-xs-4 col-md-4 col-lg-4"> 
                                {{ dataset.nb_quizz }} quizz <br/>
                                {% with dataset.nb_flashpacks as nbf %}   
                                    {{ nbf }} flashpack{{ nbf|pluralize }}
                                {% endwith %}<br/>
   
                            </div>
                        </div>


                        <div class="row extend_student"> 
                            <div class="col-xs-12 col-md-12 col-lg-12"  style="margin-top:15px; margin-bottom:15px"> 
                                <div style="text-align: center"><br/>
                                    <a href="{% url 'dashboard_group' group.id %}" class="btn btn-new-violet" style="width:200px;background-color: {{ group.subject.color }};color: {{ group.subject.color|contrast_color }}">  
                                            {%  if is_task_exists %}
                                                <i class="fa fa-calendar-check" style="color:red"></i>
                                            {% endif %} Accéder
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row extend_student gray_sacado"> 

                            <div class="col-xs-6 col-md-6 col-lg-6"> 
                                {{ group.teacher.user.civilite }} {{ group.teacher.user.last_name }}
                            </div>
                            <div class="col-xs-6 col-md-6 col-lg-6" align="right"> 
                                {{ group.name }}  
                            </div>
                        </div>
                    </div>
                </div>   
            {% endfor  %}   

            
            <!-- ******************************************************************************************** -->
            <!-- *********************************** Tache à faire ****************************************** -->            
            {% if relationships_in_tasks|length > 0 %}
               <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="row"></div>
            <hr>
            <h2 class="thin">Mes tâches en cours</h2>
                 {% for relation in relationships_in_tasks %}
                        <div class="card_freeze">
                            <div class="card-body student">
                                <span style="color:{{ relation.parcours.color }}"> {{ relation.parcours }}</span>
     
                                {% if relation.exercise.supportfile.calculator %}
                                  <img src="{% static 'img/calculator.png' %}" class="pull-right" width="35px" />
                                {% else %}
                                  <img src="{% static 'img/no_calculator.png' %}" class="pull-right"   width="35px" />
                                {% endif  %} 
                            </div>                    
                            <div class="card-image">
                                {% if student %}
                                <a href="{% url 'execute_exercise'  relation.parcours.id  relation.exercise.id   %}">  <img src="{{ relation.exercise.supportfile.imagefile.url }}"  class="image_parcours" {% if not relation.is_publish %} style="opacity:0.3" {% endif %}    ></a>
                                {% else %}
                                <a href="#" class="detail_parcours"  data-exercise_id="{{ relation.exercise.id }}"  data-num_exo="{{ forloop.counter}}"   data-parcours_id="{{ parcours.id }}">
                                    <img src="{{ relation.exercise.supportfile.imagefile.url }}" class="image_parcours" {% if not relation.is_publish %} style="opacity:0.3" {% endif %}  >
                                </a> 
                                {% endif  %}


                                {% if  relation.date_limit %}
                                    {% get_done relation student as result   %} 
                                    {% if not result %} 
                                        <div  class="btn btn-danger"  style="position: absolute; right : 0px; top:120px;">   
                                              Avant le {{relation.date_limit|date:"d N Y" }}
                                        </div>
                                    {% endif %}    
                                {% endif %}   
                                <div class="card-text" style="background-color:{{ relation.parcours.color }}">
                                    <i class="fa fa-barcode"></i> {{ relation.exercise.supportfile.code }}  
                                    <i class="fa fa-clock-o"></i> {{ relation.duration }} min.
                                    <i class="fa fa-save"></i> {{ relation.situation}}
                                </div>
                            </div>
                        </div> 
                 {% endfor %}
            {% endif %}
            <!-- ******************************************************************************************** -->
        </div>
 
    </div>
