        <form action="" method="POST" enctype='multipart/form-data'> 
        <input type="hidden" id="type_of_document" value="{{ type_of_document }}" name="type_of_document" /><input type="hidden" id="id_parcours" value="{{ parcours.id }}" name="id_parcours" />
        {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label>Enseignements</label>
                        <select id="id_subject" name="subject" class="form-control select2">
                            {% for s in teacher.subjects.all %}
                                <option value="{{s.id}}">{{ s.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label>Niveau</label>
                        <select id="id_level" name="level" class="form-control select2" >
                            <option value=" ">Choisir un niveau</option>
                            {% for l in levels %}
                                <option value="{{l.id}}">{{ l.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-6">
                    <div class="form-group">
                        <label>Mot clé </label> <span style="font-size:12px"><em>Recherche par mot clé.</em></span>
                        <input id="keyword" name="keyword" class="form-control" />
                    </div>
                </div>


            </div> 
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div id="loader">
                    </div>
                    <div id="content_exercises" class="list_choice">
 
                    </div>
                </div>
            </div> 

        </form>