{% load static %}
<i class="fa fa-support"></i>  <a href="#" id="help_utf">Aide : Comment enregistrer le fichier CSV en UTF-8 ?</a>

<div  id="show_help_utf">

	<ul>
		<ol>1. Exporter votre base de données en .csv ou .xlsx ou .ods</ol>
		<ol>2. Ouvrir Excel ou OpenOffice Calc et copier le fichier dans un nouveau document </ol>
		<ol>3. Enregister le document avec Enregistrer Sous</ol>
		<ol>4. Choisir le Type Text CSV (*.csv) et valider. Si une fenetre surgit, conserver le modèle CSV.</ol>
		<ol>5. La fenetre Export de fichiers texte apparait. Choisir le jeu de caractères Unicode (UTF-8) et le point virgule comme séparateur de champ.<br/>
			<img src="{% static 'img/unicode_utf.png' %}" width="500px"/>



		</ol>

	</ul>

</div>