{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}







{% block body %}


{% if messages %}
<ul class="messages" id="container_messages">
    {% for message in messages %}
    <div class="container alert alert-info" role="alert" style="top:100px">
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}

{% if cookie_rgpd_accepted %}
<div id="display_rgpd" >
    <form  method="POST" enctype='multipart/form-data'> {% csrf_token  %}
        Sacado veille à protéger vos données personnelles. Ce site utilise des cookies pour améliorer votre expérience. Sacado ne recueille aucune donnée autre que les données nécessaires. <br/>Les cookies déposés via le service de partage de vidéo Youtube ont pour finalité de permettre à l’utilisateur de visionner directement sur le site le contenu multimédia.<br/>
        Via ces cookies, ce tiers collectera et utilisera également vos données de navigation pour son propre compte afin de cibler de la publicité et contenus en fonction de votre historique de navigation.<br/>
        Pour plus d’information, nous vous encourageons à consulter sa politique de confidentialité.
        <hr>
        <a href="#" id="accept_rgpd" class="btn btn-default"> Oui, j'accepte les cookies.</a>
        <a href="#" id="no_accept_rgpd" class="btn btn-default"> Non, je refuse les cookies.</a>
    </form>
</div>
{% endif %}

{% if form.errors %}
<div class="container alert alert-danger" role="alert" style="top:100px">
    <i class="fa fa-warning"></i> Votre connexion a échoué. Vérifier votre identifiant et/ou votre mot de passe.
</div>
{% endif %}
<!--==========================
Intro Section -
============================-->
<section class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 alert alert-sacado">

        <p>De la maternelle à la terminale, SACADO Académie propose des parcours en <b>mathématiques </b> conformes
  aux programmes scolaires 2022-2023 de l’Éducation Nationale, adaptés à votre enfant afin qu’il 
  progresse à son rythme. </p>


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 texte_accueil full_height" align="center" >
            <a href="{% url 'student_to_association' %}" class="btn btn-warning">Version de lancement : Période gratuite jusqu'au 31 août. </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h2>Nos menus</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3"  align="center">
            <div class="card" >             
                <div class="card-header">              
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <img src="{% static 'img/menu_autonomie.png' %}"  width="60px">
                        </div>
                        <div class="col-sm-8 col-md-9">
                         Menu<div class="sub_header">Autonomie</div> 
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="this_price"> <span class="currency">5 €</span>/mois</div>
                    <div class="card-block plus">
                        <p class="card-text">  <a href="#" data-toggle='modal' data-target='#Autonomie'  class="detail_index"><i class="bi bi-cursor"></i>  Plus en détails <i class="bi bi-question-circle"></i></a>  </p>
                    </div>
                    <a href="{% url 'choice_menu' 1 %}" class="btn btn-asso">Choisir ce menu</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3"  align="center">
            <div class="card" >             
                <div class="card-header">              
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <img src="{% static 'img/menu_ia.png' %}"  width="60px">
                        </div>
                        <div class="col-sm-8 col-md-9">
                         Menu<div class="sub_header">IA</div> 
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="this_price"> <span class="currency">10 €</span>/mois</div>
                    <div class="card-block plus">
                        <p class="card-text">  <a href="#" data-toggle='modal' data-target='#IA'  class="detail_index"><i class="bi bi-cursor"></i>  Plus en détails <i class="bi bi-question-circle"></i></a>  </p>
                    </div>
                    <a href="{% url 'choice_menu' 2 %}" class="btn btn-asso">Choisir ce menu</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3"  align="center">
            <div class="card" >             
                <div class="card-header">              
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <img src="{% static 'img/menu_suivi.png' %}"  width="60px">
                        </div>
                        <div class="col-sm-8 col-md-9">
                         Menu<div class="sub_header">Suivi</div> 
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="this_price"> <span class="currency">??? €</span>/mois</div>
                    <div class="card-block plus">
                        <p class="card-text">  <a href="#" data-toggle='modal' data-target='#Suivi'  class="detail_index"><i class="bi bi-cursor"></i> Plus en détails <i class="bi bi-question-circle"></i></a>  </p>
                    </div>
                    <a href="{% url 'choice_menu' 3 %}" class="btn btn-asso">Choisir ce menu</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3"  align="center">
            <div class="card" >             
                <div class="card-header">              
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <img src="{% static 'img/menu_accompagnement.png' %}"  width="60px">
                        </div>
                        <div class="col-sm-8 col-md-9">
                         Menu<div class="sub_header">Personnalisé</div> 
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="this_price"> <span class="currency">??? €</span>/mois</div>
                    <div class="card-block plus">
                        <p class="card-text">  <a href="#" data-toggle='modal' data-target='#accompagnement'  class="detail_index"><i class="bi bi-cursor"></i>  Plus en détails <i class="bi bi-question-circle"></i></a>  </p>
                    </div>
                    <a href="{% url 'choice_menu' 4 %}" class="btn btn-asso">Choisir ce menu</a>
                </div>
            </div>
        </div>
    </div>




    <div class="row alert alert-sacado" style="margin-top:20px">
        <div class="col-xs-12 col-md-12">
              <a href="{% url 'advises_index' %}">Vous souhaitez être conseillé avant de choisir votre menu ? cliquez ici.</a>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-6 col-md-4"  align="center">
            <a href="{% url 'acad_exercises' %}" ><i class="bi bi-explicit icon_index"></i></a>
            <p><strong> Cours et exercices</strong>   <br/>  
            <small>Interactifs, autocorrigés </small> </p> 
        </div>
        <div class="col-xs-6 col-md-4"  align="center">
             <a href="{% url 'parents' %}" ><i class="bi bi-people-fill icon_index"></i> </a> 
            <p><strong> Espace parent</strong> <br/> 
            <small>Interface complète </small>  </p>  
        </div>
        <div class="col-xs-6 col-md-4"  align="center">
             <a href="{% url 'numeric' %}" ><i class="bi bi-tablet icon_index"></i>  </a>
            <p><strong> Apprentissage actif</strong><br/>
            <small>Rétroaction, mémorisation, répétitions </small>  </p>          
        </div>
    </div>




</section>
 

<div class="modal fade" id="Autonomie" tabindex="-1" role="dialog" aria-labelledby="Autonomie">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">
                <h2 > <img src="{% static 'img/menu_autonomie.png' %}"  width="60px"> Menu Autonomie </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 

            </div>
            <div class="modal-body" >
 Votre enfant a accès à tous les cours et exercices du niveau choisi dès son inscription. il choisit les exercices dans les chapitres proposés selon ses besoins. Les parents peuvent contrôler le temps passer de connexion et reçoivent avec une fréquence choisie un rapport d'activité contenant les résultats des exercices faits.

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="IA" tabindex="-1" role="dialog" aria-labelledby="IA">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">
                <h2 > <img src="{% static 'img/menu_ia.png' %}"  width="60px"> Menu IA </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
            </div>
            <div class="modal-body" id="indiv_this_exercise">
 Les séquences d’exercices sont organisées par un programme d’intelligence artificielle qui ouvre un exercice en fonction du résultat de votre enfants ,à l’exercice précédent. Votre enfant est ainsi guidé selon ses besoins. Les parents peuvent contrôler le temps passer de connexion et reçoivent avec une fréquence choisie un rapport d'activité contenant les résultats des exercices faits. 
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Suivi" tabindex="-1" role="dialog" aria-labelledby="Suivi">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">
                <h2 > <img src="{% static 'img/menu_suivi.png' %}"  width="60px"> Menu Suivi </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
            </div>
            <div class="modal-body" id="indiv_this_exercise">
Votre enfant est accompagné par un enseignant qui adapte les parcours et conseille votre enfant sur les exercices à faire. Votre enfant peut échanger avec l’enseignant par tchat.  Les parents peuvent contrôler le temps passer de connexion et reçoivent avec une fréquence choisie un rapport d'activité contenant les résultats des exercices faits.

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="accompagnement" tabindex="-1" role="dialog" aria-labelledby="accompagnement">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">

                <h2 > <img src="{% static 'img/menu_accompagnement.png' %}"  width="60px"> Menu Personnalisé </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 

            </div>
            <div class="modal-body" id="indiv_this_exercise">
 Votre enfant est accompagné et suivi  par un enseignant qui adapte les parcours et échange avec votre enfant par visioconférence.  Les parents peuvent contrôler le temps passer de connexion et reçoivent avec une fréquence choisie un rapport d'activité contenant les résultats des exercices faits ainsi qu’un commentaire bilan de l'enseignant.



            </div>
        </div>
    </div>
</div>




{% endblock %}

