{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}







{% block body %}


{% if messages %}
<ul class="messages" id="container_messages">
    {% for message in messages %}
    <div class="container alert alert-info" role="alert" style="top:100px">
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}

{% if cookie_rgpd_accepted %}
<div id="display_rgpd" >
    <form  method="POST" enctype='multipart/form-data'> {% csrf_token  %}
        Sacado veille à protéger vos données personnelles. Ce site utilise des cookies pour améliorer votre expérience. Sacado ne recueille aucune donnée autre que les données nécessaires. <br/>Les cookies déposés via le service de partage de vidéo Youtube ont pour finalité de permettre à l’utilisateur de visionner directement sur le site le contenu multimédia.<br/>
        Via ces cookies, ce tiers collectera et utilisera également vos données de navigation pour son propre compte afin de cibler de la publicité et contenus en fonction de votre historique de navigation.<br/>
        Pour plus d’information, nous vous encourageons à consulter sa politique de confidentialité.
        <hr>
        <a href="#" id="accept_rgpd" class="btn btn-default"> Oui, j'accepte les cookies.</a>
        <a href="#" id="no_accept_rgpd" class="btn btn-default"> Non, je refuse les cookies.</a>
    </form>
</div>
{% endif %}

{% if form.errors %}
<div class="container alert alert-danger" role="alert" style="top:100px">
    <i class="fa fa-warning"></i> Votre connexion a échoué. Vérifier votre identifiant et/ou votre mot de passe.
</div>
{% endif %}
<!--==========================
Intro Section -
============================-->
<section>
    <div class="row" style="margin-bottom:30px">
        <div class="col-xs-12 col-md-12 bandeau_accueil" >

        </div>
    </div>


</section>
<section class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
                <h1 class="title_bloc_index">NOTRE MÉTHODE</h1>
                <p class="p_index"> De la <b class="rose">maternelle</b> à la <b class="rose">terminale</b>, SACADO Académie propose des parcours<b class="rose"> 100% mathématiques</b> conformes aux <b class="rose">réformes</b> et aux <b class="rose">programmes scolaires 2022-2023</b> de l’Éducation Nationale.</p>

                <p class="p_index"> Votre enfant progresse à son rythme avec des <b class="rose">exercices interactifs, corrigés</b> immédiatement, qu’il peut recommencer sans limitation. Les variables des exercices sont <b class="rose">aléatoires</b> pour ancrer  les procédures en mémoire.</p>
                <p class="p_index">  Chaque jour, <b class="rose">10 minutes</b> d'entrainement sur nos exercices structurés en parcours permettent de reprendre les procédures et techniques et de les fixer dans la mémoire. Ces <b class="rose">rituels</b> facilitent l'apprentissage des <b class="rose">automatismes</b> à la base de l'apprentissage des mathématiques.</p>
                <p class="p_index"> A partir du menu  <span class="bebas sacado">Adaptatif</span>, Sacado Académie utilise la puissance de l'<b class="rose">Intelligence Artificielle</b>. Les exercices sont alors proposés selon les réussites des enfants.  </p>


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h1 class="title_bloc_index">NOS MENUS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 full_height" align="center" >
            <div style="background-color: #ffc107 ; padding:10px; margin-bottom:30px; ">Version de lancement : Période gratuite jusqu'au 31 août. </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4"  align="center">
            <div class="card" >             
                <div class="card-header">              
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <img src="{% static 'img/menu_autonomie.png' %}"  width="60px">
                        </div>
                        <div class="col-sm-8 col-md-9">
                         Menu<div class="bebas sub_header">Autonomie</div> 
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="this_price"> <span class="currency">5 €</span>/mois<br/><small style="font-size:12px">Sans engagement</small></div>
                    <div class="card-block plus">
                        <p class="card-text">  <a href="#" data-toggle='modal' data-target='#Autonomie'  class="detail_index"><i class="bi bi-cursor"></i>  Plus de détails <i class="bi bi-question-circle"></i></a>  </p>
                    </div>
                    <a href="{% url 'choice_menu' 1 %}" class="btn btn-asso">Choisir ce menu</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4"  align="center">
            <div class="card" >             
                <div class="card-header">              
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <img src="{% static 'img/menu_ia.png' %}"  width="60px">
                        </div>
                        <div class="col-sm-8 col-md-9">
                         Menu<div class="bebas sub_header">Adaptatif</div> 
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="this_price"> <span class="currency">9 €</span>/mois<br/><small style="font-size:12px">Sans engagement</small></div>
                    <div class="card-block plus">
                        <p class="card-text">  <a href="#" data-toggle='modal' data-target='#IA'  class="detail_index"><i class="bi bi-cursor"></i>  Plus de détails <i class="bi bi-question-circle"></i></a>  </p>
                    </div>
                    <a href="{% url 'choice_menu' 2 %}" class="btn btn-asso">Choisir ce menu</a>
                </div>
            </div>
        </div>

        {% comment %}
        <div class="col-xs-6 col-md-4"  align="center">
            <div class="card" >             
                <div class="card-header">              
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <img src="{% static 'img/menu_suivi.png' %}"  width="60px">
                        </div>
                        <div class="col-sm-8 col-md-9">
                         Menu<div class="bebas sub_header">Suivi</div> 
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="this_price"> <span class="currency">15 €</span>/mois<br/><small style="font-size:12px">Sans engagement</small></div>
                    <div class="card-block plus">
                        <p class="card-text">  <a href="#" data-toggle='modal' data-target='#Suivi'  class="detail_index"><i class="bi bi-cursor"></i> Plus de détails <i class="bi bi-question-circle"></i></a>  </p>
                    </div>
                    <a href="{% url 'choice_menu' 3 %}" class="btn btn-asso">Choisir ce menu</a>
                </div>
            </div>
        </div>
        {% endcomment %}



        <div class="col-xs-12 col-md-4"  align="center">
            <div class="card" >             
                <div class="card-header">              
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <img src="{% static 'img/menu_accompagnement.png' %}"  width="60px">
                        </div>
                        <div class="col-sm-8 col-md-9">
                         Menu<div class="bebas sub_header">Personnalisé</div> 
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="this_price"> Dès <span class="currency">19 €</span>/mois<br/><small style="font-size:12px">Sans engagement</small></div>
                    <div class="card-block plus">
                        <p class="card-text">  <a href="#" data-toggle='modal' data-target='#accompagnement'  class="detail_index"><i class="bi bi-cursor"></i>  Plus de détails <i class="bi bi-question-circle"></i></a>  </p>
                    </div>
                    <a href="{% url 'choice_menu' 4 %}" class="btn btn-asso">Choisir ce menu</a>
                </div>
            </div>
        </div>
    </div>




    <div class="row alert alert-sacado" style="margin-top:20px">
        <div class="col-xs-12 col-md-12">
              <a href="{% url 'advises_index' %}" class="detail_index">Vous souhaitez être conseillé avant de choisir votre menu ? cliquez ici.</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h1 class="title_bloc_index">NOTRE CREDO</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-4"  align="center">
            <a href="{% url 'acad_exercises' %}" class="icon_link_index" >
                <div class="sub_icon_link_index">
                    <i class="bi bi-explicit icon_index"></i>
                    <p class="p_index"><strong style="color:#444"> Cours et exercices</strong>   <br/>  
                    <small>Interactifs, autocorrigés et détaillés </small> </p> 
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-4"  align="center">
            <a href="{% url 'parents' %}" class="icon_link_index" >
                <div class="sub_icon_link_index">
                    <i class="bi bi-people-fill icon_index"></i> 
                    <p class="p_index"><strong style="color:#444" >  Espace parent</strong> <br/> 
                    <small>Interface complète </small>  </p>
                </div>
            </a>   
        </div>
        <div class="col-xs-6 col-md-4"  align="center">
            <a href="{% url 'numeric' %}" class="icon_link_index">
                <div class="sub_icon_link_index">
                    <i class="bi bi-activity icon_index"></i>  
                    <p class="p_index"><strong  style="color:#444"> Apprentissage actif</strong><br/>
                    <small>Rétroaction, mémorisation, répétitions </small>  </p>
                </div>
            </a>          
        </div>
    </div>




</section>
 

<div class="modal fade" id="Autonomie" tabindex="-1" role="dialog" aria-labelledby="Autonomie">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <div class="row">
                        <div class="col-sm-3 col-md-2">
                            <img src="{% static 'img/menu_autonomie.png' %}"  width="60px"/>
                        </div>
                        <div class="col-sm-8 col-md-9">
                            <div style="font-size:30px;">  Menu <span class="sub_header bebas">Autonomie</span> </div>
                            <em style="font-size:12px;text-align: center" > en illimité (24h/24 et 7j/7) </em>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> 
                        </div>
                </div>
            </div>
            <div class="modal-body" style="font-size:14px;" >
 
                <b class="rose">Interface Enfant </b>

                <li>Tous les cours</li>
                <li>Tous les exercices</li>
                <li>Tableau de bord</li>
                <li>Suivi détaillé de sa progression jour par jour.</li>
               <br/>
                <b class="rose">Interface Parent</b>

                <li>Visualisation des résultats de chacun de vos enfants sur votre tableau de bord</li>
                <li>Choix de la réception d’un mail à chaque exercice fait (fréquence à choisir)</li>
                <li>Choix de la réception d’un rapport d’activité (nombre et % de réussite des exercices effectués)</li>
                <li>Génération d’un bilan (format pdf)</li>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="IA" tabindex="-1" role="dialog" aria-labelledby="IA">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <img src="{% static 'img/menu_ia.png' %}"  width="60px"/>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <span style="font-size:30px;">  Menu <span class="sub_header bebas">Adaptatif</span> </span>
                        <em style="font-size:12px;text-align: center" > en illimité (24h/24 et 7j/7) </em>
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> 
                    </div>
                </div>
            </div>
            <div class="modal-body" style="font-size:14px;" >
   
                <b class="rose">Interface Enfant </b>

                <li>Séquences d’exercices organisées par un programme d’intelligence artificiel, qui adapte une section de cours et d’activités en fonction de ses résultats.</li>
                <li>Niveaux structurés en fonction de ses réussites (il saute des paliers) ou de ses lacunes (il s’entraine  jusqu’à sa réussite !)</li>
                <li>Tableau de bord</li>
                <li>Suivi détaillé de sa progression jour par jour</li>
               <br/>
                <b class="rose">Interface Parent</b>

                <li>Visualisation des résultats de chacun de vos enfants sur votre tableau de bord</li>
                <li>Choix de la réception d’un mail à chaque exercice fait (fréquence à choisir)</li>
                <li>Choix de la réception d’un rapport d’activité (nombre et % de réussite des exercices effectués)</li>
                <li>Génération d’un bilan (format pdf)</li>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Suivi" tabindex="-1" role="dialog" aria-labelledby="Suivi">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <img src="{% static 'img/menu_suivi.png' %}"  width="60px"/>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <span style="font-size:30px">  Menu <span class="sub_header bebas">Suivi</span>    </span>
                        <em style="font-size:12px;text-align: center" > en illimité (24h/24 et 7j/7) </em>
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> 
                    </div>
                </div>
            </div>
            <div class="modal-body" id="indiv_this_exercise" >  
            
                <div class="alert alert-sacado"  align="center">
                    <img src="{% static 'img/menu_ia.png' %}"  width="60px"/>  Menu <span class="bebas">Adaptatif</span> 
                    <a href="#" id="detail_display_suivi"  class="detail_index" style="font-size:12px;"><i class="bi bi-cursor"></i>  Plus de détails <i class="bi bi-question-circle"></i></a><br/> 
                </div>

                <div id="show_detail_display_suivi" style="font-size:12px;">
                    <b class="rose">Interface Enfant </b>

                    <li>Séquences d’exercices organisés par un programme d’intelligence artificiel, qui adapte une section de cours et d’activités en fonction de ses résultats.</li>
                    <li>Niveaux structurés en fonction de ses réussites (il saute des paliers) ou de ses lacunes (il s’entraine  jusqu’à sa réussite !)</li>
                    <li>Tableau de bord</li>
                    <li>Suivi détaillé de sa progression jour par jour.</li>
                   <br/>
                    <b class="rose">Interface Parent</b>

                    <li>Visualisation des résultats de chacun de vos enfants sur votre tableau de bord</li>
                    <li>Choix de la réception d’un mail à chaque exercice fait (fréquence à choisir)</li>
                    <li>Choix de la réception d’un rapport d’activité (nombre et % de réussite des exercices effectués)</li>
                    <li>Génération d’un bilan (format pdf).</li>
                </div>

                <h2  align="center"><i class="bi bi-plus"></i></h2>

                    Votre enfant échange par <b  class="rose">Chat</b> (en direct) ou <b  class="rose">message</b> (réponse sous 24h) avec un <b  class="rose">enseignant</b> sur les difficultés rencontrées. <br/><em><small>Chat du lundi au vendredi 16h à 00h.</small> </em> 
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="accompagnement" tabindex="-1" role="dialog" aria-labelledby="accompagnement">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">

                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <img src="{% static 'img/menu_accompagnement.png' %}"  width="60px"/>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <div style="font-size:30px;">  Menu <span class="sub_header bebas">Personnalisé</span> </div>
                        <em style="font-size:12px;text-align: center" > en illimité (24h/24 et 7j/7) </em>
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> 
                    </div>
                </div>
            </div>
            <div class="modal-body" id="indiv_this_exercise">
                <div class="alert alert-sacado"  align="center">
                    <img src="{% static 'img/menu_ia.png' %}"  width="60px"/>  Menu <span class="bebas">Adaptatif</span> 
                    <a href="#" id="detail_display_perso"  class="detail_index" style="font-size:12px;"><i class="bi bi-cursor"></i>  Plus de détails <i class="bi bi-question-circle"></i></a><br/>
                </div>
                <div id="show_detail_display_perso"  style="font-size:12px;">
   
                <b class="rose">Interface Enfant </b>

                    <li>Séquences d’exercices organisées par un programme d’intelligence artificiel, qui adapte une section de cours et d’activités en fonction de ses résultats.</li>
                    <li>Niveaux structurés en fonction de ses réussites (il saute des paliers) ou de ses lacunes (il s’entraine  jusqu’à sa réussite !)</li>
                    <li>Tableau de bord</li>
                    <li>Suivi détaillé de sa progression jour par jour</li>
                   <br/>
                    <b class="rose">Interface Parent</b>

                    <li>Visualisation des résultats de chacun de vos enfants sur votre tableau de bord</li>
                    <li>Choix de la réception d’un mail à chaque exercice fait (fréquence à choisir)</li>
                    <li>Choix de la réception d’un rapport d’activité (nombre et % de réussite des exercices effectués)</li>
                    <li>Génération d’un bilan (format pdf)</li>




                </div>
                <h2  align="center"><i class="bi bi-plus"></i></h2>
                    Votre enfant échange par <b  class="rose">Chat</b> (en direct) ou <b  class="rose">message</b> (réponse sous 24h) avec un <b  class="rose">enseignant</b> pour débloquer les difficultés rencontrées. <br/><em><small>Chat du lundi au vendredi 16h à 00h.</small> </em> 

                <h2  align="center"><i class="bi bi-plus"></i></h2>Votre enfant est accompagné par un <b  class="rose">enseignant</b> par <b class="rose">visioconférence</b> selon les créneaux choisis. <br/><em><small>Choix de l'enseignant parmi les enseignants proposés par la Sacado Académie. <b class="rose">2 visios  de 45 min. comprises</b> puis paiement à la prestation supplémentaire.</small></em>
            </div>
        </div>
    </div>
</div>




{% endblock %}

