{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}




{% block body %}

 
 
<section class="pricing_box">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12" align="center">
                <h1 class="thin">Nos menus</h1>
                <h4>Choisir le menu qui vous convient</h4>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-6 col-md-6" align="center">

                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-md-6" align="center">

                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section> 


<section id="faq">
 
</section> 

 
    

{% endblock %}