{% load item_tags %} 
 

 
<div class="events {% if relationships|length > 8 %} div_events{% endif %}" >
        {%  if relationships|length > 0 %} 
            {% for relationship in relationships|dictsort:"date_limit" %}
            <li class="sans_puce" class="advertise"> {{ relationship.date_limit|date:"d.m.y" }} :
                {% get_done relationship.exercise student as done %}
                {% if done %}
                    {% get_score_student_for_this relationship  student as score %}
                        <span class="{% if score.point < 30 %}
                                     text-red  
                                    {% elif score.point < 60 %}
                                    text-orange
                                    {% elif score.point < 80 %}
                                    text-green
                                    {% else %}
                                    text-darkgreen
                                    {% endif %} parcours_displayer">
                                    <i class="fa fa-check-circle"></i>
                          </span>    
                          <small>{{  score.point }}%</small>
                      {% else %}

                      <i class="fa fa-square" style="color: {{ relationship.parcours.color }}"></i> 

                      {% endif  %}


                <a href="{% url 'execute_exercise' relationship.parcours.id  relationship.exercise.id %}"  class="parcours_displayer"  style="color:#cb2131">
           {% if relationship.exercise.supportfile.title  %} {{ relationship.exercise.supportfile.title  }}{% elif relationship.exercise.supportfile.annoncement  %} {{ relationship.exercise.supportfile.annoncement|cleanhtml }}{% else %}{{ relationship.exercise.knowledge.name }}{% endif %}
                </a>
            
            </li>
            {% endfor %}
             
                    <span style="padding-left: {{ ratiowidth }}%">{{ ratio }}%</span><br>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ ratio }}%" aria-valuenow="{{ ratio }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
        {% else %}
            <li class="sans_puce">Aucune tâche proposée</li>
        {% endif %}

        {%  if customexercises|length > 0 %} 
            {% for ce in customexercises|dictsort:"date_limit" %}
            <li class="sans_puce" class="advertise"> {{ ce.date_limit|date:"d.m.y" }} :
                {% get_done ce student as done %}
                {% if done %}
                    {% get_score_student_for_this ce  student as score %}
                        <span class="{% if score.point < 30 %}
                                     text-red  
                                    {% elif score.point < 60 %}
                                    text-orange
                                    {% elif score.point < 80 %}
                                    text-green
                                    {% else %}
                                    text-darkgreen
                                    {% endif %} parcours_displayer">
                                    <i class="fa fa-check-circle"></i>
                          </span>    
                          <small>{{  score.point }}%</small>
 

                {% endif  %}
                  Exercice à rendre
<!-- 
                <a href="{% url 'write_custom_exercise' ce.id   %}"  class="parcours_displayer"  style="color:#cb2131">
                  Exercice à rendre
                </a>
             -->
            </li>
            {% endfor %}
             
 

 
        {% endif %}
</div>

{%  if relationships_in_late %} 
<div class="events_title">
    <span class="text-red">En retard</span>
    <small>
        <span class="pull-right parcours_displayer pull-right_top"><i class="fa fa-calendar"></i> <a href="{% url 'calendar_initialize' %}" >Afficher le calendrier</a></span>
    </small> 
</div>
<div class="events {% if relationships_in_late|length > 6  %} div_events{% endif %}">
      {% for relationship in relationships_in_late|dictsort:"date_limit" %}
      <li class="sans_puce" class="advertise">{{ relationship.date_limit|date:"d.m.y" }} :

          {% get_done relationship.exercise student as done %}
          {% if done %}
              {% get_score_student_for_this relationship  student as score %}
                  <span class="{% if score.point < 30 %}
                               text-red  
                              {% elif score.point < 60 %}
                              text-orange
                              {% elif score.point < 80 %}
                              text-green
                              {% else %}
                              text-darkgreen
                              {% endif %}">
                              <i class="fa fa-check-circle"></i>
                    </span>    
                    <small>{{  score.point }}%</small>
                {% else %}
                <i class="fa fa-square" style="color: {{ relationship.parcours.color }}"></i>
                {% endif  %}
          <a href="{% url 'execute_exercise' relationship.parcours.id  relationship.exercise.id %}" style="color:#cb2131">
           {% if relationship.exercise.supportfile.title  %} {{ relationship.exercise.supportfile.title  }}{% elif relationship.exercise.supportfile.annoncement  %} {{ relationship.exercise.supportfile.annoncement|cleanhtml }}{% else %}{{ relationship.exercise.knowledge.name }}{% endif %}
          </a>
      </li>
      {% endfor %}
</div>
{% endif %}


 





<li class="sans_puce"><a href="#" id="select_parcours_div" class="btn btn-default full_width">Derniers exercices</a> </li>





{% if teacher_to_student %}

<hr/>

<li class="sans_puce"><a href="#" id="teacher_to_student_view" class="btn btn-info full_width">Revenir au profil enseignant</a> </li>

<div id="teacher_to_student_div" class="">
    <form method="post" action="{% url 'switch_student_teacher' %}" enctype='multipart/form-data'>
      {% csrf_token %}

          <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label> </label>
                    <input type="password" name="password" placeholder="Mot de passe du compte enseignant" class="form-control" required />
                </div>
              </div> 
          </div>
 

         

 
          <div class="row">
              <div class="col-sm-12 col-md-12">
 
                  <button type="submit" class="btn btn-primary">Valider</button>   
 
 
              </div>
          </div>
    </form>
</div>


{% endif  %}