	
<h3>Article 1 : Identité et coordonnées </h3>
<p>L’association Sacado (https://sacado.xyz) dont le siège social est situé 2 B avenue de la Pinède, La Capte 83400 Hyères France, est représentée par Monsieur Philippe Demaria en qualité de Président, téléphone 06.22.47.86.27 - 
email : sacado.asso@gmail.com</p>
 
<p>L’édition et la direction de la publication du site https://sacado.xyz est assurée par Philippe Demaria, philippe.demaria83@gmail.com, domicilié à La Marsa (Tunisie) et Bruno Serres, bruno.serres33@gmail.com, domicilié au Managua (Nicaragua).</p>
 
<p>L'hébergeur du site https://sacado.xyz est la société LWS (Ligne Web Services - www.lws.fr), S.A.R.L au capital de 1 000 000 euros, dont le siège social est situé 10 Rue de Penthièvre, 75008 Paris France, et que vous pouvez contacter au numéro de téléphone suivant : +33 177 62 30 03.
</p>

 

<h3>Article 2 : Protection des données personnelles  </h3>

 
<h4>2.1. Mentions RGPD du GAR</h4> 
<p>Dans le cadre du GAR, le responsable de traitement est le ministre chargé de l’éducation nationale. Le Traitement GAR est défini par un arrêté pris par le Ministre chargé de l’éducation nationale. Dans ce cas, l’éditeur est sous-traitant du Ministre au sens du RGPD. Lien vers les mentions RGPD du GAR (https://gar.education.fr/mentions-informatives-rgpd/) et l’arrêté GAR(https://www.legifrance.gouv.fr/loda/id/JORFTEXT000036249969/) (Arrêté relatif à la mise en œuvre par le ministère de l'éducation nationale d'un traitement de données à caractère personnel dénommé « gestionnaire d'accès aux ressources » (GAR). Référence NOR : MENN1729109A, publié au journal officiel de la République française le 23 décembre 2017. )
aitement de données à caractère personnel dénommé « gestionnaire d'accès aux ressources » (GAR). Référence NOR : MENN1729109A, publié au journal officiel de la République française le 23 décembre 2017. )</p>

<h4>2.2. Finalités </h4>
<p>Dans le cadre du GAR, ce sont les finalités définies par l’arrêté GAR qui sont applicables. Dans le cas où le chef d’établissement ou le DASEN est responsable du traitement, les finalités doivent être définies dans le contrat de sous-traitance entre le responsable de traitement et l’éditeur. Les données collectées vont permettre à l'enseignant d'établir un profil de compétences de ses élèves à des fins pédagogiques ou de construire des outils d'apprentissage. Tout usage sortant du cadre des finalités définies est interdit.</p>

 
<h4>2.3. Base légale du traitement</h4>
<p>Dans le cadre du GAR, c’est l’arrêté GAR qui fournit la base légale.</p>
 
<h4>2.5. Recueil de données</h4>
<p>Les recueils de données sont de type :<br/>
Données d'usage (données à caractère personnel : nom, prénom, email seulement pour les enseignants)<br/>
Données de personnalisation<br/>
Données de production<br/>
Données d'évaluation<br/>
Dans le cadre du GAR, les recueils de données concernent :<br/>
Les données de connexion et la transmission des attributs.<br/>
L’ensemble de toutes les données produites au cours de l’usage de la ressource.<br/>
Aucun consentement pour les usagers élèves ne peut être demandé.
En usage Gar, ces données sont toujours fournies, dans le cadre du Traitement GAR, sous la responsabilité du Ministre, et sur la base de la qualification de conformité de la ressource.</p>
 
<h4>2.6. Destinataires ou catégories de destinataires des données (ou critères permettant de la déterminer)
</h4>
<p>Dans le cadre du GAR, ces données sont conformes aux dispositions du Contrat GAR, et sont décrites dans la déclaration de conformité (purges).
<p>La conservation est permise pour assurer la continuité entre les abonnements successifs.</p>
<p>Données effacées pour les élèves : les données des élèves sont purgées au terme de l'année scolaire (chaque 15 août de l’année scolaire) pour permettre la mise en œuvre du droit à l'oubli définie par la loi République numérique. Un certificat de destruction est envoyé annuellement au ministère.</p>
<p>Données effacées pour les enseignants : la durée de conservation des données peuvent être portées à la totalité de la durée de la présence dans l'établissement pour garantir la conservation des travaux personnels.</p>
<p>Un certificat de destruction est envoyé annuellement au ministère.</p>
<p>Les données GAR sont purgées chaque 15 aout de l'année scolaire précédente, à l'exception de l'IDO qui restera conservé comme clé de jointure avec les nouvelles connexions de l'année suivante.
</p>


<h4>2.7. Droits des personnes concernées</h4>
<p>Les droits d’accès, de rectification, d’effacement et à la limitation sont applicables pour tous les traitements.</p>
<p>Dans le cadre du GAR, ces obligations incombent au responsable de traitement, donc au Ministre.</p>
<p>Pour les données à caractère personnel fournies par les attributs GAR, les données sont celles du système d’information de l’établissement. Les demandes d’accès ou de modification doivent être adressées au ministère.</p>
<p>Pour les données à caractère personnel produites lors de l’utilisation de la ressource, les demandes peuvent être adressées directement à l’éditeur, qui devra assurer que les droits des personnes sont respectés, et ce que la demande vienne du responsable de traitement, de l’usager lui-même ou d’un de ses responsables légaux.
</p>
 
<h4>2.8. Coordonnées du délégué à la protection des données de l’organisme :</h4>
<p>Philippe Demaria - 2 bis avenue de la pinède 83400 Hyères <br/>
Mail : philippe.demaria83@gmail.com</p>

<h4>2.9. Droit d’introduire une réclamation auprès de la CNIL</h4>
<p>Tout usager a le droit d’introduire une réclamation auprès de la CNIL.</p>
 
 
<h4>2.10. Cookies et traceurs</h4>
<p>Les élèves ne sont pas habilités à porter une quelconque approbation à l'utilisation des dispositifs de cookies et/ou traceurs.
Les dispositifs de cookies ou traceurs utilisés entrent dans le cadre de la dispense d’approbation.<br/>
Les traceurs à visée publicitaires sont sans objet du fait de l’interdiction de la publicité à l’école.<br/>
Les traceurs utilisés afin de partager des données sur les réseaux sociaux sont sans objet pour les élèves<br/>
Les cookies respectent les conditions suivantes :<br/>
Ils sont strictement limités à la seule mesure d’audience sur le site pour le compte exclusif de l’éditeur ;<br/>
Ils servent uniquement à produire des données statistiques anonymes ;<br/>
Ils ne permettent le suivi global de la navigation de la personne utilisant différentes applications ou naviguant sur différents sites web ;<br/>
Ils ne permettent le recoupement des données avec d’autres traitements ou à ce que les données soient transmises à des tiers.</p>
 
<p>SACADO confirme qu'il ne prélève pas de statistiques de mesure d'audience. Comme les adresses IP sont des données personnelles, elles sont anonymisées.</p>
 
 
