{% load widget_tweaks %}
{% load static %}

 
<p> Voici les tarifs établissements 2021. Toute contribution est acceptée. L'association vous remercie.</p> 

<table class="table table-striped table-hover" >
    <tr>
        <td>jusqu'à</td>        <td>500 élèves</td>        <td>1 000 élèves</td>        <td>1500 élèves</td> <td>+ de 1500 élèves</td>
    </tr>
    <tr>
        <td>Après le 13 juillet 2023</td>        <td>100 €</td>        <td>200 €</td>        <td>300 €</td> <td><a href="{% url 'index' %}#footer"  data-dismiss="modal">Nous contacter</a></td>
    </tr>
</table>

<p> Toute contribution spontanée est acceptée. L'association vous remercie.</p> 

 

<div class="row" align="center">
      <div class="col-sm-12 col-md-12">

                    <form action="https://www.paypal.com/donate" method="post" target="_top">
                    <input type="hidden" name="hosted_button_id" value="4D67PSZSQHSLU" />
                    <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1" />
                    </form>
	  </div>
 
</div>