{% load widget_tweaks %}
{% load static %}

<h4>Né d'une rencontre en 2015........... codé en février 2020.</h4>
<p>Entre ces deux années ... Rien. Chacun avance de son coté, mature.</p>

<p>En février 2020, un coup de fil, une méthode échangée et SACADO démarre sur un écran 24 pouces.<br/>SACADO est avant tout une histoire de confiance, de respect, de partage, d'amitié entre deux collègues, un coup de foudre professionnel, un échange entre deux collègues...deux passionnés....deux amis... Bruno et Philippe, le socle, la base, le binôme : le concepteur des exercices, la matrice du code. 
<br/>Puis Raphael, Stephan qui se détachent mais restent toujours assez proches. Ils sont la stabilité du code. 
<br/>D'autres arrivent, Mehdi, Audrey, Nicolas, Pascale, Sébastien, Olivier, Renaud. Ils sont créateurs, testeurs, aiguilleurs, indispensables.</p>

<p>Depuis Janvier 2021, nous sommes SACADO.</p> 

 