{% load widget_tweaks %}
{% load static %}

<form action="" method="POST"> 
{% csrf_token %}
    <div class="row alert" style="margin-left:0px; margin-right:0px; border:1px solid #CCC; background: #F0F0F0; background-image: url({% static 'img/fond_search.png' %});">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="form-group">
                <select id="id_subject" name="subject" class="form-control select2">
                    {% for s in teacher.subjects.all %}
                        <option value="{{s.id}}">{{ s.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-10 col-md-3 col-lg-2">
            <div class="form-group">
                <select id="id_level" name="level" class="form-control select2" >
                    <option value=" ">Choisir un niveau</option>
                    {% for l in teacher.levels.all|dictsort:"ranking"  %}
                        <option value="{{l.id}}">{{ l.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-5">
            <div class="form-group">
                <select id="id_theme" name="theme" class="form-control select2" multiple>

                </select>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <div class="form-group">
                <input id="keyword" name="keyword" placeholder="mot clé" class="form-control"/>
            </div>
        </div>
    </div> 
</form>


<div class="row" align="center">
    <div id="loader">
    </div>
</div>  
<div class="row" align="center">
    <div id="loading">
    </div>
</div> 