{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}



    {% block general_js %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% endblock %} 



{% block body  %}  
 

<section class="content_main">
 
      <div class="logolevel">
          {% with exercise.level.image as level_image %}
             <img src="{% static level_image %}"  />
          {% endwith %}
      </div>

      <span style="color:#000;font-weight:400 "> {{ exercise.knowledge.name }},     {% if exercise.supportfile.title %} {{ exercise.supportfile.title }}   {% elif exercise.supportfile.annoncement %} {{ exercise.supportfile.annoncement|safe }}   {% endif %}</span>
       

    <div class="space20"></div>
   
    <div class="col-sm-12 col-md-11 col-lg-11">
        <div class='justify-content-center'>
            
            <div class = 'col-auto' id='ggb_applet_container'></div>
        </div>
    </div>   
    <div class="col-sm-12 col-md-1 col-lg-1">
        {% if exercise.supportfile.calculator %}
          <img src="{% static 'img/calculator.png' %}" />
        {% else %}
          <img src="{% static 'img/no_calculator.png' %}" />
        {% endif  %}  
    </div>    

    <script type="text/javascript" src="{% static 'js/lib/geogebra.js' %}"></script>

    <script type="text/javascript">
          // parameters of the geogebra app
        var parameters = {
                "appname":"classic",
                "id":"ggb_applet_container",
              "prerelease":false,
              "width":{{ exercise.supportfile.width }},
              "height":{{ exercise.supportfile.height }},
              "showToolBar":{{ exercise.supportfile.toolBar|lower }},
              "showfullscreenbutton":true,
              "borderColor":"#f5f8fd",
              "showMenuBar":{{ exercise.supportfile.menuBar|lower }},
              "showAlgebraInput":{{ exercise.supportfile.algebraInput|lower }},
              "showResetIcon":{{ exercise.supportfile.resetIcon|lower }},
              "enableLabelDrags":false,
              "enableShiftDragZoom":{{ exercise.supportfile.dragZoom|lower }},
              "enableRightClick":false,
              "capturingThreshold":null,
              "showToolBarHelp":false,
              "errorDialogsActive":false,
              "useBrowserForJS":false,
                  "langage":"en",
          "filename":"{{ exercise.supportfile.ggbfile.url }}"
        };

        var applet = new GGBApplet('5.0', parameters,true);
        // Geogebra applet creation
          applet.inject('ggb_applet_container', 'preferHTML5');  
 

   
    </script>
    
    <div style="height:20px"></div>

    <div class="row">
        <div class="col-sm-12 col-md-2">
            <div class="form-group">
                <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default "/></a>
            </div>
        </div>
    </div> 
</section>

 

 


{% endblock  %}   


 