{% load widget_tweaks %}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            {{ u_form.last_name.label_tag }}
            {{ u_form.last_name |add_class:"form-control id_last_name" }}
            {{ u_form.last_name.errors }}
        </div>
    </div>    
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            {{ u_form.first_name.label_tag }}
            {{ u_form.first_name |add_class:"form-control id_first_name" }}
            {{ u_form.first_name.errors }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-5">
        <div class="form-group" id="label_id_group">
            <label>Rejoindre le groupe </label>
             <input type="text" class="form-control" name="group" id="id_group" placeholder="Code du groupe" />
        </div>
    </div>
    <div class="col-sm-6 col-md-1" id="my_verif_group">
        <div class="form-group">
            <div class="verif_course"></div> 
        </div>
    </div>






</div> 
<div class="row">
    <div class="col-sm-11 col-md-12">
        <div class="form-group">
            {{ u_form.email.label_tag }} <small>(optionnel)</small>
            {{ u_form.email |add_class:"form-control email" }}
            {{ u_form.email.errors }}
        </div>
    </div>
</div> 
<div class="row">
    <div class="col-sm-11 col-md-11">
        <div class="form-group">
            {{ u_form.username.label_tag }}
            {{ u_form.username |add_class:"form-control username" }}
            {{ u_form.username.errors }}
        </div>
    </div>
    <div class="col-sm-1 col-md-1">
        <div class="form-group">
            <span class="ajaxresult pull-right"></span>
        </div>
    </div>
</div> 
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            {{ u_form.password1.label_tag }} <small><em>Au moins 8 caractères</em></small>
            {{ u_form.password1 |add_class:"form-control" }}
            {{ u_form.password1.errors }}
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            {{ u_form.password2.label_tag }}
            {{ u_form.password2 |add_class:"form-control" }}
            {{ u_form.password2.errors }}
        </div>
    </div>
</div> 
<div class="row">
    <div class="col-sm-12 col-md-12">
        Votre mot de passe ne doit pas contenir votre prénom ou votre nom. Il doit contenir au moins 8 caractères, des chiffres et des lettres sans caractères spéciaux.
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="form-group">
            <label>{{ u_form.cgu }} <small>Je reconnais avoir lu et compris les <a href="#" data-target="#cgu" data-toggle='modal'>conditions générales d'utilisation</a> et je les accepte</small>.</label>
        </div>
    </div>
</div>

