<table class="table  table-hover standard_tab_1000" >
    <thead> 
        <tr style="background-color: #f1eef7">
            <th>Fonctionnalités</th>
            <th style="text-align: center">Enseignant</th>
            <th style="text-align: center">Etablissement</th>
        </tr>
    </thead> 
    <tbody>
            <tr style="background-color: #f1eef7">
                <td colspan="3"> Les groupes </td> 
            </tr> 
            <tr>
                <td> Création </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <td> Configuration </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <td> Co-animation </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Vue élève </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr style="background-color: #f1eef7">
                <td colspan="3"> Les parcours </td> 
            </tr> 
            <tr>
                <td> Création  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <td> Configuration </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <td> Dossier  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Clonage de parcours par défaut </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Clonage de parcours mutualisé </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Vignette (Image d'accueil) </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <td> Mutualisation intra-établissement </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Mutualisation des parcours SACADO</td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr style="background-color: #f1eef7">
                <td colspan="3"> Les exercices </td> 
            </tr> 
            <tr>
                <td> Recherche  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Personnalisation  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Parcours de maîtrise </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Tâches</td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Compétences </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Pièces jointes </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Création d'exercices personnalisés </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Interface de correction en ligne </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Enregistrement audio </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr style="background-color: #f1eef7">
                <td colspan="3"> Les cours et évaluations </td> 
            </tr> 
            <tr>
                <td> Création  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Association cours / parcours  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Association cours / exercices  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Mutualisation </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Elèves créateurs </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Cours SacAdo </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Évaluations </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr style="background-color: #f1eef7">
                <td colspan="3"> Les suivis </td> 
            </tr> 
            <tr>
                <td> Elèves </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Savoir faire </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Exercices </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Compétences </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Export PRONOTE </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Accès parent </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr style="background-color: #f1eef7">
                <td colspan="3"> Outils pédagogiques</td> 
            </tr>
            <tr>
                <td> Outils inclusif EBEP  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Création de quizz vidéo projetables </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr>              
            <tr>
                <td> Outils pédagogiques </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr style="background-color: #f1eef7">
                <td colspan="3"> Flashpacks et flashcards</td> 
            </tr>
            <tr>
                <td> Mutualisation </td>
                <td style="text-align: center"><i class="fa fa-check text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Création par élève </td>
                <td style="text-align: center"><i class="fa fa-check text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr style="background-color: #f1eef7">
                <td colspan="3"> Notifications et forum</td> 
            </tr> 
            <tr>
                <td> Réception des 100 derniers exercices travaillés</td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Réception des exercices travaillés par élève, par groupe </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Forum pédagogique inter-enseignants </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Notification en temps réel</td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
    </tbody>
</table>