@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
body {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    flex: 1 0 auto;
    animation: 14s ease 0s infinite alternate none running ;
    background-color: rgb(69, 163, 229);
    padding: 0px 0.625rem;
}
.title{
  font-size: 130px;
  font-weight: bold ;
  font-family:'Amatic Sc';
  color:#FFF;
}

.subtitle{
  font-size: 70px;
  font-weight: bold ;
  font-family:'Amatic Sc';
  color:#FFF;
}

.bottom_space{
  margin-bottom: 20px;
}
.form-control{
  width:250px;
  height : 50px;
  font-size: 20px;
  text-align: center;
}
button{
  background-color: #5d4391;
  color: #FFF;
}

button:hover{
  background-color: #f1eef7;
  color: #5d4391;
  cursor: pointer;
}

.space_round{
  margin: 20px;
  border-radius: 5px ; 
}



.bg1 { background-color: rgb(69, 163, 229); transition: background-color 4s linear;  -moz-transition: background-color 4s linear; -webkit-transition: background-color 4s linear; -ms-transition: background-color 4s linear; }
.bg2 { background-color: rgb(68, 68, 228) ; transition: background-color 4s linear;  -moz-transition: background-color 4s linear; -webkit-transition: background-color 4s linear; -ms-transition: background-color 4s linear; }
.bg3 { background-color: rgb(228, 68, 108); transition: background-color 4s linear;  -moz-transition: background-color 4s linear; -webkit-transition: background-color 4s linear; -ms-transition: background-color 4s linear; }
.bg4 { background-color: rgb(188, 68, 228); transition: background-color 4s linear;  -moz-transition: background-color 4s linear; -webkit-transition: background-color 4s linear; -ms-transition: background-color 4s linear; }
.bg5 { background-color: rgb(228, 68, 68) ; transition: background-color 4s linear;  -moz-transition: background-color 4s linear; -webkit-transition: background-color 4s linear; -ms-transition: background-color 4s linear; }
.bg6 { background-color: rgb(228, 188, 68); transition: background-color 4s linear;  -moz-transition: background-color 4s linear; -webkit-transition: background-color 4s linear; -ms-transition: background-color 4s linear; }
.bg7 { background-color: rgb(108, 228, 68); transition: background-color 4s linear;  -moz-transition: background-color 4s linear; -webkit-transition: background-color 4s linear; -ms-transition: background-color 4s linear; }
.bg8 { background-color: rgb(68, 228, 188); transition: background-color 4s linear;  -moz-transition: background-color 4s linear; -webkit-transition: background-color 4s linear; -ms-transition: background-color 4s linear; }


.button_answer{
  height:90px;
  width:100%;
  font-size:90px;
  border-radius : 30px;
}


.play_quizz_box {
    width: 600px;
    overflow: hidden;
    text-align: center;
    border: none;
    color: #666;
    background: transparent;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    resize: none;
    -webkit-box-shadow:2px 2px 6px rgba(79, 73, 66, .255);
    box-shadow: 2px 2px 6px rgba(79, 73, 66, .255);
    align-items: center;
    border-radius: 5px;
    align-items: center;
    line-height : 90px;
    font-size:60px ;
    border : 1px solid #F0F0F0 ;
    background-color: #FFF;
}
.more_space{
  margin: 50px;
}
.play_quizz_enter{
    margin-top: 100px;
    width: 500px;
    overflow: hidden;
    text-align: center;
    border: none;
    color: #5d4391;
    background: transparent;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    resize: none;
    -webkit-box-shadow:2px 2px 6px rgba(79, 73, 66, .255);
    box-shadow: 2px 2px 6px rgba(79, 73, 66, .255);
    align-items: center;
    border-radius: 30px;
    align-items: center;
    line-height : 90px;
    font-size:40px ;
    border : 1px solid #F0F0F0 ;
    background-color: #FFF;

}  


.my_slide{
  margin : 50px;
  padding: 50px;
  border-radius: 50px;
  background-color: #FFF;
}

.countdown{
   background-color: #5d4391;  
   border-radius: 50%;
   width :60px;
   height:60px;
   color : #FFF;
   font-size : 35px;    
   text-align: center ;
   font-weight: bold; 
   padding-top: 5px;
}

.student_display {
    margin-left: auto;
    margin-right: auto;
    margin : 50px 0px;
    padding: 20px;
    border-radius: 50px;
    background-color: #FFF;
    opacity:0.5;
    width : 100%;
}

.student_display *{
    font-size: 40px;
    font-weight: 100;
}

.student_answer{
    background-color: #FFF;
    font-size: 80px;
    font-weight: 100;
}
.btn-super{
    font-size: 50px;
    font-weight: 100;
    border-radius: 50%; 
    width :100px;
    height:100px;
}

.max_height{
  line-height: 300px;
  height: 300px;
}

.med_height{
  line-height: 150px;
  height: 150px;
}



form{
  width : 90%;
}