{% extends 'academy.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block body %}
<!--==========================
Intro Section -
============================-->
 

<section id="faq"><br/>
    <div class="container bg_white">
        <div class="row">
            <div class="col-xs-12 col-md-12" >
                <h1 class="title_bloc_index">Les résultats de votre enfant sont plutôt </h1>
            </div>
        </div>

        <div class="row  align-items-center">
            <div class="col-xs-6 col-md-4" align="center">
                <div class="photo_background" id="photo_background2">
                    <img src="{% static 'img/academy_index6.jpg' %}"  class="photo_background"  />
                    <div class="photo_background_titre"></div>                 
                    <div class="photo_titre">en fragilité </div>

                    <div class="photo_background_texte"  id="photo_background_texte2"><small><b>Et il veut</b></small> <br/> Retrouver les bonnes méthodes </div>
                </div>
            </div>        

            <div class="col-xs-6 col-md-4" align="center">
                <div class="photo_background" id="photo_background1">
                    <img src="{% static 'img/academy_index5.jpg' %}" class="photo_background"  /> 
                    <div class="photo_background_titre"></div>                 
                    <div class="photo_titre">en décrochage </div>
                    <div class="photo_background_texte"  id="photo_background_texte1"><small><b>Et il veut</b></small> <br/> Revenir sur le chemin de la réussite</div>
                </div>  
            </div>

            <div class="col-xs-6 col-md-4" align="center">
                <div class="photo_background" id="photo_background3">
                    <img src="{% static 'img/academy_index2.jpg' %}" class="photo_background"   /> 
                    <div class="photo_background_titre"></div>                 
                    <div class="photo_titre">en défiance </div>
                    <div class="photo_background_texte"  id="photo_background_texte3"><small><b>Et il veut</b></small> <br/> Reprendre confiance en ses capacités </div>
                </div>
            </div>

        </div>

        <div class="row  align-items-center" style="margin-top: 20px">

            <div class="col-xs-6 col-md-4" align="center">
                <div class="photo_background" id="photo_background5">
                    <img src="{% static 'img/academy_index3.jpg' %}" class="photo_background"  /> 
                    <div class="photo_background_titre"></div>                 
                    <div class="photo_titre">en plein essor </div>
                    <div class="photo_background_texte"  id="photo_background_texte5"><small><b>Et il veut</b></small> <br/> Performer pour atteindre l'élite </div>
                </div>
            </div>


            <div class="col-xs-6 col-md-4" align="center">
                <div class="photo_background" id="photo_background4">
                    <img src="{% static 'img/academy_index1.jpg' %}" class="photo_background"   />  
                    <div class="photo_background_titre"></div>                 
                    <div class="photo_titre">en I.E.Famille </div>
                    <div class="photo_background_texte"  id="photo_background_texte4"><small><b>Et il veut</b></small> <br/> Maitriser le socle des compétences </div>
                </div> 
            </div>
            <div class="col-xs-6 col-md-4" align="center">
                <div class="photo_background" id="photo_background6">
                    <img src="{% static 'img/academy_index4.jpg' %}" class="photo_background"  /> 
                    <div class="photo_background_titre"></div>                 
                    <div class="photo_titre">en explosion </div>
                    <div class="photo_background_texte"  id="photo_background_texte6"><small><b>Et il veut</b></small> <br/> Dynamiser ses pratiques </div>
                </div>
            </div> 
        </div>




        <div class="row  align-items-center" style="margin-top: 60px">


              <div class="col-sm-12 col-md-3"></div>

              <div class="col-sm-12 col-md-6">

                <div class="form">

                  
                  <p>Vous souhaitez obtenir des infos complémentaires, laissez-nous un message et nous vous répondrons rapidement. </p>
                  <form action="{% url 'send_message' %}" method="post" >
                      {% csrf_token %}
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required />
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Votre email" data-rule="email" data-msg="Please enter a valid email" required />
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="Objet" data-rule="minlen:4" data-msg="Au moins 8 caractères" required />
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="message" rows="5" required data-msg="Ecrire votre message" placeholder="Message"></textarea>
                    </div>

                    <div class="form-group">
                      <img src="{% static 'img/som_token.png' %}" />
                      <input type="text" name="token" class="form-control" id="token" placeholder="Ecrire le résultat de la somme" required />
                    </div>

                    <div class="text-center"><button type="submit" name="info_academy" value="yes" class="btn-inscription">Envoyer</button></div>
                  </form>
                </div>

              </div>


    </div>







</section>

{% endblock %} 