{% extends 'layout.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block body %} 
<section id="intro" class="clearfix">
    <div class="container h-100">
	    <h3 class='thin'>Conditions générales d'utilisation - CGU </h3>

		  
            <p>En vigueur au 01/07/2021</p>

            <p>Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique des modalités de mise à disposition du site et des services par l'association SACADO et de définir les conditions d’accès et d’utilisation des services par « l'Utilisateur ».</p>

            <p>Le site internet Sacado.xyz est un service de l’association Sacado, immatriculée à la préfecture du Var, sous le numéro W832020065, sous le numéro Siren 903345569 et Siret 903345569 00011  et dont le siège social est situé :
            <li>2 B Avenue de la pinède, La Capte, 83400 Hyères</li>
            <li>adresse URL du site : https://sacado.xyz</li>
            <li>email : sacado.asso@gmail.com</li>
            </p>
            <p>Toute inscription ou utilisation du site implique l'acceptation sans aucune réserve ni restriction des présentes CGU par l’utilisateur. Chaque utilisateur accepte expressément les présentes CGU, en cas de non-acceptation des CGU stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès des services proposés par le site.</p> 
            <p>Nous tenons à rappeler que toute atteinte à la dignité morale, au respect de la personne, de propos diffamatoires … ne sont pas sans conséquence (même sur internet) et vous expose à des poursuites judiciaires. Les échanges doivent se faire avec convivialité et compréhension.</p> 
            <p>L’Utilisateur s’engage à rester courtois dans le cadre des commentaires et messages qu’il formule (signalement d’exercices, notification/forum, chat…) et rester dans le cadre et les informations utiles au bon fonctionnement de la plateforme Sacado.</p> 
            <p>Chaque Utilisateur a la possibilité d’illustrer son profil avec un avatar, il a la possibilité de choisir un avatar parmi ceux proposés par Sacado, (il ne peut ni en créer, ni en télécharger).</p>  
            <p>Il s’engage à respecter les lois et règlements en vigueur ainsi que les droits des tiers. 
            En cas de manquement de tout ou partie par l’Utilisateur des présentes CGU, l’association Sacado se réserve la possibilité de suspendre ou fermer sans délai et sans préavis le Compte de l’Utilisateur, en avertissant son professeur et/ou l’établissement.</p> 

            <p>https://sacado.xyz se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes CGU.</p>






	</div> 
</section>
{% endblock  %} 