{% extends 'layout.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block body %} 
<section id="intro" class="clearfix">
    <div class="container h-100">
	    <h3 class='thin'>Conditions Générales de Vente – Internet </h3>

 
<p>En vigueur au 01.07.2021</p>

<h4>Champs d’application et acceptation des conditions générales de vente</h4>

<p>Les présentes conditions générales de vente (CGV) s’appliquent sans restriction, ni réserve, à la vente de services sur la plateforme d’apprentissage en ligne de l’association Sacado.
Les présentes conditions générales de vente sont expressément agréées par le client Internaute (ci–après dénommé « le client ») lequel :
<li>déclare et reconnaît en avoir une parfaite connaissance avant la passation de la commande. </li>
<li>accepte lesdites conditions, à validation par le client de la commande valant adhésion entière et sans réserve de ce dernier aux présentes conditions générales de vente.</li>
renonce à quelque titre, quelque moment et sous quelque forme que ce soit, à se prévaloir de dispositions contraires ou dérogeant aux présentes conditions générales de vente ou de dispositions non expressément précisées aux présentes conditions générales de vente.</p>
 
<p>Ces conditions générales de vente sont accessibles sur le site de l’association à l’adresse URL : https://sacado.xyz</p>
<p>Sauf preuve contraire, les données enregistrées dans le système informatique du prestataire constituent la preuve de l’ensemble des transactions conclues avec le client.</p>
 
<p>Les coordonnées du prestataire sont les suivantes :<br/>
Association Sacado (association loi 1901)<br/>
Immatriculée à la préfecture du Var sous le numéro W832 020 065, <br/>
SIREN 903345569, SIRET : 903 345 569 00011, dont le siège social est situé :<br/>
2 B avenue de la Pinède, La Capte 83400 Hyères France,<br/>
Elle est représentée par Monsieur Philippe Demaria en qualité de Président.</p>


<h4>Prix de vente</h4>
 
<p>Les offres et prix figurant sur le site sont valables tant qu’ils restent visibles sur le Site.<br/>
Les prix affichés sur le site sont indiqués en euros toutes taxes françaises comprises (Sacado est une association loi 1901 et est, à ce titre, exonérée de TVA).<br/>
Ces tarifs sont fermes et non révisables pendant leur période de validité, mais le prestataire se réserve le droit d’en modifier les prix à tout moment.<br/>
Une facture est établie au Client et transmise par internet.</p>

<h4>Paiement</h4>
<p>Le règlement du livre peut s’effectuer par :
<li>Carte bancaire via Paypal (saisie sécurisée par cryptage SSL) : Visa, MasterCard, autres cartes bleues</li>
<li>Virement bancaire ou mandat administratif: celui-ci doit être adressé en renseignant l’IBAN de l’association Sacado.</li></p>

<h4>Contrôle Anti-fraude</h4>

<p>L’association Sacado contrôle toutes les commandes qui ont été validées sur son site afin de lutter contre les pratiques abusives opérées par des fraudeurs. Pour les règlements par carte bancaire, il est fait appel à l’opérateur sécurisé Paypal pour s’assurer de la qualité de propriétaire de la carte bancaire utilisée pour le paiement de la commande et que les coordonnées postales transmises sont exactes. </p>


<h4>Commande</h4>

<p>La commande validée par le client sera suivie d’un mail de prise en compte de la commande, lequel matérialise l’enregistrement par le vendeur de la commande. A réception de cette commande, le vendeur s’assure de la conformité de la commande et effectue les contrôles préalables à la validation par le vendeur de la commande. La commande ne deviendra effective qu’après validation par le vendeur.<br/>
Le vendeur se réserve le droit de ne pas donner suite à la commande passée par le client, notamment :<br/>
En cas de commande (s) excédant, par leur contenu ou leur fréquence, les besoins d’un particulier et plus généralement au cas de demande anormale ou mauvaise foi du client<br/>
En cas d’informations en provenance de l’organisme bancaire en charge par le vendeur de la gestion du règlement de la commande faisant état de l’impossibilité de mettre en œuvre le mode de paiement retenu pour le règlement de la commande.<br/>
Et plus généralement au cas de motif légitime tel que prévu par l’article L 122–1 du Code de la Consommation.</p>


<h4>Satisfait ou remboursé </h4>
<p>Le client dispose du droit de se rétracter et ce selon les conditions cumulatives suivantes :<br/>
Le droit de rétractation doit être exercé dans un délai de 15 jours francs à compter de la réception par le client du service en ligne. Cette période de 15 jours est consentie à titre de période d’essai, qui pourra être exceptionnellement consentie de nouveau pour 15 jours, suivant le cas. La demande doit-être soumise à l’Association pour consentement.<br/>
Lorsque le droit de rétraction est exercé, le vendeur est tenu de rembourser le client du montant concerné par ce droit, dans les meilleurs délais et au plus tard dans les 30 jours suivant la date à laquelle ce droit a été exercé.</p>


<h4>Responsabilité</h4>
<p>Les prestations de service figurant sur le site répondent à la législation française en vigueur. Le vendeur décline toute responsabilité en cas de non-respect de la législation du pays où la prestation de service est livrée. Il appartient au client de vérifier préalablement à la validation de la commande la conformité de l’importation et de l’utilisation de la prestation de services.</p>
<p>Le vendeur n’est responsable que du contenu rédactionnel qu’il met en ligne. Conformément à la réglementation en vigueur, le vendeur n’est pas responsable au cas d’inexécution de la commande imputable au client, au fait imprévisible et insurmontable d’un tiers, ou à un cas de force majeure.
<h4>Propriété intellectuelle</h4>
<p>Tous les textes, images, illustrations, procédés et techniques reproduits sur le site sont réservés au titre du droit d’auteur et/ou au titre de la propriété intellectuelle. L’usage par le client du site est strictement réservé à un usage privé, le droit d’utilisation par le client étant cantonné à la lecture des informations figurant sur le site et à la faculté d’effectuer à des fins strictement personnelles l’achat des produits affichés sur le site.
Toute reproduction totale ou partielle du site est strictement interdite.</p>
<h4>Protection des données personnelles</h4>
<p>Les données personnelles communiquées au vendeur par le client à l’occasion de la validation de la commande font l’objet d’une protection conformément à la loi informatique et libertés du 6 janvier 1978 et du Règlement Générale pour la Protection des Données Personnelles.</p>
 
<p>Le client est informé que la collecte de ses données à caractère personnel est nécessaire à la vente des services et leur réalisation et délivrance, confiées au prestataire. Ces données à caractère personnel sont récoltées uniquement pour l’exécution du présent contrat de prestations de services.</p>
 
<p>Les données à caractère personnelle collectées sur le site sacado.xyz sont les suivantes :<br/>
 Ouverture du compte : nom de l’établissement, adresse postale, téléphone nom, prénom, adresse email de l’administrateur.<br/>
Paiement : dans le cadre du paiement des Prestations proposés sur le site sacado.xyz, celui-ci enregistre des données financières relatives au compte bancaire ou à la carte de crédit via Paypal.</p>
 
<p>L'hébergeur du site https://sacado.xyz est la société LWS (Ligne Web Services - www.lws.fr), S.A.R.L au capital de 1 000 000 euros, dont le siège social est situé 10 Rue de Penthièvre, 75008 Paris France, et que vous pouvez contacter au numéro de téléphone suivant : +33 177 62 30 03.</p>
 
<h4>Droit applicable – litiges – réclamations – médiation</h4>
<p>Toutes les clauses figurant dans les présentes conditions générales de vente, ainsi que toutes les opérations d’achat et de vente qui y sont visées, sont soumises aux règles par le droit français. Pour toute réclamation merci de contacter le Président de l’association via le formulaire de contact.</p>
<p>En cas de litige, les tribunaux français seront seuls compétents.</p>







	</div> 
</section>
{% endblock  %} 