{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block body %}

<section class="section-bg wow fadeIn">
    <div class="footer-top" style="padding-top:40px">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 col-md-6">

            <div class="row">

                <div  class="col-sm-12 col-md-6">
                  <div class="footer-info">
                    <h3 class="color_sacado">SACADO Académie</h3>
                    <p>Nos supports d’exercices sont interactifs et conformes aux  nouveaux programmes scolaires de l’Éducation Nationale, ils sont disponibles en ligne 24h/24 et 7j/7.

                    <br><br>Les exercices sont accessibles sur téléphones, tablettes et ordinateurs.

                    <br><br>Nos Professeurs (du primaire à la prépa) sont toujours en poste et connaissent la réalité du terrain.  </p>
                  </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <h3 class="color_sacado">Contacts</h3>
                    <b class="color_sacado">Maternelle et élémentaire </b><br/>
                    Sandrine Rébéna<br/><br>             
                    <b class="color_sacado">Collège - Lycée</b><br>
                    Audrey Ledoux  <br>
                    Bruno Serres   <br>
                    Nicolas Villemain  <br> 
                    Philippe Demaria<br/> <br>
                    <b class="color_sacado">Classe Prépa</b><br>
                    Stéphan Ceroi    

                    <br><br>
                    <p> <a href="{% url 'rgpd' %}"  class="color_sacado">RGPD</a> - <a href="{% url 'cgv' %}"  class="color_sacado">CGV</a><br>

                      <a href="{% url 'mentions_academy' %}"  class="color_sacado" >Mentions Légales</a> </p>


                </div>
            </div>

          </div>

          <div class="col-sm-12 col-md-6">

            <div class="form">

              <h3 class="color_sacado">Envoyez un message</h3>
              <p>Vous souhaitez obtenir des infos sur SACADO Académie, laissez-nous un message. Réponse rapide.</p>
              <form action="{% url 'send_message' %}" method="post" >
                  {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required />
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Votre email" data-rule="email" data-msg="Please enter a valid email" required />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Objet" data-rule="minlen:4" data-msg="Au moins 8 caractères" required />
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" required data-msg="Ecrire votre message" placeholder="Message"></textarea>
                </div>

                <div class="form-group">
                  <img src="{% static 'img/som_token.png' %}" />
                  <input type="text" name="token" class="form-control" id="token" placeholder="Ecrire le résultat de la somme" required />
                </div>

                <div class="text-center"><button type="submit" name="info_academy" value="yes" class="btn-inscription">Envoyer</button></div>
              </form>
            </div>

          </div>
        </div>




      </div>
    </div>
</section>

{% endblock %} 