{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>

{% endblock %}


{% block page_title %}
      Tweet   <img src="{% static 'img/angle-right.png' %}"/>  {% if tweeter %} Modifier {% else %} Nouveau   {% endif %}      
{% endblock %}

{% block page_menu_right %}
{% endblock %}

{% block body  %}  

 




 
<section class="content_main"> 
    <form method="post" action="" enctype='multipart/form-data'>
 
          {% csrf_token %}
              <div class="row">
                  <div class="col-sm-12 col-md-12">
                      <div class="form-group">
                          <label>{{ form.title.label_tag }}</label>
                          {{ form.title |add_class:"form-control" }}
                          {{ form.title.errors }}
                      </div>
                  </div>
              </div>
 
 
              <div class="row">
                  <div class="col-sm-12 col-md-12">
                      <div class="form-group">
                          <label>{{ form.texte.label_tag }}</label><br/>
                          {{ form.texte  }}
                          {{ form.texte.errors }}
                      </div>
                  </div>
              </div>
 
 
 

              <div class="row">
                  <div class="col-sm-12 col-md-12">
 
                      <button type="submit" class="btn btn-primary">Enregistrer </button>   
 
                      <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
                  </div>
              </div>
          
    </form>

</section>
{% endblock  %}   