{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common-accueil.js' %}"></script>
{% endblock %} 


{% block page_title %}
        Gestion des fichiers sur le niveau de {{ level }}
{% endblock %}




{% block page_menu_right %} 

{% endblock %}



{% block body %}  
<section class="content_main">
    <div class="col-sm-12 col-md-12">

        <form action="{% url 'gestion_files' %}" method="POST" enctype='multipart/form-data'> 
       

            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <select name="level" class="select2">
                            {% for l in levels %}
                                <option value='{{ l.id }}' {% if l.id == level_id %} selected {% endif %}>{{ l.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <input value="Lancer le test" type="submit" name="launch" class="btn btn-primary"/>
                    </div>
                </div> 
            </div> 
 
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                     <table class="table display_no_details20">
                        <thead> 
                            <tr> 
                                <th>id</th><th>GGBfile dans la table</th>  <th>ImageFile dans la table</th>                                   
                            </tr> 
                        </thead>
                        <tbody>
                            {% for supportfile in supportfiles %}
                                <tr>
                                    <td>{{ supportfile.id }}</td>
                                    <td>{{ supportfile.ggbfile }} {% if  supportfile.in_folder.file_in_folder %} <i class="fa fa-check text-success"></i>{% else %} <i class="fa fa-times text-danger"></i>{% endif %}</td>
                                    <td>{{ supportfile.imagefile }} {% if  supportfile.in_folder.image_in_folder %}<i class="fa fa-check text-success"></i> {% else %} <i class="fa fa-times text-danger"></i>{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> 

        </form>
 
     
    </div>   
</section>   


{% endblock %}


      
 
 