{% extends 'layout.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

 

{% block body %} 
<section id="intro" class="clearfix">
    <div class="container h-100">
	    <h3 class='thin'>Mentions Légales </h3>


            <p>L’association, immatriculée à la préfecture du Var sous le numéro W832 020 065,
            SIREN 903345569, SIRET : 903 345 569 00011,
            dont le siège social est situé 2 B avenue de la Pinède, La Capte 83400 Hyères
            France,
            est représentée par Monsieur Philippe Demaria en qualité de Président, tél
            06.22.47.86.27<br/>
            adresse URL du site https://sacado.xyz<br/>
            email : sacado.asso@gmail.com</p>
            <p>L’édition et la direction de la publication du site https://sacado.xyz est assurée
            par Philippe Demaria, philippe.demaria83@gmail.com, domicilié à La Marsa
            (Tunisie) et Bruno Serres, bruno.serres33@gmail.com, domicilié au Managua
            (Nicaragua).</p>
            <p>L'hébergeur du site https://sacado.xyz est la société LWS (Ligne Web Services -
            www.lws.fr), S.A.R.L au capital de 1 000 000 euros, dont le siège social est situé 10
            Rue de Penthièvre, 75008 Paris France, et que vous pouvez contacter au numéro
            de téléphone suivant : +33 177 62 30 03.</p>


	</div> 
</section>
{% endblock  %} 

 