{% extends 'academy.html' %}

{% load widget_tweaks %}
{% load static %}



{% block body %}

<section id="pricing">
    <div class="full_container">
        <div class="row">
            <div class="col-sm-12 col-md-12" align="center" style="margin-bottom: 20px">
                <img src="{% if name == "Autonomie" %}{% static 'img/menu_autonomie.png' %}{% else %}{% static 'img/menu_accompagnement.png' %}{% endif %}" width="60px">
                Menu <span class="sub_header"> {{ name }}</span> 


        <div class="row">
            <div class="col-sm-12 col-md-12" align="center">
                <p>Choisir le nombre d'enfants que vous souhaitez inscrire</p>
            </div>
        </div> 


                <span class="pull-right">


                    {% comment %}
                    <small> 
                        <a href="{% url 'student_to_association'  %}" class="violet"><i class="fa fa-random"></i> Changer de menu</a>
                    </small> 
                    {% endcomment %}


                </span>
            </div>
        </div>
        <div class="row"><input type="hidden" name="menu" value="{{  name }}" />
            <div class="col-sm-12 col-md-12" align="center">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-violet_border family_selected active" id="one_child" data_value="one"  data_menus="{% for f in formules %}{{ f.id }}{% if not forloop.last %},{% endif %}{% endfor %}">
                        <input type="radio" name="children" id="one_child_radio" value="1" checked   >  1 enf<span class="no_visualisation">ant</span>*
                    </label>
                    <label class="btn btn-violet_border family_selected" id="two_children" data_value="two" data_menus="{% for f in formules %}{{ f.id }}{% if not forloop.last %},{% endif %}{% endfor %}">
                        <input type="radio" name="children"  id="two_children_radio" value="2"  >  2 enf<span class="no_visualisation">ants</span>
                    </label>
                    <label class="btn btn-violet_border family_selected" id="three_children" data_value="three"  data_menus="{% for f in formules %}{{ f.id }}{% if not forloop.last %},{% endif %}{% endfor %}">
                        <input type="radio" name="children"  id="three_children_radio" value="3"  >  3 enf<span class="no_visualisation">ants</span>
                    </label>
                    <label class="btn btn-violet_border family_selected" id="four_children" data_value="four"  data_menus="{% for f in formules %}{{ f.id }}{% if not forloop.last %},{% endif %}{% endfor %}">
                        <input type="radio" name="children"  id="four_children_radio" value="4"    >  4 enf<span class="no_visualisation">ants</span>
                    </label>
                    <label class="btn btn-violet_border family_selected" id="more_children" data_value="more"  data_menus="{% for f in formules %}{{ f.id }}{% if not forloop.last %},{% endif %}{% endfor %}">
                        <input type="radio" name="children"  id="more_children_radio" value="5"   >  5 enf<span class="no_visualisation">ants</span>
                    </label>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-12 col-md-12 violet" align="center">
                <small>* ou je suis majeur ou émancipé et peux m'inscrire sans l'accord d'au moins l'un de mes parents.</small>
            </div>
        </div> 


        <div class="row">
            <div class="col-sm-12 col-md-12" align="center">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12" align="center">
                <h4>Un essai offert pour tester la plateforme</h4>
            </div>
        </div> 


        <div class="row">
            <div class="col-sm-12 col-md-12" align="center">
                <p></p>
            </div>
        </div> 
        
        <div class="row" id = "result_price">
            <form action="{% url 'details_of_adhesion' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="menu_id" id="menu_id" value="0" />
                <input type="hidden" name="nb_child" class="nb_child" value="1" />
                <input type="submit" name="sending" class="btn-inscription" value="Valider le nombre d'enfants" style="margin-left: 20%;" /> 

            </form>
        </div>



        {% comment %}
        <div class="row" id = "result_price">
            {% for formule in formules %}                
            <div class="col-sm-4 col-md-4" align="center">
                <form action="{% url 'details_of_adhesion' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="total_price" id="total_price{{ formule.id }}" value="{{ formule.data.total1 }}" />
                <input type="hidden" name="month_price" id="month_price{{ formule.id }}" value="{{ formule.data.price1 }}"  />                
                <input type="hidden" name="nb_month" id="nb_month{{ formule.id }}"  value="{% cycle  12 3 1  %}"  />
                <input type="hidden" name="date_end" id="date_end{{ formule.id }}"  value='{% cycle formule.data.end1|date:"d F Y" formule.data.end2|date:"d F Y" formule.data.end3|date:"d F Y" %}'  />
                <input type="hidden" name="menu_id" id="menu_id{{ formule.id }}" value="{{ formule.id}}" />
                <input type="hidden" name="nb_child" class="nb_child" value="1" />

                    <div class="card">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 child">
                                1 enfant
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                              <div class="sub_header">Adhésion {{ formule.adhesion }}</div> 
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="currency">
                                <span class="family zero" id="total_price_zero{{ formule.id }}">
                                    {% cycle formule.data.total1a|floatformat:2  formule.data.total1m|floatformat:2  formule.data.total1|floatformat:2 %}
                                </span>
                                <span class="family one" id="total_price_one{{ formule.id }}">
                                    {% cycle formule.data.total1a|floatformat:2  formule.data.total1m|floatformat:2   formule.data.total1|floatformat:2 %}
                                </span>
                                <span class="family two" id="total_price_two{{ formule.id }}">
                                    {% cycle formule.data.total2a|floatformat:2  formule.data.total2m|floatformat:2  formule.data.total2|floatformat:2 %}
                                </span>
                                <span class="family three" id="total_price_three{{ formule.id }}">
                                    {% cycle formule.data.total3a|floatformat:2  formule.data.total3m|floatformat:2  formule.data.total3|floatformat:2 %}
                                </span>
                                <span class="family four" id="total_price_four{{ formule.id }}">
                                    {% cycle formule.data.total4a|floatformat:2  formule.data.total4m|floatformat:2  formule.data.total4|floatformat:2 %}
                                </span>
                                <span class="family more" id="total_price_more{{ formule.id }}">
                                    {% cycle formule.data.total5a|floatformat:2  formule.data.total5m|floatformat:2  formule.data.total5|floatformat:2 %}
                                </span>€ 


                            </div>
                            <div class="card-block">        
                                <p class="card-text this_center" >
                                    <small> Adhésion du {{ formule.data.start|date:"d F Y" }} jusqu'au {% cycle formule.data.end1|date:"d F Y" formule.data.end2|date:"d F Y" formule.data.end3|date:"d F Y" %} </small>
                                </p>
                            </div>
                            <input type="submit" name="sending{{ formule.id }}" class="btn-asso" value="Choisir ce menu" />                            <br/>

                            <small>Facturé en un seul paiement.<br/> Soit <span class="family zero" id="payment_zero{{ formule.id }}">{{ formule.data.price1|floatformat:2 }}</span>
                                                                          <span class="family one" id="payment_one{{ formule.id }}">{{ formule.data.price1|floatformat:2 }}</span>
                                                                          <span class="family two"  id="payment_two{{ formule.id }}">{{ formule.data.price2|floatformat:2 }}</span>
                                                                          <span class="family three"  id="payment_three{{ formule.id }}">{{ formule.data.price3|floatformat:2 }}</span>
                                                                          <span class="family four"  id="payment_four{{ formule.id }}">{{ formule.data.price4|floatformat:2 }}</span>
                                                                          <span class="family more"  id="payment_more{{ formule.id }}">{{ formule.data.price5|floatformat:2 }}</span>

                                                                        € x {% cycle 12 3 1 %} mois.
                            </small>

                        </div>
                    </div>
                </form>     
            </div>   
            {% endfor %}
        </div>

        {% endcomment %}

    </div>
</section> 

  








<section id="faq">
 
</section> 

 
    

{% endblock %}