{% extends 'academy.html' %}

{% load widget_tweaks %}
{% load static %}



{% block body %}
<form action="{% url 'details_of_adhesion' %}" method="POST">
<section id="pricing">
    <div class="full_container">
        <div class="row">
            <div class="col-sm-12 col-md-12" align="center" style="margin-bottom: 20px">
                <img src="{% if formule.id == 1 %}{% static 'img/menu_autonomie.png' %}{% elif formule.id == 2 %}{% static 'img/menu_ia.png' %}{% elif formule.id == 3 %}{% static 'img/menu_suivi.png' %}{% else %}{% static 'img/menu_accompagnement.png' %}{% endif %}" width="60px">
                Menu <span class="sub_header"> {{ formule.name }}</span> 


        <div class="row">
            <div class="col-sm-12 col-md-12" align="center">
                <p>Choisir le nombre d'enfants que vous souhaitez inscrire</p>
            </div>
        </div> 


                <span class="pull-right">

                    <small> 
                        <a href="{% url 'index'  %}" class="violet"><i class="fa fa-random"></i> Changer de menu</a>
                    </small> 


                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12" align="center">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-violet_border family_selected active" id="one_child" data_value=1>
                        <input type="radio" name="children" id="one_child_radio" value="1" checked   >  1 enf<span class="no_visualisation">ant</span>*
                    </label>
                    <label class="btn btn-violet_border family_selected" id="two_children" data_value=2>
                        <input type="radio" name="children"  id="two_children_radio" value="2"  >  2 enf<span class="no_visualisation">ants</span>
                    </label>
                    <label class="btn btn-violet_border family_selected" id="three_children" data_value=3>
                        <input type="radio" name="children"  id="three_children_radio" value="3"  >  3 enf<span class="no_visualisation">ants</span>
                    </label>
                    <label class="btn btn-violet_border family_selected" id="four_children" data_value=4>
                        <input type="radio" name="children"  id="four_children_radio" value="4"    >  4 enf<span class="no_visualisation">ants</span>
                    </label>
                    <label class="btn btn-violet_border family_selected" id="more_children" data_value=5>
                        <input type="radio" name="children"  id="more_children_radio" value="5"   >  5 enf<span class="no_visualisation">ants</span>
                    </label>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-12 col-md-12 violet" align="center">
                <small>* ou je suis majeur ou émancipé et peux m'inscrire sans l'accord d'au moins l'un de mes parents.</small>
            </div>
        </div> 


        <div class="row">
            <div class="col-sm-12 col-md-12" align="center">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12" align="center">
                <h4>Un essai offert pour tester la plateforme</h4>
            </div>
        </div> 


        <div class="row">
            <div class="col-sm-12 col-md-12" align="center">
                <p></p>
            </div>
        </div> 
        
        <div class="row" id = "result_price">
            {% csrf_token %}
            <input type="hidden" name="formule_id" id="menu_id" value="{{ formule.id }}" />
            <input type="submit" name="sending" class="btn-inscription" value="Valider le nombre d'enfants" style="margin-left: 20%;" /> 
        </div>


    </div>
</section> 
</form>
  








<section id="faq">
 
</section> 

 
    

{% endblock %}