{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block body %}
<!--==========================
Intro Section -
============================-->




<section class="container lesplus vspace">
    <div class="row vspace">
        <div class="col-xs-12 col-md-12">
            <h2 class="thin color_sacado">Apprentissage actif grâce au numérique</h2>
            Offrez  à votre enfant, un environnement digital : une plateforme d’entraînement et de préparation aux révisions, idéale pour les examens (DNB, Bac, évaluations). Grâce à nos parcours adaptés, il progresse à son rythme avec des exercices interactifs corrigés immédiatement, pour mieux comprendre le suivant.

            <li class="sanspuce">+ Tableau de suivi en temps réel pour voir les progrès.</li>

            <li class="sanspuce">+ Flashcards : 

 

            construisez des cartes de révision pour entraîner la mémoire de votre enfant. 

           
            <ul> <b>Sacado Académie</b> s’appuie sur les neurosciences et les 4 piliers de l’apprentissage :
            <li class="sanspuce">+ L’attention</li> 
            <li class="sanspuce">+ L'engagement actif</li> 
            <li class="sanspuce">+ Le retour d'information</li> 
            <li class="sanspuce">+ La consolidation des acquis</li>   
            </ul>
        </li>

        {% comment %}

            <h2 class="thin color_sacado vspace">Cahiers de révisions numériques</h2>

            <li class="sanspuce">Pour solidifier et mieux mémoriser les acquis de l’année.</li> 
            <li class="sanspuce">Pour se remettre à niveau avant la rentrée scolaire.</li> 
            <li class="sanspuce">Pour prendre de l’avance et avoir de bonnes notes dès la rentrée.</li> 
         {% endcomment %}

            <img src="{% static 'img/academy_circle.png' %}" class="pull-right" style="padding: 30px" />    
            <h2 class="thin color_sacado vspace">Accompagnement scolaire</h2>

            <li class="sanspuce">+ De nombreuses situations d'entrainement avec chacune son corrigé immédiat. </li> 
            <li class="sanspuce">+ Des parcours clés en main pour vous accompagner dans votre projet pédagogique.</li>
            <li class="sanspuce">+ Un complément numérique pour l’école à la maison, l’instruction en famille, l’enseignement à distance ou les cours par correspondance.</li>

        </div>
    </div>
</section>




<section class="container lesplus vspace">
  <div class="container">
    <h2 class="thin color_sacado">Progressivités et Programmes <img src="{% static 'img/logo-france.jpg' %}" width="150px" class="img-fluid"/></h2>
    <div class="row">

        <div class="col-lg-4 col-md-4">
            <h4 clas="grandstander">Primaire</h4>
            <li class="sanspuce"><a href="https://eduscol.education.fr/document/20062/download" target="_blank"> Maternelle - Programme </a></li>


            <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/73/2/02-Maths-CP-attendus-eduscol_1114732.pdf" target="_blank"> CP - Repère de progressivité</a></li>

            <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/73/4/04-Maths-CE1-attendus-eduscol_1114734.pdf" target="_blank"> CE1 - Repère de progressivité</a></li>

            <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/73/6/06-Maths-CE2-attendus-eduscol_1114736.pdf" target="_blank"> CE2 - Repère de progressivité</a></li>


            <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/73/8/08-Maths-CM1-attendus-eduscol_1114738.pdf" target="_blank">CM1 - Repère de progressivité</a></li>

            <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/0/10-Maths-CM2-attendus-eduscol_1114740.pdf" target="_blank">CM2 - Repère de progressivité</a></li>
        </div>
        <div class="col-lg-4 col-md-4">
            <h4 clas="grandstander">Collège</h4>
            <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/2/12-Maths-6e-attendus-eduscol_1114742.pdf" target="_blank">6<sup>ème</sup> - Repère de progressivité</a> </li>

            <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/4/14-Maths-5e-attendus-eduscol_1114744.pdf" target="_blank">5<sup>ème</sup> - Repère de progressivité</a> </li>

            <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/6/16-Maths-4e-attendus-eduscol_1114746.pdf" target="_blank">4<sup>ème</sup> - Repère de progressivité </a></li>

            <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/8/18-Maths-3e-attendus-eduscol_1114748.pdf" target="_blank">3<sup>ème</sup> - Repère de progressivité </a></li>
        </div>
        <div class="col-lg-4 col-md-4">
            <h4 clas="grandstander">Lycée</h4>
            <li class="sanspuce"><a href="https://cache.media.education.gouv.fr/file/SP1-MEN-22-1-2019/95/7/spe631_annexe_1062957.pdf" target="_blank">2<sup>nde</sup> - Programme </a></li>

            <li class="sanspuce"><a href="https://cache.media.education.gouv.fr/file/SP1-MEN-22-1-2019/16/8/spe632_annexe_1063168.pdf" target="_blank">1<sup>ère</sup> - Programme </a></li>

            <li class="sanspuce"><a href="https://cache.media.education.gouv.fr/file/SPE8_MENJ_25_7_2019/90/7/spe246_annexe_1158907.pdf" target="_blank">T<sup>ale</sup> - Programme </a> </li>
        </div>
    </div>
  </div>
</section>





<div class="modal fade" id="tarifs" tabindex="-1" role="dialog" aria-labelledby="tarifs">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h2  class='sacado'  >Les tarifs</h2>              
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
            </div>
            <div class="modal-body">
                <h3>Gratuité jusqu'au 15 août</h3><p>Et ensuite ?</p>
                {% for formule in formules %} 
                    <p>{% cycle  12 3 1   %} mois : {{  formule.price }}  € x {{ formule.nb_month }} = {{  formule.total }} €</p>
                {% endfor %}
            </div>
        </div>
    </div> 
</div>
{% endblock %} 