{% extends 'layout_gar.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block body %} 
<section id="intro" class="clearfix">
    <div class="container h-100">


    	{% include 'sacado_gar.html' %}




<!-- 





<h3>Article 3 : Finalités </h3>

<p>Dans le cadre du GAR, ce sont les finalités définies par l’arrêté GAR qui sont applicables.
Dans le cas où le chef d’établissement ou le DASEN est responsable du traitement, les finalités doivent être définies dans le contrat de sous-traitance entre le responsable de traitement et l’éditeur.
Les données collectées vont permettre à l'enseignant d'établir un profil de compétences de ses élèves à des fins pédagogiques ou de construire des outils d'apprentissage. Tout usage sortant du cadre des finalités définies est interdit.</p>

<h3>Article 4 : Base légale du traitement </h3>

<p>Dans le cadre du GAR, c’est l’arrêté GAR qui fournit la base légale. </p>

<h3>Article 5 : Recueil de données </h3>

<ul>Les recueils de données sont de type :
<li>Données d'usage (données à caractère personnel : nom, prénom, email seulement pour les enseignants)</li>
<li>Données de personnalisation</li>
<li>Données de production</li>
<li>Données d'évaluation</li>
</ul>

<ul>Dans le cadre du GAR, les recueils de données concernent

<li>Les données de connexion et la transmission des attributs</li>
<li>L’ensemble de toutes les données produites au cours de l’usage de la ressource.</li>
</ul>
<p>Aucun consentement pour les usagers élèves ne peut être demandé.</p>

<p>En usage Gar, ces données sont toujours fournies, dans le cadre du Traitement GAR, sous la responsabilité du Ministre, et sur la base de la qualification de conformité de la ressource.</p>

<h3>Article 6 : Destinataires ou catégories de destinataires des données </h3> 

<p>Sacado : association<br/>
sacado.xyz : application<br/>
LWS : hébergeur</p>
<p>Le premier destinataire des données est SACADO lui-même, en tant qu’éditeur. LWS n’est destinataire qu’en tant que sous-traitant et pour des besoins techniques.</p>

<h3>Article 7 - Durée de conservation des données (ou critères permettant de la déterminer)  </h3>

<p>Dans le cadre du GAR, ces données sont conformes aux dispositions du Contrat GAR, et sont décrites dans la déclaration de conformité (purges).</p>

<ul>Données effacées pour les élèves :
<li>La conservation est permise pour assurer la continuité entre les abonnements  successifs.</li>
<li>Les données des élèves sont purgées au terme de  l'année scolaire pour permettre la mise en œuvre du droit à l'oubli définie par la loi République numérique.</li>
<li>Un certificat de destruction est envoyé annuellement au ministère.</li>
</ul>

<ul>Données effacées pour les enseignants :
	<li>la durée de conservation des données peuvent être portées à la totalité de la durée de la présence dans l'établissement pour garantir la conservation des travaux personnels.</li>
	<li>Un certificat de destruction est envoyé annuellement au ministère.</li>
</ul>

<p>Les données GAR sont purgées chaque 15 aout de l'année scolaire précédente, à l'exception de l'IDO qui restera conservé comme clé de jointure avec les nouvelles connexions de l'année suivante. </p>

<h3>Article 8 - Droits des personnes concernées  </h3>

<p>Droits d’accès, de rectification, d’effacement et à la limitation sont applicables pour tous les traitements.</p>
<p>Dans le cadre du GAR, ces obligations incombent au responsable de traitement, donc au Ministre.</p>
<p>Pour les données à caractère personnel fournies par les attributs GAR, les données sont celles du système d’information de l’établissement. Les demandes d’accès ou de modification doivent être adressées au ministère.</p>
<p>Pour les données à caractère personnel produites lors de l’utilisation de la ressource, les demandes peuvent être adressées directement à l’éditeur, qui devra assurer que les droits des personnes sont respectés, et ce que la demande vienne du responsable de traitement, de l’usager lui-même ou d’un de ses responsables légaux.</p>
 



<h3>Article 9 - Coordonnées du délégué à la protection des données de l’organisme : </h3>
Philippe Demaria - 2 bis avenue de la pinède 83400 Hyères


<h3>Article 10 - Droit d’introduire une réclamation auprès de la CNIL </h3>

<p>Tout usager a le droit d’introduire une réclamation auprès de la CNIL</p>


<h3>Article 11 - Cookies et traceurs </h3>

<p>Les élèves ne sont pas habilités à porter une quelconque approbation à l'utilisation des dispositifs de cookies et/ou traceurs. <br/>
Les dispositifs de cookies ou traceurs utilisés entrent dans le cadre de la dispense d’approbation. <br/> <br/>

Les traceurs à visée publicitaires sont sans objet du fait de l’interdiction de la publicité à l’école. <br/>
Les traceurs utilisés afin de partager des données sur les réseaux sociaux sont sans objet  pour les élèves  <br/>
Les cookies respectent les conditions suivantes : </p>
<ul>
<li> Ils sont strictement limités à la seule mesure d’audience sur le site pour le compte exclusif de l’éditeur ;</li>
<li> Ils servent uniquement à produire des données statistiques anonymes ;</li>
<li> Ils ne permettent le suivi global de la navigation de la personne utilisant différentes applications ou naviguant sur différents sites web ; </li>
<li> Ils ne permettent le recoupement des données avec d’autres traitements ou à ce que les données soient  transmises à des tiers.</li>
</li>
<p>SACADO confirme qu'il ne prélève pas de statistiques de mesure d'audience. Comme les adresses IP sont des données personnelles, elles sont anonymisées.</p>
 -->



	</div>

</section>
{% endblock  %}