{% extends 'layout.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block body %} 
<section id="intro" class="clearfix">
    <div class="container h-100">
	    <h3 class='thin'>ARTICLE 1 : LES MENTIONS LÉGALES</h3>

			<p>Le Site Sacado.xyz est créé, édité et géré par l’association Sacado.</p>
			<p>L’association, immatriculée à la préfecture du Var sous le numéro W832 020 065, SIREN 903345569, SIRET : 903 345 569 00011, dont le siège social est situé 2 B avenue de la Pinède, La Capte 83400 Hyères France, est représentée par Monsieur Philippe Demaria en qualité de Président.</p>
			<p>Autres informations : adresse URL du site : https://sacado.xyz  email : sacado.asso@gmail.com</p>
			<p>L’édition et la direction de la publication du site https://sacado.xyz est assurée par Philippe Demaria, philippe.demaria83@gmail.com, domicilié à La Marsa (Tunisie) et Bruno Serres, bruno.serres33@gmail.com, domicilié au Managua (Nicaragua).</p> 
			<p>L'hébergeur du site https://sacado.xyz est la société LWS (Ligne Web Services), dont le siège social est situé au LWS (www.lws.fr - Ligne Web Services) S.A.R.L au capital de 1 000 000 Euros, 10 Rue de Penthièvre, 75008 Paris France, avec le numéro de téléphone : +33 177 62 30 03.
			L’association Sacado est engagée dans une démarche continue de conformité selon les dispositions règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 applicable à compter du 25 mai 2018 (RGPD) et de la Loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, modifiée (dite Loi « informatique et libertés »).</p>
			 
			<p>La politique de protection de données personnelles de l’association Sacado permet que les données des utilisateurs du Site soient collectées et utilisées de manière transparente, confidentielle et sécurisée. La Politique de protection des données personnelles fait partie intégrante de la politique de confidentialité du site.</p>


            <h3 class='thin'>ARTICLE 2 : ACCÈS AU SITE</h3>

            <p>Le site https://sacado.xyz permet à l'Utilisateur un accès gratuit aux services cités ci-après dans la limite du débit Internet proposé. Pour un débit plus important, contacter via le formulaire sur la page d'accueil l'équipe SACADO. </p>


            <p>Le site internet propose les services suivants :</p>
            <ul>
            <li>Un suivi pédagogique des savoir faire (enseignant - élève - parent)</li>
            <li>Un suivi pédagogique des compétences (enseignant - élève - parent)</li>
            <li>Un espace de création de parcours d'exercices (enseignant)</li>                
            <li>Un espace de création de cours en ligne (Version Etablissement)</li>
            <li>Un espace de création de quizz en ligne (Version Etablissement)</li>
            </ul>
            <p>La version Enseignant est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par
            l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.</p>

            <p>La version Etablissement est accessible via une cotisation à l'association SACADO. <a href="{% url 'school_adhesion' %}">Adhérer</a>. L’établissement via son administrateur SACADO dispose d’un droit de rétractation de 14 jours, passé ce délai, il ne pourra plus prétendre à un quelconque remboursement.</p>

            <p>L’Utilisateur non membre n'a pas accès aux services réservés. Pour cela, il doit s’inscrire en remplissant le formulaire. En
            acceptant de s’inscrire aux services réservés, l’Utilisateur membre s’engage à fournir des informations sincères et exactes, éventuellement notamment son adresse email.<br>
            Pour accéder aux services, l’Utilisateur doit ensuite s'identifier à l'aide de son identifiant et de son mot de passe qui lui seront
            communiqués après son inscription.
            <br>
            Tout Utilisateur membre régulièrement inscrit pourra également solliciter sa désinscription en se rendant à la page dédiée sur son
            espace personnel. Celle-ci sera effective IMMEDIATEMENT et IRREVERSIBLEMENT. TOUTES LES DONNEES SERONT ALORS SUPPRIMEES.</p>

            <p>Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous réserve
            de toute interruption ou modification en cas de maintenance, n'engage pas la responsabilité de https://sacado.xyz. Dans ces cas,
            l’Utilisateur accepte ainsi ne pas tenir rigueur à l’éditeur de toute interruption ou suspension de service, même sans préavis.
            L'Utilisateur a la possibilité de contacter le site par messagerie électronique aux adresses emails des éditeurs communiquées à
            l’ARTICLE 1.</p>

            <p><strong>SACADO est en pleine expansion. Aussi les services réservés peuvent subir des perturbations intempestives dues à des fortes demandes simultanées. Nous travaillons constamment pour ajuster les ressources.</strong>   </p>


            <h3 class='thin'>ARTICLE 3 : COLLECTE DES DONNÉES</h3>

            <h4>Enseignant</h4>
            <p>Le site collecte  le nom, le prénom et l'adresse mail de chaque enseignant. Lorsque l'enseignant crée ses groupes de travail, il prend la responsabilité de l'enregistrement de ses élèves. Seuls le nom, prénom et éventuellement email sont demandés.</p> 
            <p>Lors de la création de cours, de vidéos, ou tout autre support pédagogique, l'enseignant est le responsable du contenu de la diffusion. https://sacado.xyz enregistre l'auteur de chaque contenu pédagogique.</p>
            <h4>Elèves</h4>
            <p>
            Le site collecte <em>a minima</em> le nom et le prénom de chaque élève pour le rattacher au groupe classe de l'enseignant. L'adresse mail n'est pas obligatoire. Elle permet éventuellement une correspondance entre l'enseignant et l'élève. En  outre, via cette adresse mail, l'élève reçoit les notifications des travaux proposés.
            </p>
            <p>Lorsque l'élève propose et enregistre ses solutions à un exercice donné, sa production est consultable via son espace personnel. Son enseignant a accès à ses résultats et données, ainsi que ses parents directs.</p>
            <h4>Parent</h4>
            <p>Le site collecte  le nom et le prénom de chaque parent pour le rattacher à son enfant uniquement, sous réserve d'acceptation de l'enseignant. L'adresse mail n'est pas obligatoire. </p> 

            <h4>Fondements juridiques</h4>
            <p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. <br/>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles.</p>

            <p>Lorsque l’utilisateur est mineur, il est nécessaire que le titulaire de l’autorité parentale soit associé à la création de ce compte, sous la responsabilité du professeur ou du chef d’établissement. Pour respecter le RGPD, il est possible de ne renseigner que l'initiale du nom, sans renseigner d'adresse email.</p>

            <p>Lors de l’utilisation du site, l’association Sacado peut collecter des données personnelles pour améliorer l’expérience utilisateur et personnaliser ses services. Ces données sont utilisées par l’association Sacado pour l'analyse, l'affichage, suivre la progression de l’utilisateur, et éventuellement mettre en place un suivi. Dans ces cas, les données personnelles collectées sont l’adresse IP notamment. Le fondement juridique est alors l’intérêt légitime de l’association Sacado..</p>

            <p>Pour les établissements bénéficiant du GAR, veuillez vous référer au RPGD spécifique au GAR : <a href="https://sacado.xyz/gar_rgpd">https://sacado.xyz/gar_rgpd</a></p>

            <h4>Partage des données avec des tiers </h4>
				<p>Les données personnelles concernant les utilisateurs qui sont collectées sur le Site sont destinées pour la propre utilisation de Sacado et par les seules personnes qui ont besoin de les connaître : professeurs, chefs d’établissement, parents. </p>
				<p>Sacado ne diffuse aucune information. En aucun cas Sacado ne vend, ne loue et/ou ne donne à un tiers à des fins de marketing ou autre, les données personnelles recueillies, traitées et stockées.</p>
				 
				<p>Sacado ne divulgue pas les données personnelles à des tiers sauf si Sacado en a l'obligation légale de le faire, par exemple à la demande d’une autorité gouvernementale ou un organisme de réglementation, en cas de réquisition judiciaire, de citation à comparaître ou de toute autre exigence gouvernementale ou judiciaire similaire, ou pour établir ou défendre une demande légale.</p>
				<p>Aucun courriel promotionnel ou à caractère commercial ne sera envoyé à l’utilisateur tant que celui-ci n’a pas donné clairement et positivement son consentement pour ce faire.</p>
				<p>Sacado conserve en France les données personnelles recueillies.</p>


					                <h4>Protection des données personnelles </h4>
				<p>Sacado prend toute mesure nécessaire pour préserver et faire respecter l’intégrité et la confidentialité, la disponibilité et la résilience des données à caractère personnel, ainsi que le chiffrement des données à caractère personnel. Sacado s’engage notamment à mettre en place les mesures techniques et organisationnelles permettant d’assurer, un niveau de sécurité et de confidentialité approprié au regard des risques présentés par le traitement et la nature des données à caractère personnel traitées.</p>
				<p>La sécurité des données personnelles dépend également des Utilisateurs. Les utilisateurs s'engagent à conserver la confidentialité de leur identifiant et de leur mot de passe.</p>


				<h4>Durée de conservation des données personnelles des utilisateurs </h4>
				<p>Les données personnelles sont conservées pour une durée limitée comme la loi l’exige. Les données à caractère personnel communiquées par les utilisateurs seront supprimées à l'issue de chaque période scolaire et selon les données traitées. Lorsque les données personnelles ne sont plus nécessaires, Sacado procède à leur suppression définitive.</p>
				<p>Les données personnelles sont conservées aussi longtemps que le Compte d’Utilisateur est actif, ou tant qu’elles sont nécessaires pour fournir les services offerts sur le Site.</p>
				<p>Sacado conserve les données relatives au profil de l’utilisateur, uniquement le temps nécessaire pour les finalités poursuivies, conformément aux prescriptions légales.</p>

					                <h4>Exercice des droits et réclamation CNIL </h4>
				<p>En application du RGPD et de la loi « informatique et libertés » modifiée, Sacado a mis en place des procédures et mécanismes permettant aux utilisateurs d’exercer ses droits, quand ceux-ci s’appliquent </p>
				<li>Le droit d’information</li>
				<li>Le droit d'opposition</li>
				<li>Le droit d'accès</li>
				<li>Le droit de rectification</li>
				<li>Le droit à l’effacement</li>
				<li>Le droit au déréférencement</li>
				<li>Le droit à la portabilité</li>
				<li>Le droit à l’intervention humaine</li>
				<li>Le droit à la limitation du traitement</li>
				 
				<p>Pour savoir comment Sacado utilise les données personnelles, et/ou s’il souhaite exercer ses droits (notamment droits d’accès, de rectification, d’opposition, droit à la portabilité), l’utilisateur peut :</p>
				<li>envoyer un message électronique à l'adresse sacado.asso@gmail.com</li>
				<li>envoyer un message électronique au DPO à l'adresse philippe.demaria83@gmail.com</li>
				 
				<p>Les requêtes seront traitées sous un mois. En cas de doute raisonnable quant à l’identité de la personne concernée, Sacado peut demander que soient fournies des informations supplémentaires nécessaires pour confirmer l’identité de l’utilisateur et notamment une copie de la CNI correspondante.
				Si l’utilisateur n’obtient pas satisfaction auprès de Sacado, il peut, après l’avoir vainement contacté, déposer une réclamation (ou plainte) auprès des autorités de contrôle, qui - en France - est la CNIL (www.cnil.fr).</p>
				<p>En cas de violation des données personnelles, Sacado notifie à l’autorité de protection des données (CNIL) dans les 72 heures après que Sacado en ait pris connaissance, et aux personnes concernées dans les meilleurs délais.</p>


            <h3 class='thin'>ARTICLE 4 : PROPRIÉTÉ INTELLECTUELLE</h3>

            <p>Les marques, logos, signes ainsi que tous les contenus du site (textes, images, son…) font l'objet d'une protection par le Code de
            la propriété intellectuelle et plus particulièrement par le droit d'auteur.
            L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction, publication, copie des différents contenus. Il
            s'engage à une utilisation des contenus du site dans un cadre strictement privé, toute utilisation à des fins commerciales et
            publicitaires est strictement interdite.</p>
            <p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site par quelque procédé que ce soit, sans l’autorisation expresse de l’exploitant du
            site Internet constituerait une contrefaçon sanctionnée par l’article L 335-2 et suivants du Code de la propriété intellectuelle.
            Il est rappelé conformément à l’article L122-5 du Code de propriété intellectuelle que l’Utilisateur qui reproduit, copie ou publie le
            contenu protégé doit citer l’auteur et sa source.</p>


            <h3 class='thin'>ARTICLE 5 : RESPONSABILITÉ</h3>

            <p>Les sources des informations diffusées sur le site https://sacado.xyz sont réputées fiables mais le site ne garantit pas qu’il soit
            exempt de défauts, d’erreurs ou d’omissions.</p>
            <p>Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré des mises à jour
            régulières, le site https://sacado.xyz ne peut être tenu responsable de la modification des dispositions administratives et
            juridiques survenant après la publication. De même, le site ne peut être tenu responsable de l’utilisation et de l’interprétation de
            l’information contenue dans ce site.</p>
            <p>L'Utilisateur s'assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est
            interdite. Il assume les risques liés à l'utilisation de son identifiant et mot de passe. Le site décline toute responsabilité.
            Le site https://sacado.xyz ne peut être tenu pour responsable d’éventuels virus qui pourraient infecter l’ordinateur ou tout
            matériel informatique de l’Internaute, suite à une utilisation, à l’accès, ou au téléchargement provenant de ce site.
            La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.</p>


            <h3 class='thin'>ARTICLE 6 : COOKIES</h3>
 
            <p>Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de l’Utilisateur par votre navigateur et
            qui sont nécessaires à l’utilisation du site https://sacado.xyz. Les cookies ne contiennent pas d’information personnelle et ne
            peuvent pas être utilisés pour identifier quelqu’un. Un cookie contient un identifiant unique, généré aléatoirement et donc
            anonyme. Certains cookies expirent à la fin de la visite de l’Utilisateur, d’autres restent.</p>
            <p>L’information contenue dans les cookies est utilisée pour améliorer le site https://sacado.xyz.
            En naviguant sur le site, l’Utilisateur les accepte.</p>
 

            <h3 class='thin'>ARTICLE 7 : PUBLICATION PAR L’UTILISATEUR</h3>

            <p>Le site permet aux membres de publier des cours pédagogiques.</p>
            <p>Dans ses publications, le membre s’engage à respecter les règles de la Netiquette (règles de bonne conduite de l’internet) et les
            règles de droit en vigueur.<br>
            Le site peut exercer une modération sur les publications et se réserve le droit de refuser leur mise en ligne, sans avoir à s’en
            justifier auprès du membre.</p>
            <p>Le membre reste titulaire de l’intégralité de ses droits de propriété intellectuelle. Mais en publiant une publication sur le site, il
            cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa
            publication, directement ou par un tiers autorisé, dans le monde entier, sur tout support (numérique ou physique), pour la durée
            de la propriété intellectuelle. Le Membre cède notamment le droit d'utiliser sa publication sur internet et sur les réseaux de
            téléphonie mobile.</p>
            <p>La société éditrice s'engage à faire figurer le nom du membre à proximité de chaque utilisation de sa publication.
            Tout contenu mis en ligne par l'Utilisateur est de sa seule responsabilité. L'Utilisateur s'engage à ne pas mettre en ligne de
            contenus pouvant porter atteinte aux intérêts de tierces personnes. Tout recours en justice engagé par un tiers lésé contre le site
            sera pris en charge par l'Utilisateur.</p>
            <p>Le contenu de l'Utilisateur peut être à tout moment et pour n'importe quelle raison supprimé ou modifié par le site, sans préavis.</p> 

            <h3 class='thin'>ARTICLE 8 : DROIT APPLICABLE ET JURIDICTION COMPÉTENTE</h3>

            <p>L’association Sacado est soumise à l’application du droit français.
				Si les parties n’arrivent pas à résoudre un litige à l’amiable, le litige sera soumis à la compétence des tribunaux français. Pour toute question relative à l’application de notre politique de confidentialité, vous pouvez joindre les éditeurs aux coordonnées inscrites à l’ARTICLE 1.
			</p>
	</div> 
</section>
{% endblock  %} 