{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block body %}


<section id="get_detail" style="margin-top: 200px">
    <div class="container">
 
 
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" align="center">
                <h1 class="thin violet"><img src="{% static 'img/sacadoLogo.png' %}"/> L'équipe de la Sacado Académie vous remercie de votre adhésion. </h1>
            </div>
        </div> 
 


        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" align="center">
                <a href="{% url 'academy' %}" class="btn btn-asso">Vers la page de connexion</a>
            </div>
        </div> 

    </div>
</section> 

{% endblock %}