{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if group %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}

     <script>
        require(['script/ajax-adhesion']);
    </script>
 
 
{% endblock %}


{% block page_title %}  
    
    <i class='fa fa-audio-description'></i> Renouvellement d'une adhésion

{% endblock %}


 
{% block page_menu_right %}
 

{% endblock %}

 
     
{% block body %}     
<section class="content_main"> 

    <div class="row">
        <div class="col-sm-12 col-md-12">
                {% for s in students %}
                    <div class="renewal_user renewal_student" > 
                        <h5>{{ s.name }} </h5>
                         
                        <h5>Abonnement : {{ s.duration }} mois</h5>

                        <h5>Niveau : {{ s.level_name }} </h5>

                    </div>
                {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
               <h2>Net à payer : {{ somme  }} €</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
                    <!-- page de paiement en ligne -->
                   <div id="partiePaiement">
                    <div id="smart-button-container">
                        <div style="text-align: center;">
                          <div id="paypal-button-container"></div>
                        </div>
                    </div>
				</div>
 
 <script src="https://www.paypal.com/sdk/js?client-id=AXACtNPjRo8Xi5W4Z3d8mvex4kxmjmEGQwxKAzJBDYp-OwF80Z50aQfxnqBEn9-BFm8LVA57z8u467Pu&currency=EUR" data-sdk-integration-source="button-factory"></script>
<script>
   var amount = "{{ somme|decimal2number }}";
   console.log(amount);
   paypal.Buttons({
     style: {shape: 'rect', color: 'blue',layout: 'vertical',label: 'paypal'},
     createOrder: 
           function(data, actions) {
               return actions.order.create({
                    purchase_units: [{"amount":{"currency_code":"EUR","value": amount}
                                    }] 
                       });
           },
     
     onApprove: 
          function(data, actions){
			    return actions.order.capture().then(
			         function (details) {
                        // Call your server to save the transaction
                        console.log("paiement ok, details : ",details);
                        return fetch('accept_renewal_adhesion',
                                 { method: 'post',
                                   headers: { 'content-type': 'application/json' ,
											//'X-CSRF-Token':csrf
											},
                                   body: JSON.stringify({ 'orderID' : data.orderID })
                                 }).then(function(reponse) {
											if (reponse['ok']) {
												paiement=document.getElementById("partiePaiement");
												paiement.innerHTML='<div style="text-align:center">Paiement validé, Merci pour votre confiance</div>';
									     }})
                    });               
           },

     onError: function(err) {console.log("erreur",err);}
   }).render('#paypal-button-container');
                           
  </script>
        </div>
    </div>
</section>            
{% endblock %}
