{% extends 'academy.html' %}

{% load widget_tweaks %}
{% load static %}



 



{% block body %}
<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12" align="center">
                <h4 class="title_page">{% comment %}Choisissez le menu qui vous convient{% endcomment %}</h4>
            </div>
        </div> 
        <div class="row" align="center">


            <div class="col-sm-12 col-md-12" align="center">
                <div class="card" >
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-3 col-md-2">
                                <img src="{% static 'img/menu_autonomie.png' %}" width="60px">
                            </div>
                            <div class="col-sm-8 col-md-9">
                            Menu<div class="sub_header">{{ frml.name }}</div> 
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="this_price">

                          {% comment %}  dès <span class="currency ">{{ frml.price  }}€</span>/mois. {% endcomment %}


                          <br/><span class="gratis">Premier essai gratuit</span></div>
                        <div class="card-block">
                            <p class="card-text"><i class="fa fa-th"></i> Parcours d'exercices interactifs auto-corrigés.</p> 
                            <p class="card-text"><i class="fa fa-desktop"></i> Cours, exemples interactifs adossés aux parcours.</p>
                            <p class="card-text"><i class="fa fa-database"></i> Création de flashcards de révision.</p>
                            <p class="card-text"><i class="fa fa-tasks"></i> Suivis de progression</p>
                        </div>

                        <div class="card-block plus">
                            <p class="card-text"><img src="{% static 'img/menu_accompagnement.png' %}"  width="60px"> <b>En option.</b> Accompagnement par un.e enseignant.e de l'Education Nationale en visio conférence. Paiement à la demande.</p>
                        </div>

                        <a href="{% url 'choice_menu' frml.name  %}" class="btn-asso">{% comment %}Choisir ce menu{% endcomment %}Continuer</a>
                    </div>
                </div>

            </div>


            {% comment %}
            <div class="col-sm-6 col-md-6" align="center">
                <div class="card" >             
                    <div class="card-header">              
                        <div class="row">
                            <div class="col-sm-4 col-md-3">
                                <img src="{% static 'img/menu_accompagnement.png' %}"  width="60px">
                            </div>
                            <div class="col-sm-8 col-md-9">
                             Menu<div class="sub_header">{{ formule.name }}</div> 
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="this_price">dès <span class="currency">{{ formule.price }}€</span>/mois</div>
                        <div class="card-block plus">
                            <p class="card-text">Option <span class="sub_header">{{ frml.name }}</span>  <i class="fa fa-plus"></i></p>
                        </div>
                         <small>avec, <b>entre 17h et 20h</b>, du lundi au vendredi </small> 
                        <div class="card-block plus">
                            <p class="card-text">Accompagnement d'un enseignant par chat, en illimité.</p>
                        </div>
                        <a href="{% url 'choice_menu' 'accompagnement' %}" class="btn-asso">Choisir ce menu</a>
                    </div>

                </div>
            </div>
            {% endcomment %}
        </div>
    </div>
</section> 


<section id="faq">
    <div class="container">
        <div class="row">
            <div class="col-ms-12">
                <h2 class="thin">Foire aux Questions</h2>
            </div>
        </div>
        <div id="accordion">
            <div id="headingOne0">
              <h5 class="mb-0">
                <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseOne0" aria-expanded="false" aria-controls="collapseOne0">
                  Pourquoi SACADO Académie propose la gratuité jusqu'au 15 août ?
                </a>
              </h5>
            </div>
            <div id="collapseOne0" class="collapse" aria-labelledby="headingOne0" data-parent="#accordion">
              <div class="card-body">
                  Tout simplement pour tester la plateforme de la SACADO Académie, comme une offre de lancement. 
              </div>
            </div>
          <hr/>


            <div id="headingOne">
              <h5 class="mb-0">
                <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Que comprend l'adhésion ?
                </a>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                 L'adhésion permet de disposer des parcours éducatifs pour s'exercer, des cours et des exemples interactifs pour mieux comprendre les notions. Il est nécessaire d'avoir une connexion Internet. <b>sacado.xyz ne fournit pas de connexion Internet dans son adhésion</b>.
              </div>
            </div>
          <hr/>
 
            <div  id="headingTwo">
              <h5 class="mb-0">
                <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="headingTwo">
                  L'élève peut-il accéder à tous les exercices d'un niveau ?
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                Oui. Via son tableau de bord chaque enfant peut chercher les exercices dans le niveau qu'il a choisi lors de l'inscription.
              </div>
            </div>
          <hr/>
 
 
          <div  id="headingFour">
              <h5 class="mb-0">
                <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Quels sont les moyens de paiement acceptés sur sacado.xyz ?
                </a>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Le site sacado.xyz accepte les paiements par cartes bancaires Visa, Mastercard et American Express et les paiements via PayPal.  
              </div>
            </div>
          <hr/>
            <div  id="headingFive">
              <h5 class="mb-0">
                <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Le paiement est-il sécurisé ?
                </a>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                    Vous pouvez payer en ligne en toute confiance, toutes les transactions effectuées sur le site sacado.xyz sont 100% sécurisées par nos partenaires de paiement Paypal et CIC. Nous y portons une attention particulière afin que vous puissiez effectuer votre paiement en toute sécurité. Les coordonnées de votre carte de crédit sont cryptées grâce au protocole SSL (Secure Socket Layer) et aucune donnée bancaire vous concernant n'est jamais divulguée sur le réseau.
              </div>
            </div>
          <hr/>
            <div  id="headingSix">
              <h5 class="mb-0">
                <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Comment arrêter mon abonnement ?
                </a>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                L'abonnement SACADO n'est pas un abonnement par reconduction tacite. Vous devez le reconduire à la fin de chaque période. Si vous ne souhaitez plus profiter des fonctionnalités de l'abonnement, vous ne le reconduisez pas.
              </div>
            </div>
        </div>
    </div>
</section> 

<div style="height:30px"></div>
  
{% endblock %}