{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}

{% block require %}

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

{% endblock %}



{% block page_title %}
     Tweets  
{% endblock %}    
 




{% block page_menu_right %}
    <li><a href="{% url 'tweeter_create' %}" class="btn btn-new pull-right" ><i class="fa fa-plus"></i> Nouveau tweet</a>  
{% endblock %}</li> 
 
 
 

{% block  body %} 

<section class="content_main"> 
    <div class="row">
        {% include 'setup/tweeter_inclusion.html' %}
    </div>
</section>

 


{% endblock  %}   


 