      
{% load static %}
{% load widget_tweaks %}


      {% for t in tweeters %}
        <div class="col-sm-12 col-md-6">
            <div class="tweeter">
                <div class="row">
                    <div class="col-sm-1 col-md-1">
                        <img src="{% static 'img/sacadoLogo.png' %}"/>
                    </div>
                    <div class="col-sm-11 col-md-11">
                        <h5 class="thin"><b>Sacado.</b> 
                            {% if request.user.is_superuser %}

                                <a href="{% url 'tweeter_update' t.id  %}">{{ t.title|truncatechars:40 }}</a>
                            {% else %}
                                {{ t.title|truncatechars:40 }}
                            {% endif %}

                        </h5>
                        {{ t.texte|safe }}
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}