{% load static %}
<li  class='dropdown'>
    <a href="#" class="righter" id="mobile_version_button_closer">
        <i class="fa fa-times closer_tab"></i>
    </a>
 

    {% if request.user.is_in_academy %}
    <a href="{% url 'logout_academy' %}"><img src="{% static 'img/sacadoLogo.png' %}" style="vertical-align: text-bottom;" width="35px"/>
        <div class="captionmenu sacado_menu">
         SACADO
        </div>
    </a>
    {% else %}
    <a href="{% url 'logout' %}"><img src="{% static 'img/sacadoLogo.png' %}" style="vertical-align: text-bottom;" width="35px"/>
        <div class="captionmenu sacado_menu">
         SACADO
        </div>
    </a>
    {% endif %}
</li>

<li class="dropdown 
{% if '/myaccount' in request.path %}
active
{% endif %} 
">
    <a href="#"  id="account" class="main" >
    {% if request.user.avatar   %}
        <img src="{{ request.user.avatar  }}" class="avatar" />
        <div class="captionmenu">{{ request.user.first_name }}</div>
    {% else %} 
        <i class="fa fa-user fa-2x"></i> 
        <div class="captionmenu">Compte</div>
    {% endif %} 
    </a>
</li>

<li class='dropdown'>
    <a href="{% url 'index' %}" class="main" >
        <i class="fa fa-tachometer-alt fa-2x"></i> 
        <div class="captionmenu">Tableau de bord</div>
    </a>
</li>
 

<li class='dropdown'>
    <a href="{% url 'adhesions_academy' %}" class="main" >
        <i class="fa fa-audio-description fa-2x"></i> 
        <div class="captionmenu">Adhésions</div>
    </a>
</li>

