{% load static %}




<li  class='dropdown'>
    <a href="#" class="righter" id="mobile_version_button_closer">
        <i class="fa fa-times closer_tab"></i>
    </a>

    {% if request.session.get_the_profile %}
        <a href="{% url 'get_reverse_the_teacher_profile' %}" class="main"><img src="{% static 'img/sacadoLogo.png' %}" style="vertical-align: text-bottom;" width="38px" height="35px"/>

            <div class="captionmenu sacado_menu">
             SACADO
            </div>
        </a>
     {% elif is_gar_check %}
    <a href="#"><img src="{% static 'img/sacadoLogo.png' %}" style="vertical-align: text-bottom;" width="35px"/>
        <div class="captionmenu sacado_menu">
         SACADO
        </div>
    </a>
 
    {% else %}
        <a href="{% url 'logout' %}" class="main"><img src="{% static 'img/sacadoLogo.png' %}" style="vertical-align: text-bottom;" width="38px" height="35px" />

            <div class="captionmenu sacado_menu">
             SACADO
            </div>
        </a>
    {% endif %}

</li>





<li class="dropdown {% if '/account' in request.path and not 'admin' in    request.path %}active{% endif %}">
    <a href="#" class="main"  id="account">

        {% if request.user.avatar and sacado_asso  %}

            <img src="{{ request.user.avatar  }}" class="avatar" />
            <div class="captionmenu">{{ request.user.first_name }}</div>

        {% else %} 
            <i class="bi bi-person-circle icon_size"></i>
            {% if not user.country  %}
                <i class="fa fa-info-circle text-warning" aria-hidden="true" style="position: absolute;bottom: 20px; right: 25;"></i> 
                <div  style="position: absolute; bottom: 0px; right: 0; background: #ffb400;height:65px;padding-top:10px" > Renseignez votre profil </div>            
            {% endif %}  
            <div class="captionmenu">Compte</div>
        {% endif %} 

        
 
    </a>
</li>







<li class="dropdown {% if  request.session.tdb and 'parcours_group' in request.path %}active{% endif %}">
    <a href="{% url 'index' %}" class="main closer_notification" >
        <i class="bi bi-people icon_size" ></i> 
        <div class="captionmenu">Groupes</div>
    </a>
</li>





{% if request.user.is_superuser or  request.user.teacher.is_lesson   %}

<li  class="dropdown  {% if not request.session.tdb and 'lesson' in request.path %}  active{% endif %}">
    <a href="{% url 'calendar_show' 0 %}" class="main" >
        <i class="bi bi-camera-video icon_size"></i> 
        <div class="captionmenu">Leçons</div>
    </a>
</li>
 
{% endif %}



<li  class="dropdown {% if not request.session.tdb and 'qcm' in request.path  or 'bibliotex' in request.path  %}active{% endif %}">
    <a href="#" class="main"  id="documents" style="cursor: grab;">
        <i class="bi bi-folder icon_size"></i> 
        <div class="captionmenu">Documents</div>
    </a>
</li>

 
 <li  class="dropdown {% if not request.session.tdb and '/exercise' in request.path  %}active{% endif %}">
    <a href="{% url 'exercises' %}" class="main closer_notification" >
        <i class="bi bi-explicit icon_size" aria-hidden="true"></i> 
        <div class="captionmenu">Exercices</div>
    </a>
</li>
 
 
 
<li class="dropdown {% if not request.session.tdb and '/tool' in request.path and not 'admin' in    request.path %}active{% endif %}">
    <a href="#" class="main"  id="tools">
        <i class="bi bi-webcam icon_size"></i> 
        <div class="captionmenu">Outils péda.</div>
    </a>
</li>
 


<li  class="dropdown  {% if not request.session.tdb and '/sendmail' in request.path %} active{% endif %}">

    {% if sacado_asso %}
    <a href="{% url 'emails' %}" class="main closer_notification" >
        {% if nbe > 0 %}
        <span class="label label-warning notifications">{{nbe}}</span>
        {% endif %}
        {% if is_pending_studentanswers %}
            <i class="fa fa-info-circle text-warning" aria-hidden="true" style="position: absolute;bottom: 20px; right: 25;"></i> 
        {% endif  %}
        <i class="bi bi-inbox icon_size"></i> 
        <div class="captionmenu">Communicat°</div>
    </a>
    {% else %}
    <a href="#" class="main" style="cursor:not-allowed" title="Version établissement requise."  >   
        <i class="bi bi-inbox icon_size" aria-hidden="true"></i> 
        {% if is_pending_studentanswers %}
            <i class="fa fa-info-circle text-warning" aria-hidden="true" style="position: absolute;bottom: 20px; right: 25;"></i> 
        {% endif  %}
        <div class="captionmenu">Communicat°</div>
    </a>
    {% endif %}

</li>
  

 
<li class="dropdown {% if not request.session.tdb and '/aefe' in request.path %}active{% endif %}">
    <a href="{% url 'aefe' %}" class="main closer_notification">
        <i class="bi bi-hdd-rack icon_size"></i> 
        <div class="captionmenu">aefe</div>
    </a>
</li>
 

{%  if communications|length > 0  %}
<li class="dropdown">
    <a href="#"  data-toggle='modal' data-target='#nouveaute' class="main closer_notification">
        <i class="bi bi-rss icon_size"></i> 
        <div class="captionmenu">Actu.</div>
    </a>
</li>
{% endif %}
 








{% if request.user.is_superuser or request.user.is_extra  %}

<li  class="dropdown  {% if not request.session.tdb and 'admin' in request.path  or 'school' in request.path  %} active{% endif %}">
    <a href="#"   id="admin" class="main">
        <i class="bi bi-cloud icon_size"></i> 
        {% if not renew_propose %}
            <i class="fa fa-info-circle text-warning" aria-hidden="true" style="position: absolute;bottom: 20px; right: 25;"></i> 
        {% endif  %}
        <div class="captionmenu">Admin</div>
    </a>
</li>

 

{% elif request.user.is_manager   %} <!-- manager dans un établissement -->
<li  class="dropdown  {% if not request.session.tdb and 'admin' in request.path or '/school' in request.path %} active{% endif %}">
    <a href="{% url 'admin_tdb' %}" class="main" >
        <i class="bi bi-cloud icon_size"></i> 
        {% if not renew_propose %}
            <i class="fa fa-info-circle text-warning" aria-hidden="true" style="position: absolute;bottom: 20px; right: 25;"></i> 
        {% endif  %}
        <div class="captionmenu">Admin</div>
    </a>
</li>


{% elif request.user.is_testeur   %} <!-- testeur des documents -->
<li  class="dropdown  {% if not request.session.tdb and 'admin' in request.path or '/school' in request.path %} active{% endif %}">
    <a href="{% url 'admin_testeur' %}" class="main closer_notification" >
        <i class="bi bi-cloud icon_size"></i> 
        {% if not renew_propose %}
            <i class="fa fa-info-circle text-warning" aria-hidden="true" style="position: absolute;bottom: 20px; right: 25;"></i> 
        {% endif  %}
        <div class="captionmenu">Admin</div>
    </a>
</li>

{% endif  %}



