{% load static %}
{% load widget_tweaks %}
{% load item_tags %}
<div  class="box box-widget widget-user-2"  
      style="{% if flashpack.vignette %}background-image: url('{{ flashpack.vignette.url }}');{% else %} background-image: url('{% static 'img/flash_accueil.png' %}');{% endif %} background-size: cover;">
    <div class="handler widget-user-header">
        <!-- Add signet to folder -->
        <div class="group_show  no_visu_on_load" id="bibliotex_show{{flashpack.id }}"> 
            <div class="row"> 
                <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_bibliotex_title">
                    <b>Savoir faire ciblés</b>
                </div> 
            </div>

            {% for t in flashpack.themes.all %}
            <div class="row"> 
                <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_body">
                    {{ t.name }}
                </div> 
            </div>
            {% endfor %}


            <div style="clear:both"></div>
        </div>
        <div class="box_title_vignette box_title_vignette_color" style="background-color : {{ flashpack.color}};"> 
            <span class="thin" style="padding-left:5px;color:{{ flashpack.color|contrast_color }};"  >             
                {% if flashpack.title|length > 40 %}
                <span class="helper_tip" style=" font-size:16px; color:white">{{ flashpack.title|truncatechars:"40" }}
                    <div class="helper_tip_text_right" style="font-size:14px;">{{ flashpack.title }}</div>
                </span>
                {% else %}
                    {{ flashpack.title}}
                {% endif %}
            </span>    
        </div>
    </div>
    <div class="box-footer" style="position: relative; padding-top:20px;opacity: 0.95">
        {% if request.user.is_in_academy %} 
        <div class="row">
           <div class="col-lg-6 col-xs-6" >
                <a href="{% url 'update_flashpack_academy' flashpack.id %}" class="edit" > <i class="bi bi-pencil"></i> Modifier </a>   
            </div>  
           <div class="col-lg-6 col-xs-6" >
                <a href="{% url 'delete_flashpack_academy' flashpack.id %}" class="edit" > <i class="bi bi-trash"></i> Supprimer </a>   
            </div>                      
        </div>
        {% endif %}
        <div class="row"  style="padding-top:10px;"> 
           <div class="col-lg-7 col-xs-7">
                {{ flashpack.flashcards.count}} flashcards
            </div>  
           <div class="col-lg-5 col-xs-5" align="right">
                {% if flashpack.is_creative %} 
                <a href="{% url 'set_flashcards_to_flashpack' flashpack.id %}" >
                    <span class="helper_tip" style=" font-size:24px;"> 
                        {% if flashpack.is_comments %} 
                        <i class="bi bi-cloud-plus-fill text-validate"></i>
                        <div class="helper_tip_text_right" style="font-size:14px;">Lire les commentaires des flashcards</div>
                        {% else %}
                        <i class="bi bi-cloud-plus  text-validate"></i>
                        <div class="helper_tip_text_right" style="font-size:14px;">Créer des flashcards</div>
                        {% endif %}
                    </span>
                </a>
                {% endif %}                                
            </div>                                   
        </div>
        {% block accueil %} 
        <div class="row" style="padding-top:10px;">
           <div class="col-lg-6 col-xs-6" >
                <a href="{% url 'show_course_student' 0 parcours.id %}" class="edit" > <i class="bi bi-emoji-wink"></i> Apprendre </a>   
            </div>    
            <div class="col-lg-6 col-xs-6">
                <a href="{% url 'flashpack_results' flashpack.id parcours.id %}" class="edit" ><i class="bi bi-trophy"></i> Mes résultats</a>
            </div>                        
        </div>
        {% endblock %}
        <div class="row" style="padding-top:10px;"> 
            <div class="col-lg-12 col-xs-12">
                {% get_today_cards flashpack today student as spaced_repetitions %}  
                {% if spaced_repetitions.count %}
                    <a href="{% url 'show_flashpack' flashpack.id %}" class="edit" onclick="return launch_flashpack()"><i class="bi bi-play"></i> Tester mes connaissances <small>{{ spaced_repetitions.count }} <i class="bi bi-stack"></i> </small></a>                    
                {% else %}
                    {% if not flashpack.is_global %}
                        <a href="{% url 'show_flashpack' flashpack.id %}" class="edit" onclick="return launch_flashpack()"><i class="bi bi-bootstrap-reboot"></i> Lancer les flashcards </a> 
                    {% else %}
                        <span class="automatic_insertion">Pas de flashcard aujourd'hui</span>
                        <a href="{% url 'flashpack_results' flashpack.id 0 %}" class="edit pull-right" ><i class="bi bi-trophy"></i> Résultats</a>
                    {% endif %}
                {% endif %}
            </div>                        
        </div>

    </div>
</div>   