{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


<form action="#" method="POST" id="question_form"  enctype='multipart/form-data' > 
{% csrf_token %}    
    <input type="hidden" name="flashpack" id="id_flashpack" value="{{ flashpack.id }}" /> 
    <input type="hidden" name="subject" id="id_subject" value="{{ flashpack.subject.id }}" /> 

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2 class="thin">Question proposée <a href="#" data-toggle='modal' data-target='#textarea_display' id="this_question_textarea_display"><i class="bi bi-eye" title="Voir en taille réelle"></i> </a>  </h2>
        </div>


        {% if not request.user.is_in_academy %}
        <div class="col-sm-12 col-md-6">
            <h2 class="thin">Configuration</h2>   
        </div>
        {% endif %}

    </div>
    <div class="row">  
        <div class="col-sm-12 col-md-6">
            {{ form.question }}
            {{ form.question.errors }}             
        </div>
        
        {% if not request.user.is_in_academy %}
        <div class="col-sm-12 col-md-6">
            {% comment %}
            <div class="row  form-group" id="display_more_details">
                <div class="col-sm-12">
                     <i class="bi bi-plus-circle-dotted"></i> Plus d'options
                </div>
            </div>
            {% endcomment %}
            <div class="row display_more_details form-group">
                <div class="col-sm-12">
                    <label>Titre  <em>(optionnel)</em></label><br/>
                    {{ form.title|add_class:"form-control"  }}
                    {{ form.title.errors }}
                </div>
            </div>
            <div class="row display_more_details  form-group">
                <div class="col-sm-12 col-md-12">
                    <label>Attendu <em>(optionnel)</em></label><br/>
                    {{ form.waiting|add_class:"form-control select2"}} 
                    {{ form.waiting.errors }} 
                </div>
            </div>

            {% if request.user.is_teacher %}
                {% if request.user.teacher != flashpack.teacher %}
            <div class="row form-group">
                <div class="col-sm-7">
                    <label>Validation</label>
                </div>
                <div class="col-sm-5">
                    {{ form.is_validate|attr:"data-toggle:toggle"|attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                    {{ form.is_validate.errors }}
                </div>
            </div>
                {% endif  %}
            {% endif  %}
            <div class="row form-group">
                <div class="col-sm-7">
                    <label>Calculatrice ?  <span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                            <div class="helper_tip_text" >Nécessite la calculatrice.</div>
                        </span> 
                    </label>
                </div>
                <div class="col-sm-5">
                    {{ form.calculator|attr:"data-toggle:toggle"|attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                    {{ form.calculator.errors }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-7">
                    <label>Publiée ?<span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                            <div class="helper_tip_text" >Visible dans le flashpack.</div>
                        </span> 


                    </label>
                </div>
                <div class="col-sm-5">
                    {{ form.is_publish|attr:"data-toggle:toggle"|attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                    {{ form.is_publish.errors }}
                </div>
            </div> 
            <div class="row form-group">
                <div class="col-sm-7">
                    <label>Incluse dans un flashpack annuel ? <span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                            <div class="helper_tip_text" >S'inclut automatiquement dans un flashpack annuel par défaut lorsque l'option du flashpack est activée.</div>
                        </span> 
                    </label>
                </div>
                <div class="col-sm-5">
                    {{ form.is_globalset|attr:"data-toggle:toggle"|attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                    {{ form.is_globalset.errors }}
                </div>
            </div> 
        </div>
        {% endif %}

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2 class="thin">Réponse proposée <a href="#" data-toggle='modal' data-target='#textarea_display'   id="this_answer_textarea_display"><i class="bi bi-eye" title="Voir en taille réelle"></i>  </a> </h2>
        </div>
        <div class="col-sm-12 col-md-6">
            <h2 class="thin">Aide <a href="#" data-toggle='modal' data-target='#textarea_display' id="this_helper_textarea_display"><i class="bi bi-eye" title="Voir en taille réelle"></i></a> </h2>   
        </div>
    </div>
    <div class="row">  
        <div class="col-sm-12 col-md-6">
            {{ form.answer }}
            {{ form.answer.errors }}             
        </div>
        <div class="col-sm-12 col-md-6">
            {{ form.helper }}
            {{ form.helper.errors }}    
        </div>
    </div>
    <div class="row"  style="margin-top:30px;">
        <div class="col-sm-12 col-md-12"> 
            <div class="form-group">
                <input value="Enregistrer" type="submit" class="btn btn-primary"/>
                {% if flashcard %}<input value="Valider" type="submit" name="validate" class="btn btn-info"/>{% endif %}
                <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
            </div>
        </div>    
    </div>
</form>


<div class="modal fade" id="textarea_display" tabindex="-1" role="dialog" aria-labelledby="textarea_display" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="width:630px;font-size: 16px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h3>Visualisation de <span id="type_of_textarea_display"></span> au format réel</h3>              
            </div>
            <div class="modal-body" >
                <div class="exotex flashcard" id="body_of_textarea_display" style="width:600px;" >
                </div> 
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div> 
<script type="text/javascript">
   function updateMathContent(s) {
       var math = MathJax.Hub.getAllJax("mathdiv")[0];
       MathJax.Hub.Queue(["textarea_display", math, s]);
   }
</script>