{% extends 'flashcard/show_flashpack.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block page_menu_right %}
    <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default "/></a>
{% endblock %}

 
{% block revision %}
<div class="row">  
    <div class="col-sm-2 col-md-2">
        <i class="bi bi-bootstrap-reboot" style="font-size:100px"></i> Réviser ses flashcards
    </div>
    <div class="col-sm-10 col-md-10">
        <h1> Réviser ses flashcards</h1>
        <i class="fa fa-fw fa-database"></i> Ce flashpack contient {{ flashpack.flashcards.count }} flashcards.<br/><br/>
    </div> 
</div>  
{% endblock  %}
                         




{% block flashcard_student %}
    {% for flashcard in flashcards %}
    <li class="my_slide">
        <div class="row">  
            <div class="col-sm-12 col-md-3" id="offset"></div>
            <div class="col-sm-12 col-md-6" id="question"  align="center">
                <div class="exotex flashcard qflashcard">
                    {{ flashcard.question|safe }}
                </div>  
            </div>
            <div class="col-sm-12 col-md-6 no_visu_on_load" id="answer{{ flashcard.id }}" align="center">
                <div class="exotex flashcard aflashcard" >
                    {{ flashcard.answer|safe }}
                </div>  
            </div>
        </div>
        <div class="row"> 
            <div class="col-sm-12 col-md-3" id="offsethelper"></div>
            <div class="col-sm-12 col-md-6" align="center" id="data_buttons{{ flashcard.id }}"  >
                <br/>
                {% if flashcard.helper   %}
                <button class="btn btn-default show_helper" data-flashcard_id="{{ flashcard.id }}" style="width: 200px"> Aide </button>
                {% endif %}
                <button class="btn btn-primary show_answer" data-flashcard_id="{{ flashcard.id }}" style="width: 200px"> Réponse </button>
            </div>
            <div class="col-sm-12 col-md-12 no_visu_on_load" align="center"  id="buttons{{ flashcard.id }}"  >
                <div class="alert">
                    Cliquez sur le bouton qui vous semble le plus proche de votre réponse.
                </div>
                <form method="POST">{% csrf_token %}
                <button data-nav="next" data-value="0" data-flashcard_id="{{ flashcard.id }}" data-flashpack_id="{{ flashpack.id }}" class="navigation btn btn-primary">Flashcard suivante</button>
                </form>        
            </div>
        </div> 
        <div class="row no_visu_on_load" id="helper{{ flashcard.id }}"> 
            <div class="col-sm-12 col-md-3" align="right">
                <h1 class="thin">Aide : </h1>
            </div>
            <div class="col-sm-12 col-md-6"  align="center">
                <div class="exotex flashcard_helper hflashcard">
                    {{ flashcard.helper|safe }}
                </div>  
            </div>
        </div>
    </li>
    {% endfor %}
{% endblock %}






{% block flashcard_student_results %}
 

    <br/>

    <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default "/></a>
{% endblock %}
 