{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}



{% block require %}
 
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>

    <script>
        require(['script/ajax-flashcard']);
    </script> 

{% endblock %}
 

{% block page_title %}

   {% include 'flashcard/logo.html' %}

   {% if flashpack %}
    {{ flashpack.title }}   <img width="25px" src="{% static 'img/angle-right.png' %}"/> <small>Créateur de carte</small>
   {% else  %}
        Créateur de flashcard
   {% endif  %}
   
 
{% endblock %}


{% block page_menu_right %}

    {% if request.user.is_teacher %}
    <a href="{% url 'show_flashpack' flashpack.id %}" target="_blank" class="btn btn-new-violet">Lancer le flashpack</a>
    <a href="{% url 'my_flashpacks'  %}" target="_blank" class="btn btn-new-violet">Mes flashpacks</a>
    {% else %}
    <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default "/></a>
    {% endif %}
{% endblock %}



{% block body %}
<section class="content_list"> 
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <form action="#" method="POST"  >
                <div class="quizz_list_question">
                    <ul id="questions_sortable_list">
                        {% for flashcard in flashcards %}
                            {% include 'flashcard/flashcard_for_search.html' %}
                        {% endfor %}
                    </ul>
                </div>
            </form>
            {% if request.user.is_teacher %}
            <div class="question_bank" >
                {% if sacado_asso %}
                <a href="{% url 'flashpack_peuplate' flashpack.id %}"  class="btn btn-quizz_bank" >Banque de flashcards</a> 
                {% else %}
                <a href="#" class="btn btn-quizz_bank no_sacado" title="Version Etablissement requise" >Banque de flashcards</a> 
                {% endif %}                
            </div>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-10" >  
            {% include 'flashcard/form_flashcard_tag.html' %}
        </div>
    </div>
</section>
{% endblock %} 