{% extends 'flashcard/show_flashpack.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}




{% block page_menu_right %}
{% endblock %}




{% block flashcard_student %}




    {% if not request.user.is_in_academy %}

        {% get_today_cards flashpack today student as today_cards %}
        {% for flashcard in today_cards.cards %}
        <li class="my_slide">
            {% include 'flashcard/show_flashcard_tag.html' %}
        </li>
        {% endfor %}

    {% else %}


        {% for flashcard in flashpack.flashcards.all %}
        <li class="my_slide">
            {% include 'flashcard/show_flashcard_tag.html' %}
        </li>
        {% endfor %}

    {% endif %}



{% endblock %}






{% block nb_flashcard_student %}


    {% if not request.user.is_in_academy %}

        {% get_today_cards flashpack today student as today_cards %}
        {{ today_cards.count}} flashcard{{ today_cards.count|pluralize }}

    {% else %}

        {{ flashpack.flashcards.count}} flashcard{{ flashpack.flashcards.count|pluralize }}
    {% endif %}


{% endblock %}





{% block flashcard_student_results %}
    <a href="{% url 'flashpack_results' flashpack.id 0 %}" class="btn btn-new-violet"/>Mes résultats</a>

    <br/><br/>

    <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default "/></a>
{% endblock %}
                          



