{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-show_flashpack']);
    </script> 
{% endblock %}



{% block page_title %}
       {% include 'flashcard/logo.html' %} {{ flashpack.title }} <img width="25px" src="{% static 'img/angle-right.png' %}"/>
{% endblock %}


{% block page_menu_right %}

    {% if request.user.user_type == 2 %}
    <a href="{% url 'my_flashpacks' %}" class="btn btn-new-violet">Mes flashpack</a>
    {% endif %}

{% endblock %}



{% block body %}
<section class="content_main">
    <div class="wrapper_slider">
  <!-- Wrapper for slides -->
        <div class="slider">
            <ul>
                <li class="my_slide">
                    <div class="row consigne_diapo"  align="center">  
                        <div class="col-sm-12 col-md-12">
                            <h1 style="font-size:4em"> 
                                {{ flashpack.title}} 
                            </h1>
                            <div style="text-align: left">
                            {% block revision %}
                            <i class="fa fa-fw fa-database"></i> Vous devrez répondre aux {% block nb_flashcard_student %}
                                                                                            {{ flashpack.flashcards.count }} carte{{ flashpack.flashcards.count|pluralize }}
                                                                                          {% endblock %} qui vont vous être présentées.<br/><br/>
                            <i class="fa fa-fw fa-mortar-board"></i> Vous êtes seul juge de vos connaissances.<br/><br/>
                            <i class="fa fa-fw fa-refresh"></i> Il vous appartient de jauger au mieux vos réponses pour avoir un retour le plus juste possible de vos acquis. <br/><br/>
                            {% endblock %}
                            </div>                           
                            {% if flashpack.vignette %}<img src="{{ flashpack.vignette.url }}" width="350px"  />{% else %}<img src="{% static 'img/flash_accueil.png' %}" width="200px"  />{% endif %}
                            <div style="text-align: right">
                                <button data-nav="next" data-value="start" class="btn btn-primary navigation"><i class="fa fa-fw fa-caret-right"></i> Démarrer</button>
 
                                <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default"/></a>
 
                            </div>
                        </div>
                    </div> 
                </li>
 
                {% block flashcard_student %}
                    {% for flashcard in flashcards %}
                    <li class="my_slide">
                        {% include 'flashcard/show_flashcard_tag.html' %}
                    </li>
                    {% endfor %}
                {% endblock %}

                <li class="my_slide">
                    <input type="hidden" value="3" id="final_question" /> 
                    <div class="row consigne_diapo"  align="center">  
                        <div class="col-sm-12 col-md-12">
                            <h1 style="font-size:4em" class="thin">
                                <br/><br/>
                                <b> -- FIN -- </b>
                                <br/>Bravo ! Cet entraînement va te permettre de faciliter ta mémorisation à long terme par la réactivation.<br/>
                                {% block flashcard_student_results %}
                                {% endblock %}
                            </h1>
                        </div>
                    </div> 
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %} 