<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-new-violet "> Nouveau flashpack <b class="caret"></b> </a>

    <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">

        {% if folder %}
        <li> <a href="{% url 'create_flashpack' folder.id %}"  > Créer un flashpack </a> </li>
        {% else %}
        <li> <a href="{% url 'create_flashpack' 0 %}"  > Créer un  flashpack </em></a> </li>
        {% endif %}
        <li>{% if sacado_asso %} 
        		<a href="{% url 'flashpacks'   %}" > Récupérer un  flashpack mutualisée  </a>

        	{% else %}
        		<a href="#"  class="no_sacado_asso" > Récupérer un flashpack mutualisée </a> 
        	{% endif %}
        </li>
 
    </ul>
</li> 