 {% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title_page %} 

    {% if country %}
        Modifier le pays dans la zone
    {% else %}
        Nouveau pays dans la zone
    {% endif %}
{% endblock  %}


{% block general_js %}
{% if country %}
<script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common-action2.js' %}"></script>
{% else %}
<script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common-index.js' %}"></script>
{% endif %}
{% endblock %} 


{% block body  %}    
 
<section class="content_bgwhite">

    <form  action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label>{{ form.name.label_tag }}</label>
                    {{ form.name |add_class:"form-control" }}
                    {{ form.name.errors }}
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label>{{ form.flag.label_tag }}</label>
                    {{ form.flag |add_class:"btn btn-default" }}
                    {{ form.flag.errors }}
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-6 col-md-2">
                <div class="form-group">
                    <label>{{ form.code.label_tag }}</label>
                    {{ form.code |add_class:"form-control" }}
                    {{ form.code.errors }}
                </div>
            </div>
 
            <div class="col-sm-6 col-md-2">
                <div class="form-group">
                    <label>{{ form.indicatif.label_tag }}</label>
                    {{ form.indicatif |add_class:"form-control" }}
                    {{ form.indicatif.errors }}
                </div>
            </div>

 
            <div class="col-sm-12 col-md-8">
                <div class="form-group">
                    <label>{{ form.zone.label_tag }}</label>
                    {{ form.zone |add_class:"form-control select2" }}
                    {{ form.zone.errors }}
                </div>
            </div>

        </div> 
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <input value="Enregistrer" type="submit" class="btn btn-primary"/>            
                    <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
                </div>
            </div>
        </div>
        {% if country %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <a href="{% url 'delete_country'  country.id %}"  class="btn btn-danger"  onclick="return TestDelete(' ce pays ')">Supprimer</a>
                </div>           
            </div>
        </div>
        {% endif %} 

    </form>
   
</section>
{% endblock  %}