{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

 


{% block page_title %}  
     <i class="fa fa-university"></i> Demande de rattachement à un établissement
{% endblock %}

{% block page_menu_right %}
    
{% endblock %}


 


 
     
{% block body %}     
<div class="content_main">
    <div class="row">  
        <div class="col-sm-12 col-md-12">
            <div class="alert alert-info">
                Pour réaliser cette demande vous devez contacter l'administrateur de votre établissement. Il devra vous donner le <b>token</b> à renseigner ici.
            </div>
        </div>
    </div>


    <form action="" method="POST">
    {% csrf_token %}    
        <div class="row">    
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label>Token :</label>
                    <input name="token" type="text" required class="form-control" />
                </div>
            </div>
        </div> 
 
        <div class="row"> 
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <label>Etablissement de rattachement :</label>
                    <select name="school_id" class="form-control select2">
                        {% for school in schools %}
                            <option value="{{ school.id }}">{{ school.name }} - {{ school.town }} - {{ school.country }} : {% for a in school.admin %}{{ a }} {% if not forloop.last%}, {% endif %}{% endfor %}</option>
                        {% endfor %} 
                    </select>
                </div>
            </div>
        </div> 


        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="form-group">
                    <input value="Rejoindre cet établissement" type="submit" class="btn btn-primary"   />
                    <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                               class="btn btn-default "/></a>
                </div>


            </div>
        </div>
    </form>
</div> 
        
{% endblock %}