{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
 
{% endblock %}


{% block page_title %}  
    <a href="{% url 'admin_tdb' %}"> <i class="fa fa-cloud"></i></a>

 
 Attribuer des groupes à un enseignant


{% endblock %}

{% block page_menu_right %}
   <a href="{% url 'update_school'  school.id  %}"> {{ school.name }}    </a>
{% endblock %}

     
{% block body %}     
<div class="content_main">
    <form action="{% url 'group_to_teacher' %}" method="POST">
    {% csrf_token %}    
        <div class="row">
            <div class="col-sm-12 col-md-4">
                    <h3>Enseignants</h3>
                {% for teacher in teachers %}
                    <span class="btn btn-default" style="margin:2px" ><label><input type="radio" name="teacher" value="{{ teacher.user.id }}" /> {{ teacher}}</label></span><br>
                {% endfor %}
            </div>
            <div class="col-sm-12 col-md-6">
                {% regroup groups by level as level_list %}
                {% for level in level_list %}
                    <h3>{{ level.grouper.name }}</h3>
                    {% for group in level.list|dictsort:"name"  %}
                        <span class="btn btn-default"  style="margin:2px" ><label><input type="checkbox" name="groups" value="{{ group.id }}"   /> {{ group.name }} - <small><em>{{ group.teacher }}</em></small></label></span>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="form-group">
                    <input value="Enregistrer" type="submit" class="btn btn-primary"  id="test_students"  />
                    <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                               class="btn btn-default "/></a>
                </div>
            </div>
        </div>    
    </form>
</div>      
{% endblock %}