{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}

 


{% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common-accueil.js' %}"></script> 
    <script>
        require(['script/ajax-group']);    
        require(['script/ajax-dashboard']);
    </script>
{% endblock %}


 
 
{% block page_title %}
     <a href="{% url 'admin_tdb' %}"> <i class="fa fa-cloud"></i></a> {{  school.name}} <img src="{% static 'img/angle-right.png' %}"/> Enseignant.e.s
{% endblock %}
 


 
{% block page_menu_right %}
 
   <li> <a href="{% url 'register_teacher_from_admin' %}" class="btn btn-new"  > + Nouvel.le enseignant.e</a></li>
{% endblock %}




{% block body %}
 
 
 
    <section class="content_main"> 
 
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <a href="{% url 'send_account' 0 %}" class="btn btn-primary"><i class="fa fa-envelope"></i> Envoi des comptes par mail </a>
                <a href="{% url 'pdf_account' 0 %}" class="btn btn-primary"><img src="{% static 'img/pdf.png' %}" width="20px"></i> Imprimer tous les comptes</a>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table class="table table-bordered table-hover standard_tab_sort">
                    <thead>
                    <tr>
                        <th>Nom Prénom</th>
                        <th>Courriel</th>
                        <th>Admin</th>
 
                        <th>Inscription</th>
                        <th>Dernière connexion</th>
                        <th>Compte</th>                        
                    </tr>
                    </thead>
                    <tbody>
                        {% for teacher in teachers %}
                            <tr>
                                <td>
                                    <a href="{% url 'update_teacher' teacher.id %}">{{ teacher.last_name }}  {{ teacher.first_name }}</a>   

                                    {% if teacher.teacher.helping_right  %}
                                    <a href="{% url 'get_the_teacher_profile' teacher.id %}" class="pull-right"><i class="fa fa-wrench"></i></a>  
                                    {% endif %}
                                </td>
                                <td>
                                    {{ teacher.email }}   
                                </td>
                                <td>
                                    {% if teacher.is_manager %} 
                                        <span style="font-size: 10px;color:#FFF"> oui</span> 
                                        <i class="fa fa-check-circle text-success"></i>{% else %} 
                                        <span style="font-size: 10px;color:#FFF"> non</span>  
                                        <i class="fa fa-ban text-danger"></i> 
                                    {% endif %}
                                </td>
 
                                <td>
                                    {{ teacher.date_joined|date:"d m Y" }}   
                                </td>
                                <td>
                                    {{ teacher.last_login|date:"Y m d à H:i" }}   
                                </td>
                                <td>
                                    <a href="{% url 'send_account' teacher.id %}"><i class="fa fa-envelope"></i></a>
                                    <a href="{% url 'pdf_account' teacher.id %}"><img src="{% static 'img/pdf.png' %}" width="17px" style="vertical-align: baseline;"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-12">    
                    <a href="javascript:history.back()"  class="btn btn-default" >Retour </a>

                    <a href="{% url 'admin_tdb' %}"  class="btn btn-default" >Retour Tableau de bord</a>

            </div>
        </div>
    </section>
   

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                
                    <h5 class="modal-title" id="exampleModalLabel">Liste des élèves - <span id="modal_group_name"></span></h5>
                </div>
                <div class="modal-body">
                    <div id="list_students"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}