 {% extends 'dashboard.html' %}
{% load static %}


{% block page_title %} 
  <a href="{% url 'admin_tdb' %}"> <i class="fa fa-cloud"></i></a> Les pays
{% endblock  %}

{% block body  %}    
<section class="content_main">
  <div id="result"></div>
  <div class="row "> 
    <div class="col-sm-12 col-md-12"> 
      <a href="{% url 'create_country' %}"  class="btn btn-xs btn-danger"><i class="fa fa-plus"></i> Nouveau pays</a>
    </div>       
  </div> 
  <div class='clear'></div> 
  <div class="row"> 
    <div class="col-sm-12 col-md-12">
        <table id="standard_tab" class="table table-bordered table-hover"  class="display" style="width:100%">
              <thead>
                  <tr>
                    <th>Nom</th>                  
           
                  </tr>
              </thead>
              <tbody>
                    {% for c in countries %}
                    <tr> 
                      <td><a href="{% url 'update_country' c.id %}" >{{ c.name }}</a></td>                    
 
                    </tr>
                    {% endfor %}
              </tbody>
        </table>
    </div>
  </div>
</section> 
{% endblock %}