{% extends 'dashboard.html' %}
{% load static %}



{% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common-accueil.js' %}"></script> 
    <script>
    
        require(['script/ajax-dashboard']);
    </script>
{% endblock %}


 
{% block page_title %}
   <a href="{% url 'admin_tdb' %}"> <i class="fa fa-cloud"></i></a> Etablissements - {{ nb }}
{% endblock %}



{% block page_menu_right %}
    <li><a href="{% url 'create_school' %}"  class="btn btn-new">+ Nouvel établissement</a> </li>
{% endblock %}


{% block body  %}    
 
<section class="content_main">
 
 
  <div class="row"> 
    <div class="col-sm-12 col-md-12">
        <table  class="table table-bordered table-hover standard_tab_sort" style="width:100%">
              <thead>
                  <tr>
                    <th width="100px">Pays</th>                  
                    <th>Nom</th> 
                    <th>Ville</th>  
                    <th>Token</th>  
                    <th>Nombre d'utilisateurs</th>                                                         
                  </tr>
              </thead>
              <tbody>
                    {% for school in schools %}
                    <tr> 
                      <td> {{ school.country.name }}
                      </td>                    
                      <td>
                          <a href="{% url 'update_school'  school.id %}" > {{ school.name }}</a> 
                          <a href="{% url 'delete_school'  school.id %}" class="pull-right" onclick="return TestDelete('{{ school.name }}')"><i class="fa fa-trash"></i> </a>
                          {% if school.logo %}
                            <img src="{{ school.logo.url }}" width="40px" />
                          {% endif %}
                      </td>
                      <td>
                          {{ school.town }}
                      </td>
                      <td>
                          {{ school.code_acad}}_{{ school.id }}
                      </td>
                      <td>
                          {%  with school.student_and_teacher as data %}
                            {{ school.users.count }} <small>({{ data.nbt }} enseignant{{ data.nbt|pluralize }} - {{ data.nbs }} élève{{ data.nbs|pluralize }})</small>
                          {%  endwith  %}
                      </td>


                      
                    </tr>
                    {% endfor %}
              </tbody>
        </table>
    </div>
  </div>
</section> 
{% endblock %}