 
 

    <div class="card_association">


 

        <div class="row" align="center">              
            <div class="col-sm-12 col-md-12">
                <h1>MERCI</h1>
            </div>  
        </div>  

        <div class="row">
              <div class="col-sm-12 col-md-12">
                  <p>  Votre facture est imprimable depuis votre espace <a href="{% url 'index' %}">admin</a>. </p>

                  <h3> {{ school.name  }} </h3>   
                  <div><b> {{ school.code_acad }}  -  {{ school.nbstudents   }} élèves</b></div>  
                  <div>{{ school.address  }} {% if school.complement  %} <br/>{{ school.complement   }}  {% endif %}</div>  
                  <div>{{ school.town  }}, {{ school.country   }} </div>  
                  <div><b>{{ accounting.objet  }} : {{ school.fee }} €</b> </div> 
                  <img src="{% static 'img/sacadoA1.png' %}" style="position: absolute;right: 5px; bottom:5px" />
 
              </div>  
        </div>
 

     </div>


        <div class="row">              
            <div class="col-sm-12 col-md-12">
                <a href="{% url 'admin_tdb' %}">Vers le tableau de bord administrateur</a>
            </div>  
        </div> 


 